@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "BatchOpeningCardAccounts";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/BatchOpeningCardAccounts/Scripts/KendoCommon.js"></script>
<script src="~/Areas/BatchOpeningCardAccounts/Scripts/BatchOpeningCardAccounts/Main.js?v1.0"></script>
<link rel="stylesheet" href="~/Areas/BatchOpeningCardAccounts/Css/BatchOpeningCardAccounts/Main.css" />

<div class="page-header">
    <h1 id="title"></h1>
</div>

<script type="text/javascript">
    @if(ViewBag.LoadFileStatus == "OK"){
        @:alert("Файл успішно завантажено");
    }
    @if(ViewBag.LoadFileStatus != "" && ViewBag.LoadFileStatus != null && ViewBag.LoadFileStatus != "OK"){
        @:alert("Помилка завантаження файлу");
    }
    @{ViewBag.LoadFileStatus = "";}
</script>

<div class="well" id="dvFilesFilter">
    <div class="row">
        <div class="col-md-5">
            <label for="startDate"><b>Початкова дата файлу:</b></label>
            <input type="text" class="form-control" id="startDate" style="width: 150px;" />
            <label for="endDate"><b>Кінцева дата файлу:</b></label>
            <input type="text" class="form-control" id="endDate" style="width: 150px;" />
        </div>

        <div class="col-md-6">
            <button id="SearchBtn" type="button" class="btn btn-primary">
                <i class="fa fa-search"></i> Пошук
            </button>
            <button id="LoadBtn" type="button" class="btn btn-primary">
                <i class="fa fa-recycle"></i> Завантажити
            </button>
            <button id="FireBtn" type="button" class="btn btn-primary">
                <i class="fa fa-check"></i> Обробити
            </button>
            <button id="GetKvitBtn" type="button" class="btn btn-primary">
                <i class="fa fa-pencil-square-o"></i> Сформувати квитанцію
            </button>
        </div>
    </div>
</div>


<div id="gridMain"></div>
<div class="search-main"></div>
<br>
<div id="dataMain"></div>


<div id="dialogLoad">
    <!--<label class="control-label" for="filetype"><b>Тип файлу:</b></label>-->
    <!--<input class="form-control" id="filetype" />-->
    <!--<input type="file" id="load_file" />-->

    <div class="form-group" style="">
        @using (Html.BeginForm("UploadPublicFiguresFile", "BatchOpeningCardAccounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label class="control-label">Виберіть файл (розширення zip):</label>
                <input type="file" name="upload" /><br>
                <input type="submit" value="Завантажити" />
                <br>
                <label class="control-label" for="filetype"><b>Тип файлу:</b></label>
                <input type="hidden" id="filetype" name="filetype" />
                <script>
                    $(document).on('submit', 'form', function (event) {
                        if (confirm('Виконати імпорт файлу ' + $(this).find('input[type="file"]').val() + '?')) {
                            if($(this).find('input[type="file"]').val() == ""){
                                alert("Файл не обрано");
                                event.preventDefault();
                                return;
                            }

                            var button = $(this).find('input[type="submit"]');
                            setTimeout(function () {
                                button.attr('disabled', 'disabled');
                            }, 0);
                        }
                        else {
                            event.preventDefault();
                        }
                    });
                </script>
            </div>
        }
    </div>

</div>

<div id="dialogProcessing">
    <div class="search-proc"></div>

    <div class="row">
        <div class="col-md-4">
            <a class='k-button' id="edtBranch" onclick="showRefer('BRANCHES_REF')" ><i class='pf-icon pf-16 pf-book'></i></a>
            <label class="control-label" for="edtBranch"><b>Відділення</b></label>
            <div id="edtBranchValue" ></div>
        </div>
        <div class="col-md-4">
            <a class='k-button' id="edtStaff" onclick="showRefer('STAFF_REF')" ><i class='pf-icon pf-16 pf-book'></i></a>
            <label class="control-label" for="edtStaffValue"><b>Виконавець</b></label>
            <div id="edtStaffValue" ></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a class='k-button' id="edtProd" onclick="showRefer('PRODUCTGRP_REF')" ><i class='pf-icon pf-16 pf-book'></i></a>
            <label class="control-label" for="edtStaffValue"><b>Група</b></label>
            <div id="edtProdValue" ></div>
        </div>
        <div class="col-md-4">
            <a class='k-button' id="edtProject" onclick="showRefer('PROJECT_REF')" ><i class='pf-icon pf-16 pf-book'></i></a>
            <label class="control-label" for="edtStaffValue"><b>Проект</b></label>
            <div id="edtProjectValue" ></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a class='k-button' id="edtCard" onclick="showRefer('CARD_REF')" ><i class='pf-icon pf-16 pf-book'></i></a>
            <label class="control-label" for="edtStaffValue"><b>Тип картки</b></label>
            <div id="edtCardValue" ></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <button id="FireConfirmBtn" type="button" class="btn btn-primary">
                <i class="fa fa-pencil-square-o"></i> Обробити
            </button>
        </div>
    </div>
</div>