@{
    Layout = null;
}
@model BarsWeb.Areas.Sep.Models.SepTechAccountsFilterParams
<div id="SepTechAccountsGridVQF"></div>
<script>
    $(document).ready(function () {
        $("#SepTechAccountsGridVQF").kendoGrid({
            columns: [
                {
                    field: "ACC",
                    hidden: true
                },
                {
                    field: "TOBO",
                    title: "Код безбал. відділення",
                    width: "90px",
                    headerAttributes: { style: "white-space: normal;" }
                },
                {
                    field: "NLS",
                    title: "Номер рахунку",
                    headerAttributes: { style: "white-space: normal;" },
                    width: "135px"
                },
                {
                    field: "LCV",
                    title: "Валюта",
                    headerAttributes: { style: "white-space: normal;" },
                    width: "70px"
                },
                {
                    field: "NMS",
                    title: "Назва рахунку",
                    headerAttributes: { style: "white-space: normal;" },
                    width: "205px"
                },
                {
                    field: "ISF",
                    title: "Вхідний залишок",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(ISF)#",
                    width: "100px"
                },
                {
                    field: "ISQF",
                    title: "Вхідний залишок (екв.)",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(ISQF)#",
                    width: "100px",
                    footerTemplate: "<div align='right'>#= kendo.toString(CellPaintQF(sum, 0))#</div>"
                },
                {
                    field: "DOSF",
                    title: "Обороти Дебет",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(DOSF)#",
                    width: "100px"
                },
                {
                    field: "DOSQF",
                    title: "Обороти Дебет (екв.)",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(DOSQF)#",
                    width: "100px",
                    footerTemplate: "<div align='right'>#= kendo.toString(CellPaintQF(sum, 0))#</div>"
                },
                {
                    field: "KOSF",
                    title: "Обороты Кредит",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(KOSF)#",
                    width: "100px"
                },
                {
                    field: "KOSQF",
                    title: "Обороти Кредит (екв.)",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(KOSF)#",
                    width: "100px",
                    footerTemplate: "<div align='right'>#= kendo.toString(CellPaintQF(sum, 0))#</div>"
                },
                {
                    field: "OSTCF",
                    title: "Фактичний залишок",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(OSTCF)#",
                    width: "100px"
                },
                {
                    field: "OSTCQF",
                    title: "Фактичний залишок (екв.)",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(OSTCQF)#",
                    width: "100px",
                    footerTemplate: "<div align='right'>#= kendo.toString(CellPaintQF(sum, 0))#</div>"
                },
                {
                    field: "OSTBF",
                    title: "Плановий залишок",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(OSTBF)#",
                    width: "100px"
                },
                {
                    field: "OSTBQF",
                    title: "Плановий залишок (екв.)",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(OSTBQF)#",
                    width: "100px",
                    footerTemplate: "<div align='right'>#= kendo.toString(CellPaintQF(sum, 0))#</div>"
                },
                {
                    field: "OSTFF",
                    title: "Майбутній залишок",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(OSTFF)#",
                    width: "100px"
                },
                {
                    field: "OSTFQF",
                    title: "Майбутній залишок (екв.)",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "#=CellPaintQF(OSTFQF)#",
                    width: "100px",
                    footerTemplate: "<div align='right'>#= kendo.toString(CellPaintQF(sum, 0))#</div>"
                },
                {
                    field: "DAPP",
                    title: "Дата останнього руху",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "<div style='text-align:left;'>#=kendo.toString(DAPP,'dd/MM/yyyy') != null ? kendo.toString(DAPP,'dd/MM/yyyy') : '' #</div>",
                    width: "100px"
                },
                {
                    field: "NBS",
                    title: "Баланс рахунок",
                 //   attributes: { class: "text-center" },
                    headerAttributes: { style: "white-space: normal;" },
                    width: "90px"
                },
                {
                    field: "PAP",
                    title: "Акт Пас",
                    headerAttributes: { style: "white-space: normal;" },
                    width: "70px",
                 //   attributes: { class: "text-center" },
                    template: "#=PAPCaseHandle(PAP)#"
                },
                {
                    field: "TIP",
                    title: "Тип рахунку",
                    headerAttributes: { style: "white-space: normal;" },
               //     attributes: { class: "text-center" },
                    width: "80px"
                },
                {
                    field: "OB22",
                    title: "ОБ22",
                    headerAttributes: { style: "white-space: normal;" },
                //    attributes: { class: "text-center" },
                    width: "80px"
                },
                {
                    field: "ISP",
                    title: "ID виконавця",
                    headerAttributes: { style: "white-space: normal;" },
               //     attributes: { class: "text-center" },
                    width: "90px"
                },
                {
                    field: "FIO",
                    title: "ФІО Виконавця",
                    headerAttributes: { style: "white-space: normal;" },
              //     width: "190px"
                },
                {
                    field: "DAOS",
                    title: "Дата відкриття",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "<div style='text-align:left;'>#=kendo.toString(DAOS,'dd/MM/yyyy') != null ? kendo.toString(DAOS,'dd/MM/yyyy') : '' #</div>",
                    width: "100px"
                },
                {
                    field: "DAZS",
                    title: "Дата закриття",
                    headerAttributes: { style: "white-space: normal;" },
                    template: "<div style='text-align:left;'>#=kendo.toString(DAZS,'dd/MM/yyyy') != null ? kendo.toString(DAZS,'dd/MM/yyyy') : '' #</div>",
                    width: "100px",
                    hidden: false
                },
                {
                    field: "RNK",
                    title: "РНК",
              //      attributes: { class: "text-center" },
                    headerAttributes: { style: "white-space: normal;" },
                    width: "70px"
                }
            ],
            dataSource: {
                type: "aspnetmvc-ajax",
                transport: {
                    read: {
                        dataType: 'json',
                        url: bars.config.urlContent('/sep/SepTechAccounts/@Model.GridVariantString'),
                        data: SepTechAccountsGridData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        fields: {
                            ACC: { type: "number" },
                            TOBO: { type: "string" },
                            NLS: { type: "string" },
                            LCV: { type: "string" },
                            NMS: { type: "string" },
                            ISF: { type: "number" },
                            ISQF: { type: "number" },
                            DOSF: { type: "number" },
                            DOSQF: { type: "number" },
                            KOSF: { type: "number" },
                            KOSQF: { type: "number" },
                            OSTCF: { type: "number" },
                            OSTCQF: { type: "number" },
                            OSTBF: { type: "number" },
                            OSTBQF: { type: "number" },
                            OSTFF: { type: "number" },
                            OSTFQF: { type: "number" },
                            DAOS: { type: "date" },
                            NBS: { type: "number" },
                            PAP: { type: "string" },
                            TIP: { type: "string" },
                            ISP: { type: "number" },
                            FIO: { type: "string" },
                            DAPP: { type: "date" },
                            DAZS: { type: "date" },
                            RNK: { type: "number" }
                        }
                    },
                },
                aggregate:
                    [
                             { field: "ISQF", aggregate: "sum" },
                             { field: "DOSQF", aggregate: "sum" },
                             { field: "KOSQF", aggregate: "sum" },
                             { field: "OSTCQF", aggregate: "sum" },
                             { field: "OSTBQF", aggregate: "sum" },
                             { field: "OSTFQF", aggregate: "sum" }
                    ],
                serverPaging: true,
                serverSorting: true,
                pageSize: 10
            },
            sortable: true,
            filterable: true,
            resizable: true,
            autobind: true,
            selectable: "multiple",
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            change: SepTechAccountsGridonRowSelected,
            dataBound: grid_dataBound
        });

        @*if ("@Model.GridVariantString" == "GetSEPTECHACCOUNT_V1") {
            $('#SepTechAccountsGridV2').data('kendoGrid').hideColumn("DAZS");
        }*@
         

    });


    function refreshGrid() {
        $('#SepTechAccountsGridV2').data('kendoGrid').dataSource.read();
        $('#SepTechAccountsGridV2').data('kendoGrid').refresh();
    }
</script>












