<style>
    .cl-admin .cl-user-box {
        width: 500px;
        border: 1px solid #e7eaec;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    .cl-user-box .k-edit-box {
        width: 100%;
        border: 1px solid #e7eaec;
        border-radius: 10px;
    }

    .cl-users input, .cl-users select {
        width: 100%;
    }

    .cl-users table td {
        height: 50px;
        vertical-align: top;
    }

    .cl-users .cl-user-comtrols {
        padding-left: 20px;
    }

    .cl-users .cl-users-list .cl-user-box {
        float: left;
    }

    .cl-user-comtrols button {
        width: 35px;
    }


    button .fa {
        line-height: 1.3em;
        font-size: 1.3em;
    }

    td {
        padding: 5px;
    }
</style>
<script src="@Url.Content("~/scripts/respond.min.js")"></script>
<script src="@Url.Content("~/Areas/CDO/CorpLight/Scripts/Accounts.js")"></script>
<h1>Доступ до рахунків CorpLight</h1>

<div id="accountsGrid"></div>
<div id="addNbsWindow" kendo-window hidden="hidden" k-title="'Додати'" k-modal="true">
    <form>
        <table>
            <tbody>
                <tr>
                    <td>Балансовий рахунок</td>
                    <td>
                        <input id="nameNbs" class="k-input" type="number" style="width: 153px" required />
                    </td>
                </tr>
                <tr>
                    <td>Назва модуля</td>
                    <td>
                        <input id="typeId" data-text-field="TypeName" data-value-field="TypeId" required/>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="k-content k-window-footer">
            <button id="btnOk" type="submit" class="delete-confirm k-button k-primary" style="float:right;margin:7px 5px 7px 5px;"><span class="k-icon k-i-tick"></span> Додати</button>
            <button id="btnCancel" class="delete-confirm k-button" style="float:right;margin:7px 5px 7px 5px;">Відмінити</button>
        </div>
    </form>
</div>
