body {
}

.k-grid {
 	margin-top: 5px;
}

 /** --- grid header ----*/

.k-grid-header th.k-with-icon .k-link {
    margin-right: 0px;
    font-size: 11px;
}

.k-header .k-link {
    text-align: center;
    font-size: 11px;
}

.k-grid-header th.k-header, .k-filter-row th {
    text-align: center;
    font-size: 11px;
}
.k-list-optionlabel{
    font-size: 13px;
}

/* grid row selected bg color default state */

.k-grid table tr.k-state-selected
    {
        background-color: #428bca !important;
    }
.k-grid table tr.k-state-selected td
    {
        background-color: #428bca !important;
    }
.k-grid table tr.k-state-selected td div
    {
        background-color: #428bca !important;
    }

/** --- grid row validation -- **/
.equalError {
	background-color: #ffd5cd;
}

#SwiftInfo {
    background-color: #c7f5f9;
    height: 350px;
}