@{
    ViewBag.Title = "Дані від DWH";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    string theme = "bootstrap";
    var cook = HttpContext.Current.Request.Cookies["theme"];
    if (cook != null)
    {
        theme = cook.Value;
    }
}

<h1>АРМ перегляду отриманої інформації від DWH</h1>
<div id="DWHGrid"></div>


<script type="text/javascript">
    $(function() {
        var grid = $("#DWHGrid");
      grid.kendoGrid({
        dataSource: {
          type:'json',
          transport: {
              read: '/barsroot/admin/admsegments/getdwhdata'
          },
          schema: {
            data: "Data",
            total: "Total",
            errors: "Errors",
            model: {
              fields: {
                  PACKAGE_ID: {type: "number"},
                  STATUS: { type: "string" },
                  ERRORDESCRIPTION: { type: "string" },
                  PACKAGE_TYPE: { type: "string" },
                  RECIEVED_DATE: { type: "string" },
                  BANK_DATE: { type: "string" }

              }
            }
          },
          pageSize: 10,
          "page": 1,
          "total": 0,
          "serverPaging": true,
          "serverSorting": true,
          "serverFiltering": true,
          "serverGrouping": true,
          "serverAggregates": true
        },
        selectable: "row",
        groupable: false,
        sortable: true,
        filterable: true,
        pageable: {
          refresh: true,
          pageSizes: true,
          buttonCount: 5
        },
        columns: [ 
          {
              field: "PACKAGE_ID",
              title: "Номер синхронізації"
          },
          {
              field: "STATUS",
              title: "Статус"
          },
          {
              field: "ERRORDESCRIPTION",
              title: "Помилки розбору"
          },
          {
              field: "PACKAGE_TYPE",
              title: "Тип пакету"
          },
          {
              field: "RECIEVED_DATE",
              title: "Дата синхронізації"
          },
          {
              field: "BANK_DATE",
              title: "Банківська дата"
          }
        ]
      });
    });

</script>









