.futter-buttons {
border-top:1px solid #eee; padding:10px; text-align:center
} 
  .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .cl-user-box .edit-box {
        width: 100%;
        border: 1px solid #e7eaec;
        -ms-border-radius: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .w-100 {
        width: 100%;
    }


.k-widget .k-box-size-inh [class^="col"],
.k-widget .k-box-size-inh [class*="wrapper"],
    /*
    .k-widget .k-box-size-inh, 
    .k-widget .k-box-size-inh *, 
    .k-widget .k-box-size-inh *:before,*/

    .k-box-size-inh.k-widget, 
    .k-box-size-inh.k-widget *, 
    .k-box-size-inh.k-widget *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .required {
        color: red;
    }

    .rel-cust-ddl {
        position: absolute;
        right: 20px;
        z-index: 10;
    }

#acskRulesWindow .row {
    padding: 5px;
}

.k-grid-header {
    padding-right: 17px !important;
}