label {
    display: inline-block;
    width: 220px;
}

#parameters_form {
    display: inline-block;
}

label {
    text-align: right;
    padding: 0 10px;
}

#branches .k-pager-info, #branches .k-footer-template {
    display: none;
}

#parameters_form input {
    width: 300px;
}

#parameters_form .k-dropdown {
    width: 325px;
}

#parameters_form .k-textbox {
    width: 325px;
}

#nextFormParams {
    margin-top: 8px;
    float: right;
}

#additionalParams {
    display: none;
}
