@model decimal
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = String.Format("Пов'язані документи для РЕФ. {0}", Model);
}


<h2>@ViewBag.Title</h2>
<div id="zayDocsToolBar"></div>
<div id="zayDocumentsGrid"></div>

<script type="text/javascript" src="/barsroot/Scripts/Bars/bars.utils.js"></script>
<script>
    
    var masterRef = @Model;
    var grid = null;
    
    function zayData() {
        return {
            docref: masterRef
        }
    }

    function getGrid() {
        if (grid == null) {
            grid = $('#zayDocumentsGrid').data('kendoGrid');
        }
        return grid;
    }

    function refreshToolbar() {
        /*var grid = getGrid();
        var selection = grid.select();
        enableButton('pbViewDoc', selection.length === 1);*/
    }


    function enableButton(buttonId, enabled) {
        if (typeof(enabled) === 'undefined') {
            enabled = true;
        }
        var $button = $('#' + buttonId);
        $button.data('kendoButton').enable(enabled);
        if (enabled) {
            $button.find('i').removeClass("pf-disabled");
        } else {
            $button.find('i').addClass("pf-disabled");
        }
    }

    function goBack() {
        window.location = bars.config.urlContent('/Zay/MandatorySale/Index');
    }

    function openDoc() {
        var grid = getGrid();
        var record = grid.dataItem(grid.select());
       if (record) {
           var docUrl = bars.config.urlContent("/documents/item/" + record.Ref + "/");
           window.location = docUrl;
       } else {
           bars.ui.alert({text: 'Не обрано документ!'});
       }
    }

    $(document).ready(function() {
        $("#zayDocumentsGrid").kendoGrid({
            autobind: true,
            selectable: "multiple",
            filterable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
            {
                field: "Ref",
                title: "Реф. документа",
                width: 100,
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "Tt",
                title: "Код транзакції",
                width: 100,
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "UserId",
                title: "Користувач",
                width: 100
            },
            {
                field: "Nd",
                title: "№ док.",
                width: 110,
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "NlsA",
                title: "Рахунок - A",
                width: 120
            },
            {
                field: "S",
                title: "Сума",
                template: "<div style='text-align:right;'>#=(S/100).toFixed(2)#</div>",
                width: 150
            },
            {
                field: "Lcv",
                title: "Вал",
                width: 100,
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "Vdat",
                title: "Дата",
                width: 100,
                template: "<div style='text-align:right;'>#=kendo.toString(Vdat,'dd.MM.yyyy')#</div>"
            },
            {
                field: "S2",
                title: "Рахунок в вал. - B",
                template: "<div style='text-align:right;'>#=(S2/100).toFixed(2)#</div>",
                width: 150
            },
            {
                field: "Lcv2",
                title: "Вал - B",
                width: 100,
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "MfoB",
                title: "МФО - B",
                width: 100
            },
            {
                field: "NlsB",
                title: "Рахунок - B",
                width: 120
            },
            {
                field: "Dk",
                title: "Дт/Кт",
                template: "#=Dk == 1 ? '1' : '0'#",
                width: 75
            },
            {
                field: "Sk",
                title: "Вал. символ",
                template: "",
                width: 75,
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "Vob",
                title: "Тип",
                width: 100
            },
            {
                field: "Datd",
                title: "Дата док.",
                width: 100,
                template: "<div style='text-align:right;'>#=kendo.toString(Datd,'dd.MM.yyyy')#</div>"
            },
            {
                field: "Nazn",
                title: "Назначення",
                width: 200
            },
            {
                field: "Tobo",
                title: "Код безбал. отделения",
                width: 200
            },
            {
                field: "NamA",
                title: "Відправник",
                width: 200
            },
            {
                field: "RefA",
                title: "ОКПО-Б",
                width: 200
            },
            {
                field: "NamB",
                title: "Одержувач",
                width: 200
            }
            ],
            dataSource: {
                type: 'webapi',
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 10,
                transport: {
                    read: {
                        dataType: 'json',
                        url: bars.config.urlContent('/Zay/MandatorySale/GetZayLinkedDocs'),
                        data: zayData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                }
            },
            change: refreshToolbar,
            dataBound: refreshToolbar

        });
        $('#zayDocsToolBar').kendoToolBar({
            items: [
                {
                    template: "<button id='pbGoBack' type='button' class='k-button' onclick='goBack()' title='Повернутись до переліку файлів'><i class='pf-icon pf-16 pf-arrow_left'></i> Назад</button>"
                },
                {
                    template: "<button id='pbViewDoc' type='button' class='k-button' onclick='openDoc()' title='Переглянути документ'><i class='pf-icon pf-16 pf-folder_open'></i></button>"
                }
            ]
        });

        $("#pbGoBack").kendoButton();
        $("#pbViewDoc").kendoButton();
    });
</script>

<style>
        /** --- grid header ----*/

    .k-grid-header th.k-with-icon .k-link {
        margin-right: 0px;
        font-size: 11px;
    }

    .k-header .k-link {
        text-align: center;
        font-size: 11px;
    }

    .k-grid-header th.k-header, .k-filter-row th {
        text-align: center;
        font-size: 11px;
    }
    .k-list-optionlabel{
        font-size: 13px;
    }

     
</style>