@{
  //Layout = null;
}

<script type="text/javascript">
  function printPackage() {
    var post = $.post('/barsroot/printcontract/packprint/',
      {
        rnk: $('input[name="rnk"]:checkbox:checked').checkedToObj().arr,
        patternId: $('input[name="pattern"]:checkbox:checked').checkedToObj().arr,
        date: '13/11/2013'
      },
      function(data) {
        alert(data);
        post = null;
      }
    );
  }
</script>
<form method="POST" action="/barsroot/printcontract/packprint/">
  <input type="checkbox" name="rnk" value="800" />800<br/>
  <input type="checkbox" name="rnk" value="900" />900<br/>
  <input type="checkbox" name="rnk" value="1100" />1100<br/>
  <input type="checkbox" name="rnk" value="1200" />1200<br/>
  
  <input type="checkbox" name="pattern" value="CUST_DOGOVOR" />CUST_DOGOVOR<br />
  <input type="checkbox" name="pattern" value="CUST_FM_FU" />CUST_FM_FU<br />
  <input type="submit" onclick="printPackage(); return false;" value="print"/>
</form>