@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<script src="/barsroot/scripts/respond.min.js"></script>

<script src="~/Areas/Pfu/Scripts/Pfu/pfuBase.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuReceipts.js"></script>

@*<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMain.css">*@
<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/HeaderGrid.css">
<style>
    
.k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }


    </style>
<div class="well" id="selectReceipt">    
    <h2 class="ra-well-title">Виберіть тип квитанції</h2>
    <div class="form-horizontal form-widgets col-sm-3">
        <div class="form-group">
            <div class="col-sm-8">
                <select id="ddlViewBy">
                    <option value="kvit1">Квитанція 1_Про опрацювання конверту</option>
                    <option value="kvit2">Квитанція 2_Зарахування/не зарахування коштів на рахунки пенсіонерів</option>
                </select>
            </div>
        </div>
    </div>
    @*<div class="col-sm-10 bottom">
        <button id="SelectFiles" type="button" class="btn btn-primary col-sm-2">
            <i class="fa fa-pencil-square-o"></i> Вибрати
        </button>
    </div>*@
    <div class="clearfix"></div>
</div>
