@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "ЄБП";
}
<script src="/barsroot/scripts/respond.min.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuBase.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuEbp.js"></script>
<script src="~/lib/jsZip/jszip.min.js"></script>
<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMain.css">

<h1>ЄБП</h1>

<div class="container-fluid search-box">
    <div class="row">
        <h1 style="margin-left: 20px">Пошук:</h1>
        <div class="col-md-offset-2 col-md-4">
            <div class="form-group">
                <label for="searchName"><b>ПІБ Клієнта:</b></label>
                <input type="text" class="form-control" id="searchName" placeholder="ПІБ Клієнта" />
            </div>

            <div class="form-group">
                <label for="searchInn"><b>ІПН Клієнта:</b></label>
                <input type="text" class="form-control" id="searchInn" placeholder="ІПН Клієнта" />
            </div>

            @*<div class="col-md-6">
                <div class="form-group">
                    <label for="searchSeries"><b>Серія:</b></label>
                    <input type="text" class="form-control" id="searchSer" placeholder="Серія" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="searchNumber"><b>Номер:</b></label>
                    <input type="text" class="form-control" id="searchNumber" placeholder="Номер" />
                </div>
            </div>*@
        </div>
        <div class="col-md-4" >
            <div class="form-group">
                <label for="searchNls"><b>Номер рахунку:</b></label>
                <input type="text" class="form-control" id="searchNls" placeholder="Номер рахунку" />
            </div>
            <div class="form-group">
                <label for="searchKf"><b>МФО:</b></label>
                <input type="text" class="form-control" id="searchKf" placeholder="МФО" />
            </div>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <div class="form-group">
                <label for="searchNls"><b>ІПН з помилками:</b></label>
                <input id="erroIPN" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5">
            <br>
            <button id="SearchPensioner" type="button" class="btn btn-primary col-xs-3" style="margin-left: 25px">
                <i class="fa fa-search"></i> Пошук
            </button>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div id="gridSearchBox"></div>
    </div>
</div>

<div id="dialogBlockPensioners">
    <div id="gridBlockPensioners"></div>
    <div style="margin-top: 4px;text-align: center;">
        <button id="confirmBlock" class="k-button k-primary">Заблокувати?</button>
    </div>
</div>

<script type="text/x-kendo-template" id="blockPensioner-template">
    <div class="toolbar">
        <button id="blockPensioner" class='btn btn-warning'>
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
            Заблокувати
        </button>
        @*<button  id="excel" class='btn btn-default'>
            Зберегти
        </button>*@
        
    </div>
</script>