
@*@Scripts.Render("~/docs/bundles/PaymentsCtrl")
<script src="@Url.Content("~/docs/bundles/PaymentsCtrl")"></script>*@
<script src="@Url.Content("~/Docs/Scripts/PaymentsCtrl.js")"></script>
<div data-ng-controller="Docs.Payments as docsPayments">
    <h1 ng-bind="docsPayments.Title"></h1>

    @*<div data-kendo-toolbar="" k-options="toolbarOptions"></div>*@
    
    <nav class="navbar navbar-toolbar" role="navigation">
        <div class="container-fluid">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <label>Період: </label>
                    з <input type="text" k-ng-model="docsPayments.PaymentsSearchParams.dateStart" kendo-date-picker="docsPayments.dateStart" k-options="docsPayments.dateStartOptions" />
                    по <input type="text" k-ng-model="docsPayments.PaymentsSearchParams.dateEnd" kendo-date-picker="docsPayments.dateEnd" k-options="docsPayments.dateEndOptions" />
                </div>
                <div class="btn-group">
                    <label>Документи: </label> 
                    <div style="width: 80px" kendo-drop-down-list="docsPayments.test" k-ng-model="docsPayments.PaymentsSearchParams.direction" k-options="docsPayments.paymentsDirectionOptions">
                        @*<option value="1">test1</option>
            <option value="2">test2</option>*@
                    </div>
                </div>

                <div class="btn-group">
                    <button class="k-button" ng-click="docsPayments.SearchPayments()" data-overflow="auto">Показати</button>
                </div>

            </div>
        </div>
    </nav>

    <div data-kendo-grid="docsPayments.paymentsGrid" data-options="docsPayments.paymentsGridOptions"></div>

</div>