    .k-grid tbody .k-button {
        min-width: 30px;
    } 
   .form-group > div > input,
    .form-group > div > textarea,
    .form-group > div > .k-widget {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .form-group > div > textarea,
    .form-group > div > table textarea {
        margin-bottom: 5px;
    }

    .form-group .k-datepicker {
        width: 140px !important;
    }

    .form-group .k-datetimepicker {
        width: 180px !important;
    }

    .form-group .k-tool-group .k-combobox,
    .form-group .k-tool-group .k-dropdown {
        width: 120px;
    }

    .form-group .k-tool-group .k-colorpicker {
        width: 60px;
        float: left;
    }

    .window-footer {
        position: absolute;
        bottom: 0;
        display: block;
        width: 98%;
        margin-top: 10px;
        padding: 10px 0 10px 0;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        background-color: #fff;
    }