@model BarsWeb.Areas.Sto.Models.AccessMode
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Договора на регулярні платежі";
}

<script src="~/Areas/Sto/Scripts/Contract/ContractCtrl.js"></script>
<link href="~/Areas/Sto/Css/Sto.css" rel="stylesheet" />

<script>
    var urlClaim = '@Url.Action("GetClaim")';
    var mode = '@Model.Mode';
</script>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Договори</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div id="Contract"></div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Інформація по договору</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div id="det-toolbar"></div>
        <div id="ContractDet"></div>
    </div>
</div>

<script type="text/x-kendo-template" id="template">
    <div class="toolbar">
        <label class="category-label" for="grp">Показувати договора групи:</label>
        <input type="search" id="grp" style="width: 500px" />
    </div>
</script>

<script id="confirmationTemplate" type="text/x-kendo-template">
    <div class="popupMessage">
        <label class="category-label" for="grp">Причина:</label>
        <input type="search" id="ConfirmReason" style="width: 220px" />
    </div>
    <hr />
    <div class="dialog_buttons" style="float:right;">
        <input type="button" class="confirm_yes k-button" value="Yes" style="width: 80px" />
        &nbsp;
        <input type="button" class="confirm_no k-button" value="No" style="width: 80px" />
    </div>
</script>

<div id="info-window">
    <div id="info-grid" style="padding: 0px;"></div>
</div>
