<script src="~/Areas/Clients/Controllers/ShowCustomerCtrl.js"></script>
<script src="~/Areas/Clients/Services/CustomersService.js"></script>
<link href="~/Areas/Clients/Css/Clients.css" rel="stylesheet" />

<div ng-controller="Clients.ShowCustomer as showCustCtrl" class="cust-show">
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <div class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
            <div class="row">
                <div class="col-sm-2 ">
                    <div class="cust-photo center-block"><i class="ti-user img-poster"></i></div>
                </div>
                <div class="col-sm-10">

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Реєстрац. №</label>
                                <div class="col-sm-7">
                                    <span class="color-blue font-bold label-cust-id">123456</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">№ договору</label>
                                <div class="col-sm-7">
                                    <input type="text" class="k-textbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Дата реєстрації</label>
                                <div class="col-sm-7">
                                    <span class="k-widget k-datepicker k-header form-control">
                                        <span class="k-picker-wrap k-state-default">
                                            <span class="form-control k-input">test </span>
                                            <span unselectable="on" class="k-select" role="button">
                                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Дата закриття</label>
                                <div class="col-sm-7">
                                    <span class="k-widget k-datepicker k-header form-control">
                                        <span class="k-picker-wrap k-state-default">
                                            <span class="form-control k-input">test </span>
                                            <span unselectable="on" class="k-select" role="button">
                                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Тип</label>
                                <div class="col-sm-7">
                                    <div kendo-drop-down-list=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Менеджер</label>
                                <div class="col-sm-7">
                                    <input type="text" class="k-textbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">ПІБ</label>
                        <div class="col-sm-11">
                            <input type="text" class="k-textbox">
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
    <div class="panel panel-default no-border">
        <div>
            <div kendo-tab-strip="showCustCtrl.custParamTabs" k-options="showCustCtrl.custParamTabsOptions">
                <ul>
                    <li class="k-state-active">Основна інформація</li>
                    <li>Адреса</li>
                    <li>Рекв. платника под.</li>
                    <li>Ек. нормативи</li>
                    <li>Реквізити клієнта</li>
                    <li>Додаткова інф.</li>
                    <li>Деталі</li>
                    <li>Зв'зки</li>
                    <li>Місця роботи</li>
                    <li>Історія</li>
                </ul>

                <div id="custMainRekv">
                    <div class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ПІБ - міжнародне</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ПІБ - скорочене</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ідентифцікаційний код</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Характеристика (К010)</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Країна (К040)</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ознака інсайдера (К060)</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Тип держ. реєстру</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Електронний код</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="k-textbox">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Вид виписки</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="k-textbox" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Відділення</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="k-textbox" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="custAddressesRekv">

                </div>

                <div>

                </div>

                <div></div>

                <div id="custPersonRekv">
                    
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Документ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="k-textbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <input type="text" class="k-textbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>

            </div>
        </div>
    </div>
</div>
