@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Scripts/Angular/kendoservice.js?v1.0"></script>
<script src="~/Scripts/Angular/utilsservice.js?v1.0"></script>
<script src="~/Scripts/Angular/baseController.js?v1.0"></script>
<script src="~/Areas/GDA/Scripts/GDA/settingsService.js?v1.0.0"></script>
<script src="~/Areas/GDA/Scripts/GDA/saveDataService.js?v1.0.0"></script>
<script src="~/Areas/GDA/Scripts/GDA/modelService.js?v1.0.0"></script>
<script src="~/Areas/GDA/Scripts/GDA/baseController.js?v1.0.0"></script>
<script src="~/Areas/GDA/Scripts/GDA/validationService.js?v1.0.0"></script>
<script src="~/lib/jsZip/jszip.min.js"></script>
<script src="~/Areas/GDA/Scripts/GDA/MainTest.js?v.1.0.0"></script>



<link rel="stylesheet" href="~/Areas/GDA/Css/GDA/Main.css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
@*-------------------*@
<div ng-controller="GDACtrlTest">
    <div class="page-header">
        <h1>Портфель депозитів ММСБ бек-офіс</h1>
    </div>
    @*ROLE*@
    @*<label><b>ROLE:</b></label>
    <input ng-model="userInfo.ROLE">*@

    @*Пошуковий блок*@
    <div class="well">
        <div class="row">
            <div class="form-group" id="contract_number">
                <label><b>№ ДБО:</b></label>
                <input type="text" class="form-control" style="display: inline;width: 140px;margin-right:18px;" 
                        ng-model="contract_number" numbers-only/>
            </div>

            <div class="form-group" id="rnk">
                <label><b>РНК:</b></label>
                <input type="text" class="form-control" style="display: inline;width: 140px; margin-left:22px;margin-right:18px;"
                       ng-model="rnk" numbers-only/>
            </div>
            <a class="k-button" ng-click="opHistory()" id="btnHistoryOp"><i class="pf-icon pf-16 pf-document_header_footer-ok2"></i>Історія операцій</a>
            <a class="k-button" ng-click="FindBack()" id="btnSearch"><i class="pf-icon pf-16 pf-find"></i>Пошук</a>
        </div>
    </div>

<div style="padding:1px;">
           
    <div data-kendo-toolbar="toolbarBackAdmin" k-options="toolbarBackAdminOptions"> </div>
        <div kendo-grid="DepositBackGrid" k-options="DepositBackGridOptions"></div>
                
</div>

<div style="padding:1px;display:none;" id="opHistory" >
    <script id="template" type="text/x-kendo-template">
        <div class="label label-success" style="font-size:14px; margin-left:30px;">Період вибірки</div>
            <input type="text" ng-model="dateStart" class="form-control" style="width:140px" kendo-masked-date-picker="" k-on-change="ChangeStart()"/>
            <input type="text" ng-model="dateEnd" class="form-control" style="width:140px" kendo-masked-date-picker="" k-on-change="ChangeEnd()"/>            
    </script>
        <div kendo-grid="opHistoryGrid" k-options="opHistoryGridOptions"></div>
</div>

</div>
