@{

}
<script src="~/Areas/InsUi/Scripts/CardInsurance/Controllers/ArchiveCtrl.js"></script>
<div class="conteiner" ng-controller="ArchiveCtrl" ng-init="init('@ViewBag.ND')">
    <h1>Архів договору №@ViewBag.ND</h1>
    <div id="gridCardInsurArc" kendo-grid="gridCardInsurArc"
         k-options="gridOptionsCardInsurArc">
    </div>
</div>
