@using Kendo.Mvc.UI

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    const string title = "Налаштування параметрів синхронізації";
}

<h1>@title</h1>

<div id="table">
    <div id="row">
        <div id="tabStrip">
            <ul>
                <li class="k-state-active">Журнал</li>
                <li>Параметри синхронізації</li>
            </ul>  
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabStrip").kendoTabStrip({
            animation: { open: { effects: "fadeIn" } },
            contentUrls: [
                '../Administrations/LogList',
                '../Administrations/SyncParams'
            ]
        }).data("kendoTabStrip");
    });
</script>
<style>
    .k-grid-edit-row .sync-btn {
        display: none;
    }

    #table {
        display: table;
    }

    #row {
        display: table-row;
    }

    #tabstrip {
        padding: 5px;
        display: table-cell;
    }

    #section {
        padding: 5px;
        display: table-cell;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #ffffff url('/barsroot/content/spinners/ajax-loader.gif') 50% 50% no-repeat;
        background: rgba( 255, 255, 255, .8 ) url('/barsroot/content/spinners/ajax-loader.gif') 50% 50% no-repeat;
    }


    .k-notification {
        border: 0;
    }

    /* Success template */
    .k-notification-upload-success.k-group {
        background: #009900;
        background: rgba(0%,60%,0%,.7);
        color: #fff;
    }

    /*.k-notification-upload-success.k-group {
                    background: rgba(0%,0%,0%,.7);
                    color: #fff;
                }*/

    .upload-success {
        width: 300px;
        height: 100px;
        padding: 0 30px;
        line-height: 100px;
    }

        .upload-success h3 {
            font-size: 1.3em;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
        }

        .upload-success img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }


    /*details styles*/
    .k-detail-cell .k-tabstrip .k-content {
        padding: 0.2em;
    }

    .employee-details ul {
        list-style: none;
        font-style: italic;
        margin: 15px;
        padding: 0;
    }

        .employee-details ul li {
            margin: 0;
            line-height: 1.7em;
        }

    .employee-details label {
        display: inline-block;
        width: 150px;
        padding-right: 10px;
        text-align: right;
        font-style: normal;
        font-weight: bold;
    }

    .centerField {
        text-align: center;
    }

    .navigationBar {
        padding: 10px;
    }
</style>
