@{
  Layout = "~/Views/Shared/_LayoutExt.cshtml";
}
@*<script type="text/javascript">
  Ext.application({
    name: 'HelloExt',
    launch: function () {
      Ext.create('Ext.container.Viewport', {
        layout: 'fit',
        items: [
            {
              title: 'Приложение на Ext JS 4',
              html: '<h3>Добро пожаловать в мир Ext JS 4!</h3>'
            }
        ]
      });
    }
  });
</script>*@
<form method="get">
  <input type="checkbox" value="1" name="id"/> 
  <input type="checkbox" value="2" name="id" />   
  <input type="checkbox" value="3" name="id" />    
  <input type="submit" value="ok"/>
</form>
