@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "Way4Bpk";
}

<script src="~/lib/jsZip/jszip.js"></script>
<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/Way4Bpk/Scripts/KendoCommon.js?v1.0"></script>
<script src="~/Areas/Way4Bpk/Scripts/Way4Bpk/NewCard.js?v1.1.6"></script>
<script src="~/Areas/Way4Bpk/Scripts/Way4Bpk/AddParams.js?v1.3.3"></script>
<script src="~/Areas/Way4Bpk/Scripts/Way4Bpk/Main.js?v1.1.6"></script>
<link rel="stylesheet" href="~/Areas/Way4Bpk/Css/Way4Bpk/Main.css" />

<div class="page-header">
    <h3 id="title"></h3>
</div>

<div id="dvFilesFilter">
    <table border="0">
        <tr>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="ndNumber"><b>Номер угоди:</b></label>
                    <input type="text" class="form-control" id="ndNumber" placeholder="Вкажіть номер угоди" style="display: inline;width: 150px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="accNls"><b>Картковий рахунок:</b></label>
                    <input type="text" class="form-control" id="accNls" placeholder="Вкажіть рахунок" style="display: inline;width: 140px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="custName"><b>ПІБ (назва) клієнта:</b></label>
                    <input type="text" class="form-control" id="custName" placeholder="Вкажіть ПІБ(назву)" style="display: inline;width: 180px" />
                </div>
            </td>            
            <td>
                <button id="SearchBtn" type="button" class="btn btn-primary" style="margin-bottom:15px" >
                    <i class="fa fa-search"></i> Пошук
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="okpo"><b>ІПН:</b></label>
                    <input type="text" class="form-control" id="okpo" placeholder="Вкажіть ІПН" style="display: inline;width: 140px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="passState"><b>Стан передачі:</b></label>
                    <input type="text" class="form-control" id="passState" style="width: 120px"/>
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="passDateSelect"><b>Дата передачі:</b></label>
                    <input type="text" class="form-control" id="passDateSelect" style="width: 140px" />
                </div>
            </td>
        </tr>
    </table>    
    <div class="clearfix"></div>
</div>

<div id="gridMain"></div>
<div class="search-main"></div>

<div id="dialogProcessing" style="display:none">
    <div class="search-proc"></div>

    <div class="row">
        <div class="col-md-4">
            <a class='k-button' id="edtOper" onclick="showReferOper()"><i class='pf-icon pf-16 pf-book'></i></a>
            <label class="control-label" for="edtOper"><b>Виберіть операцію</b></label>
            <div id="edtOperValue"></div>
        </div>
    </div>    
    <br>
    <div class="row">
        <div class="col-md-3">
            <button id="FireConfirmBtn" type="button" class="btn btn-primary">
                <i class="fa fa-pencil-square-o"></i> Обробити
            </button>
        </div>
    </div>
</div>

<div id="dialogCngCard" style="display:none">
    <div class="search-cng-card"></div>
    <div id="gridCngCard"></div>
    <div style="margin-top: 4px;text-align: center;">
        <button id="confirmCngCard" class="k-button k-primary">Змінити тип картки?</button>
    </div>
</div>

<div id="dialogNewCard" style="display:none">
    <div class="search-NewCard"></div>
    <br />
    <table border="0">
        <tr>
            <td>
                <div id="fo_W4_PRODUCT_GROUPS_REF" class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4ProductGrp" onclick="showRefer('W4_PRODUCT_GROUPS_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label" for="gBpkW4ProductGrp"><b>Група продуктів</b></label>
                </div>
            </td>
            <td>
                <div id="fo_GBPKW4PROECT_REF" class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4Proect" onclick="showRefer('GBPKW4PROECT_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label" for="gBpkW4Proect"><b>Зарплатний проект</b></label>
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4Product" onclick="showRefer('GBPKW4PRODUCT_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label" for="gBpkW4Product"><b>Виберіть Продукт</b></label>
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4Card" onclick="showRefer('GBPKW4CARD_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label" for="gBpkW4Card"><b>Виберіть картку</b></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="fo_val_GBPKW4PROECT_REF" class="form-group" style="margin-right:15px"><div id="gBpkW4ProductGrpValue"></div></div>
            </td>
            <td>
                <div id="fo_val_GBPKW4PROECT_REF" class="form-group" style="margin-right:15px"><div id="gBpkW4ProectValue"></div></div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px"><div id="gBpkW4ProductValue"></div></div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px"><div id="gBpkW4CardValue"></div></div>
            </td>
        </tr>
    </table>
    <hr />
    <table border="0">
        <tr>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4Customer" onclick="showRefer('GBPKW4CUSTOMER_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label" for="gBpkW4Customer"><b>Виберіть клієнта</b></label>
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label class="control-label" for="newCardRnk" placeholder="Вкажіть РНК"><b>РНК</b></label>
                    <input type="text" id="newCardRnk" style="display: inline;width: 140px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label class="control-label" for="newCardIpn" placeholder="Вкажіть ІПН"><b>ІПН</b></label>
                    <input type="text" id="newCardIpn" style="display: inline;width: 140px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label class="control-label" for="newCardPib" placeholder="Вкажіть ПІБ(назву)"><b>ПІБ(назва)</b></label>
                    <input type="text" id="newCardPib" width="140" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group" style="margin-right:15px"><div id="gBpkW4CustomerValue"></div></div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px"></div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px"></div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px"></div>
            </td>
        </tr>
    </table>
    <hr />
    <div class="alert alert-danger" id="selectNewCardErrorText">
        Не всі дані заповнено
    </div>
    <button id="selectNewCardBtn" type="button" class="btn btn-primary" style="margin-left: 43%">
        <i class="fa fa-pencil-square-o"></i> Вибрати картку
    </button>
</div>

<div id="dialogGo2BackOffice" style="display:none">
    <div class="search-Go2BackOffice"></div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="passDate"><b>Дата передачі справ до бек-офісу:</b></label>
                <input type="text" class="form-control" id="passDate" placeholder="Вкажіть дату" style="display: inline;width: 180px" />
                <div id="passDateErrorMsg" class="alert alert-danger">Дата не може бути більше поточної.</div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="form-group">
                <label for="passStateDdl"><b>Стан передачі справ до бек-офісу:</b></label>
                <input type="text" class="form-control" id="passStateDdl" style="width:210px" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="Go2BackOfficeConfirmBtn" type="button" class="btn btn-primary" style="margin-left: 40%">
                <i class="fa fa-pencil-square-o"></i> Змінити
            </button>
        </div>
    </div>
</div>

<div id="dialogAddParams" style="display:none">
    <div class="search-AddParams"></div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <a class='k-button' id="BUS_MOD" onclick="showReferAddParams('BUS_MOD')"><i class='pf-icon pf-16 pf-book'></i></a>
                <label class="control-label" for="BUS_MOD"><b>Тип бізнес моделі для договору</b></label>
                <hr />
                <div id="BUS_MOD_Tag"></div>
                <div id="BUS_MOD_Value"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <a class='k-button' id="IFRS" onclick="showReferAddParams('IFRS')"><i class='pf-icon pf-16 pf-book'></i></a>
                <label class="control-label" for="IFRS_MOD"><b>Класифікаіція за МСФЗ</b></label>
                <hr />
                <div id="IFRS_Tag"></div>
                <div id="IFRS_Value"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <a class='k-button' id="SPPI" onclick="showReferAddParams('SPPI')"><i class='pf-icon pf-16 pf-book'></i></a>
                <label class="control-label" for="SPPI"><b>Відповідність критерію SPPI</b></label>
                <hr />
                <div id="SPPI_Tag"></div>
                <div id="SPPI_Value"></div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div id="AddParamsMsg" class="alert alert-danger">Дані модифіковано</div>
            <button id="AddParamsConfirmBtn" type="button" class="btn btn-primary" style="margin-left: 40%">
                <i class="fa fa-pencil-square-o"></i> Змінити
            </button>
        </div>
    </div>
</div>


<div id="dialogCardUpdate" style="display:none">
    <div class="search-CardUpdate"></div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="ndCardUpdate"><b>Номер договору:</b></label>
                <input type="text" class="form-control" id="ndCardUpdate" readonly style="background-color:cornsilk;display: inline;width: 180px" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="accNlsCardUpdate"><b>Картковий рахунок:</b></label>
                <input type="text" class="form-control" id="accNlsCardUpdate" readonly style="background-color:cornsilk;display: inline;width:180px" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="idatCardUpdate"><b>Дата видачі картки:</b></label>
                <input type="text" class="form-control" id="idatCardUpdate" style="display: inline;width: 180px" />
                <div id="idatCardUpdateErrorMsg" class="alert alert-danger">Дата не може бути більше поточної.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="CardUpdateConfirmBtn" type="button" class="btn btn-primary" style="margin-left: 40%">
                <i class="fa fa-pencil-square-o"></i> Змінити
            </button>
        </div>
    </div>
</div>