body { font-size: 10pt; font-family: Arial; }

a
{
	color: #2778C9;
	text-decoration: none;
}

a:visited
{
	color: #2778C9;
	text-decoration: none;
}

a:hover
{
	color:	#2778C9;
	text-decoration: underline;
}

.title
{
	border-bottom-color: #CCD7ED;
	border-bottom: 1px solid ;
	font-size: 12pt;
	color: #1C4B75;
	margin-bottom: 20px;
}


.gvSelectedRow
{
}

.gvHeaderRow
{
	background-color: #F4F4F4;
	padding: 3px 3px 3px 3px;
}

.gvAlternateRow
{
	background-color: #F4F4F4;
	padding: 5px 5px 5px 5px;
}

.gvRow
{
	padding-top: 10px;
	background-color: White;
}

.gvNewRow
{
	background-color: #94ABD9;
}

.gvCommandRow
{
}

.gvPagerRow
{
	background-color: #F4F4F4;
}

