<script src="~/Areas/Clients/Services/SearchCustomerService.js"></script>
<script src="~/Areas/Clients/Services/CustomersService.js"></script>
<script src="~/Areas/Clients/Controllers/SearchCustomerCtrl.js"></script>

<div data-ng-controller="Clients.SearchCustomer as searchCustCtrl" ng-init='ebkRequestTimeout = @System.Configuration.ConfigurationManager.AppSettings["ebk.RequestTimeout"]' class="cust-search-form">
    <h1 class="">Пошук клієнтів</h1>
    <div class="bg-light lter b-b wrapper-xs ng-scope" kendo-validator="searchCustCtrl.validator">
        <table class="table cust-search-panel">
            <tr>
                <td>
                    <label><b>Реєстраційний номер (РНК):</b></label>
                </td>
                <td colspan="4">
                    <input type="text"
                           class="k-textbox"
                           numbers-only=""
                           ng-required="searchCustCtrl.validation.custRnkReq()"
                           maxlength="20"
                           data-ng-model="searchCustCtrl.searchCustomerParams.customerRnk" />
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Ідентифікаційний код:</b></label>
                </td>
                <td colspan="4">
                    <input type="text"
                           class="k-textbox"
                           numbers-only=""
                           ng-required="searchCustCtrl.validation.custCodeReq()"
                           maxlength="10"
                           data-ng-model="searchCustCtrl.searchCustomerParams.customerCode"/>
                </td>
            </tr>
            <tr class="ip">
                <td>
                    <label><b>Документ:</b> </label>
                </td>
                <td>
                    <label>серія:</label>
                </td>
                <td>
                    <input type="text"
                           class="k-textbox"
                           maxlength="7"
                           ng-required="searchCustCtrl.validation.docSerialReq()"
                           data-ng-model="searchCustCtrl.searchCustomerParams.documentSerial"/>
                </td>
                <td class="text-right">
                    <label>номер:</label>
                </td>
                <td>
                    <input type="text"
                           class="k-textbox"
                           maxlength="20"
                           ng-required="searchCustCtrl.validation.docReq()"
                           data-ng-model="searchCustCtrl.searchCustomerParams.documentNumber"/>
                </td>
            </tr>
            <tr class="ip">
                <td></td>
                <td colspan="3" class="text-right">
                    <label>унікальний номер запису в ЄДДР:</label>
                </td>
                <td>
                    <input type="text"
                           class="k-textbox"
                           maxlength="14"
                           ng-required="searchCustCtrl.validation.docEddrIdReq()"
                           data-ng-model="searchCustCtrl.searchCustomerParams.eddrId"/>
                </td>
            </tr>
            <tr class="ip">
                <td>
                    <label><b>Клієнт:</b></label>
                </td>
                <td>
                    <label>ім'я: </label>
                </td>
                <td>
                    <input type="text"
                           class="k-textbox"
                           ng-required="searchCustCtrl.validation.custReq()"
                           data-ng-model="searchCustCtrl.searchCustomerParams.firstName"/>
                </td>
                <td class="text-right">
                    <label>прізвище: </label>
                </td>
                <td>
                    <input type="text"
                           class="k-textbox"
                           ng-required="searchCustCtrl.validation.custReq()"
                           data-ng-model="searchCustCtrl.searchCustomerParams.lastName"/>
                </td>
            </tr>
            <tr class="ip">
                <td>
                    <label><b>Дата народження:</b> </label>
                </td>
                <td colspan="4">
                    <input type="text"
                           class="k-textbox"
                           kendo-masked-date-picker="searchCustCtrl.birthDate"
                           ng-required="searchCustCtrl.validation.birthDateReq()"
                           k-options="searchCustCtrl.birthDateOptions"
                           k-ng-model="searchCustCtrl.searchCustomerParams.birthDate"/>
                </td>
            </tr>       
            <tr class="psAndLp">
                <td>
                    <label><b>Найменування клієнта (нац.):</b></label>
                </td>
                <td colspan="4">
                    <input type="text"
                           class="k-textbox"
                           ng-required="searchCustCtrl.validation.fullNameReq()"
                           style="width: 400px"
                           data-ng-model="searchCustCtrl.searchCustomerParams.fullName"/>
                </td>
            </tr>
            <tr class="psAndLp">
                <td>
                    <label><b>Найменування клієнта (міжн.):</b></label>
                </td>
                <td colspan="4">
                    <input type="text"
                           class="k-textbox"
                           style="width: 400px"
                           ng-required="searchCustCtrl.validation.fullNameInternationalReq()"
                           data-ng-model="searchCustCtrl.searchCustomerParams.fullNameInternational"/>
                </td>
            </tr>
            <tr class="psAndLp">
                <td>
                    <label><b>Дата реєстрації:</b> </label>
                </td>
                <td colspan="4">
                    <input type="text"
                           class="k-textbox"
                           kendo-masked-date-picker="searchCustCtrl.birthDate"
                           ng-required="searchCustCtrl.validation.dateOnReq()"
                           k-options="searchCustCtrl.birthDateOptions"
                           k-ng-model="searchCustCtrl.searchCustomerParams.dateOn" />
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>GCIF:</b></label>
                </td>
                <td colspan="4">
                    <input type="text"
                           class="k-textbox"
                           ng-required="searchCustCtrl.validation.gcifReq()"
                           data-ng-model="searchCustCtrl.searchCustomerParams.gcif"/>
                </td>
            </tr>
            <tr class="lp">
                <td>
                    <label><b>Відокремлений підрозділ:</b></label>
                </td>
                <td>
                    <input type="checkbox" class="k-checkbox" ng-model="searchCustCtrl.isCheckedSeparatedSubdivision" ng-change="searchCustCtrl.changeSubdivisionCheckBox()"/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>                    
                </td>
                <td>                    
                </td>
                <td>                    
                </td>
                <td class="text-right">
                    <button ng-click="searchCustCtrl.addSeparatedSubdivision()"
                            type="button"
                            class="btn btn btn-primary btnAddSeparatedSubdivision lp"
                            ng-disabled="searchCustCtrl.btnAddSeparatedSubdivisionDisabled">
                        <i class="fa fa-plus"></i> Зареєструвати відокремлений підрозділ
                    </button>
                    <button ng-click="searchCustCtrl.searchCustomer()"
                            type="button"
                            class="btn btn btn-primary"
                            ng-disabled="searchCustCtrl.serviceState.isLoading">
                        <i class="fa fa-search"></i> Пошук
                    </button>
                </td>                
            </tr>
        </table>
    </div>

    <div class="status alert alert-danger"
         ng-show="searchCustCtrl.validation.message"
         ng-bind-html="searchCustCtrl.validation.message"></div>

    <div ng-show="!searchCustCtrl.serviceState.lastUpdate" class="text-center text-success">
        Заповніть форму пошуку
    </div>

    <div class="status alert alert-danger" ng-show="searchCustCtrl.serviceState.customerNotFind && searchCustCtrl.serviceState.lastUpdate && !searchCustCtrl.validation.message">
        За вказаними параметрами не знайдено жодного клієнта.<br>
        Ви можете
        <button class="k-button" ng-click="searchCustCtrl.viewCustomer(null)">
            <i class="pf-icon pf-16 pf-add_button"></i> Зареєструвати
        </button> нового.
    </div>


    <div class="text-center" ng-show="searchCustCtrl.serviceState.searchText">

        <div class="circle-progress">
            <strong></strong>
            <span ng-bind="searchCustCtrl.serviceState.searchText"></span>
        </div>
    </div>


    <div ng-show="searchCustCtrl.customersList.length > 0 || searchCustCtrl.csbCustomersList.length > 0 ">
        <div data-kendo-grid="searchCustCtrl.customersGrid"
             data-options="searchCustCtrl.customersGridOptions"></div>
    </div>
</div>
