<div id="error" style="display:none; background-color: #ff9191;">
    <table>
        <tr>
            <td><h4 id="msg"></h4></td>
            <td><button type='button' class='k-button' title="Інформація для розробника" id="showStack"><span class='k-sprite pf-icon pf-16 pf-info'></span></button></td>
        </tr>
        <tr>
            <td><p id="stack" style="display:none; background-color: #b3b3b3;"></p></td>
        </tr>
    </table>
</div>
