<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <location>
    <system.web>
      <httpRuntime maxRequestLength="1024000" executionTimeout="2400" />
      </system.web>
  </location>
 <system.webServer>
  <security>
    <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" />
    </requestFiltering>
  </security>
 </system.webServer>
</configuration>
