<style>
    .cl-admin .cl-user-box {
        width: 500px;
        border: 1px solid #e7eaec;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    .cl-user-box .k-edit-box {
        width: 100%;
        border: 1px solid #e7eaec;
        border-radius: 10px;
    }

    .cl-users input, .cl-users select {
        width: 100%;
    }

    .cl-users table td {
        height: 50px;
        vertical-align: top;
    }

    .cl-users .cl-user-comtrols {
        padding-left: 20px;
    }

    .cl-users .cl-users-list .cl-user-box {
        float: left;
    }

    .cl-user-comtrols button {
        width: 35px;
    }


    button .fa {
        line-height: 1.3em;
        font-size: 1.3em;
    }
</style>
<script src="@Url.Content("~/scripts/respond.min.js")"></script>
<script src="@Url.Content("~/Areas/CorpLight/Scripts/Accounts.js")"></script>
<h1>Доступ до рахунків CorpLight</h1>

<div id="accountsGrid"></div>
