@*@Scripts.Render("~/Async/bundles/tasksCtrl")*@
<script src="~/Areas/Async/Scripts/tasksCtrl.js"></script>
<div data-ng-controller="Async.Tasks">
    <h1>Запущені задачі</h1>
    <div data-kendo-toolbar="tasksToolbar" k-options="toolbarOptions" ></div>
    <div data-kendo-grid="tasksGrid" k-options="tasksGridOptions"></div>

</div>

