@model System.Int32
@{
    Layout = null;
}
<div id="partial-enc-window">
    <div id="atm-header">
        <div id="atm-close-button" onclick="ClosePartialEncWindow()"></div>
        <label>Часткова інкасація</label>
    </div>
    <div style="height: 200px; width: 200px; padding-left: 20px;">
        <span>sgfsdfsfdsdfsdf</span><br />
        <span>sgfsdfsfdsdfsdf</span><br />
        <span>sgfsdfsfdsdfsdf</span><br />
        <span>sgfsdfsfdsdfsdf</span><br />
    </div>
</div>