<!-- VizaViewWindow : Перегляд статусів заявки -->
<div kendo-window="VizaViewWindow" k-visible="false" k-modal="true">
    <div ng-controller="Zay.VizaViewCtrl">
        <div
            kendo-grid="gridVizaView"
            k-options="gridVizaViewOptions"
            >
        </div>
    </div>
</div>