@using Areas.Payreg.Models

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Перелік провайдерів СБОН";
}


<h2>@ViewBag.Title</h2>


@(Html.Kendo().Grid<V_STO_SBON_PROVIDER>()
              .Name("grid_sbon_providers")
              .AutoBind(true)
              .Columns(columns =>
              {
                  columns.Bound(c => c.ID);
                  columns.Bound(c => c.SBON_CONTRACT_NUMBER).Title("№ контракту");
                  columns.Bound(c => c.RECEIVER_MFO).Title("МФО");
                  columns.Bound(c => c.RECEIVER_ACCOUNT).Title("№ раухнка");

                  columns.Bound(c => c.RECEIVER_NAME).Title("Назва отримувача");
                  columns.Bound(c => c.RECEIVER_EDRPOU).Title("ЕДРПОУ");
                  columns.Bound(c => c.PAYMENT_NAME).Title("Найменування платежу");
                  columns.Bound(c => c.TRANSIT_ACCOUNT).Title("№ транз. раухнка");
                  columns.Bound(c => c.STATE).Title("Стан");
              })
              .Resizable(resize => resize.Columns(true))
              .Pageable(pager => pager
                  .PageSizes(true)
                  .Refresh(true))
              .Sortable()
              .Filterable()
              .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("GetSbonPropviders", "Payreg"))
                .Events(e => e.Error("onError")
                )
      ))

@(Html.Kendo().Window().Name("errorWnd")
    .Title("Помилка!")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(500)
)



<script type="text/javascript">
    function showModalWindow(content) {
        var wnd = $("#errorWnd").data("kendoWindow");
        wnd.content(content);
        wnd.center().open();
    }

    function onError(e) {
        if (e.status == "customerror") {
            var exception = e.errors;
            showModalWindow(exception.message);
        }
    }
</script>