@font-face {
    font-family: "Segoe UI Web Light";
    font-style: normal;
    font-weight: 100;
    src: local("Segoe UI Light"), local("Segoe UI"), local("Helvetica Neue");
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: "Segoe UI Web Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Segoe UI"), local("Helvetica Neue");
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "Segoe UI Web Semibold";
    font-style: normal;
    font-weight: bold;
    src: local("Segoe UI Semibold"), local("Segoe UI Bold"), local("Segoe UI"), local("Helvetica Neue");
    unicode-range: U+0000-00FF;
}

#productTD
{
    width:477px;
    height:490px;
    font-family:"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
    margin:0;
    padding:0;
    overflow:hidden;
    border:none;
    color:#fff;
}
img {border:none;}
div.mboxDefault {visibility:hidden;}

.standard1 h1
{
    font-family:"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial;
    font-weight:100;
    font-size:30px;
    line-height:29px;
    margin: 0px 0px 0px 0px;
    padding:0; 
    color:#fff;
}

.standard1.small h1
{
    font-size:26px;    
}

.standard1.smallest h1
{
    font-size:18px;
    line-height:20px;
}

.standard1 h1.nosubheading
{
   padding:10px 0px 28px 0px;
}

.standard1 p
{
   /* font-family:"Segoe UI Symbol","Helvetica Neue",Arial;*/
    font-family:"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial;
    font-weight:100;
    font-size:15px;
    line-height:16px;
    margin:12px 0px 18px 0px;
    padding:0; 
}

.standard1.small p
 {
    font-size:12px;
    margin: 10px 0px 16px 0px;
}

.standard1 a
{
    display: inline-block;
    font-family:"Segoe UI Web Regular";
    font-size: 13px;
    font-weight: 100;
    line-height: 10px;
    padding: 6px 7px;
	visibility: hidden;
}

 div.mboxDefault.throttle {visibility:visible;}
       
div#offer1 
{
    width:385px;
    height:490px;
    overflow:hidden;
}
div#offer1 img
{
    height:340px;
    width:385px;
    border:none;
    display:block;
}
div#offer1 div#text1
{
    height:150px;
    width:385px;
    padding:48px 31px 25px 30px;
}
div#logobig-img {
    background-repeat: no-repeat; 
    background-position: center; 
    width: 385px; 
    height: 150px; 
    background-color: #26A5EC;
}
/*Brands*/

.hotmail1 {background-color:#26A5EC;}
.hotmail1 a, .hotmail1 a:hover, .hotmail1 a:visited {color:#26A5EC;}


.hotmail1 a:active {
    opacity:1;
    filter:alpha(opacity=100);
    background-color:black;
    color:white;
}
    .loginBloc {
        -webkit-animation: hello 0.5s;
        -moz-animation: hello 0.5s;
        -ms-animation: hello 0.5s;
        -o-animation: hello 0.5s;
        animation: hello 0.5s;
    }
    .holy-img {
      width: 385px;
      height: 340px;
      background-repeat: no-repeat;
      text-align: center;
      font-weight: bold;
    }
    .holy-img .holy-img-month {
       padding-top: 35px;
       color: #fff;
       font-size: 42px;
     }
    .holy-img .holy-img-day {
      padding-top: 0px;
      color: #666;
      font-size: 120px;
    }
    .holy-img .holy-img-week-day {
      padding-top: 0px;
      color: #FFC21C;
      font-size: 42px;
    }
    .holy-span,.holy-span-date {
      background-color: #708090;
      opacity: 0.70;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
      -khtml-opacity: 0.70;
      -moz-opacity: 0.70;
      text-align: center;
      position: absolute;
      left: 0;
      width: 100%;
      display: block;
    }
    .holy-span {
      bottom: 0;
      color: white;
      font-size: 15px;
      padding: 5px;
    }
.holy-span-date {
    color: #7fb900;
    font-size: 25px;
}
