@{
    ViewBag.Title = "";
}
<script src="~/Areas/Way/Scripts/WayApp/Way.FilesCtrl.js"></script>
<style>
    .form-group {
        margin-bottom: 10px;
    }

    .form-group .k-colorpicker {
        width: 55px;
    }

    .form-group > div > input,
    .form-group > div > textarea,
    .form-group > div > .k-widget {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .form-group > div > textarea,
    .form-group > div > table textarea {
        margin-bottom: 5px;
    }

    .form-group .k-datepicker {
        width: 140px !important;
    }

    .form-group .k-datetimepicker {
        width: 180px !important;
    }

    .form-group .k-tool-group .k-combobox,
    .form-group .k-tool-group .k-dropdown {
        width: 120px;
    }

    .form-group .k-tool-group .k-colorpicker {
        width: 60px;
        float: left;
    }
</style>
<div ng-controller="Way.FilesCtrl">
    <div kendo-grid="filesGrid" data-options="filesGridOptions"></div>
    <div class="form-group" style="margin:10px">
        <label class="control-label col-xs-4 col-sm-4"><input type="checkbox" ng-model="allSelected" ng-change="selectAll()"> Обрати всі</label>        
    </div>
    <div class="window-footer text-right">
        <button ng-click="uploadFiles()" id="submitForm" class="k-button k-primary" >
            <i class="pf-icon pf-16 pf-arrow_download"></i> Завантажити
        </button>        
    </div>    
</div>


<script>
    function validateUploadForm() {
        if (document.getElementById('fileUpload') && document.getElementById('fileUpload').value == '') {
            return false;
        } else {
            bars.ui.loader($('#submitForm'), true);
        }
        return true;
    }
</script>
