@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "Way4. Імпорт та обробка файлів";
}
<script src="~/Areas/Way/Scripts/WayApp/Way.UploadCtrl.js?v1.0.161"></script>
<script src="~/lib/jsZip/jszip.js"></script>

<div ng-controller="Way.UploadCtrl">
    <div class="page-header">
        <h1>
            {{Title}}
        </h1>
    </div>
    <!-- upload section -->
    <!--div style="margin-bottom: 10px; /*height: 200px; overflow:auto;*/">
        <h4>Завантажити файл</h4>
        <input name="files"
               type="file"
               kendo-upload
               k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: true }"
               k-success="uploadSuccess" k-error="uploadError" k-upload="uploadOptions"/>
    </div-->
    <!-- toolbar section -->
    <div kendo-toolbar class="toolbarLayout" k-options="_toolbarOptions" style="margin-bottom: 10px;"></div>

    <!-- grid section -->
    <div kendo-grid="grid" k-options="_gridOptions" k-on-change="onSelection(data, kendoEvent)">
        <div k-detail-template>
            <div kendo-tabstrip k-options="_tabstripOptions">
                <ul>
                    <li>Оброблені</li>
                    <li>Необроблені</li>
                    <li>Вилучені</li>
                </ul>
                <div>
                    <div kendo-grid="proccessedGrid" k-options="detailGridOptions(dataItem)" k-on-change="onDetailSelection(data, kendoEvent)" id="proccessedGridId"></div>
                </div>
                <div>
                    <div kendo-grid="noProccessedGrid" k-options="noProccessedOptions(dataItem)" id="NoProccessedGridId" k-on-change="onSelectionAdd(data,kendoEvent, 'enableDelBtn', 'noProccessedGridItem')"></div>
                </div>
                <div>
                    <div kendo-grid="DeletedGrid" k-options="DeletedOptions(dataItem)" id="DeletedGridId" k-on-change="onSelectionAdd(data,kendoEvent, 'enableRevBtn', 'DeletedGridItem')"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .k-grid-header th.k-with-icon .k-link {
        margin-right: 0px;
        font-size: 11px;
    }

    .k-header .k-link {
        text-align: center;
        font-size: 11px;
    }

    .k-grid-header th.k-header, .k-filter-row th {
        text-align: center;
        font-size: 11px;
    }

    .k-list-optionlabel {
        font-size: 13px;
    }

    #currencyUse.k-state-active {
        background-color: #32408f !important;
        color: white !important;
    }

    .k-grid TBODY .k-button {
        min-width: 0px;
    }


    .k-state-active.k-grid-filter {
        background-color: darkseagreen;
    }

    .k-filter-menu [type="submit"] {
        width: 54% !important;
        margin-right: 1% !important;
    }

    .k-filter-menu [type="reset"] {
        width: 44% !important;
        margin-left: 1% !important;
    }
</style>
