@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Конструктор схем розмежувань та перерахувань";

}
<div ng-controller="SeparationAndEnumerationCtrl as SepEnumCtrl">
    
</div>
<script src="~/Areas/AdminGL/Scripts/Controllers/SeparationAndEnumerationCtrl.js"></script>