BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
BODY {
	FONT: small arial,sans-serif; BACKGROUND-COLOR: #fff
}

.Menu, .Menu A, .Menu a:link , .Menu a:visited, .Menu a:hover, .Menu a:active 
{
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	color: Black;
	background-color: #EFF3FB;
	text-align: left;
}


.TopMenu, .TopMenu A, .TopMenu a:link , .TopMenu a:visited, .TopMenu a:hover, .TopMenu a:active 
{
	font-family:Arial;
	font-size: 12px;
	font-weight: bold;
	color: #EEE7B9;
}

.Toolbar,  .Toolbar td, .Toolbar td a, .Toolbar A, Toolbar a:link , Toolbar a:visited, Toolbar a:hover, Toolbar a:active 
{
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #10BDC1;
	background-color: #EFF3FB;
}

.DateBox
{
	background-color:InfoBackground;
	text-align:center;
	font-size: 10px;
	color:Navy;
}

.Footer 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: White;
}

.ZoneHeader, .ZoneHeader table
{
	color: black;
	background-color: #C0C0C0;
	text-align: center;
}

.EditorZone, .CatalogZone
{
	background-color: #E1E1E1;
}

.ZoneInstruction, .EmptyZone
{
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	
	font-family: Tahoma;
	font-size: 8pt;
	color: #5072CB;
}

.CatalogPartLink
{
	color: Green;
}

.WebPart
{
	background: #E1EDFF;
}
.WebPartTitle, .WebPartTitle SPAN, .WebPartTitle a, .WebPartTitle a:visited, .WebPartTitle a:link , .WebPartTitle a:hover, .WebPartTitle a:active 
{
	color: #1E3062;
	font-family: Arial;
	background-color: #10BDC1;
	width: 100%;
	font-size: 10pt;
	font-weight: bold;

}

.WebPartMenu
{
	background-color:Lime;
}

WebPartMenuPopup, WebPartMenuPopup span, WebPartMenuPopup table
{
	background-color: Blue;
}

.WebPartMenuHover {
	font-family: Verdana;
	background-color: #163A98;
	font-family: Lucida Console;

}
P
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	margin-top: 3pt;
	margin-bottom: 2pt;
}

H1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #1A808C;
}

H2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 10px;
	font-weight: bold;
	color: #1A808C;
	margin-bottom: 3pt;
}

H3
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	color: #1A808C;
}
