<div class="loginColumns animated fadeInDown container">
    <div class="row ibox-content">
        <div class="col-sm-6">
            <div class="logo"></div>

            <div class="slogan">
                <h1 class="title">АБС "БАРС" фронт офіс</h1>
                <p class="text">
                    <b>Банківські Автоматизовані Регіональні Системи</b>
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="login-form">
                <h1>Вхід в систему</h1>
                <span>Банківська дата</span>
                <div class="bank-date">
                    <div class="bank-date-head bg-blue">
                        <div class="day">
                            <span class="day-num">17</span>
                            <span class="day-name">вівторок</span>
                        </div>
                        <div class="month">
                            <span class="month-name">березня</span>
                        </div>
                    </div>
                </div>
                <form class="m-t" role="form" action="">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Користувач" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль" required="">
                    </div>
                    <button type="submit" class="btn btn-blue btn-block full-width m-b bg-blue no-border-radius width">
                        УВІЙТИ
                    </button>
                    <a href="#">
                        Відновити пароль користувача
                    </a>
                </form>
                <p class="m-t">
                    Для створення облікового запису зверніться до адміністратора
                </p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            © 2003-@DateTime.Now.Year UNITY-BARS
        </div>
        <div class="col-sm-6 text-right">
            <a id="ftrHelp" class="footerlink" href="http://www.u-b.kiev.ua/forum/"><i class="fa fa-comment-o"></i> Форум</a>
            &nbsp;&nbsp;
            <a id="ftrFdbk" class="footerlink" href="/barsroot/barsweb/"><i class="fa fa-phone"></i> Служба підтримки</a>
        </div>
    </div>

</div>
