
.layer {BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; DISPLAY: block; PADDING-LEFT: 0px; Z-INDEX: 2; BACKGROUND: #cccccc; VISIBILITY: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: black 1px solid; WIDTH: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; POSITION: absolute }

.filter_title {font-family:Verdana; color:Navy;font-size:14pt}
.filter_fields {font-family:Verdana; color:white;font-weight:bold;font-style:italic;width:100%;font-size:10pt;background:#666666;}
.filter_val {font-weight:bold;background:#ffffe1;width:100%}
.filter_dd {width:100%}
.filter_bt {font-family:Verdana; color:Navy;height:18px; font-size:8pt;width:100px}
.filter_list {background:#ffffe1;color:Maroon;font-family:Verdana;font-size:8pt;width:100%;}
.filter_cur {font-family:Verdana; color:Green;font-size:8pt;}

.pager_num {vertical-align:middle;color:Navy;font-size:16px;font-family:Arial;font-weight:bold;}
.pager_img {cursor:hand;vertical-align:middle}

.footer_body {color:Navy;background-color:lightgrey;font-family:Verdana;font-size:8pt;font-weight:bold;}
.footer_PageSize {BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 50px; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: center}

.menu_body {position:relative; top:0; left:0; border:2px solid black;  border-top:2px solid #cccccc; border-left:2px solid #cccccc; background:#666666; height:100%; width:200px;} 
.menu_item {position:relative; top:0; left:0; background:#cccccc; border:1px solid black; border-top: 1px solid white; border-left:1px solid white; height:18px; color:black;font-family:verdana; font-weight:normal; padding-left:10px; font-size:8pt; cursor:hand;}

.edit_body{BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; Z-INDEX:1000; BACKGROUND: #cccccc;VISIBILITY: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: black 1px solid;PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; POSITION: absolute;}
.edit_label{font-family:Arial;font-size:10pt;}

.s_filter_atr{font-size: 10pt;width: 180px;font-family: Arial;}
.s_filter_op{font-size: 10pt;width: 100px;font-family: Arial;}
.s_filter_lb{font-size: 10pt;font-family: Arial;}
.s_filter_val{width: 150px;font-family: Arial;}

.s_filter_ok{font-size: 10pt;width: 100px;color: green;font-family: Arial;}
.s_filter_cancel{font-size: 10pt;width: 100px;color: red;font-family: Arial;}