@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<script src="@Url.Content("~/lib/jsZip/jszip.js")"></script>
<script src="@Url.Content("~/Areas/CreditUi/Scripts/authorization.js")"></script>
<style>
    .k-edit-form-container input:last-child, .k-window-content input:last-child {
        height: 20px;
    }

    .form-control {
        height: 30px;
        padding: 3px 12px;
        font-size: 13px;
    }
</style>
<div id="dialogAuthorication">
    <div align="center" style="margin-bottom:10px">
        <h2>Кредитний договір:</h2>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label" for="auth_cc_id">Номер КД: </label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="auth_cc_id" readonly />
            </div>
        </div>
        <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="col-md-4">
                <label class="control-label" for="auth_date">Дата початку:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="auth_date" readonly />
            </div>
        </div>
    </div>
    <div align="center">
        <h2>Параметри авторизації:</h2>
    </div>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-2">
                <label class="control-label" for="auth_type">Тип: </label>
            </div>
            <div class="col-md-5">
                <input class="form-control" id="auth_type" style="width: 148px" />
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-md-2">
                <label class="control-label" for="auth_initiative">Ініціатива: </label>
            </div>
            <div class="col-md-5">
                <input class="form-control" id="auth_initiative" />
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-md-2">
                <label class="control-label" for="auth_pidst">Підстава: </label>
            </div>
            <div class="col-md-5">
                <input class="form-control" id="auth_pidst" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <br><button id='bt_auth_ok' class='k-button' style="margin-left: 30%">
                    <span class='pf-icon pf-16 pf-ok'></span> Авторизувати
                </button>
            </div>
        </div>
    </div>
</div>
