@{
    Layout = null;
    //ViewBag.Title = "";
}
<div ng-controller="CreditUi.dataMaturityCtrl" style="width: 100%">
    <table>
        <tr>
            <td>
                <label>Шаблон погашення рахунку "SG"</label><span style="color: red; margin-left:10px" ng-show="!isViddValid()">Оберіть вид</span>
            </td>
            <td>
                <select kendo-drop-down-list="ddlRang" name="ddlRang" id="ddlRang" style="width: 400px" k-ng-model="credit.rangValue" k-options="ddlRangOptions" k-ng-disabled="isSaveFunc()"></select>
            </td>
        </tr>
        <tr>
            <td>
                <div class="panel panel-default" style="display: inline-flex;width:100%;height:310px">
                    <div class="panel-body">
                        <div class="form-group">
                            <label><b>Погашення основного боргу</b></label>
                            <table border="0">
                                <tr>
                                    <td colspan="2">
                                        <label>Періодичність</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <select kendo-drop-down-list name="ddlFreq" id="ddlFreq" style="width: 280px" k-ng-model="credit.freqValue" k-options="ddlFreqOptions" k-ng-disabled="isSaveFunc()"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>День</label>
                                    </td>
                                    <td>
                                        <label>Перша платіжна дата</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input kendo-numeric-text-box k-options="{format: '0',min:1,max:31}" ng-blur="onChangeNumber('dayOfPayValue')" name="tbDayOfPay" id="tbDayOfPay" k-ng-model="credit.dayOfPayValue" style="width: 100px" ng-disabled="isSaveFunc()" />
                                    </td>
                                    <td>
                                        <input masked-date-picker kendo-date-picker name="dpFirtsPayDate" id="dpFirtsPayDate" k-ng-model="credit.firstPayDateValue"
                                               k-options="dpDateFormatOptions" data-firstpaydate-msg="Дата погашення менше дати видачі" k-ng-disabled="isSaveFunc()" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: red" ng-show="!isDayOfPayValueValid()">Обов'язкове</span>
                                    </td>
                                    <td>
                                        <span style="color: red" ng-show="!isFirtsPayDateValueValid()">Обов'язкове</span>
                                    </td>
                                </tr>
                                <tr colspan="2">
                                    <td>
                                        <label>Канікули: </label>
                                    </td>
                                </tr>
                                <tr colspan="2">
                                    <td colspan="2">
                                        <select kendo-drop-down-list style="width: 140px" k-ng-model="credit.holidayValue" k-options="ddlListHolidays" ng-disabled="isSaveFunc()"></select>
                                    </td>
                                </tr>
                                <tr colspan="2">
                                    <td colspan="2">
                                        <label>Тип урегулювання дня погашення: </label>
                                    </td>
                                </tr>
                                <tr colspan="2">
                                    <td colspan="2">
                                        <select kendo-drop-down-list style="width: 270px" k-ng-model="credit.daynp" k-options="ddlDayNP" ng-disabled="isSaveFunc()" ></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default" style="display: inline-flex;width:100%;height:310px">
                    <div class="panel-body">
                        <div class="form-group">
                            <label><b>Погашення процентного боргу</b></label>
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <label>Періодичність</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <select kendo-drop-down-list name="ddlFreqInt" id="ddlFreqInt" style="width: 280px" k-ng-model="credit.freqIntValue" k-options="ddlFreqIntOptions" k-ng-disabled="isSaveFunc()"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="checkbox" ng-model="credit.diffDaysValue" id="chkDiffDays" name="chkDiffDays" ng-disabled="isSaveFunc()"/>  
                                        <label>Призначити погашення % у відмінні дні від основного боргу</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>День</label>
                                    </td>
                                    <td>
                                        <label>Перша платіжна дата</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input kendo-numeric-text-box k-options="{format: '0',min:1,max:31}" ng-blur="onChangeNumber('dayPayDiffValue')" name="tbDayPayDiff" id="tbDayPayDiff" k-ng-model="credit.dayPayDiffValue" style="width: 100px"
                                               ng-disabled="!credit.diffDaysValue || isSaveFunc()" />
                                    </td>
                                    <td>
                                        <input masked-date-picker kendo-date-picker name="dpFirtsPayDiff" id="dpFirtsPayDiff" k-ng-model="credit.firstPayDiffValue" k-options="dpDateFormatOptions"
                                               ng-disabled="!credit.diffDaysValue || isSaveFunc()" data-firstpaydiff-msg="Дата погашення менше дати видачі" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <label>За попередній</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <select kendo-drop-down-list name="ddlPrevious" id="ddlPrevious" style="width: 150px" k-ng-model="credit.previousValue" k-options="ddlPreviousOptions" k-ng-disabled="isSaveFunc()"></select>
                                        <span style="color: red" ng-show="!isFlagsValid()">92 - неможливе значення FLAGS</span>
                                        <label style="color: green"  ng-show="isFlagsValid()">значення FLAGS:</label>  <span style="color: green" ng-show="isFlagsValid()" ng-bind="credit.holidayValue.ID + credit.previousValue.ID"> </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<style>
    .k-invalid-msg.field-validation-error{
        position: absolute !important;
        width: auto;
    }
</style>