@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "";
}
<script src="~/Areas/CreditUi/Scripts/creditUiServices.js"></script>
<script src="~/Areas/CreditUi/Scripts/maskedDatePicker.js"></script>
<script src="~/Areas/CreditUi/Scripts/mainCreditCtrl.js"></script>
<script src="~/Areas/CreditUi/Scripts/creditParamsCtrl.js"></script>
<script src="~/Areas/CreditUi/Scripts/dataMaturityCtrl.js"></script>
<script src="~/Areas/CreditUi/Scripts/commitionLimitCtrl.js"></script>
<script src="~/Areas/CreditUi/Scripts/moreCreditParamsCtrl.js"></script>
<div ng-controller="CreditUi.mainCreditCtrl">
    <h1>{{Title}}</h1>
    <div kendo-tool-bar="mainTool">
        <button class="k-button" ng-click="save()" ng-disabled="!isSaveBtnEnabled()"><span class='pf-icon pf-16 pf-save'></span> Зберегти</button>
        <button class="k-button" ng-click="prolongation()" ng-show="nd != null && !isTagOnly"><span class='pf-icon pf-16 pf-calendar-update'></span> Пролонгація</button>
        <button class="k-button" ng-click="creditUpdate()" ng-show="nd != null"><span class='pf-icon pf-16 pf-reload_rotate'></span> Обновити</button>
    </div>
    <fieldset>
        <form kendo-validator="validator" k-options="mainValidationOptions">
            <div kendo-tab-strip="mainTabStrip" k-options="tabStripMainOptions">
                <ul>
                    <li class="k-state-active" ng-show="!isTagOnly">Параметри КД</li>
                    <li ng-show ="!isTagOnly">Дані про погашення</li>
                    <li ng-show="!isTagOnly">Комісія та Ліміт</li>
                    <li>Дод. параметри КД</li>
                </ul>
                <div>
                    <div ng-include="'/barsroot/CreditUi/newcredit/creditparams'" ng-disabled="isSave"></div>
                </div>
                <div>
                    <div ng-include="'/barsroot/CreditUi/newcredit/datamaturity'" ng-click="datamaturityopen()" ng-disabled="isSave"></div>
                </div>
                <div>
                    <div ng-include="'/barsroot/CreditUi/newcredit/commitionlimit'" ng-disabled="isSave"></div>
                </div>
                <div>
                    <div ng-include="'/barsroot/CreditUi/newcredit/morecreditparams'"></div>
                </div>
            </div>
        </form>
    </fieldset>
    <div kendo-window="wndProlongation" k-title="'Вкажіть дату пролонгації'"
         k-height="170" k-visible="false" k-modal="true"
         k-on-open="win2visible = true" k-on-close="win2visible = false">
        <table class="table-prolong">
            <tr>
                <td><label>Дата початку дії</label></td>
                <td><input kendo-date-picker k-options="dpFormatOptions" k-ng-model="credit.startValue" k-ng-disabled="true" /></td>
            </tr>
            <tr>
                <td>Нова дата закінчення дії</td>
                <td><input kendo-date-picker k-options="dpFormatOptions" k-ng-model="prolong.dateEnd" /></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:right">
                    <button class="k-button" ng-click="prolongationSave()" ng-show="nd != null"><span class='pf-icon pf-16 pf-ok'></span> Зберегти</button>
                    <button class="k-button" ng-click="prolongationClose()" ng-show="nd != null"><span class='pf-icon pf-16 pf-delete'></span> Відмінити</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<style>
    .table-prolong td {
        padding: 10px;
    }
    .lbl-top {
        display: block;
    }
    table td {
        padding: 3px;
    }
    input:disabled {
        background-color: #eee;
        color: #808080;
    }

        input:disabled:hover {
            background-color: #eee;
            color: #808080;
        }

    .k-state-disabled {
        opacity: 1;
    }
</style>
