@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "ZAY.Розподіл надходжень валютної виручки";
}

<script src="~/Areas/Zay/Scripts/AverageEarnings/AverageEarningsCtrl.js?v1.1"></script>
<style>
    .change-background {
    background-color: #D1F2EB !important;
}

</style>
<div class="page-header">
    <h1>@ViewBag.Title </h1>
</div>

<div ng-app="BarsWeb.Controllers" ng-controller="SplitSum">
    <div id="_sGridOptions" kendo-grid style="height: 500px" k-options="_sGridOptions"></div>


    <div id="baseWin" kendo-window="baseWin"  k-visible="false"
         k-modal="true">
        <div name="ControllPanel">
            <div class="form-inline">
                <button class="k-button" ng-click="ReloadGrid('_SpliterGridOptions')" title="Оновити записи у таблиці">
                    <img src="~/Content/images/PureFlat/16/reload_rotate.png" width="16" height="15" />
                </button>
                <button class="k-button" ng-click="DeleteSetting()" title="Видалити запис">
                    <img src="~/Content/images/PureFlat/16/delete.png" width="16" height="15" />
                </button>
                <button class="k-button" ng-click="SaveSplitSettings()" title="Зберегти зміни у Базі даних">
                    <img src="~/Content/images/PureFlat/16/save.png" width="16" height="15" />
                </button>
</div>
        <br />
        <div id="_SpliterGridOptions" kendo-grid k-options="_SpliterGridOptions"></div>
    </div>
</div>
</div>