@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<script src="~/Areas/OpenCloseDay/Scripts/historyOpenClose.js" charset="utf-8"></script>

<form class="form-horizontal">
    <div class="panel panel-default" style="width:800px;float: none; margin-left: auto; margin-right: auto;">
        <div class="panel-heading text-center" >Історія відкриття\закритя банківського дня</div>
        <div class="panel-body">
            <div id="historyGrid">

            </div>
        </div>
</form>