<!DOCTYPE html>
<html>
<head>
    <title>Повідомлення про запит сертифіката</title>

    <style type="text/css">
        .style1 {
            height: 21px;
        }

        .txt {
            font-size: 16px;
        }

        .style2 {
            height: 33px;
        }
    </style>

</head>
<body onload="LoadParams();">
    <form id="FormPrint" runat="server">
        <table id="PrintedPage" style="background: #FFFFD9; margin: 4px; width: 768px;" border="0"
               cellpadding="0" cellspacing="0" class="border">
            <tr>
                <td id="tdToFile" align="left" bgcolor="#F2F2F2" runat="server">
                    &nbsp; File: &nbsp;
                    <input id="tbFileName" type="text" maxlength="128" style="width: 400px" />
                    &nbsp;
                    <input id="ButtonSave" onclick="SaveIntoFile();" type="button" value="Зберегти в файл"
                           title="Зберегти в файл" />
                </td>
                <td align="center" bgcolor="#F2F2F2">
                    <input id="Button1" type="button" value="Роздрукувати" onclick="ClickToPrint();" />
                </td>
            </tr>
        </table>


        <table id="docPage" style="font-size: 10pt; margin: 4px; width: 768px;" class="border">
            <tr>
                <td align="left">
                    &nbsp;
                </td>
                <td align="right" colspan="2">
                    <label ID="LabelCA" style="font-size:medium; font-weight:bold; font-style:italic">
                        Центр сертифікації
                    </label>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="groupHeader">
                <td align="center" colspan="3" style="border-color: #000000; border-top-style: solid; border-width: thin;">
                    <label ID="Label27" style="font-weight:bold" class="txt">
                        Запит на одержання сертифіката
                    </label>
                </td>
            </tr>
            <tr class="RowStyle">
                <td align="left" class="style1">
                    <label ID="Label28" style="font-weight:bold;font-size:14px;" class="txt">
                        Користувач
                    </label>
                </td>
                <td valign="top" align="left" colspan="2" class="style1">
                    <label ID="LblCustomer" style="font-weight:bold;" class="txt"
                           meta:resourcekey="LblCustomerResource1">

                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label ID="Label29" style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label29Resource1">
                        Підрозділ ЦСК
                    </label>
                </td>
                <td valign="top" align="left" colspan="2">
                    <label ID="LblBranch" class="txt"
                           meta:resourcekey="LblBranchResource1">

                    </label>
                </td>
            </tr>
            <tr id="trO" class="RowStyle" runat="server">
                <td>
                    <label ID="Label40" style="font-weight:bold;white-space: nowrap" class="txt"
                           meta:resourcekey="Label40Resource1">
                        Організація
                    </label>
                </td>
                <td align="left" colspan="2">
                    <label ID="LblO" class="txt"></label>
                </td>
            </tr>
            <tr class="RowStyle">
                <td>
                    <label ID="Label30" style="font-weight:bold;white-space: nowrap" class="txt"
                           meta:resourcekey="Label30Resource1">
                        Реєстраційний №
                    </label>
                </td>
                <td id="tdRegId" align="left" colspan="2">
                    <label ID="LblRegNo" class="txt"
                           meta:resourcekey="LblRegNoResource1">

                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label ID="Label31" style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label31Resource1">
                        Логін
                    </label>
                </td>
                <td id="tdLogin" align="left" colspan="2">
                    <label ID="LblAccount"
                           meta:resourcekey="LblAccountResource1" class="txt">

                    </label>
                </td>
            </tr>

            <tr class="groupHeader">
                <td style="border-bottom: gray 1px solid; height: 21px;" colspan="3" align="left">
                    <label ID="Label1"  style="font-weight:bold;"
                           meta:resourcekey="Label1Resource1">
                        Параметри запиту
                    </label>
                </td>
            </tr>
            <tr class="RowStyle">
                <td>
                    <label ID="Label2" style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label2Resource1">
                        Постачальник ключа
                    </label>
                </td>
                <td id="tdKey" align="left" class="txt" colspan="2"></td>
            </tr>
            <tr class="AlternateRowStyle">
                <td>
                    <label ID="Label3" style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label3Resource1">
                        Публічний ключ:
                    </label>
                </td>
                <td id="tdPubKey" align="left"
                    class="txt" colspan="2"></td>
            </tr>
            <tr class="RowStyle">
                <td>
                    <label ID="Label4" style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label4Resource1">
                        Назва шаблону
                    </label>
                </td>
                <td id="tdTemplateName" align="left" colspan="2" class="txt"></td>
            </tr>
            <tr class="AlternateRowStyle">
                <td>
                    <label ID="Label5" style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label5Resource1">
                        Суб'єкт
                    </label>
                </td>
                <td id="tdSubject" align="left" colspan="2" class="txt"></td>
            </tr>
            <tr class="RowStyle">
                <td>
                    <label ID="Label6"  style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label6Resource1">
                        Публікація в Адресній книзі
                    </label>
                </td>
                <td id="tdAdressbookPublish" align="left" colspan="2" class="txt"></td>
            </tr>
            <tr id="trPkcs10" runat="server">
                <td>
                    <label ID="Label15"  style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label15Resource1">
                        Зміст запиту в форматі PKCS#10 :
                    </label>
                </td>
                <td style="border: gray 1px solid; padding: 4px;" align="left" colspan="2"
                    class="txt">
                    <span id="RequestBody"
                          style="font-family: 'Courier New', Courier, monospace; font-size: 10pt">
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr />

                </td>
            </tr>
            <tr>
                <td>
                    <label ID="Label7"  style="font-weight:bold;"
                           meta:resourcekey="Label7Resource1" class="txt">
                        Зміст запиту підтверджую:
                    </label>
                </td>
                <td align="center" colspan="2">
                    <label ID="LblCustomerSign"
                           style="font-weight:bold;font-style:italic;text-decoration:underline" class="txt"
                           meta:resourcekey="LblCustomerResource1">

                    </label>
                </td>
            </tr>

            <tr>
                <td align="center" class="style2"></td>
                <td align="center" class="style2">
                    <label ID="Label18"  style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label18Resource1">
                        Дата :
                    </label>
                    <span id="SignTime"> </span>
                </td>
                <td align="center" class="style2">

                    __________________<br />
                    <label ID="Label8"  style="font-style:italic"
                           meta:resourcekey="Label8Resource1">
                        (підпис)
                    </label>
                    &nbsp;
                </td>
            </tr>

            <tr>
                <td>
                    <label ID="Label10"  style="font-weight:bold;font-style:italic"
                           meta:resourcekey="Label10Resource1" class="txt">
                        Зміст запиту та підпис власника завіряю:
                    </label>
                </td>
                <td colspan="2" align="center" class="txt">
                    ________________________________________________________________________________________________<br />
                    ________________________________________________________________________________________________<br />
                    ________________________________________________________________________________________________<br />
                    <label ID="Labe55" style="font-style:italic;font-size:small"
                           meta:resourcekey="Label55Resource1">

                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td valign="bottom" align="center">
                    <label ID="Label19"  style="font-weight:bold;" class="txt"
                           meta:resourcekey="Label18Resource1">
                        Дата :
                    </label>
                    "____" "__________"
                    <%= DateTime.Today.ToString("yyyy") %>
                    <label ID="Label16" Text="р." meta:resourcekey="Label16Resource1" />
                </td>
                <td valign="bottom" align="center">
                    ___________________
                    <br />
                    <label ID="Label12" Font-Italic="True" meta:resourcekey="Label12Resource1">
                        (підпис) 
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td align="right" colspan="2">
                    <label ID="Label11" 
                           meta:resourcekey="Label11Resource1">
                        М.П.
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td align="left" colspan="2"></td>
            </tr>
        </table>
    </form>

    <script language="javascript" type="text/javascript">

        function SaveIntoFile() {
            SaveToFile();
        }

        function ClickToPrint() {
            var docPrint = window.open("", "Print", 'height=1024px,width=800px');
            docPrint.document.open();
            docPrint.document.write('<html><head><title>Повідомлення про запит сртифіката</title>');
            docPrint.document.write('</head><body onLoad="self.print(); self.close();"><left>');
            docPrint.document.write('</left><br/><table width="800px" border=0><tr><td ><left>');
            docPrint.document.write(document.getElementById("docPage").innerHTML);
            docPrint.document.write('</td></tr></table></left></font></body></html>');
            docPrint.document.close();
            docPrint.focus();
            docPrint.close();
        }

        function beforeprint() {
            if (document.getElementById("PrintedPage") != null)
                document.getElementById("PrintedPage").style.display = "none";
        }

        function afterprint() {
            if (document.getElementById("PrintedPage") != null)
                document.getElementById("PrintedPage").style.display = "";
            if (document.getElementById("ButtonReady") != null)
                document.getElementById("ButtonReady").disabled = false;
        }

        if (window.onafterprint !== undefined)
            window.onafterprint = afterprint;

        if (window.onbeforeprint !== undefined)
            window.onbeforeprint = beforeprint;

        function ButtonPrint_onclick() {
            if (window.onbeforeprint == undefined)
                beforeprint();
            window.print();
            if (window.onafterprint == undefined)
                afterprint();
        }

        function CloseWindow(resume) {
            //       FormPrint.ButtonReady.disabled = true;
            if (window.showModalDialog)
                window.returnValue = resume;
            else
                window.opener.PrintResult = resume;
            window.close();
            if (!window.showModalDialog)
                window.opener.focus();
        }

        function LoadParams() {
            //    FormPrint.ButtonReady.disabled = true;
            window.PrintedPage.style.display = "";
            window.status = "";
            if (window.dialogArguments) {
                var dialogArguments = window.dialogArguments;
                document.getElementById("tdTemplateName").innerText = dialogArguments.Template;
                document.getElementById("tdKey").innerText = dialogArguments.Key;
                document.getElementById("tdSubject").innerText = dialogArguments.Subject;
                document.getElementById("tdRegId").innerText = dialogArguments.RegId;
                document.getElementById("SignTime").innerText = dialogArguments.SignTime;
                var txt = new String(dialogArguments.PubKey);
                var idx = 0;
                while (idx < txt.length) {
                    document.getElementById("tdPubKey").innerHTML += txt.substr(idx, 64) + "<br />";
                    idx += 64;
                }
                document.getElementById("tdAdressbookPublish").innerText = ((dialogArguments.ToPublish == true) ? '<%= Resource.LabelTemplateAddPublish %>' : '<%= Resource.LabelTemplateAddNoPublish %>');
                if (document.getElementById("RequestBody") != null)
                    document.getElementById("RequestBody").innerText = dialogArguments.RequestBody;
                if (document.getElementById("tbFileName") != null) {
                    var dt = new Date(dialogArguments.RegTime);
                    document.getElementById("tbFileName").value = document.getElementById("tbFileName").value + "R_" + dialogArguments.friendlyName + '_' + dialogArguments.RegTime + '_' + document.getElementById("tdRegId").innerText + ".htm";
                }
            }
        }

    </script>
</body>

</html>