.windowbutton {
    width: 100px;
}

.k-header .k-link {
    text-align: center;
}

.k-grid .k-grid-header .k-header .k-link {
    height: auto;
}

.k-grid .k-grid-header .k-header {
    white-space: normal;
}


.buttonyes {
    background-color: 	#99CCFF;
    margin-left: 30%;
    width: 50px;
}

.buttonno {
    width: 50px;
}

#mydiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: .8;
    background-color: white;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

#listView {
    margin-left: -1px;
    height: 400px;
    overflow: auto;
}

#listView_R {
    margin-left: -1px;
    height: 400px;
    overflow: auto;
}

#window {
    width: 300px;
}

legend {
    color: black;
}

input[disabled], button[disabled] {
    background-color: #f4f4f4;
}

.buttonchoose {
    background-color: #99CCFF;
    margin-left: 35%;
    width: 100px;
}

.buttoncancel {
    width: 100px;
}

.red-row {
    background-color: #FF8989;
}

legend {
    display: block;
    border: none;
    margin-bottom: 0px;
    width: 39%;
    font-size: 1.15em;
    font-family: Roboto;
    color: #58666e;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid;
    border-color: lightgray;
    height: 65px;
}


          #formFilesReportsGrid
      {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
      }
.k-window  div.k-window-content
{
        overflow: hidden;
}
