
<script src="~/Areas/Way/Scripts/InstantCards/InstantCards.js"></script>
@{
    ViewBag.Title = "Запит на миттєві картки";
}

<h2>@ViewBag.Title</h2>
<div id="content" ng-app="BarsWeb.Controllers" ng-controller="InstantCards"  ng-init="GetProduct()" align="center">
    <div kendo-window="Form" id="Form" title="Запит на миттєві картки" k-visible="true" k-modal="true" style="width:100%;">
        <div id="popupNotification"></div>
        <div id="popupNotification2"></div>
        <div class="form-group">
            <form class="form-horizontal" style="width:500px; border-style: solid; border-width: 2px;border-color: #bbbbbb;">               
                <div>
                    <div>
                        <div class="col-md-4">
                            <label style="width:100px">Продукт:</label>
                            <input ng-model="selected_product" id="product" kendo-drop-down-list k-data-source="Product" k-data-text-field="'NAME'" k-data-value-field="'CODE'" style="width:30%" k-on-change="onSelect()">
                        </div>
                    <br />
                    <div>
                        <div class="col-md-4">
                            <label style="width:100px">Тип картки:</label>                       
                            <input id ="card_type" ng-model="selected_card_type" kendo-drop-down-list  k-data-source="CardType" k-data-text-field="'SUB_NAME'" k-data-value-field="'CODE'" style="width:50%">
                        </div>
                        <br />
                    </div>
                    <br />
                    <div>
                        <div class="col-md-4">
                            <label style="width:100px">Кількість карток:</label>                        
                            <input class="col-md-2" ng-model="card_amount">
                            <br />
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </form>
        </div>
        <div class="form-group">
            <form class="form-horizontal" style="width:500px; border-style: solid; border-width: 2px;border-color: #bbbbbb;">
                <br />
                <div>
                    <div>
                        <div class="col-md-4">
                            <label style="width:200px">Балансовий рахунок:</label>                       
                            <label>{{nbs}}</label>
                        </div>                
                        <div class="col-md-4">
                            <label style="width:200px">Валюта:</label>                       
                            <label>{{valuta}}</label>
                            <br />
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </form>
        </div>
        <div class="form-group" style="width:500px; border-style: solid; border-width: 2px;border-color: #bbbbbb;">
            <form class="form-horizontal">
                <br />
                <div align="right" style="margin-right:8%">
                    <button id="tablerowadd2" class="k-button" title="Відкрити картки instant" ng-click="Open()">
                        Відкрити
                    </button>
                    <button id="tablerowadd2" class="k-button" title="Відмінити" ng-click="CloseForm()">
                        Відмінити
                    </button>
                    <br /><br />
                </div>
            </form>
        </div>
    </div>
</div>
