@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Біржа. Візування курсів дилера на заявках клієнтів на купівлю/продаж валюти.";
}
<script src="~/Areas/Zay/Scripts/Birja/Zay.Birja.js?v1.0.0"></script>
<script src="~/Areas/Zay/Scripts/Birja/Birja.BridgeService.js"></script>

<style>  
    .button {
        background-image: none;
    }
    .active {
        color: #fff;
        background-color: #32408f;
        border-color: #32408f;
    }
    .disabled {
        background: #eee;
        color: #aaa;
    }

    /* --- rows bg-color mark classes --- */
    .COLOR_LightGray { color: #293846; font-weight: bold; }
    .COLOR_Sky { color: black; font-weight: bold; }
    .COLOR_DarkGreen { color: #1f622b; font-weight: bold; }
    .COLOR_MidnightBlue { color: #0F2543; font-weight: bold; }
    .COLOR_DarkRed { color: #5f2200 ; font-weight: bold; }

    /** --- grid header ----*/

    .k-grid-header th.k-with-icon .k-link {
        margin-right: 0px;
        font-size: 11px;
    }

    .k-header .k-link {
        text-align: center;
        font-size: 11px;
    }

    .k-grid-header th.k-header, .k-filter-row th {
        text-align: center;
        font-size: 11px;
    }
    .k-list-optionlabel{
        font-size: 13px;
    }
    .k-state-active.k-grid-filter {
        background-color: orange !important;
    }
    .k-filter-menu [type="submit"] {
        width: 54% !important;
        margin-right: 1% !important;
        text-align: center !important;
    }

    .k-filter-menu [type="reset"] {
        width: 44% !important;
        margin-left: 1% !important;
        text-align: center !important;
    }
</style>

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>

<div ng-controller="Zay.Birja">

    <div kendo-tab-strip k-options="_tabstripOptions">
        <ul>
            <li class="k-state-active">Купівля</li>
            <li>Продаж</li>
        </ul>
        <div class="tabLayout">
            <div kendo-toolbar="bToolbar" class="toolbarLayout" k-options="_buyToolbarBirjaOptions"></div>
            <div kendo-grid="bGrid" k-options="_bGridOptions" k-on-change="onSelection(data, kendoEvent)"></div>
        </div>
        <div class="tabLayout">
            <div kendo-toolbar="sToolbar" class="toolbarLayout" k-options="_saleToolbarBirjaOptions"></div>
            <div kendo-grid="sGrid" k-options="_sGridOptions" k-on-change="onSelection(data, kendoEvent)"></div>
        </div>
    </div>


    <!-- dialogs windows -->
    @*@Html.Partial("wndBackReason")*@

</div>