        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
        }

        .header {
            border-bottom: 3px solid #006e4b;
            height: 80px;
        }

        .client-logo {
            margin: 2px;
            width: 150px;
            float: left;
            text-align: center;
        }

        .logo {
            margin: 20px;
            width: 150px;
            float: right;
            background-repeat: no-repeat;
        }

        .login-form {
            padding: 30px 50px;
            margin: 80px auto;
            width: 300px;
            border: 1px solid #dedede;
            background-color: #f9f9f9;
        }

            .login-form .app-name {
                text-align: center;
                font-size: 64px;
                line-height: 1;
                margin-bottom: 20px;
            }

                .login-form .app-name .app-version {
                    text-align: right;
                    font-size: 24px;
                }

            .login-form .form-name {
                font-size: 18px;
            }

        .form-group {
            margin-bottom: 20px;
        }
        .form-group-button {
            margin-bottom: 60px;
        }
            .form-group .form-label {
                font-size: 12px;
            }

            .form-group .form-control {
                border: 1px solid #68a2c5;
                border-radius: 2px;
                background-color: #ffffff;
                padding: 7px;
                width: 100%;
            }

            .form-group .form-button {
                border: 1px solid #68a2c5;
                border-radius: 2px;
                padding: 7px;
                width: 50%;
            }

        .error-block {
            text-align: center;
            color: red;
            font-size: 14px;
        }

        .footer {
            bottom: 0;
            text-align: center;
            font-size: 14px;
        }

        .color-blue {
            color: #68a2c5;
        }

        .color-dark-blue {
            color: #3e5375;
        }

        .bg-blue {
            color: #fff;
            background-color: #68a2c5;
        }

        .foggy {
            color: #9a9a9a;
        }

        .float-right {
            float: right;
        }
        .float-left {
            float: left;
        }




.asp-calendar
{
    background-color: #f2f2f2;
    width: 156px;
    border: none !important;
}
    .asp-calendar tbody tr td {
        
    }
    .asp-calendar a
    {
        text-decoration: none;
    }

    .asp-calendar .myCalendarTitle
    {
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        background-color: #4CCAEF;
        color: #ffffff;
        border: none !important;
    }

    .asp-calendar th.myCalendarDayHeader
    {
        height: 25px;
    }

    .asp-calendar tr
    {
        border-bottom: solid 1px #ddd;
    }

    .asp-calendar table tr
    {
        border-bottom: none !important;
    }

    .asp-calendar tr:last-child td
    {
        border-bottom: none;
    }

    .asp-calendar tr td.myCalendarDay, .asp-calendar tr th.myCalendarDayHeader
    {
        border-right: solid 1px #ddd;
    }

    .asp-calendar tr td:last-child .myCalendarDay, .asp-calendar tr th:last-child .myCalendarDayHeader
    {
        border-right: none;
    }

    .asp-calendar td.myCalendarDay:nth-child(7) a
    {
        color: #c52e2e !important;
    }

    .asp-calendar .myCalendarNextPrev
    {
        text-align: center;
    }

        .asp-calendar .myCalendarNextPrev a
        {
            font-size: 14px;
        }

        .asp-calendar .myCalendarNextPrev:nth-child(1) a
        {
            color: #fff!important;
        }

            .asp-calendar .myCalendarNextPrev:nth-child(1) a:hover, .asp-calendar .myCalendarNextPrev:nth-child(3) a:hover
            {
                background-color: transparent;
            }

        .asp-calendar .myCalendarNextPrev:nth-child(3) a
        {
            color: #fff!important;
        }

    .asp-calendar td.myCalendarSelector a
    {
        background-color: #25bae5;
    }

    .asp-calendar .myCalendarDayHeader a,
    .asp-calendar .myCalendarDay a,
    .asp-calendar .myCalendarSelector a,
    .asp-calendar .myCalendarNextPrev a
    {
        display: block;
        line-height: 20px;
    }

    .asp-calendar .myCalendarToday
    {
        background-color: #f2f2f2;
        -webkit-box-shadow: 1px 1px 8px 1px #8f8f8f;
        box-shadow: 1px 1px 8px 1px #8f8f8f;

        width: 14% !important;
        height: 19px !important;
        border: 2px solid #f2f2f2;
        margin-left: -1px;
        margin-top: -1px;
        position: relative;
    }

        .asp-calendar .myCalendarToday a
        {
            color: #25bae5 !important;
            font-weight: bold;
        }

            .asp-calendar .myCalendarToday a:after
            {
                content: "TODAY";
                color: #000;
                font-size: 0.5em;
                display: inline-block;
                pointer-events: none;
                width: 100%;
                float: left;
            }

    .asp-calendar .myCalendarDay a:hover,
    .asp-calendar .myCalendarSelector a:hover
    {
        background-color: #25bae5;
    }
