<connectionStrings>
  <add name="ServerConnectionString"
       connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.10.17.58)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=BARSDB)));User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserver;Pooling=yes;"
       providerName="Bars.DbProvider.Oracle" />
</connectionStrings>