@model decimal
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = String.Format("Пов'язані документи для РЕФ. {0}", Model);
}


<h2>@ViewBag.Title</h2>
<div id="zayDocsToolBar"></div>
<div id="zayDocumentsGrid"></div>

<script type="text/javascript" src="/barsroot/Scripts/Bars/bars.utils.js"></script>
<script>
    
    var masterRef = @Model;
    var grid = null;
    
    function zayData() {
        return {
            docref: masterRef
        }
    }

    function getGrid() {
        if (grid == null) {
            grid = $('#zayDocumentsGrid').data('kendoGrid');
        }
        return grid;
    }

    function refreshToolbar() {
        /*var grid = getGrid();
        var selection = grid.select();
        enableButton('pbViewDoc', selection.length === 1);*/
    }


    function enableButton(buttonId, enabled) {
        if (typeof(enabled) === 'undefined') {
            enabled = true;
        }
        var $button = $('#' + buttonId);
        $button.data('kendoButton').enable(enabled);
        if (enabled) {
            $button.find('i').removeClass("pf-disabled");
        } else {
            $button.find('i').addClass("pf-disabled");
        }
    }

    function goBack() {
        window.location = bars.config.urlContent('/Zay/MandatorySale/Index');
    }

    function openDoc() {
        var grid = getGrid();
        var record = grid.dataItem(grid.select());
        var docUrl = bars.config.urlContent("/documents/item/"+record.Ref+"/");
        window.location = docUrl;
    }

    $(document).ready(function() {
        $("#zayDocumentsGrid").kendoGrid({
            autobind: true,
            selectable: "multiple",
            filterable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
            {
                field: "Ref",
                title: "Document reference",
                width: "100px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "Tt",
                title: "Transaction Code",
                width: "100px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "UserId",
                title: "User",
                width: "60px"
            },
            {
                field: "Nd",
                title: "Document number",
                width: "110px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "NlsA",
                title: "Account - A",
                width: "120px"
            },
            {
                field: "S",
                title: "Amount",
                template: "<div style='text-align:right;'>#=(S/100).toFixed(2)#</div>",
                width: "150px"
            },
            {
                field: "Lcv",
                title: "Curr ency",
                width: "60px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "Vdat",
                title: "Value date",
                width: "80px",
                template: "<div style='text-align:right;'>#=kendo.toString(Vdat,'dd.MM.yyyy')#</div>"
            },
            {
                field: "S2",
                title: "Amount In Currency - B",
                template: "<div style='text-align:right;'>#=(S2/100).toFixed(2)#</div>",
                width: "150px"
            },
            {
                field: "Lcv2",
                title: "Currency - B",
                width: "60px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "MfoB",
                title: "MFO - B",
                width: "80px"
            },
            {
                field: "NlsB",
                title: "Account - B",
                width: "120px"
            },
            {
                field: "Dk",
                title: "Db Cr",
                template: "#=Dk == 1 ? '1' : '0'#",
                width: "50px"
            },
            {
                field: "Sk",
                title: "Cash symbol",
                template: "",
                width: "50px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "Vob",
                title: "Type",
                width: "100px"
            },
            {
                field: "Datd",
                title: "Document date",
                width: "80px",
                template: "<div style='text-align:right;'>#=kendo.toString(Datd,'dd.MM.yyyy')#</div>"
            },
            {
                field: "Nazn",
                title: "Transaction layout",
                width: "300px"
            },
            {
                field: "Tobo",
                title: "Код безбал. отделения",
                width: "300px"
            },
            {
                field: "NamA",
                title: "Sender",
                width: "400px"
            },
            {
                field: "RefA",
                title: "ОКПО-Б",
                width: "400px"
            },
            {
                field: "NamB",
                title: "Receiver",
                width: "400px"
            }
            ],
            dataSource: {
                type: 'webapi',
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 10,
                transport: {
                    read: {
                        dataType: 'json',
                        url: bars.config.urlContent('/Zay/MandatorySale/GetZayLinkedDocs'),
                        data: zayData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                }
            },
            change: refreshToolbar,
            dataBound: refreshToolbar

        });
        $('#zayDocsToolBar').kendoToolBar({
            items: [
                {
                    template: "<button id='pbGoBack' type='button' class='k-button' onclick='goBack()' title='Повернутись до переліку файлів'><i class='pf-icon pf-16 pf-arrow_left'></i> Назад</button>"
                },
                {
                    template: "<button id='pbViewDoc' type='button' class='k-button' onclick='openDoc()' title='Переглянути документ'><i class='pf-icon pf-16 pf-folder_open'></i></button>"
                }
            ]
        });

        $("#pbGoBack").kendoButton();
        $("#pbViewDoc").kendoButton();
    });
</script>

<style>

</style>