@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "PaymentVerification";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/PaymentVerification/Scripts/KendoCommon.js"></script>
<script src="~/Areas/PaymentVerification/Scripts/PaymentVerification/Main.js"></script>
<link rel="stylesheet" href="~/Areas/PaymentVerification/Css/PaymentVerification/Main.css" />

<div class="search-main"></div>

<h2 id="title"></h2>

<hr />
<div id="FireBtnText" class="alert alert-danger" role="alert">
    Для обробки даних потрібно ввести код із СМС
</div>
<hr />

<table border="0">
    <tr>
        <td>
            <div class="form-group">
                <img id="kkPhoto" src="/Common/Images/empty_image.png" alt="" style="width:256px;height:256px;border:0" />
            </div>
        </td>
        <td style="padding:10px">
            <table border="0">
                <tr>
                    <td>
                        <div class="form-group">
                            <a href="#" onclick="toKK()" class="a_class">Перейти до карточки клієнта</a>
                        </div>
                        <button id="RefreshBtn" type="button" class="btn btn-primary">
                            <i class="fa fa-repeat"> Оновити дані</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="rnk"><b>РНК-клієнта:</b></label>
                            <input type="text" readonly class="form-control" id="rnk" style="width:200px" />
                        </div>
                        <div class="form-group">
                            <label for="phone"><b>Номер телефону клієнта:</b></label>
                            <input type="text" readonly class="form-control" id="phone" style="width:200px" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="smsCode"><b>CМС-код:</b></label>
                            <input type="text" class="form-control" id="smsCode" style="width:200px" />
                        </div>
                        <button id="ConfirmSmsBtn" type="button" class="btn btn-primary">
                            <i class="fa fa-phone"> Підтвердити</i>
                        </button>
                        <button id="SendSmsBtn" type="button" class="btn btn-primary">
                            <i class="fa fa-rss"> Надіслати повторно CMC</i>
                        </button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
