@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}
<h1>Імпорт файлів з переліком терористів</h1>
<div class="form-group" style="">

    @using (Html.BeginForm("UploadTerroristsFile", "Finmon", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-xs-6 col-sm-6 col-md-6">
            <label class="control-label">Оберіть файл:</label>
            <input type="file" name="upload" /><br>
            <input type="submit" value="Завантажити"/>
            <script>
                $(document).on('submit', 'form', function (event) {
                    if (confirm('Виконати імпорт файлу терористів ' + $(this).find('input[type="file"]').val()+'?')) {
                        var button = $(this).find('input[type="submit"]');
                        setTimeout(function () {
                            button.attr('disabled', 'disabled');
                        }, 0);
                    }
                    else {
                        event.preventDefault();
                    }
                });           
            </script>            
            @if (ViewBag.Result != null)
            {
                <div>@ViewBag.Result</div>
            }            
        </div>
    }
</div>