<!DOCTYPE html>
<html>
<head>
    <title>Імпорт файлів ФМ</title>
    <link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
</head>
<body>
        <div id="main">
            <div id="title" class="box">
            </div>
            <script>
                var el = document.getElementById('title');
                var content;
                const urlParams = new URLSearchParams(window.location.search);
                const fileType = urlParams.get('fileType');

                switch (fileType) {
                    case "PEP":
                        content = '<h4>Завантаження файлу з переліком публічних діячів (pep.org.ua)</h4>';
                        break;
                    case "Terr":
                        content = '<h4>Завантаження файлу з переліком террористів</h4>';
                        break;
                    case "KIS":
                        content = '<h4>Завантаження файлу з переліком публічних діячів (наданий ТОВ "КІС")</h4>';
                        break;
                    default:
                        break;
                }
                el.insertAdjacentHTML('afterbegin', content);
            </script>
            <form method="post" action="UploadFile">
                <div class="demo-section k-content">
                    <input name="upload" id="upload" type="file" aria-label="upload" />
                </div>
            </form>
            <script>
                $(document).ready(function() {
                    $("#upload").kendoUpload({
                        multiple: false,
                        async: {
                            saveUrl: bars.config.urlContent("/Finmon/Finmon/UploadFile"),
                            autoUpload: true
                        },
                        localization: {
                            select: 'Обрати файл',
                            retry: 'Повторна спроба',
                            statusUploaded: 'Завантажено',
                            statusUploading: 'Завантаження',
                            statusFailed: 'Помилка'
                        },
                        success: function (e) {
                            debugger;
                            if (e.response.state === "OK")
                            {
                                bars.ui.alert({ text: e.response.data });
                            }
                            else
                            {
                                bars.ui.error({ text: e.response.data });
                            }
                       }
                    });
                });
            </script>
        </div>
</body>
</html>