@{
    Layout = null;
}
@model int
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
    <body>
        <form method="POST" enctype="multipart/form-data" onsubmit="if (document.getElementById('fileUpload').value == '') { return false;}">
            Виберіть файл: <input type="file" name="file" id="fileUpload" /> <input type="submit" value="Завантажити" />
        </form>
        <div>Увага! При завантаженні картинки зміни будуть автоматично збережені.</div>
        <img alt="" src="@Url.Content("~/doc/advertising/image/" + Model + "?_=" + new Random().Next(0,1000))" style="border:1px solid #aaa;" />            
    </body>
</html>
