body
{
}
.cell_label 
{
	width: 130px;	
}
.cell_input
{
	width: 130px;
}
.input_style
{
	width: 130px;	
	
}
.asterisk
{
	color: Red;
}
.base_grid
{
	font-family: Times New Roman Cyr;
	font-size: small;	
}
.akaLink
{
	color: Red;
	cursor: hand;	
}