.margin-bottom-10 {
    margin-bottom: 10px;
}

.k-grid-header th.k-header > .k-link {
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
}
.cust-avatar {
    border-radius: 50%;
    border: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
}

.cust-avatar, .cust-avatar img {
    width: 30px;
    height: 30px;
}
.cust-avatar .no-avatar {
    font-size: 20px;
    text-align: center;
    padding: 4px;
    color:#3471ae
}



.label-cust-id {
    font-size: 18px;
    padding-top: 3px;
}

.cust-show .form-group {
    margin-bottom: 5px;
} 

.table.cust-search-panel {
    margin-bottom: 0;
}

    .table.cust-search-panel tbody tr td {
        padding: 4px 0 4px 10px;
    }

.cust-photo {
    width: 92px;
    height: 122px;
    padding: 2px;
    border: 1px solid #dcdcdc;
    color: #ddd;
    margin-bottom: 10px;

    font-size: 64px;
    text-align: center;
}
.cust-photo .img-poster {
    margin-top: 15px; 
}

.cust-search-form .k-tooltip-validation.k-invalid-msg {
    display: none !important;
}
.btnAddSeparatedSubdivision {
    background-color: #25c24c;
    border-color: #25c24c;
}

.k-pager-info {
    display: none;
}
