@{    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Графік лімітів кредитування";
}
<script src="@Url.Content("~/lib/jsZip/jszip.js")"></script>
<script src="@Url.Content("~/Areas/CreditUi/Scripts/glk.js")"></script>
<script src="@Url.Content("~/Areas/CreditUi/Scripts/creditUI.js")"></script>
<h1 style="padding-bottom: 0px; padding-top: 10px;">@ViewBag.title</h1>
<br />
<style>
    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .k-widget .k-window{
        width: 700px;
    }
    .k-header .k-link{
   text-align: center;
}
    .k-grid td {
        white-space: nowrap;
        border-bottom: 1px solid black;
        padding: .2em .6em;
         
    }
    .k-grid {
        margin-right: 15px;
    }

    div.k-grid .k-selectable tr.k-state-selected {
        background-color: #428bca;
    }

    .k-grid-filter.k-state-active {
        background-color: lightslategray;
    }

    .k-grid-header th.k-with-icon .k-link {
        margin-right: 7px;
    }

    .k-grid-content {
        min-height: 100px;
        max-height: 700px;
        
    }
    .k-alt, .k-separator, .k-alt.k-resource, .k-pivot-layout > tbody > tr:first-child > td:first-child{
         background-color: white;
    }
    .aquaRow {
		background: #99FFFF;
	}
    
    .grayRow{
        background: #C3C3C3;
    }

     .ColorRow{
        background: darkseagreen; /*darksalmon*/ /*darkseagreen*/
    }

   .k-window-content input:last-child
    {
        height: 17px;
    }
      .k-window-content .col-sm-12 
    {
            width: 94%;
    }

      body{
          font-size: 11.5px;
      }
      .k-grid table{
          width: auto;
      }
      .form-control{
          height: 30px;
          padding: 3px 12px;
          font-size: 13px;
      }
</style>

<div class="row" style="width: 1024px;">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-9">
                <label class="control-label" for="ref_kd">Референс КД</label>
                <br><input class="form-control" id="ref_kd" type="text" readonly>
            </div>
            <div class="col-md-1 col-md-pull-1">
                <a class="k-button k-button-icontext" id="kredit_card" style="margin-top: 24px;">
                    <span class="pf-icon pf-16 pf-report_open-import"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-10">
                <label class="control-label" for="rnk_name">Назва позичальника</label>
                <br><input class="form-control" id="rnk_name" type="text" readonly>
            </div>
            <div class="col-md-1 col-md-pull-1">
                <a class="k-button k-button-icontext" id="klient_card" style="margin-top: 24px;">
                    <span class="pf-icon pf-16 pf-man_1-update"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="number_kd">Номер КД</label>
                        <br><input class="form-control" id="number_kd" type="text" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="date_start">Дата укл. КД </label>
                        <br><input class="form-control" id="date_start" type="text" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="summ_kd">Сума по договору </label>
                <br><input class="form-control" id="summ_kd" type="text" readonly>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="limit">Поточ. сума ліміту</label>
                <br><input class="form-control" id="limit" type="text" readonly>
            </div>
            <div class="col-md-1 col-md-pull-1">
                <a class="k-button k-button-icontext" id="accounts_card" style="margin: 24px 0 0 24px;">
                    <span class="pf-icon pf-16 pf-list-ok"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div style="margin-top:10px">
    <div id="gridGLK" class="fixed_headers"></div>
</div>

<div id="dialogGlkArchive">
    <div class="form-group">
        <div id="gridGlkArchive" class="fixed_headers"></div>
    </div>
    <div style="margin-left: 40%;">
        <button id='btn_arch_Ok' class='k-button'>
            <span class='pf-icon pf-16 pf-ok'></span> Обрати
        </button>
        <button id='btn_arch_exit' class='k-button'>
            <span class='pf-icon pf-16 pf-delete'></span> Вийти з архіву
        </button>
    </div>
</div>

<div id="dialogGlkArchive_Body">
    <div class="form-group">
        <div id="gridGlkArchive_Body" class="fixed_headers"></div>
    </div>
    <div style="margin-left: 35%;">
        <button id='btn_arch_body_ok' class='k-button'>
            <span class='pf-icon pf-16 pf-ok'></span> Відновити ГЛК
        </button>
        <button id='btn_arch_body_false' class='k-button'>
            <span class='pf-icon pf-16 pf-delete_button_error'></span> Відмінити
        </button>
    </div>
</div>

<script id="popup-editor" type="text/x-kendo-template">
    <div class="container" style="width: 490px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="control-label" for="FDAT">Дата ліміту </label>
                        <input class="form-control" id="FDAT" data-bind="value:FDAT" style="width: 110px;" required />
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" for="LIM2" name="LIM2">Вихідний ліміт план</label>
                        <input name="LIM2" id="LIM2" data-bind="value:LIM2" required/>
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label" for="D9129">Дельта 9129</label>
                        <input class="form-control" name="D9129" id="D9129" data-bind="value:D9129" />
                    </div>
                    <div class="col-sm-1">
                        <label class="control-label" for="NOT_9129">Не 9129 </label>
                        <input class="form-control" id="NOT_9129" data-bind="value:NOT_9129" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label for="DAYSN" class="control-label"  style="margin: 5px 0px 0px 90px;" >Тільки тіло?</label>
                        <input class="form-control" type="checkbox" data-bind="value:DAYSN" id="DAYSN"  style="margin: 5px 0px 0px 20px; "/>
                    </div>
                    <div class="col-sm-5">
                        <label for="UPD_FLAG" class="control-label" style="margin: 5px 0px 0px 30px;">Зміна для всіх записів?</label>
                        <input class="form-control" type="checkbox" id="UPD_FLAG" />
                    </div>
                </div>
                <div style="margin-left: 35%;">
                    <button id='btn_adding' class='k-button' onclick="Adding();">
                        <span class='pf-icon pf-16 pf-ok'></span> Додати іншу дату
                    </button>
                </div>
            </div>
    </div>
</script>
