@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "Way4Bpk";
}

<script src="~/lib/jsZip/jszip.js?12_02_2018__17_10_04"></script>
<script src="~/Scripts/respond.min.js?12_02_2018__17_10_04"></script>
<script src="~/Areas/Way4Bpk/Scripts/KendoCommon.js?12_02_2018__17_10_04"></script>
<script src="~/Areas/Way4Bpk/Scripts/Way4Bpk/NewCard.js?12_02_2018__17_10_04"></script>
<script src="~/Areas/Way4Bpk/Scripts/Way4Bpk/AddParams.js?12_02_2018__17_10_04"></script>
<script src="~/Areas/Way4Bpk/Scripts/Way4Bpk/Main.js?12_02_2018__17_10_04"></script>
<script src="~/Areas/Way4Bpk/Scripts/Way4Bpk/ViewDocumentsFromEA.js?12_02_2018__17_10_04"></script>
<link rel="stylesheet" href="~/Areas/Way4Bpk/Css/Way4Bpk/Main.css?12_02_2018__17_10_04" />

<div class="page-header">
    <h3 id="title"></h3>
</div>

<div id="dvFilesFilter">
    <table border="0">
        <tr>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="ndNumber" class="bold">Номер угоди:</label>
                    <input type="text" class="form-control" id="ndNumber" placeholder="Вкажіть номер угоди" style="display: inline;width: 150px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="accNls" class="bold">Картковий рахунок:</label>
                    <input type="text" class="form-control" id="accNls" placeholder="Вкажіть рахунок" style="display: inline;width: 140px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="custName" class="bold">ПІБ (назва) клієнта:</label>
                    <input type="text" class="form-control" id="custName" placeholder="Вкажіть ПІБ(назву)" style="display: inline;width: 180px" />
                </div>
            </td>
            <td>
                <button id="SearchBtn" type="button" class="btn btn-primary" style="margin-bottom:15px">
                    <i class="fa fa-search"></i> Пошук
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="okpo" class="bold">ІПН:</label>
                    <input type="text" class="form-control" id="okpo" placeholder="Вкажіть ІПН" style="display: inline;width: 140px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="passState" class="bold">Стан передачі:</label>
                    <input type="text" class="form-control" id="passState" style="width: 120px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label for="passDateSelect" class="bold">Дата передачі:</label>
                    <input type="text" class="form-control" id="passDateSelect" style="width: 140px" />
                </div>
            </td>
        </tr>
    </table>
    <div class="clearfix"></div>
</div>

<div id="gridMain"></div>
<div class="search-main"></div>

<div id="dialogProcessing" style="display:none">
    <div class="search-proc"></div>

    <div class="row">
        <div class="col-md-4">
            <a class='k-button' id="edtOper" onclick="showReferOper()"><i class='pf-icon pf-16 pf-book'></i></a>
            <label class="control-label bold" for="edtOper">Виберіть операцію</label>
            <div id="edtOperValue"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <button id="FireConfirmBtn" type="button" class="btn btn-primary">
                <i class="fa fa-pencil-square-o"></i> Обробити
            </button>
        </div>
    </div>
</div>

<div id="dialogCngCard" style="display:none">
    <div class="search-cng-card"></div>
    <div id="gridCngCard"></div>
    <div style="margin-top: 4px;text-align: center;">
        <button id="confirmCngCard" class="k-button k-primary">Змінити тип картки?</button>
    </div>
</div>

<div id="dialogNewCard" style="display:none">
    <div class="search-NewCard"></div>
    <br />
    <table border="0">
        <tr>
            <td>
                <div id="fo_W4_PRODUCT_GROUPS_REF" class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4ProductGrp" onclick="showRefer('W4_PRODUCT_GROUPS_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label bold" for="gBpkW4ProductGrp">Група продуктів</label>
                </div>
            </td>
            <td>
                <div id="fo_GBPKW4PROECT_REF" class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4Proect" onclick="showRefer('GBPKW4PROECT_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label bold" for="gBpkW4Proect">Зарплатний проект</label>
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4Product" onclick="showRefer('GBPKW4PRODUCT_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label bold" for="gBpkW4Product">Виберіть Продукт</label>
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4Card" onclick="showRefer('GBPKW4CARD_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label bold" for="gBpkW4Card">Виберіть картку</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="fo_val_GBPKW4PROECT_REF" class="form-group" style="margin-right:15px"><div id="gBpkW4ProductGrpValue"></div></div>
            </td>
            <td>
                <div id="fo_val_GBPKW4PROECT_REF" class="form-group" style="margin-right:15px"><div id="gBpkW4ProectValue"></div></div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px"><div id="gBpkW4ProductValue"></div></div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px"><div id="gBpkW4CardValue"></div></div>
            </td>
        </tr>
    </table>
    <hr />
    <table border="0">
        <tr>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <a class='k-button' id="gBpkW4Customer" onclick="showRefer('GBPKW4CUSTOMER_REF')"><i class='pf-icon pf-16 pf-book'></i></a>
                    <label class="control-label bold" for="gBpkW4Customer">Виберіть клієнта</label>
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label class="control-label bold" for="newCardRnk" placeholder="Вкажіть РНК">РНК</label>
                    <input type="text" id="newCardRnk" style="display: inline;width: 140px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label class="control-label bold" for="newCardIpn" placeholder="Вкажіть ІПН">ІПН</label>
                    <input type="text" id="newCardIpn" style="display: inline;width: 140px" />
                </div>
            </td>
            <td>
                <div class="form-group" style="margin-right:15px">
                    <label class="control-label bold" for="newCardPib" placeholder="Вкажіть ПІБ(назву)">ПІБ(назва)</label>
                    <input type="text" id="newCardPib" width="140" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @*<div class="form-group" style="margin-right:15px"><div id="gBpkW4CustomerValue" onclick="openClientCard(1);" title="Відкрити карточку клієнта" class="clickable"></div></div>*@
                <div class="form-group" style="margin-right:15px"><div id="gBpkW4CustomerValue"></div></div>
            </td>
            <td class="docs-scan">
                <div class="form-group" style="margin-right:15px">
                    <a style="color:blue;text-decoration:underline;" id="ScanDocsBtn" onclick="ShowDialog(); return false;">Сканувати</a>
                </div>
            </td>
            <td class="docs-scan">
                <div class="form-group" style="margin-right:15px">
                    <a style="color:blue;text-decoration:underline;" id="ShowEaDocs" onclick="ShowDocsFromEa(); return false;">Переглянути документи</a>
                </div>
            </td>
            <td class="docs-scan">
                <div class="form-group" style="margin-right:15px">
                    <label for="DocsVerified">Документи перевірено</label>
                    <input type="checkbox" id="DocsVerified" onclick="processDocsVerifiedChange(this);" />
                </div>
            </td>
        </tr>
        <tr class="only-fo">
            <td>
                <button id="btnEditClient" type="button" class="btn btn-primary" style="margin-bottom:15px" title="Редагувати обраного клієнта" onclick="openClientCard(0);" disabled>
                    <i class="fa fa-edit"></i> Редагувати
                </button>
            </td>
            <td>
                <button id="btnCreateNewClient" type="button" class="btn btn-primary" style="margin-bottom:15px" title="Створити нового клієнта" onclick="openClientegistration();">
                    <i class="fa fa-plus"></i> Новий клієнт
                </button>
            </td>
        </tr>
    </table>
    <hr />

    <hr />
    <div class="alert alert-danger" id="selectNewCardErrorText">
        Не всі дані заповнено
    </div>
    <button id="selectNewCardBtn" type="button" class="btn btn-primary" style="margin-left: 43%">
        <i class="fa fa-pencil-square-o"></i> Вибрати картку
    </button>
</div>

<div id="dialogGo2BackOffice" style="display:none">
    <div class="search-Go2BackOffice"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="passDate" class="bold">Дата передачі справ до бек-офісу:</label>
                <input type="text" class="form-control" id="passDate" placeholder="Вкажіть дату" style="display: inline;width: 180px" />
                <div id="passDateErrorMsg" class="alert alert-danger">Дата не може бути більше поточної.</div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="form-group">
                <label for="passStateDdl" class="bold">Стан передачі справ до бек-офісу:</label>
                <input type="text" class="form-control" id="passStateDdl" style="width:210px" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="Go2BackOfficeConfirmBtn" type="button" class="btn btn-primary" style="margin-left: 40%">
                <i class="fa fa-pencil-square-o"></i> Змінити
            </button>
        </div>
    </div>
</div>

<div id="dialogAddParams" style="display:none">
    <div class="search-AddParams"></div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <a class='k-button' id="BUS_MOD" onclick="showReferAddParams('BUS_MOD', ' WHERE BUS_MOD_ID = 13 ')"><i class='pf-icon pf-16 pf-book'></i></a>
                <label class="control-label bold" for="BUS_MOD">Тип бізнес моделі для договору</label>
            </div>
        </div>
        <div class="col-md-6">
            <div id="BUS_MOD_Tag"></div>
            <div id="BUS_MOD_Value"></div>
        </div>
    </div>

    <hr style="margin:3px;" />

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <a class='k-button' id="IFRS" onclick="showReferAddParams('IFRS', ' WHERE IFRS_ID = \'AC\' ')"><i class='pf-icon pf-16 pf-book'></i></a>
                <label class="control-label bold" for="IFRS_MOD">Класифікаіція за МСФЗ</label>
            </div>
        </div>
        <div class="col-md-6">
            <div id="IFRS_Tag"></div>
            <div id="IFRS_Value"></div>
        </div>
    </div>

    <hr style="margin:3px;" />

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <a class='k-button' id="SPPI" onclick="showReferAddParams('SPPI', ' WHERE SPPI_ID= \'Так\' ')"><i class='pf-icon pf-16 pf-book'></i></a>
                <label class="control-label bold" for="SPPI">Відповідність критерію SPPI</label>
            </div>
        </div>
        <div class="col-md-6">
            <div id="SPPI_Tag"></div>
            <div id="SPPI_Value"></div>
        </div>
    </div>

    <div id="addParamsForFo" style="display:none;">
        <hr style="margin:3px;" />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label bold" for="EDUCA">Освіта</label>
                    @*<select id="EDUCATION" disabled>
                            <option value="" selected></option>
                            <option value="Початкова освіта">Початкова освіта</option>
                            <option value="Базова загальна середня освіта">Базова загальна середня освіта</option>
                            <option value="Повна загальна середня освіта">Повна загальна середня освіта</option>
                            <option value="Професійно-технічна освіта">Професійно-технічна освіта</option>
                            <option value="Вища освіта">Вища освіта</option>
                        </select>*@
                    @*<input class="k-textbox" id="EDUCA_Comm" disabled />*@
                </div>
            </div>
            <div class="col-md-6">
                <div id="EDUCA_Tag"></div>
                <div id="EDUCA_Value"></div>
            </div>
        </div>

        <hr style="margin:3px;" />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label bold" for="FLAGINSURANCE">Страхування кредиту</label>
                    @*<select id="FLAGINSURANCE" style="width:60px;" disabled>
                            <option value="" selected></option>
                            <option value="1">Так</option>
                            <option value="0">Ні</option>
                        </select>*@
                    @*<input class="k-textbox" id="FLAGINSURANCE_Comm" style="width:60px;" disabled />*@
                </div>
            </div>
            <div class="col-md-6">
                <div id="FLAGINSURANCE_Tag"></div>
                <div id="FLAGINSURANCE_Value"></div>
            </div>
        </div>

        <hr style="margin:3px;" />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label bold" for="NAMEW">Найменування роботодавця</label>
                    @*<input id="NAMEW_Comm" class="k-textbox k-state-disabled" maxlength="254" onchange="inputChange(this);" disabled />*@
                </div>
            </div>
            <div class="col-md-6">
                <div id="NAMEW_Tag"></div>
                <div id="NAMEW_Value"></div>
            </div>
        </div>

        <hr style="margin:3px;" />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label bold" for="TYPEW">Тип роботодавця</label>
                    @*<select id="TYPEW" disabled>
                            <option value="" selected></option>
                            <option value="Юридична особа">Юридична особа</option>
                            <option value="Фізична особа-суб'єкт підприємницької діяльності">Фізична особа-суб'єкт підприємницької діяльності</option>
                        </select>*@
                    @*<input class="k-textbox" id="TYPEW_Comm" disabled />*@
                </div>
            </div>
            <div class="col-md-6">
                <div id="TYPEW_Tag"></div>
                <div id="TYPEW_Value"></div>
            </div>
        </div>

        <hr style="margin:3px;" />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label bold" for="EDRPO">Код ЕДРПОУ роботодавця</label>
                    @*<input id="EDRPO_Comm" class="k-textbox k-state-disabled" maxlength="50" onchange="inputChange(this, /[^0-9]/g);" disabled />*@
                </div>
            </div>
            <div class="col-md-6">
                <div id="EDRPO_Tag"></div>
                <div id="EDRPO_Value"></div>
            </div>
        </div>

        <hr style="margin:3px;" />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label bold" for="REAL6MONTH">Підтверджений дохід боржника</label>
                    @*<input id="REMO_Comm" maxlength="32"  disabled class="k-state-disabled" />*@
                </div>
            </div>
            <div class="col-md-6">
                <div id="REMO_Tag"></div>
                <div id="REMO_Value"></div>
            </div>
        </div>

        <hr style="margin:3px;" />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label bold" for="NREMO">Непідтверджений дохід боржника</label>
                    @*<input id="NREMO_Comm" maxlength="32"  disabled class="k-state-disabled" />*@
                </div>
            </div>
            <div class="col-md-6">
                <div id="NREMO_Tag"></div>
                <div id="NREMO_Value"></div>
            </div>
        </div>

        <hr style="margin:3px;" />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label bold" for="STAT ">Сімейний стан</label>
                    @*<select id="STATUS" disabled>
                            <option value="null" selected>Інформація відсутня</option>
                            <option value="true">одружений/заміжня</option>
                            <option value="false">неодружений/незаміжня</option>
                        </select>*@
                    @*<input class="k-textbox" id="STAT_Comm" disabled />*@
                </div>
            </div>
            <div class="col-md-6">
                <div id="STAT_Tag"></div>
                <div id="STAT_Value"></div>
            </div>
        </div>

        <hr style="margin:3px;" />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label bold" for="MEMB">Кількість осіб, що перебувають на утриманні боржника</label>
                    @*<input id="MEMB_Comm" maxlength="2" disabled class="k-state-disabled" />*@
                </div>
            </div>
            <div class="col-md-6">
                <div id="MEMB_Tag"></div>
                <div id="MEMB_Value"></div>
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <div id="AddParamsMsg" class="alert alert-danger">Дані модифіковано</div>
            <button id="AddParamsConfirmBtn" type="button" class="btn btn-primary" style="margin-left: 40%">
                <i class="fa fa-pencil-square-o"></i> Змінити
            </button>
        </div>
    </div>
</div>


<div id="dialogCardUpdate" style="display:none">
    <div class="search-CardUpdate"></div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="ndCardUpdate" class="bold">Номер договору:</label>
                <input type="text" class="form-control" id="ndCardUpdate" readonly style="background-color:cornsilk;display: inline;width: 180px" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="accNlsCardUpdate" class="bold">Картковий рахунок:</label>
                <input type="text" class="form-control" id="accNlsCardUpdate" readonly style="background-color:cornsilk;display: inline;width:180px" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="idatCardUpdate" class="bold">Дата видачі картки:</label>
                <input type="text" class="form-control" id="idatCardUpdate" style="display: inline;width: 180px" />
                <div id="idatCardUpdateErrorMsg" class="alert alert-danger">Дата не може бути більше поточної.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="CardUpdateConfirmBtn" type="button" class="btn btn-primary" style="margin-left: 40%">
                <i class="fa fa-pencil-square-o"></i> Змінити
            </button>
        </div>
    </div>
</div>
