/*желтый блок*/
.ErrorBlock
{
    padding: 10px;
    text-align: center;
    width: 99%;
}
/*заголовок желтого блока*/
.ErrorBlock .ContentBody
{
    background: url(/barsroot/credit/manager/master_src/err_body_t.gif) repeat-x !important;
    border-right: 1px solid #FFD092 !important;
    border-left: 1px solid #FFD092 !important;
    padding: 10px 0px 5px 0px;
    color: Red;
    font-weight: bold;
}
/*нижняя граница желтого блока*/
.ErrorBlock .BottomBody
{
    background: url(/barsroot/credit/manager/master_src/err_body_b.gif) repeat-x !important;
    height: 8px !important;
    border-right: 1px solid #FFD092 !important;
    border-left: 1px solid #FFD092 !important;
}
.sectionTitle
{
    font-weight: bold;
    color: #5178D5;
    text-align: center;
    padding: 3px 10px 1px 10px;
    background-color: #E3EAEB;
}
.dataContainer
{
    width: 99%;
    padding: 20px 0px 30px 10px;
}
.buttonContainer
{
    text-align: center;
    padding-top: 10px;
    width: 20px;
}
.groupTitle
{
    text-align: left;
    font-style: italic;
    padding-top: 10px;
    font-weight: bold;
}
.questionTitle
{
    text-align: right;
    padding-right: 10px;
    width: 50%;
}
.questionValue
{
    text-align: left;
}
.rowHidden
{
    display: none;
    visibility: hidden;
}
.nextButtonContainer
{
    text-align: right;
    padding-top: 20px;
}
        
/* -- formView -- */
.formViewContainer
{
    width: 99%;
    padding: 20px 0px 0px 20px;
}
.formView
{
}
.formView .contentTable
{
    /*width: 99%;*/
    border: 0px;
    padding: 0px;
}
.formView .contentTable .titleCell
{
    text-align: right;
    font-weight: bold;
}
.formView .actionButtonsContainer
{
    padding: 5px;
    margin: 5px;
    text-align: center; /*border-top: solid 1px gray;*/
}
        
/* Форма выбора субпродуктов */
.subproductsTable
{
    width: 60%;
}
.subproductsTable .headerCell
{
    padding: 2px 0px 2px 10px;
    font-size: 11pt;
    font-weight: bold;
    color: #315173;
    background-color: #C6D3F7;
}
.subproductsTable .imageCell
{
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px 5px 5px;
}
.subproductsTable .textCell
{
    font-style: italic;
}
.subproductsTable .textCell2
{
    font-style: italic;
    padding-top: 5px;
    text-align: center;
}
.subproductsTable .valueCell
{
    padding-left: 20px;
    padding-right: 10px;
}
.subproductsTable .valueCell2
{
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
}
        
/* Табличные данные */
.dataTable
{
    width: 99%;
    border: 0px;
    padding: 3px;
    margin: 0px;
}
.dataTable .titleCell
{
    text-align: right;
    font-weight: bold;
}
.dataTable .actionButtonsContainer
{
    padding: 5px;
    margin: 5px;
    text-align: center; /*border-top: solid 1px gray;*/
}
        
/* Объекты анкеты */
.sideBarStyle
{
    background-color: #E3EAEB;
    vertical-align: top;
    text-align: left;
    width: 30%;
}
.stepStyle
{
    vertical-align: top;
}


.overlay
{
    position: absolute;
    z-index: 200;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    filter: Alpha(Opacity=70);
    opacity: 0.70;
    -moz-opacity: 0.70;
}
