@using BarsWeb.Areas.BpkW4.Models;
@model QuestItemViewModel
<div>
    @Html.DropDownList(Model.listItems.First().LIST_CODE, Model.selectList,
    "-- Обрати --", 
    new { @class = "form-control input-sm", @style="width:340px" })
</div>
