@using BarsWeb.Areas.BpkW4.Models;
@model QuestItemViewModel 
<div>
    <input
           class="form-control input-sm"
           name="@Model.singleItem.QUEST_CODE"  
           id="numeric_@Model.singleItem.QUEST_CODE"
           value="@Model.singleItem.ATTRIBUTE_VALUE"
           type="number" style="width:130px" />
</div> 
