@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Журнал подій банківського комплексу";
}
<style>
    #gridAudit th {
        white-space: normal;
    }
</style>

<h2>@ViewBag.Title</h2>

<div id="gridAudit">

</div>

<script>
    $("#gridAudit").kendoGrid({
        dataSource: {
            transport: {
                read: {
                    dataType: 'json',
                    url: bars.config.urlContent('/Admin/Audit/GetSecAuditDate?filter=' + getFilter())
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    fields: {
                        REC_ID: { type: "number" },
                        REC_TYPE: {type: "string" },
                        REC_DATE: { type: "date" },
                        REC_BDATE: { type: "date" },
                        REC_MESSAGE: { type: "string" },
                        REC_UNAME: { type: "string" },
                        MACHINE: { type: "string" },
                        REC_UPROXY: { type: "string" },
                        REC_MODULE: { type: "string" },
                        REC_OBJECT: { type: "string" },
                        BRANCH: { type: "string"}
                    }
                }
            },
            type: 'json',
            serverPaging: true,
            pageSize: 10
        },
        sortable: true,
        resizable: true,
        pageable: {
            refresh: true,
            pageSizes: 10,
            buttonCount: 5
        },
        columns: [
            {
                field: "REC_ID",
                title: "ІД",
                width: "100px",
                sortable: true
            },
            {
                field: "REC_TYPE",
                title: "Тип події",
                width: "80px",
                sortable: false
            },
            {
                field: "REC_BDATE",
                title: "Банківська дата",
                width: "80px",
                template: "<div style='text-align:right;'>#=REC_BDATE == null ? '' : kendo.toString(REC_BDATE,'dd/MM/yyyy')#</div>",
                sortable: false
            },
            {
                field: "REC_DATE",
                title: "Дата події",
                width: "150px",
                template: "<div style='text-align:right;'>#=REC_DATE == null ? '' : kendo.toString(REC_DATE,'dd/MM/yyyy HH:mm:ss')#</div>",
                sortable: false
            },
            {
                field: "REC_MESSAGE",
                title: "Повідомлення",
                width: "500px",
                sortable: false
            },
            {
                field: "REC_UNAME",
                title: "Користувач",
                width: "100px",
                sortable: false
            },
            {
                field: "MACHINE",
                title: "Робоча станція",
                width: "150px",
                sortable: false
            },
            {
                field: "REC_UPROXY",
                title: "Ім'я proxy-користувача",
                width: "100px",
                sortable: false
            },
            {
                field: "REC_MODULE",
                title: "Модуль комплексу",
                width: "100px",
                sortable: false
            },
            {
                field: "REC_OBJECT",
                title: "Створив повідомлення",
                width: "100px",
                sortable: false
            },
            {
                field: "BRANCH    ",
                title: "Відділення",
                width: "100px",
                sortable: false
            }

        ],
    });

    function getFilter() {

        var url = document.location.href;
        var parseUrl = url.split('filter=');
        var filter= parseUrl[1];

        return filter;
    }
</script>