@using BarsWeb.Areas.BpkW4.Models;
@model QuestItemViewModel
<div>
    <input name="@Model.singleItem.QUEST_CODE" value="@Model.singleItem.ATTRIBUTE_VALUE" id="datepicker_@Model.singleItem.QUEST_CODE" type="text" style="width:130px" />
</div>
<script>
            $(document).ready(function() {
                // create DatePicker from input HTML element
                $("#datepicker_@Model.singleItem.QUEST_CODE").kendoDatePicker({  
                    // display month and year in the input
                    format: "dd.MM.yyyy"
                });
            });
</script>