@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Підписання файлів стат звітності";
}
<meta charset="utf-8" />

<script src="~/Scripts/respond.min.js?12_02_2019__18_00_33"></script>

<script src="~/Areas/SignStatFiles/Scripts/SignFiles/Main.js?12_02_2019__18_00_33"></script>
<script src="~/Areas/SignStatFiles/Scripts/Common.js?12_02_2019__18_00_33"></script>
<script src="~/Areas/SignStatFiles/Scripts/SignFiles/Signer.js?12_02_2019__18_00_33"></script>
<script src="~/Areas/SignStatFiles/Scripts/SignFiles/FilesForm.js?12_02_2019__18_00_33"></script>
<link rel="stylesheet" href="~/Areas/SignStatFiles/Content/Main.css?12_02_2019__18_00_33" />


<div class="page-header">
    <h1 id="title"></h1>
</div>

<div id="MainFilesGrid"></div>
