@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Адміністрування операцій";
}

<script src="~/Areas/Admin/Scripts/operCtrl.js"></script>
<link href="~/Areas/Admin/Css/Oper.css" rel="stylesheet" />


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Довідник доступних операцій</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div id="OperList"></div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Інформація по виділеній операції</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div id="tabstrip">
            <ul>
                <li>Карточка</li>
                <li>Флаги та реквізити</li>
                <li>Пов'язані оперції</li>
                <li>Баланс рахунку</li>
                <li>Види документів</li>
                <li>Групи контроля</li>
                <li>Інформація</li>
                <li>Директорії</li>
            </ul>
            <div id="tabCards">
                <div class="panels">
                    <div id="CardToolbar"></div>
                    <div id="AccountGrid"></div>
                    <div id="AccountGridOptions"></div>
                </div>
            </div>
            <div id="tabFlags">
                <div class="panels">
                    <div id="FlagsGrid"></div>
                    <div id="PropsGrid"></div>
                </div>
            </div>
            <div id="tabRelatedTransactions">
                <div class="panels">
                    <div id="RelatedTransactionsGrid"></div>
                </div>
            </div>
            <div id="tabBalanceAccounts">
                <div class="panels">
                    <div id="BalanceAccountsGrid"></div>
                </div>
            </div>
            <div id="tabVob">
                <div class="panels">
                    <div id="VobGrid"></div>
                </div>
            </div>
            <div id="tabMonitoringGroup">
                <div class="panels">
                    <div id="MonitoringGroupGrid"></div>
                </div>
            </div>
            <div id="tabInfo">
                <div class="panels">
                    <div id="info">
                        <div id="infoBox"></div>
                    </div>
                </div>
            </div>
            <div id="tabFolders">
                <div class="panels">
                    <div id="FoldersGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="addFlags-template">
    <div class="toolbar">
        <button id="btn_addFlag" class='btn btn-success'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Додати</button>
    </div>
</script>
<div id="flags-window">
    <div id="flags-grid" style="padding: 0px;"></div>
</div>
<div id="flag-add-window">
    <form id="flag-form">
        <table id="flag-tbl" class="table">
            <tbody>
                <tr>
                    <td>FLAG Value:</td>
                    <td><input id="fVal" style="width: 100%;" name="val" maxlength="1" /></td>
                </tr>
                <tr>
                    <td style="border-width: inherit;"></td>
                    <td style="float: right; border-width: inherit;">
                        <button id="flag-cencel" class="btn btn-danger" title="Відмінити"><i class="glyphicon glyphicon-remove"></i></button>
                        <button id="flag-add" class="btn btn-info">Виконати</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<script type="text/x-kendo-template" id="addProps-template">
    <div class="toolbar">
        <button id="btn_addProp" class='btn btn-success'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Додати</button>
    </div>
</script>
<div id="props-window">
    <div id="props-grid" style="padding: 0px;"></div>
</div>
<div id="prop-add-window">
    <form id="prop-form">
        <table id="prop-tbl" class="table">
            <tbody>
            <tr>
                <td>_USED Флаг использования для ввода:</td>
                <td><input id="used" style="width: 100%;" name="used"/></td>
            </tr>
            <tr>
                <td>_OPT Признак обязательности:</td>
                <td style="width: 50%;">
                    <div class="col-sm-9" style="padding-left: 0px;">
                        <div class="btn-group" data-toggle="buttons">
                            <label id="labM" class="btn btn-default active">
                                <input type="radio" id="opt_M" name="opt" value="M" checked="checked"/> M
                            </label>
                            <label id="labO" class="btn btn-default">
                                <input type="radio" id="opt_O" name="opt" value="O"/> O
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>_ORD:</td>
                <td><input id="ord" style="width: 100%;" name="ord"/></td>
            </tr>
            <tr>
                <td>_VAL:</td>
                <td><input id="val" style="width: 100%;" name="val"/> </td>
            </tr>
            <tr>
                <td style="border-width: inherit;"></td>
                <td style="float: right; border-width: inherit;">
                    <button id="prop-cencel" class="btn btn-danger" title="Відмінити"><i class="glyphicon glyphicon-remove"></i></button>
                    <button id="prop-add" class="btn btn-info">Виконати</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>


<script type="text/x-kendo-template" id="addBalAccounts-template">
    <div class="toolbar">
        <button id="btn_addAcc" class='btn btn-success'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Додати</button>
    </div>
</script>
<div id="accs-window">
    <div id="accs-grid" style="padding: 0px;"></div>
</div>
<div id="acc-add-window">
    <form id="acc-form">
        <table id="acc-tbl" class="table">
            <tbody>
                <tr>
                    <td>DK:</td>
                    <td><input id="dk" style="width: 100%;" name="dk" /></td>
                </tr>
                <tr>
                    <td>OB22:</td>
                    <td><input id="ob" style="width: 100%;" name="ob" /></td>
                </tr>
                <tr>
                    <td style="border-width: inherit;"></td>
                    <td style="float: right; border-width: inherit;">
                        <button id="acc-cencel" class="btn btn-danger" title="Відмінити"><i class="glyphicon glyphicon-remove"></i></button>
                        <button id="acc-add" class="btn btn-info">Виконати</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<script type="text/x-kendo-template" id="addTransaction-template">
    <div class="toolbar">
        <button id="btn_addTransaction" class='btn btn-success'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Додати</button>
    </div>
</script>

<div id="transactions-window">
    <div id="transactions-grid" style="padding: 0px;"></div>
</div>
<div id="transaction-add-window">
    <form id="transaction-form">
        <table id="transaction-tbl" class="table">
            <tbody>
                <tr>
                    <td>DK:</td>
                    <td><input id="trnsDk" style="width: 100%;" name="dk" /></td>
                </tr>
                <tr>
                    <td style="border-width: inherit;"></td>
                    <td style="float: right; border-width: inherit;">
                        <button id="transaction-cencel" class="btn btn-danger" title="Відмінити"><i class="glyphicon glyphicon-remove"></i></button>
                        <button id="transaction-add" class="btn btn-info">Виконати</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<script type="text/x-kendo-template" id="vobAddDoc-template">
    <div class="toolbar">
        <button id="btn_addDoc" class='btn btn-success'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Додати</button>
    </div>
</script>

<div id="bankDocs-window">
    <div id="bankDocs-grid" style="padding: 0px;"></div>
</div>

<div id="vob-order-window">
    <table id="vob-tbl" class="table">
        <tbody> 
            <tr>
                <td>Порядок сортування:</td>
                <td><input id="vob-order" type="number"/></td>
            </tr>
            <tr>
                <td style="border-width: inherit;"></td>
                <td style="float: right;border-width: inherit;">
                    <button id="vob-cencel" class="btn btn-danger" title="Відмінити"><i class="glyphicon glyphicon-remove"></i></button>
                    <button id="vob-add" class="btn btn-info">Виконати</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/x-kendo-template" id="addGroup-template">
    <div class="toolbar">
        <button id="btn_addGroup" class='btn btn-success'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Додати</button>
    </div>
</script>

<div id="groups-window">
    <div id="groups-grid" style="padding: 0px;"></div>
</div>

<div id="group-add-window">
    <form id="group-form">
        <table id="groups-tbl" class="table">
            <tbody>
                <tr>
                    <td>Підпис:</td>
                    <td><input id="charge-dropdown" style="width: 100%;" name="charge"/></td>
                </tr>
                <tr>
                    <td>Respond:</td>
                    <td><input id="respond" style="width: 100%;" name="respond" /></td>
                </tr>
                <tr>
                    <td>Приорітет:</td>
                    <td><input id="priority" maxlength="1" style="width: 20%;" name="priority"/></td>
                </tr>
                <tr>
                    <td>Додати SQL:</td>
                    <td><input id="groups-checkbox" type="checkbox"></td>
                </tr>
                <tr id="sql-box" style="display: none;" class="info" >
                    <td>Опис запиту:</td>
                    <td><textarea id="sql" class="k-textbox" style="width: 100%;" maxlength="2048" rows="7" name="sql"></textarea></td>
                </tr>
                <tr>
                    <td style="border-width: inherit;"></td>
                    <td style="float: right; border-width: inherit;">
                        <button id="chk-cencel" class="btn btn-danger" title="Відмінити"><i class="glyphicon glyphicon-remove"></i></button>
                        <button id="chk-add" class="btn btn-info">Виконати</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<script type="text/x-kendo-template" id="addFolder-template">
    <div class="toolbar">
        <button id="btn_addFolder" class='btn btn-success'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Додати</button>
    </div>
</script>

<div id="folders-window">
    <div id="folders-grid" style="padding: 0px;"></div>
</div>

<script type="text/x-kendo-template" id="info-template">
    <table class="table">
        <thead>
            <tr class="info">
                <th colspan="2">#:TT# . #:NAME#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Тип банківської транзакції:</td>
                <td><div id="info-transactions"></div></td>
            </tr>
            <tr>
                <td>МФО банку:</td>
                <td>#: MFOB != null ? MFOB : '-' #</td>
            </tr>
            <tr>
                <td>Рахунок А / для ОПЛАТИ:</td>
                <td>#: NLSM != null ? NLSM : '-' #</td>
            </tr>
            <tr>
                <td>Рахунок Б / для ОПЛАТИ (980):</td>
                <td>#: NLSK != null ? NLSK : '-' #</td>
            </tr>
            <tr>
                <td>Рахунок банку А / для ВВОДУ:</td>
                <td>#: NLSA != null ? NLSA : '-' #</td>
            </tr>
            <tr>
                <td>Рахунок банку Б / для ВВОДУ:</td>
                <td>#: NLSB != null ? NLSB : '-' #</td>
            </tr>
            <tr>
                <td>Символ кассплана:</td>
                <td>#: SK != null ? SK : '-' #</td>
            </tr>
            <tr>
                <td>Формула суми-А документа:</td>
                <td>#: S != null ? S : '-' #</td>
            </tr>
            <tr>
                <td>Формула суми-Б документа:</td>
                <td>#: S2 != null ? S2 : '-' #</td>
            </tr>
            <tr>
                <td>Приорітет:</td>
                <td>#: RANG != null ? RANG : '-' #</td>
            </tr>
            <tr class="info">
                <td>Властивості мультивалютної операції</td>
                <td></td>
            </tr>
            <tr>
                <td>Рахунок валют. позиції:</td>
                <td>#: S3800 != null ? S3800 : '-' #</td>
            </tr>
            <tr>
                <td>Флаги:</td>
                <td><div id="info-flags"></div></td>
            </tr>
            <tr>
                <td>Додаткові реквізити:</td>
                <td><div id="info-props"></div></td>
            </tr>
            <tr>
                <td>Види документів:</td>
                <td><div id="info-docs"></div></td>
            </tr>
            <tr>
                <td>Групи контролю:</td>
                <td><div id="info-groups"></div></td>
            </tr>
            <tr class="warning">
                <td><div id="info-rw"></div></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</script>




   