@using Kendo.Mvc.UI
@{
    Layout = null;
    @* View списка параметров для формирования отчетов *@
}

<div style="margin: 15px;">
    <div class="row">
        <div class="col-xs-12" style="margin: 5px 0px 15px 15px;">
            @(Html.Kendo().DropDownList()
                        .Name("REPORTSETTINGS")
                        .DataTextField("Report_Name")
                        .DataValueField("Report_ID")
                        .HtmlAttributes(new { style = "min-width:500px;", id = "REPORTSETTINGS" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetReportsList", "Report", new { id = 1 });
                            });
                        })
                        .Events(e =>
                          e.Change("onReportParamChange")
                           .DataBound("onReportParamDataBound")
                        ))
            <button class="k-button" style="color: forestgreen; margin-left: 10px;" title="Додати новий параметр" onclick="createParam(); return false;">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <div class="col-xs-11" style="margin-bottom: 15px;">
        <div id="data-param-container" class="fa fa-border col-xs-12 text-center" style="padding-top: 25px; padding-bottom: 25px;">

        </div>
    </div>
</div>

