@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Запит на миттєві картки.";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/BpkW4/Scripts/KendoCommon.js"></script>
<script src="~/Areas/BpkW4/Scripts/InstantCard.js"></script>

<link rel="stylesheet" href="~/Areas/BpkW4/Content/Main.css" />

<h1>@ViewBag.Title</h1>

<div class="well" id="dvFilesFilter">
    <div class="row">
        <div class="col-md-4">
            <br>
            <button id="SelectInstantCardBtn" type="button" class="btn btn-primary" style="margin-left: 25px">
                <i class="fa fa-envelope"></i> Створити запит
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>


<div id="gridMain"></div>

<div id="dialogSelectInstantCard">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="form-group">
                <label class="control-label" for="product"><b>Продукт:</b></label>
                <input class="form-control" id="product" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="form-group">
                <label class="control-label" for="cardtype"><b>Тип картки:</b></label>
                <input class="form-control" id="cardtype" />
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label" for="branch"><b>Бранч доставки:</b></label>
                <input class="form-control" id="branch" />
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="form-group">
                <label for="cardcount"><b>Кількість карток:</b></label>
                <input type="text" class="form-control" id="cardcount" style="width:40px;height:10px"  />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <button id="confirmInstantCard" class='btn btn-primary'>
                <span aria-hidden="true"></span>
                Сформувати запит?
            </button>
        </div>
    </div>
</div>