@using BarsWeb.Areas.BpkW4.Models
@model W4_DKBO_WEB_FilterParams
<h1>Приєднання клієнта до ДКБО</h1>
<link href="~/Areas/BpkW4/Content/style.css" rel="stylesheet" />
<script src="~/Areas/BpkW4/Scripts/addToDKBO.js"></script>
<div class="k-content">
    <div kendo-toolbar class="k-toolbar">
        @using (Html.BeginForm("QuestItemsShow", "Checkdkbo", Model, FormMethod.Post, new { id = "submitFormToDKBO" }))
        {
            <button class="k-button" disabled type="submit" id="btnEdit">
                <i class='pf-icon pf-16 pf-tool_pencil'></i>&nbsp; Редагувати
            </button>
            @Html.Hidden("DEAL_ID", "", new { @id = "dealId" });
            @Html.Hidden("CUSTOMER_ID", "", new { @id = "customerRnk" });
        }
        <button class='k-button' disabled id="btnPrint" onclick="printDkbo()">
            <i class='fa fa-print'></i>&nbsp;  Друк
        </button>
        <button class='k-button' disabled onclick="addToDCBO()" id="btnAdd">
            <i class='pf-icon pf-16 pf-add_button'></i>&nbsp;  Включити в ДКБО
        </button>
    </div>
    <div id="grid" class="k-grid">
    </div>
</div>