@{
        Layout = "~/Views/Shared/_LayoutPartinal.cshtml";
}
<script src="~/Scripts/Angular/angular.min.js"></script>
<script src="~/Areas/KFiles/Scripts/DataKFilesCtrl.js"></script>

<input type="hidden" value="@ViewBag.Data" id="dataview"  />
<div ng-app="BarsWeb.Areas" ng-controller="KFiles.DataKFilesCtrl">
    <form>
    <div class="panel-group panel-horizontal">
        <div class="panel panel-default grey-color">
            <div class="panel-heading" style="background-color: #E8E8E8">Номер документу:</div>
            <div class="panel-body">
                <input type="text" class="k-textbox" readonly ng-model="model.nd" />
            </div>
        </div>
        <div class="panel panel-default none"></div>
        <div class="panel panel-default grey-color">
            <div class="panel-heading" style="background-color: #E8E8E8">Вид документу:</div>
            <div class="panel-body">
                <input type="text" class="k-textbox" readonly ng-model="model.vidd" />
            </div>
        </div>
        <div class="panel panel-default none"></div>
        <div class="panel panel-default grey-color">
            <div class="panel-heading" style="background-color: #E8E8E8">Час:</div>
            <div class="panel-body">
                <input type="text" class="k-textbox" readonly ng-model="model.time"/>
            </div>
        </div>
        <div class="panel panel-default none"></div>
        <div class="panel panel-default grey-color" >
            <div class="panel-heading" style="background-color: #E8E8E8">Ознака проводки:</div>
            <div class="panel-body">
                <input type="text" class="k-textbox" readonly ng-model="model.record"/>
            </div>
        </div>
        <div class="panel panel-default none"></div>
        <div class="panel panel-default grey-color">
            <div class="panel-heading" style="background-color: #E8E8E8">Валюта:</div>
            <div class="panel-body">
                <input type="text" class="k-textbox" readonly ng-model="model.curr"/>
            </div>
        </div>
        <div class="panel panel-default none"></div>
        <div class="panel panel-default grey-color">
            <div class="panel-heading" style="background-color: #E8E8E8">Код операції:</div>
            <div class="panel-body">
                <input type="text" class="k-textbox" readonly ng-model="model.operation">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #E8E8E8">Реквізити платника:</div>
        <div class="panel-body grey-color">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Код банку:</label>
                    </div>
                    <div class="col-md-1 col-ms-1 col-xs-1 col-lg-1">
                        <input type="text" class="k-textbox" readonly ng-model="model.mfopayer"/>
                    </div>
                    <div class="col-md-8 col-ms-8 col-xs-8 col-lg-8">
                        <input type="text" class="k-textbox" readonly ng-model="model.bankpayer"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Особовий рахунок:</label>
                    </div>
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <input type="text" class="k-textbox" readonly ng-model="model.accountpayer"/>
                    </div>
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Валюта рахунку:</label>
                    </div>
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2" >
                        <input type="text" class="k-textbox" readonly ng-model="model.currpayer"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Ідентифікатор:</label>
                    </div>
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <input type="text" class="k-textbox" readonly ng-model="model.edrpoupayer"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Найменування:</label>
                    </div>
                    <div class="col-md-9 col-ms-9 col-xs-9 col-lg-9">
                        <textarea rows="3" type="text" class="k-textbox" readonly ng-model="model.namepayer"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #E8E8E8">Реквізити отримувача:</div>
        <div class="panel-body grey-color">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Код банку:</label>
                    </div>
                    <div class="col-md-1 col-ms-1 col-xs-1 col-lg-1">
                        <input type="text" class="k-textbox" readonly ng-model="model.mforeceiver" />
                    </div>
                    <div class="col-md-8 col-ms-8 col-xs-8 col-lg-8">
                        <input type="text" class="k-textbox" readonly ng-model="model.bankreceiver"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Особовий рахунок:</label>
                    </div>
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <input type="text" class="k-textbox" readonly ng-model="model.accountreceiver"/>
                    </div>
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Валюта рахунку:</label>
                    </div>
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <input type="text" class="k-textbox" readonly ng-model="model.currreceiver"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Ідентифікатор:</label>
                    </div>
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <input type="text" class="k-textbox" readonly ng-model="model.edrpoureceiver"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                        <label>Найменування:</label>
                    </div>
                    <div class="col-md-9 col-ms-9 col-xs-9 col-lg-9">
                        <textarea rows="3" type="text" class="k-textbox" readonly ng-model="model.namereceiver"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body grey-color">
            <div class="row">
                <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                    <label>Сума платежу:</label>
                </div>
                <div class="col-md-3 col-ms-3 col-xs-3 col-lg-3">
                    <input type="text" class="k-textbox" readonly ng-model="model.sum"/>
                </div>
                <div class="col-md-2 col-ms-2 col-xs-2 col-lg-2">
                    <label>Сума платежу в еквіваленті нац.валюти:</label>
                </div>
                <div class="col-md-3 col-ms-3 col-xs-3 col-lg-3">
                    <input type="text" class="k-textbox" readonly ng-model="model.sumua"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-ms-12 col-xs-12 col-lg-12">
                    <input type="text" class="k-textbox" readonly ng-model="model.nazn"/>
                </div>               
            </div>            
        </div>
    </div>

</form>
</div>
<style>
    .panel-group.panel-horizontal {
        display: table;
        width: 100%;
    }

    .panel-group.panel-horizontal > .panel.panel-default{
            display:table-cell;
    }

    .k-textbox{
        width:100%;
    }

    .panel-group.panel-horizontal > .panel.panel-default.none {
        border: none;
        width: 8px;
    }

    .row{
        margin: 8px;
    }

    form{
        height: auto;
    }

    .grey-color {
        background-color: #E8E8E8;
    }
</style>