@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Імпорт проектів на відкритя Карти Киянина";
}

<style>
    #content {

    }
    #spinner {
        background: url('/barsroot/Content/spinners/ajax-loader.gif');
        width:31px;
        height:31px;
        display: none;
    }
</style>
<div id="content">
    <h2>@ViewBag.Title</h2>
    <div id="spinner"></div>
    <form action="@Url.Action("Upload", "ImportKievCard", new { area = "BpkW4" })" method="post" enctype="multipart/form-data">
        <label for="file">Виберіть файл з архівом(у форматі zip)</label>
        <input id="file" type="file" name="file" accept=".zip" style="display:inline-block">
        <input style="display:inline-block" type="submit" value="Підтвердити">
    </form>
</div>
<script>
$(document).ready(function() {

    $('form').submit(function (event) {
        $('#spinner').css({ display: 'block' });
        if ($(this).find("input[name='file']").val() == '') {
            alert("Веберіть спочатку файл");
            return false;
        }
        return true;
    });
    
});
</script>