
/** **/
#FlagsGrid div.k-header.k-grid-toolbar {
    background-color: #d9edf7 !important;
}
#FlagsGrid div.toolbar {
    background-color: #d9edf7 !important;
}
#PropsGrid div.k-header.k-grid-toolbar {
    background-color: #d9edf7 !important;
}
#PropsGrid div.toolbar {
    background-color: #d9edf7 !important;
}

/** **/
#RelatedTransactionsGrid div.k-header.k-grid-toolbar {
    background-color: #d9edf7 !important;
}
#RelatedTransactionsGrid div.toolbar {
    background-color: #d9edf7 !important;
}

/** **/
#VobGrid div.k-header.k-grid-toolbar {
    background-color: #d9edf7 !important;
}
#VobGrid div.toolbar {
    background-color: #d9edf7 !important;
}

/** **/
#MonitoringGroupGrid div.k-header.k-grid-toolbar {
    background-color: #d9edf7 !important;
}
#MonitoringGroupGrid div.toolbar {
    background-color: #d9edf7 !important;
}

/** **/
#FoldersGrid div.k-header.k-grid-toolbar {
    background-color: #d9edf7 !important;
}
#FoldersGrid div.toolbar {
    background-color: #d9edf7 !important;
}

/** **/
#BalanceAccountsGrid div.k-header.k-grid-toolbar {
    background-color: #d9edf7 !important;
}
#BalanceAccountsGrid div.toolbar {
    background-color: #d9edf7 !important;
}

#FlagsGrid, #PropsGrid, #RelatedTransactionsGrid, #VobGrid, #MonitoringGroupGrid,
#infoBox, #FoldersGrid, #BalanceAccountsGrid {
    margin: 5px;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/*
    <hr class="colorgraph">
*/

#dropdown_transactionType, #dropdown_transactionView .k-dropdown {
     width: 250px;
}

#CardToolbar {
    margin-top: 5px;
    background-color: #d9edf7 !important;
}

#AccountGrid, #AccountGridOptions {
    margin-top: 5px;
}

/*OperGrid popup window*/
div.k-edit-form-container {
    width: 100%;
}

div.k-edit-form-container input.k-textbox {
    width: 100%;
}
div.k-edit-label label {
    width: 100%;
    font-weight: bold;
}

#OperList span.k-window-title {
    font-weight: bold;
    color: #337ab7;
}

/* Grids headers */
#OperList th.k-header, #AccountGrid th.k-header, #AccountGridOptions th.k-header {
    font-weight: bold;
}

#FlagsGrid th.k-header, #PropsGrid th.k-header, #RelatedTransactionsGrid th.k-header, #VobGrid th.k-header, #MonitoringGroupGrid th.k-header, 
#FoldersGrid th.k-header, #BalanceAccountsGrid th.k-header {
    font-weight: bold;
}