@Html.Hidden("ProcessId", (string)ViewBag.ProcessId)

<form style="margin: 10px;">
    <div class="form-group row">
        <label for="dateBlock" class="col-sm-3">Дата блокування:</label>
        <input type="text" class="form-control" id="dateBlock" style="width:140px" kendo-masked-date-picker="" mask="0000-00-00" value='@DateTime.Now.ToString("yyyy-MM-dd")' disabled>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">Тип блокування:</label>
        <select id="blockTypes" style="width: 75%"></select> 
    </div>
    <div class="form-group">
        <label for="comment">Коментар:</label>
        <textarea class="form-control" id="comment" rows="4"></textarea>
        <div id="validationtext"></div>
    </div>
    <div class="form-group">
        <div class="text-center">
            <br />
            <button class="k-button k-primary" onclick="blockFunc()">Заблокувати</button>
            <button class="k-button btn-default" id="Cancel" onclick="cancel()">Скасувати</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#blockTypes").kendoDropDownList({
            optionLabel: "Оберіть значення",
            dataTextField: "ITEM_NAME",
            dataValueField: "ITEM_ID",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: bars.config.urlContent("/api/gda/gda/GetBlockTypes")
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                }
            }
        });
    });

    function blockFunc() {
        var isValid = true;

        var comment = $("#comment").val();
        if (comment === undefined || comment.length < 1) {
            $("#validationtext").text("Введіть коментар");
            $("#validationtext").css("color", "#dc3545");
            $("#comment").css("border-color", "#dc3545");
            isValid = false;
        }
        else {
            $("#validationtext").text("");
            $("#comment").css("border-color", "#cfdadd");
        }

        var blockType = $("#blockTypes").val();
        if (blockType === "") {
            $("span[aria-owns='blockTypes_listbox'] span").css("border-color", "#dc3545");
            isValid = false;
        }
        else {
            $("span[aria-owns='blockTypes_listbox'] span").css("border-color", "#cfdadd");
        }

        if (!isValid)
            return;

        var data = {
            ProcessId: $("#ProcessId").val(),
            Comment: comment,
            Date: $("#dateBlock").val(),
            BlockType: blockType
        };

        $.ajax({
            type: "POST",
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify(data),
            url: bars.config.urlContent("/api/gda/gda/Block"),
            success: function (result) {
                window.parent.$('#createPopup').closest(".k-window-content").data("kendoWindow").close();
                window.parent.parent.$('#createWindow').closest(".k-window-content").data("kendoWindow").close();
                window.parent.parent.bars.ui.success({
                    text: "Операцію виконано успішно!",
                });
            }
        });
    }

    function cancel() {
        window.parent.$('#createPopup').closest(".k-window-content").data("kendoWindow").close();
    }
</script>