@{
    Layout = null;
}
@using System.Web.Mvc.Html
@using System.Web.Mvc
@inherits System.Web.Mvc.WebViewPage<int>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tableCustRel').jungGridView({
            updateTableUrl: '/barsroot/customers/customerrelload/' + '@Model',
            updateTableFunc: function () { showBtEditRel(null); },
            //userUpdateParamFunc: updateParam,
            viewTfoot: true
        });
    });
    function LoadCustomerRelType(rnk, relRnk, relIntext) {
        addLoader($('#CustomerRelType'));
        showBtEditRel(true);
        $.post('/barsroot/customers/customerreltype/',
               { 'id': rnk, 'relRnk': relRnk, 'relIntext': relIntext },
               function (data) {
                   if (data != 'error') {
                       $('#CustomerRelType').html(data);
                   }
                   else {
                       $('#CustomerRelType').html('Помилка завантаження даних');
                   }
                   removeLoader($('#CustomerRelType'));
               });
        //$('#CustomerRelType').load('/barsroot/customers/customerreltype/', { 'id': rnk, 'relRnk': relRnk, 'relIntxt':relIntxt }, function () { removeLoader($('#CustomerRelType')); })
    }
    function showBtEditRel(status) {
        if (status == true) {
            $('#tableCustRel img[name="delRelIco"]').removeClass('displayNone');
            $('#tableCustRel img[name="editRelIco"]').removeClass('displayNone');
        }
        if (status == false) {
            $('#tableCustRel img[name="delRelIco"]').addClass('displayNone');
            $('#tableCustRel img[name="editRelIco"]').addClass('displayNone');
            $('#CustomerRelType').html('');
        }
        if (status == null) {
            $('#tableCustRel img[name="delRelIco"]').addClass('displayNone');
            $('#tableCustRel img[name="editRelIco"]').addClass('displayNone');
            $('#CustomerRelType').html('');
        }
    }
    function addCustomerRel() {
        var newCustRel = $('<div/>');
        newCustRel.load('/barsroot/customers/customerreledit/',
                        { id: 'Model', relRnk: '0', relIntext: '0' },
                        function () {removeLoader(newCustRel);
                    }).dialog({autoOpen: true,
                           position: 'center',
                           title: 'Нова повязана особа',
                           modal: true,
                           resizable: false,
                           width: '600',
                           height: '600',
                           close: function () { $.ajax().abort(); $(this).html(''); newCustRel.remove(); },
                           buttons: [{ text: 'Зберегти', click: function () { btSevCustomerRel(); }, name: 'btSevCustomerRel' }]
                    });
        addLoader(newCustRel);
    }
    function delCustomerRel() { }
    function editCustomerRel() { }
</script>
@BarsWeb.HtmlHelpers.HtmlHelpers.CreateTable(capTableBtn: new string[,] { { "rfr", "" }/*,{"xls","exportToExel();"},{"prn","printSelectDocum();"}*/},
                                capTableCotrolBtn: new string[][,]{new[,]{{"src","/common/images/default/16/businessman_add.png"},{"title","Додати пов'язану особу"},{"alt","Додати"},{"onclick","addCustomerRel();"}},
                                                                   new[,]{{"src","/common/images/default/16/businessman_delete.png"},{"title","Видалити пов'зану особу"},{"alt","Видалити"},{"onclick","delCustomerRel();"},{"class","displayNone"},{"name","delRelIco"}},
                                                                   new[,]{{"src","/common/images/default/16/businessman_preferences.png"},{"title","Редагувати пов'язану особу"},{"alt","Редагувати"},{"onclick","editCustomerRel();"},{"class","displayNone"},{"name","editRelIco"}}},
                                columnName: new string[,] { { "РНК (клієнта)", "" }, { "Код особи (НЕ клієнта)", "" }, { "Ознака (1-ЮО,2-ФО)", "" }, { "Найменування", "" }, { "Документ", "" }, { "Серія", "" }, { "Номер", "" }, { "Коли видано", "" }, { "Ким видано", "" }, { "Дата народження", "" }, { "Місце народження", "" }, { "Стать", "" }, { "Адреса", "" }, { "Телефон", "" }, { "e-mail", "" }, { "Ідент. код / Код за ЕДРПОУ", "" }, { "Країна", "" }, { "Регіон", "" }, { "Форма власності (K081)", "" }, { "Вид екон. дiяльностi (K110)", "" }, { "Орг.-правова форма госп. (K051)", "" }, { "Інст. сектор екон. (K070)", "" }, { "Коментар", "" } },
                                preTableDivId:"tableCustRel",
                                tableContent: Html.Action("CustomerRelLoad", new { id=Model}).ToString())
<div style="position:relative;" id="CustomerRelType">

</div>