@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "ImageViewer";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/ImageViewer/Scripts/KendoCommon.js"></script>
<script src="~/Areas/ImageViewer/Scripts/ImageViewer/Main.js?v1.0.1"></script>
<link rel="stylesheet" href="~/Areas/ImageViewer/Css/ImageViewer/Main.css" />

<div class="page-header">
    <h1 id="title"></h1>
</div>

<div class="search-main"></div>

<div class="well" id="dvFilesFilter">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="searchDateStart"><b>Фото з:</b></label>
                <input type="text" class="form-control" id="searchDateStart" style="width:160px" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="searchDateEnd"><b>Фото по:</b></label>
                <input type="text" class="form-control" id="searchDateEnd" style="width:160px" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="searchImType"><b>Тип фото:</b></label>
                <input type="text" class="form-control" id="searchImType" style="width:160px" />
            </div>
        </div>
        <div class="col-md-2">
            <button id="SearchBtn" type="button" class="btn btn-primary">
                <i class="fa fa-search"></i> Пошук
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>


<div id="gridMain"></div>

<center>
    <img id="kkPhoto" src="" alt="" class="img-thumbnail img-responsive" style="display:none" />
</center>

