@{
    Layout = null;
    //ViewBag.Title = "";
}
<div ng-controller="CreditUi.commitionLimitCtrl" style="width: 100%">
    <table border="0">
        <tr>
            <td>
                <div class="panel panel-default" style="display: inline-flex;width:100%">
                    <div class="panel-body">
                        <div class="form-group">
                            <label><b>Початкова, Одноразова</b></label>
                            <label class="lbl-top">+ Дисконт (ПЛЮС), - Премія (МІНУС)</label>
                            <label>Сума:</label>  
                            <input kendo-numeric-text-box k-ng-model="credit.discontSumValue" style="width: 100px" ng-disabled="isSaveFunc()"/>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-default" style="display: inline-flex;width:100%">
                    <div class="panel-body">
                        <div class="form-group">
                            <label><b>Пеня</b></label>
                            <div class="form-group">
                                <div>
                                    <input type="checkbox" ng-model="credit.isPenaltiesValue" ng-disabled="isSaveFunc()" />
                                    <label>Базова ставка пені</label>
                                </div>
                                <div>
                                    <input kendo-numeric-text-box k-ng-model="credit.penaltiesRateValue" k-min="0" style="width: 100px" ng-disabled="credit.isPenaltiesValue" />
                                    <label>%(річна)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="lbl-top">Вал. комісійного рахунку</label>
                <select kendo-drop-down-list name="ddlCurComAcc" id="ddlCurComAcc" style="width: 300px" k-ng-model="credit.curComAccValue" k-options="ddlCurComAccOptions" k-ng-disabled="isSave"></select>  
            </td>
            <td>
                <div class="panel panel-default" style="display: inline-flex;width:100%">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="lbl-top"><b>За дострокове погашення</b></label>
                            <input kendo-numeric-text-box k-ng-model="credit.earlyRateValue" k-min="0" style="width: 100px" ng-disabled="isSaveFunc()"/>
                            <label>%</label>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="panel panel-default" style="display: inline-flex;width:100%">
                    <div class="panel-body">
                        <div class="form-group">
                            <label><b>Щомісячна, Багаторазова</b></label>
                            <div class="form-group">
                                <div>
                                    <label class="lbl-top">Метод</label>
                                    <select kendo-drop-down-list style="width: 300px" k-ng-model="credit.metrValue" k-options="ddlMetrOptions" k-ng-disabled="isSaveFunc()"></select>
                                </div>
                                <br />
                                <div>
                                    <input kendo-numeric-text-box k-ng-model="credit.metrRateValue" style="width: 100px" k-min="0" ng-disabled="isSaveFunc()"/>  <label>% або сума в залежності від метода</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td style="vertical-align:top">
                <div class="panel panel-default" style="display: inline-flex;width:100%">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="lbl-top"><b>Комісія за невикористаний ліміт</b></label>
                            <input kendo-numeric-text-box k-ng-model="credit.unusedLimitValue" k-min="0" style="width: 100px" ng-disabled="isSaveFunc()" />  <label>%</label>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>