@{
    Layout = null;
    //ViewBag.Title = "";
}
<div ng-controller="CreditUi.moreCreditParamsCtrl" style="width: 100%">
    <div kendo-tab-strip="tabParams" k-options="tabParamsOptions"></div>
</div>
