@using BarsWeb.Areas.BpkW4.Models;
@model IEnumerable<W4_DKBO_QUESTION_Result>
@using (Html.BeginForm("SaveAnswers", "Checkdkbo", Model, FormMethod.Post, null ))
{
    @Html.Hidden("CUSTOMER_ID", "", new { @id="CUSTOMER_ID_HIDDEN"})
    foreach (var item in Model)
    {
        <li class="list-group-item">
            <p class="list-group-item-text">@item.QUEST_NAME</p>
            <span>
                @Html.Action("GetQuestionByType", "Checkdkbo", item)
            </span>
        </li>
    }
    <li class="list-group-item">
        <button class="btn btn-primary" type='submit' id='btn_SaveQuest'>
            <i class='fa fa-save'></i>&nbsp; Зберегти
        </button>

        <button class="btn btn-default" id='btn_SaveQuest' onclick='closeWindow()'>
            <i class='fa fa-close'> </i> &nbsp; Закрити
        </button>
    </li>
}
