body 
{
 	margin-bottom : 0px;
 	margin-left : 5px;
 	margin-right : 5px;
 	margin-top : 2px;
}
td
{
	font-family:Verdana;
	font-size:12;	
}
.MainTable
{
	width: 100%;
	top:8px;
	bottom:8px;
	border:0px;
}
.InnerTable
{
	width:100%;
}
.HeaderText
{
	font-family:Verdana;
	font-size:14;
	font-variant:small-caps;
	width:100%;
}
.InfoText
{
	font-family:Verdana;
	font-size:12;
	width:100%;
}
.NextButton
{
	width:160px;
	height:25px;
	font-family: Arial;
	font-size: 10pt;
}