<span style="color:red">@ViewBag.Status</span>
<form method="post">
    nomer
    <input type="text" name="tel" /><br />
    text
    <input type="text" name="text" /><br />
    <input type="submit" value="test" />
</form>


<div class="buttons">
  <a href="#" class="button on"><span class="icon icon44"></span><span class="label">Active</span></a>
  <button class="action blue"><span class="label">Save</span></button>
  <button class="action red"><span class="label">Upload</span></button>
  <button class="action green"><span class="label">Comment</span></button>
  <button class="action"><span class="label">Cancel</span></button>
</div>

<div class="buttons">
  <div class="dropdown">
    <a href="#" class="button"><span class="label">File</span><span class="toggle"></span></a>
    <div class="dropdown-slider">
      <a href="#" class="ddm"><span class="label">New</span></a>
      <a href="#" class="ddm"><span class="label">Save</span></a>
    </div> <!-- /.dropdown-slider -->
  </div> <!-- /.dropdown -->
  
  <div class="dropdown">
    <a href="#" class="button"><span class="icon icon55"></span><span class="label">File</span><span class="toggle"></span></a>
    <div class="dropdown-slider">
      <a href="#" class="ddm"><span class="icon icon68"></span><span class="label">New</span></a>
      <a href="#" class="ddm"><span class="icon icon92"></span><span class="label">Open</span></a>
      <a href="#" class="ddm"><span class="icon icon67"></span><span class="label">Save</span></a>
    </div> <!-- /.dropdown-slider -->
  </div> <!-- /.dropdown -->
  
  <div class="dropdown left">
    <a href="#" class="button left">
        <span class="icon icon96"></span>
        <span class="label">Options</span>
        <span class="toggle"></span>
    </a>
    <div class="dropdown-slider">
      <a href="#" class="ddm"><span class="icon icon127"></span><span class="label">Profile</span></a>
      <a href="#" class="ddm"><span class="icon icon125"></span><span class="label">Inbox (3)</span></a>
      <a href="#" class="ddm"><span class="icon icon196"></span><span class="label">Settings</span></a>
      <a href="#" class="ddm negative"><span class="icon icon151"></span><span class="label">Logout</span></a>
    </div> <!-- /.dropdown-slider -->
  </div> <!-- /.dropdown -->
  <div class="dropdown right">
    <a href="#" class="button right">
        <span class="icon icon116"></span>
        <span class="label">Actions</span>
        <span class="toggle"></span>
    </a>
    <div class="dropdown-slider">
      <a href="#" class="ddm"><span class="icon icon122"></span><span class="label">Lock</span></a>
      <a href="#" class="ddm"><span class="icon icon123"></span><span class="label">Unlock</span></a>
    </div> <!-- /.dropdown-slider -->
  </div> <!-- /.dropdown -->
  
  <div class="dropdown">
    <a href="#" class="button"><span class="icon icon197"></span><span class="label">World Regions</span><span class="toggle"></span></a>
    <div class="dropdown-slider">
      <a href="#" class="ddm"><span class="label">The Americas</span></a>
      <a href="#" class="ddm"><span class="label">Europe &amp; Eurasia</span></a>
      <a href="#" class="ddm"><span class="label">Africa / Middle East</span></a>
      <a href="#" class="ddm"><span class="label">East Asia &amp; The Pacific</span></a>
      <a href="#" class="ddm"><span class="label">South &amp; Central Asia</span></a>
    </div> <!-- /.dropdown-slider -->
  </div> <!-- /.dropdown -->
  
  <a href="#" class="button left"><span class="icon icon108"></span></a>
  <div class="dropdown middle">
    <a href="#" class="button middle"><span class="icon icon68"></span><span class="toggle"></span></a>
    <div class="dropdown-slider">
      <a href="#" class="ddm"><span class="icon icon3"></span><span class="label">Add</span></a>
      <a href="#" class="ddm"><span class="icon icon145"></span><span class="label">Edit</span></a>
      <a href="#" class="ddm"><span class="icon icon186"></span><span class="label">Trash</span></a>
    </div> <!-- /.dropdown-slider -->
  </div> <!-- /.dropdown -->
  <a href="#" class="button right"><span class="icon icon151"></span></a>
</div> <!-- /.buttons -->

<div class="buttons tiptip"> 
  <a href="#" class="button"  title=".icon1 - Abacus"><span class="icon icon1"></span></a>
</div>

<input type="checkbox" class="checkboxUI" checked="checked" id="m2" />
<label for="m2">test2</label>
<input type="checkbox" class="checkboxUI" id="m3" />

<div style="font-family: 'Segoe UI Symbol';font-size:9pt">Segoe UI Symbol 9pt </div>&U+E006 &#xE15F

<div style="font-family: 'Segoe UI Semibold';font-size:9pt">Segoe UI Semibold 9pt</div>
<div style="font-family: 'Segoe UI Semibold';font-size:11pt">Segoe UI Semibold 11pt</div>
<div style="font-family: 'Segoe UI Semibold';font-size:16pt">Segoe UI Semibold 16pt</div>
<div style="font-family: 'Segoe UI Semibold';font-size:20pt">Segoe UI Semibold 20pt</div>
<div style="font-family: 'Segoe UI Semibold';font-size:34pt">Segoe UI Semibold 34pt</div>
<div style="font-family: 'Segoe UI Semibold';font-size:38pt">Segoe UI Semibold 38pt</div>
<div style="font-family: 'Segoe UI Semibold';font-size:42pt">Segoe UI Semibold 42pt</div>
<br/>
<br/>
<div style="font-family: 'Segoe UI Light';font-size:9pt">Segoe UI Light 9pt</div>
<div style="font-family: 'Segoe UI Light';font-size:11pt">Segoe UI Light 11pt</div>
<div style="font-family: 'Segoe UI Light';font-size:16pt">Segoe UI Light 16pt</div>
<div style="font-family: 'Segoe UI Light';font-size:20pt">Segoe UI Light 20pt</div>
<div style="font-family: 'Segoe UI Light';font-size:34pt">Segoe UI Light 34pt</div>
<div style="font-family: 'Segoe UI Light';font-size:38pt">Segoe UI Light 38pt</div>
<div style="font-family: 'Segoe UI Light';font-size:42pt">Segoe UI Light 42pt</div>
<br/>
<br/>
<div style="font-family: 'Segoe UI Bold';font-size:9pt">Segoe UI Bold 9pt</div>
<div style="font-family: 'Segoe UI Bold';font-size:11pt">Segoe UI Bold 11pt</div>
<div style="font-family: 'Segoe UI Bold';font-size:16pt">Segoe UI Bold 16pt</div>
<div style="font-family: 'Segoe UI Bold';font-size:20pt">Segoe UI Bold 20pt</div>
<div style="font-family: 'Segoe UI Bold';font-size:34pt">Segoe UI Bold 34pt</div>
<div style="font-family: 'Segoe UI Bold';font-size:38pt">Segoe UI Bold 38pt</div>
<div style="font-family: 'Segoe UI Bold';font-size:42pt">Segoe UI Bold 42pt</div>
<br/>
<br/>
<div style="font-family: 'Segoe UI Semilight';font-size:9pt">Segoe UI Semilight 9pt</div>
<div style="font-family: 'Segoe UI Semilight';font-size:11pt">Segoe UI Semilight 11pt</div>
<div style="font-family: 'Segoe UI Semilight';font-size:16pt">Segoe UI Semilight 16pt</div>
<div style="font-family: 'Segoe UI Semilight';font-size:20pt">Segoe UI Semilight 20pt</div>
<div style="font-family: 'Segoe UI Semilight';font-size:34pt">Segoe UI Semilight 34pt</div>
<div style="font-family: 'Segoe UI Semilight';font-size:38pt">Segoe UI Semilight 38pt</div>
<div style="font-family: 'Segoe UI Semilight';font-size:42pt">Segoe UI Semilight 42pt</div>
<br/>
<br/>
<div style="font-family: 'Segoe UI';font-size:9pt">Segoe UI 9pt</div>
<div style="font-family: 'Segoe UI';font-size:11pt">Segoe UI 11pt</div>
<div style="font-family: 'Segoe UI';font-size:16pt">Segoe UI 16pt</div>
<div style="font-family: 'Segoe UI';font-size:20pt">Segoe UI 20pt</div>
<div style="font-family: 'Segoe UI';font-size:34pt">Segoe UI 34pt</div>
<div style="font-family: 'Segoe UI';font-size:38pt">Segoe UI 38pt</div>
<div style="font-family: 'Segoe UI';font-size:42pt">Segoe UI 42pt</div>
<br/>
<br/>

<input type="text" style="font-family:'Colibri';font-size:13pt;" value="test Test TEST" />

<style>
    	#demo {
		margin: 30px 0 50px 0;
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	}
	
	#demo .wrapper {
		display: inline-block;
		width: 180px;
		margin: 0 10px 0 0;
		height: 20px;
		position: relative;
	}
	
	#demo .parent {
		height: 100%;
		width: 100%;
		display: block;
		cursor: pointer;
		line-height: 30px;
		height: 30px;
		border-radius: 5px;
		background: #F9F9F9;
		border: 1px solid #AAA;
		border-bottom: 1px solid #777;
		color: #282D31;
		font-weight: bold;
		z-index: 2;
		position: relative;
		-webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
		-webkit-transition-delay: .8s;
		text-align: center;
	}
	
	#demo .parent:hover,
	#demo .content:hover ~ .parent {
		background: #fff;
		-webkit-transition-delay: 0s, 0s, 0s;
	}
	
	#demo .content:hover ~ .parent {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		z-index: 0;
	}
	
	#demo .content {
		position: absolute;
		top: 0;
		display: block;
		z-index: 1;
		height: 0;
		width: 180px;
		padding-top: 30px;
		-webkit-transition: height .5s ease;
		-webkit-transition-delay: .4s;
		border: 1px solid #777;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.4);
	}
	
	#demo .wrapper:active .content {
		height: 123px;
		z-index: 3;
		-webkit-transition-delay: 0s;
	}
	
	#demo .content:hover {
		height: 123px;
		z-index: 3;
		-webkit-transition-delay: 0s;
	}
	
	
	#demo .content ul {
		background: #fff;
		margin: 0;
		padding: 0;
		overflow: hidden;
		height: 100%;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	#demo .content ul a {
		text-decoration: none;
	}
	
	#demo .content li:hover {
		background: #eee;
		color: #333;
	}
	
	#demo .content li {
		list-style: none;
		text-align: left;
		color: #888;
		font-size: 14px;
		line-height: 30px;
		height: 30px;
		padding-left: 10px;
		border-top: 1px solid #ccc;
	}
	
	#demo .content li:last-of-type {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

</style>


<div id="demo">
	<div class="wrapper">
		<div class="content">
			<ul>
				<a href="#"><li>Lorem ipsum dolor</li></a>
				<a href="#"><li>Consectetur adipisicing</li></a>
				<a href="#"><li>Reprehenderit</li></a>
				<a href="#"><li>Commodo consequat</li></a>
			</ul>
		</div>
		<div class="parent">Выпадающее меню 1</div>
	</div>
	
	<div class="wrapper">
		<div class="content">
			<ul>
				<a href="#"><li>Lorem ipsum dolor</li></a>
				<a href="#"><li>Consectetur adipisicing</li></a>
				<a href="#"><li>Reprehenderit</li></a>
				<a href="#"><li>Commodo consequat</li></a>
			</ul>
		</div>
		<div class="parent">Выпадающее меню 2</div>
	</div>
	
	<div class="wrapper">
		<div class="content">
			<ul>
				<a href="#"><li>Lorem ipsum dolor</li></a>
				<a href="#"><li>Consectetur adipisicing</li></a>
				<a href="#"><li>Reprehenderit</li></a>
				<a href="#"><li>Commodo consequat</li></a>
			</ul>
		</div>
		<div class="parent">Выпадающее меню 3</div>
	</div>
</div>