



.jungGridView,
.jungGridView table {
    position:relative;
    border-collapse:collapse;
    border:none;
    width:100%;
    display:block;
    font-family:'Segoe UI Semilight', Arial, Verdana, 'Open Sans', Verdana, Helvetica, sans-serif;
    /*background-color:#42cb52;/*зелений*/
    /*background-color:#f6ba17;/*желтый*/
    /*background-color:#f6174f;/*розовый*/
    /*background-color:#c944c8;/*фиолетовый*/
    /*background-color:#00bbf1;/*голубой*/
    /*background-color:#0072c6;/*синий*/
    /*background-color:#2672ec;/*синий*/
}

/*стили для лоадера*/
.jung-grid {
  border: 0 solid #4280f3/*#2672ec*/;
  padding: 0;
  position: relative;
}
.jung-grid .divPreloader{
    position:absolute; width:98%;
}
.jung-grid .divPreloader .overlay{
    position:absolute;width:100% ;left:0; background-image:url(images/onepixel.gif);
}
.jung-grid .divPreloader .loading{
    border: 1px solid red;
    padding:10px;margin:0 auto;width:230px;border:2px solid #4280f3 /*#e3f1fb #bdcff7 #00bbf1*/;background-color:#fff;
}
/*.jung-grid .divPreloader .loading #lbStatus{}*/
.jung-grid .divPreloader .loading #lbImgLoading{
    background-image:url(images/load-line12-0072c6.gif);background-repeat:no-repeat;height:25px;
}
/*.preTableDiv {
    border: 1px solid red;
}
.divPreloader{
  border: 1px solid red;
    position:absolute; width:98%;
}
.divPreloader .overlay{
    border: 1px solid red;
    position:absolute;width:100% ;left:0; background-image:url(img/onepixel.gif);
}
.divPreloader .loading{
    border: 1px solid red;
    padding:10px;margin:0 auto;width:230px;border:2px solid #2672ec;background-color:#fff;
}
.divPreloader .loading #lbStatus{}
.divPreloader .loading #lbImgLoading{
    border: 1px solid red;
    background-image:url(img/load-line12-0072c6.gif);background-repeat:no-repeat;height:25px;
}
.jungGridView caption {

}*/

.jungGridView thead tr th,
.jungGridView thead tr td {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 2px;
  padding-right: 0;
  border-bottom: 1px #bdcff7 solid;
  border-right: 1px #bdcff7 solid;
  border-left: 1px #bdcff7 solid;
  border-top: 1px #bdcff7 solid;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 13pt;
  font-smooth: always;
  font-weight:600;
  text-align: right;
  color:#fff;
  color:#4280f3;
  white-space:nowrap;
}
.jungGridView thead tr th span,
.jungGridView thead tr td span{
    font-size:12px;
  display: inline-block;
}
.jungGridView thead tr th div,
.jungGridView thead tr td div{
  position: relative;
    cursor:pointer;
  display: inline-block;
}
.jungGridView thead tr th div.colName,
.jungGridView thead tr td div.colName{
  margin: 1px 2px;
}
.jungGridView thead tr th div.addFilter,
.jungGridView thead tr td div.addFilter{
  float: right;
  width: 12px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  /*left: 20px;*/
  height: 100%;
  background: no-repeat left center;
  background-color: #c3daf9;
  background-image: url(images/grid3-hd-btn.gif) 
  
}
.jungGridView thead tr th div.delFilter,
.jungGridView thead tr td div.delFilter{
  float: right;
  width: 12px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 12px;
  /*left: 20px;*/
  height: 100%;
  background: no-repeat left center;
  background-image: url(images/close.gif)  
}

.jungGridView thead tr th div.filter,
.jungGridView thead tr td div.filter{
  background-color: #fffacd;
  margin: 0;
  
}
.jungGridView thead tr th div.dialogFilter,
.jungGridView thead tr td div.dialogFilter {
  width: 100px;
  height: 45px;
  position: absolute;
  background-color: #efefef;
  border: 1px solid #99bce8;
  color: #000000;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  right: 0px;
  display: none;
}
.jungGridView thead tr th div.dialogFilter div,
.jungGridView thead tr td div.dialogFilter div {
  display: block;
}
.jungGridView thead tr th div.dialogFilter select,
.jungGridView thead tr td div.dialogFilter select {
  font-size: 12px;
  padding: 0;
  margin-bottom: 2px;
}
.jungGridView thead tr th div.dialogFilter input,
.jungGridView thead tr td div.dialogFilter input {
  width: 90px;
  height: 14px;
}

.jungGridView tbody tr td {
  font-family:  Verdana, 'Segoe UI Light', 'Open Sans',Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 14pt;
  font-smooth: always;
  padding: 1px 5px;
  border-right: 1px #d4d4d4 solid;
  border-bottom: 1px #d4d4d4 solid;
  border-left: 1px #d4d4d4 solid;
  border-top: 1px #d4d4d4 solid;
  box-sizing: border-box;
  color:#000;
  white-space:nowrap;
}
.jungGridView tbody tr.statusRow td{
  text-align:center;
  background-color:#fff;
}

/********/

.jungGridView tbody tr.normalRow
{
  background-color: #F0F0F0;
}
.jungGridView tbody tr.alternateRow
{
    background-color:White;
}
.jungGridView tbody tr.alternateRow, 
.jungGridView tbody tr.normalRow, 
.jungGridView tbody tr.selectedRow
{
    cursor:pointer;
}
.jungGridView tbody tr.alternateRow:hover, 
.jungGridView tbody tr.normalRow:hover
{
    background-color:#d7ebf9;
}
.jungGridView tbody tr.selectedRow,
.jungGridView tbody tr.normalRow.selectedRow,
.jungGridView tbody tr.alternateRow.selectedRow
{
	background-color: #adddff;
}
.jungGridView tbody tr.selectedRow:hover,
.jungGridView tbody tr.normalRow.selectedRow:hover,
.jungGridView tbody tr.alternateRow.selectedRow:hover
{
	background-color: #adddff;
}
.jungGridView tbody tr.insert td {
padding:1px;
}
.jungGridView tbody tr.insert td input {
margin:0;
}

.jungGridView tfoot tr td {
  background-color:#4280f3/*#5698cf*/;
  font-weight: 300;
  font-size: 11pt;
  letter-spacing: 0.02em;
  line-height: 14pt;
  font-smooth: always;
  padding: 0 10px;
  border-bottom: 1px #bdcff7 solid;
  border-right: 1px #bdcff7 solid;
  border-left: 1px #bdcff7 solid;
  border-top: 1px #bdcff7 solid;
  box-sizing: border-box;
  color: #fff;
  word-wrap:normal;
  height: 24px;
}

.jungGridView tfoot tr td input
{
	font-size:11pt;
    margin:0;
    padding:1px;
    background-color:#fff;
}
.jungGridView tfoot tr td .button,
.jungGridView thead tr td .button,
.jungGridView thead tr th .button,
.jungGridView caption .button {   
    float: left;
    display:inline-block;
    border:0 solid;
    padding:0;
    margin:0 0 0 0;
    background:none;
}
.jungGridView tfoot tr td .button .icon,
.jungGridView thead tr td .button .icon,
.jungGridView thead tr th .button .icon,
.jungGridView caption .button .icon {
    background-image: url("images/sprite.png");    
    display:inline-block;
    padding:0;
    margin:0;
}
.jungGridView tfoot tr td .button:hover .icon,
.jungGridView thead tr td .button:hover .icon,
.jungGridView thead tr th .button:hover .icon,
.jungGridView caption .button:hover .icon {
    background-image: url("images/sprite.png");    
}
.jungGridView thead tr td .button,
.jungGridView thead tr th .button,
.jungGridView thead tr td .button .icon,
.jungGridView thead tr th .button .icon{
    height: 16px;
    width: 16px;
    max-width:16px;
}
.jungGridView tfoot tr td .button,
.jungGridView caption .button,
.jungGridView tfoot tr td .button .icon,
.jungGridView caption .button .icon {
    height: 20px;
    width: 20px;
    max-width:20px;
  margin-top: 1px; 
}
.jungGridView tfoot tr td .button .delete-all-filter{
  background-image: url(images/16/filter-delete.png)
}
.jungGridView tfoot tr td .button .delete-all-filter:hover{
  background-image: url(images/16/filter-delete.png)
}
.jungGridView tfoot tr td span {
    display:inline-block;float:left;
}
.jungGridView tfoot tr td span.text {
    margin:1px 5px 0 5px;
}
.jungGridView tfoot tr td span.pageNum {
    font-size:16px;
}


/*.jungGridView caption .button .navigateRefresh,
.jungGridView tfoot tr td .button .navigateRefresh
{
    background-position: -120px -157px;
}
.jungGridView caption .button .navigateRefresh:active
.jungGridView tfoot tr td .button .navigateRefresh:active
{
    background-position: -120px -157px;
}

.jungGridView tfoot tr td .button .navigateRight
{
    background-position: -24px -157px;
}
.jungGridView tfoot tr td .button .navigateRight:active
{
    background-position: -24px -181px;
}
.jungGridView tfoot tr td .button .navigateLeft
{
    background-position: -96px -157px;
}
.jungGridView tfoot tr td .button .navigateLeft:active
{
    background-position: -96px -181px;
}*/

.jungGridView caption .button .navigateRefresh,
.jungGridView tfoot tr td .button .navigateRefresh
{
    background-position: -140px -460px;
}
.jungGridView caption .button .navigateRefresh:active
.jungGridView tfoot tr td .button .navigateRefresh:active
{
    background-position: -140px -460px;
}

.jungGridView tfoot tr td .button .navigateRight
{
    background-position: -20px -460px;
}
.jungGridView tfoot tr td .button .navigateRight:active
{
    background-position: -20px -460px;
}
.jungGridView tfoot tr td .button .navigateLeft
{
    background-position: -100px -460px;
}
.jungGridView tfoot tr td .button .navigateLeft:active
{
    background-position: -100px -460px;
}

.jungGridView thead tr td .button .icon.sortASC,
.jungGridView thead tr th .button .icon.sortASC
{
    background-position: -280px -524px;
}
.jungGridView thead tr td .button .icon.sortDESC,
.jungGridView thead tr th .button .icon.sortDESC
{
    background-position: -296px -524px;
}

.jungGridView tfoot tr td input.rowNumber
{
  font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif" !important;
    width:30px;text-align:center;
    padding:0 1px 0 1px !important;
    font-size:14px;
}

.jungGridView tfoot tr td span.text-error {
color:red !important;
}
.jungGridView tfoot tr td {
white-space: nowrap;
}

/*
.preTableDiv table.hovered {
  border-collapse: separate !important;
}
.preTableDiv table.hovered thead tr th:hover,
.preTableDiv table.hovered thead tr td:hover {
  border: 1px #1c98cc solid;
  background: rgba(28, 183, 236, 0.1);
}
.preTableDiv table.hovered tbody tr:hover {
  background-color: rgba(28, 183, 236, 0.1);
}
.preTableDiv table.hovered tbody tr:hover td:first-child {
  border-left: 1px #1c98cc solid;
}
.preTableDiv table.hovered tbody tr:hover td:last-child {
  border-right: 1px #1c98cc solid;
}
.preTableDiv table.hovered tbody tr:hover td {
  border-top: 1px #1c98cc solid;
  border-bottom: 1px #1c98cc solid;
}
.preTableDiv table.bordered {
  border-collapse: separate !important;
  border: 1px #ccc solid !important;
}
.preTableDiv table.bordered tbody tr:last-child td {
  border-bottom: 0;
}*/
