#wrapper {
	text-align: center;
	font-family: Arial, Verdana, Sans-serif;
	font-size: 12px;
	padding: 0 0;
	background: #e2e2e2;
	width: 200px;
	margin: 0 auto;
}
#calculator {
	width: 100%;
	height: 293px;
	font-size: 16px;
}
#calculatorCurentOper {
  text-align: left;
  width: 100%;
  height: 18px;
  color: #000;
  font-size: 16px;
  float: left;
}
#calculatorResult {
  text-align: right;
	font-size: 24px;
	width: 185px;
	padding: 2px 5px 2px 5px;
	border: solid 1px #111;
	background: #333;
	color:#fff;
	margin-bottom: 5px;	
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#calculatorKeyboard {
	width: 100%;
	float: left;
	list-style: none;
  margin: 0;
  padding: 0;
}
#calculatorKeyboard li {
	display: block;
	color: #fff;
	float: left;
	padding: 13px 0 0 0;
	width: 45px;
	height: 25px;
	border: solid 1px #111;
	cursor: pointer;
	margin: 0 3px 3px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(images/button.png) repeat-x 0 -5px #0c7dab;
}
#calculatorKeyboard li.double {
	width: 95px;
}
#calculatorKeyboard li.operator {
	background: url(images/button.png) repeat-x 0 -55px #084f6c;
}
#calculatorKeyboard li.summary {
	background: url(images/button.png) repeat-x 0 -105px #083b50;
}
#calculatorKeyboard li:hover {
	background-image: none;
}
#calculatorKeyboard li.active {
	background: url(images/button.png) repeat-x 0 -155px #693d08;
}