table.grid-table {
  border-collapse: collapse;
}
table.grid-table thead {
  font-weight: 300;
  background-color: #ffffff; 
}
table.grid-table thead tr {
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
  height: 30px;
}

table.grid-table tbody tr:nth-child(odd) {
  background-color:#f9f9f9
}
table.grid-table tbody tr {
  cursor: pointer;
}
table.grid-table tbody tr:hover {
  background-color: #d7ebf9; 
}
table.grid-table tbody tr.grid-row.grid-row-selected td{
  background-color: #adddff !important;
  border-top: 1.1px solid #4280f3;
  border-bottom: 1px solid #4280f3;
  color: inherit;
  color:expression(this.parentNode.currentStyle ? this.parentNode.currentStyle.color: 'black');

}
table.grid-table tbody tr.grid-row.grid-row-selected td:last-child {
  border-right: 1px solid #4280f3;
}
table.grid-table tbody tr.grid-row.grid-row-selected td:first-child {
  border-left: 1px solid #4280f3;
}
table.grid-table thead tr td,
table.grid-table thead tr th,
table.grid-table tbody tr td  {
   border: 1px solid #d4d4d4;
  padding: 0;
  padding-right: 3px; 
}
table.grid-table thead tr td,
table.grid-table thead tr th {
    border-bottom: 2px solid #dddddd;
}
table.grid-table tbody tr td  {
  padding: 1px 3px; 
}
.grid-mvc table.grid-table .grid-filter {
float:left;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
table.grid-table .filtered.grid-filter-btn-close {
  width: 12px;
  height: 12px;
  display: block;
  float: left;
  cursor: pointer;
  margin-left: 3px;
  margin-top: 3px;
  background: url('images/16/close.png') no-repeat;
}
table.grid-table thead tr td.grid-header .grid-header-title,
table.grid-table thead tr th.grid-header .grid-header-title  {
  margin-right: 0;
  margin-left: 16px;
  padding-right: 5px;
  width: auto;
}
table.grid-table thead tr td .grid-filter .grid-dropdown,
table.grid-table thead tr th .grid-filter .grid-dropdown {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  text-align: left;
  top: 8px !important;
  left:-100px;
  -webkit-box-shadow: 0 0 15px gray;
  -ms-box-shadow: 0 0 15px gray;
  box-shadow: 0 0 15px gray;
    -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
table.grid-table thead tr td .grid-filter .grid-dropdown .grid-dropdown-inner .grid-popup-widget .grid-filter-datepicker .ui-datepicker,
table.grid-table thead tr th .grid-filter .grid-dropdown .grid-dropdown-inner .grid-popup-widget .grid-filter-datepicker .ui-datepicker{
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
table.grid-table thead tr th .grid-filter .grid-dropdown .grid-dropdown-inner .grid-filter-buttons{
   text-align: right;
}
table.grid-table thead tr th .grid-filter .grid-dropdown .grid-dropdown-inner .form-group,
table.grid-table thead tr td .grid-filter .grid-dropdown .grid-dropdown-inner .form-group {
  margin-bottom: 5px;
}
table.grid-table thead tr th .grid-filter .grid-dropdown .grid-dropdown-inner .form-group label,
table.grid-table thead tr td .grid-filter .grid-dropdown .grid-dropdown-inner .form-group label{
  font-weight: bold;
}
table.grid-table thead tr td .grid-filter .grid-dropdown .grid-dropdown-inner .form-group select.grid-filter-type,
table.grid-table thead tr th .grid-filter .grid-dropdown .grid-dropdown-inner .form-group select.grid-filter-type{
  width: 100%;
}
table.grid-table thead tr td .grid-filter .grid-dropdown .grid-dropdown-inner .form-group input.grid-filter-input,
table.grid-table thead tr th .grid-filter .grid-dropdown .grid-dropdown-inner .form-group input.grid-filter-input {
  border: 1px solid #d4d4d4;
}


table.grid-table tfoot tr td {
  line-height: 1.4;
}
table.grid-table tfoot tr td .grid-footer .grid-pager .pagination {
  display: inline-block;
  padding-left: 0;
  float: left;
}
table.grid-table tfoot tr td .grid-footer .grid-pager .pagination li {
  display: inline-block;
  float: left;
  list-style-type: none;
}
table.grid-table tfoot tr td .grid-footer .grid-pager .pagination li span, 
table.grid-table tfoot tr td .grid-footer .grid-pager .pagination li a {
  display: inline-block;
  font-weight: inherit;
  text-decoration: none;
  color: rgb(38, 114, 236);
  cursor: pointer;
  border: 1px solid #d4d4d4;
  padding: 3px 6px;
}
table.grid-table tfoot tr td .grid-footer .grid-pager .pagination li.active span {
  color: #ffffff;
  background-color: #428bca;
  border: 2px solid #428bca;
  cursor: default;
}

table.grid-table tfoot tr td .grid-footer .grid-pager .pagination li a.btn [class*='icon-'] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 2px; 
}
table.grid-table tfoot tr td .grid-footer .grid-pager .pagination li a.btn .type-xls {
    background: url('images/16/exel.png') no-repeat;
}
table.grid-table tfoot tr td .grid-footer .grid-pager .pagination li a.btn .icon-refresh {
    background: url('images/16/reload.png') no-repeat;
}
table.grid-table tfoot tr td .grid-footer .grid-pager .pagination li a.btn .icon-spinner {
    background: url('images/mini-loader.gif') no-repeat;
}

