.tabActive
{
	cursor: pointer;
	height: 20px;
}
.tabActive a{
  display: block;
  border: 1px solid #c5d0dc;
  border-top: 3px solid #4c8ebc;
  border-bottom: 1px solid #fff;
  padding: 4px;
  background-color: #fff;
  color: navy;
  font-family: Arial;
  font-weight: bold;
  font-size: 10pt;
  margin-left: 2px; 
}
.tabDeactive 
{
  cursor: pointer;
  height: 20px;
  border-bottom: 0 solid #c5d0dc;
}
.tabDeactive a {
  display: block;
  border: 1px solid #c5d0dc;
  border-bottom: 0;
  padding: 4px;
  padding-top: 5px; 
  background-color: #f8f8f8;
  color: #576373;
  font-family: Arial;
  font-weight: bold;
  font-size: 10pt;
  margin-left: 2px; 
}
.tabDeactive a:hover {
  padding-top: 4px;
  border-top: 2px solid #4c8ebc;
}


.web-tab
{
   background-color: transparent;

}
.web-tab .tabDeactive
{
  cursor: pointer;
  height: 14px;
  border: 1px solid #c5d0dc;
  border-bottom: 0 solid #c5d0dc;

}
.web-tab .tabDeactive a {
  display: block;
  border: 1px solid #c5d0dc;
  border-bottom: 0;
  padding: 4px;
  padding-top: 5px; 
  background-color: #f8f8f8;
  color: #576373;
  font-family: Arial;
  font-weight: bold;
  font-size: 10pt;
  margin-left: 2px; 
}
.web-tab .tabActive {
  border: 1px solid #c5d0dc;
  border-top: 3px solid #4c8ebc;
  border-bottom: 1px solid #fff;
}
.web-tab .tabActive a{
  display: block;
  border: 1px solid #c5d0dc;
  border-top: 3px solid #4c8ebc;
  border-bottom: 1px solid #fff;
  padding: 4px;
  background-color: #fff;
  color: navy;
  font-family: Arial;
  font-weight: bold;
  font-size: 10pt;
  margin-left: 2px; 
}
.primaryStaticHover
{
   color: #800000;
   background: #f0e7d7;
}
.web-tab .tabDeactive.hover {

  border-top: 2px solid #4c8ebc;
}
.web-tab .tabActive.hover {

  border-top: 3px solid #4c8ebc;
}
.web-tab .tabDeactive a:hover {
    text-decoration: none
}
.primaryDynamicMenu
{   
   background-color: #f7f2ea;               
   border-bottom: solid 1px #ccc;    
}  
.primaryDynamicMenuItem
{
   width: 10em;
   background-color: #f7f2ea; 
   color: #777;
   padding: 0.5em 0 0.5em 1em;
   border-width: 1px;
   border-color: #f7f2ea #aaab9c #f7f2ea #efefef;  
   border-style: solid;         
}    
.primaryDynamicHover
{
   color: #800000;
   background: #f0e7d7;
}            

.secondaryLevelOne
{
   background-color: transparent;
   background-repeat: repeat-x;
   margin: 1.5em 0 0 0;
   padding: 5px 0 0 5px;
   width: 12em; 
   height: 35px;
}
.secondaryLevelTwo
{
   background: #FAFBFB;
   padding: 5px 0 5px 5px;         
}
.secondaryStaticHover
{
   color: #800000;
}