<div kendo-window="wndBackReason" 
    k-visible="false" 
    k-modal="true"
    k-width="500" 
    k-height="200"
    k-resizable="false">
<!--        <form name="frmBack" ng-submit="frmBack.$valid && backRequest(bridge.birjaBackRequestModel)" novalidate>
            

            
                <h1 class="text-info">Back Info</h1>
 -->

 <div >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">.col-md-6</div>
            <div class="col-md-6">.col-md-6</div>
        </div>
    </div>    
 </div>
                 

<!--
            <label>Back mode type</label>
            <input type="number" ng-model="bridge.birjaBackRequestModel.Mode">
            <label>ID item</label>
            <input type="number" ng-model="bridge.birjaBackRequestModel.Id">
            <label>Reason select type</label>
            <input ng-model="bridge.birjaBackRequestModel.BackReasonId">
            <label>Comment</label>
            <textarea type="text" ng-model="bridge.birjaBackRequestModel.Comment" required></textarea>

            <button 
                class="k-button" 
                type="submit" 
                ng-disabled="!frmBack.$valid">[Submit]</button>
-->
<!--        </form> -->
</div>