<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <location path="import_bic.aspx">
    <system.web>
      <httpRuntime maxRequestLength="1000000" executionTimeout="3600" />
    </system.web>
    <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    </system.webServer>
  </location>
</configuration>