
.notaDlg label{
    width: 420px;
    text-align: right;
}

.notaDlg input, .notaDlg span.k-textbox, .notaDlg .k-multiselect{
    width: 180px;
}

.notaDlg .k-floatwrap {
    display: inline-block;
}

button.k-state-default {
    background-color: #74b1df;
    color: #fff;
    border: none;
}

.k-textbox .k-icon {
    position: static;
}

span.k-tooltip {
    position: absolute;
}
