@{
    string title = "";
    var level = Request.Params["level"];
    if (level == "RU")
    {
        title = "Формування реєстру. Увага пошук по датам враховує і дату подання АВР!!!";
    }
    else
    {
        title = "Список кредитів";
    }
}
<script src="@Url.Content("~/lib/jsZip/jszip.js")"></script>
<script src="~/Areas/Escr/Scripts/index.js"></script>
<link href="~/Areas/Escr/Css/index.css" rel="stylesheet" />
<h1>@title</h1>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Ссылки</title>
    <style type="text/css">
        A.link1 {
            font-size: 15px;
            font-weight: bold;
            color: blue;
        }
    </style>
</head>
<body>
    <p>
        <a href="/barsroot/Areas/Escr/Docs/ESCR_USR_DOCS.docx" class="link1">Завантажити інструкцію користувача</a>
    </p>
</body>
</html>




<table id="filter" class="reg-filter">
    <tr>
        <td>
            <label for="dtFrom" class="control-label">Дата з:</label>
        </td>
        <td>
            <input type="text" id="dtFrom" style="width:200px" required />
        </td>
        <td>
            <label for="dtTo" class="control-label">Дата по:</label>
        </td>
        <td>
            <input type="text" id="dtTo" style="width:200px" />
        </td>
        <td style="text-align:center">
            <button id='btnClear' class='k-button' title='Очистити всі фільтри' style="width:120px">
                <span class='pf-icon pf-16 pf-reload_rotate'></span> Очистити
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <label for="ddlType" class="control-label">Тип реєстру:</label>
        </td>
        <td>
            <select id="ddlType" style="width:250px"></select>
        </td>
        <td>
            <label for="ddlView" class="control-label">Вид реєстру:</label>
        </td>
        <td>
            <select id="ddlView" style="width:250px"></select>
        </td>
        <td style="text-align:center">
            <button id='btCreate' class='k-button' style="width:120px">
                <span class='pf-icon pf-16 pf-add_button'></span> Сформувати
            </button>
            <button id='btSearch' class='k-button' style="width:120px;display:none">
                <span class='pf-icon pf-16 pf-find'></span> Пошук
            </button>
        </td>
    </tr>
</table>
<div style="margin-top:20px" id="conteintGEnergo">
    <div id="gridEnergo" class="fixed_headers"></div>
</div>
<div id="dialogSetDate">
    <div class="form-group" id="filterTag" style="padding-left:38px" >
        <label class="radio-inline"><input type="radio" id="rbDocDate" checked name="optradio" value="ES002"> Про цільове признач.</label>
        <label class="radio-inline"><input type="radio" id="rbAvrDate" name="optradio" value="ES013">АВР або заяви</label>
    </div>
    <div class="form-group">
        <label for="message" class="control-label">Дата:</label>
        <input type="text" id="dtDocDate" style="width:200px" required />
    </div>
    <button id='btnOk' class='k-button'>
        <span class='pf-icon pf-16 pf-ok'></span> Зберегти
    </button>
</div>
<script id="events-template" type="text/x-kendo-template">
    <div style="width:50%">
        <div id="gridEvents"></div>
    </div>
</script>
<script>
    var isCreate = false;
    $(document).ready(function () {
        var toolbar = [];
        if ('@level' == 'RU') {
            toolbar.push({
                name: "btSave",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-save'></span> Зберегти"
            });
            toolbar.push({
                template: " | "
            });
            toolbar.push({
                name: "btSetDate",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-calendar-update'></span> Встановити дату",
                enable: false
            });
            toolbar.push({
                name: "btChange",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-ok'></span> Виправлено"
            });
            toolbar.push({
                template: " | "
            });
            toolbar.push({
                name: "btGo",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-user_group'></span> Портфель реєстрів"
            });
            toolbar.push({
                name: "btToExcel",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-exel'></span> MS Excel"
            });
            toolbar.push({
                template: " | "
            });
            toolbar.push({
                name: "btSync",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-execute'></span> Синхронізувати з ЦА"
            });
        }
        else if ('@level' == 'TOBO') {
            toolbar.push({
                name: "btSetDate",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-calendar-update'></span> Встановити дату"
            });
            toolbar.push({
                name: "btChange",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-ok'></span> Виправлено"
            });
            toolbar.push({
                template: " | "
            });
            toolbar.push({
                name: "btToExcel",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-exel'></span> MS Excel"
            });
            toolbar.push({
                template: " | "
            });
            toolbar.push({
                name: "btSync",
                type: "button",
                text: "<span class='pf-icon pf-16 pf-execute'></span> Синхронізувати з ЦА"
            });
        }

        var grid = $("#gridEnergo").kendoGrid({
            toolbar: toolbar,
            excel: {
                fileName: "CreditList.xls",
                proxyURL: bars.config.urlContent('/EscrExcelExport/ExcelExport_Save/'),
                allPages: true
            },
            dataBound: function (e) {
                var grid = e.sender;
                var data = grid.dataSource.data();
                if (data.length === 0) {
                    var colCount = grid.columns.length;
                    var message = 'немає записів або не сформовано реєстр';
                    $(e.sender.wrapper).find('tbody').append('<tr class="kendo-data-row"><td colspan="' + colCount + '" class="no-data">' + message + ' :(</td></tr>');
                }
                this.tbody.find("tr").each(function (index, e) {
                    if (e.cells.length != 1) {
                        var rowId = e.cells[2].innerText;
                        $(e).attr("data-row-id", rowId);
                    }
                });
                for (i = 0; i < data.length; i++) {
                    if (data[i].STATE_FOR_UI == "ERROR") {
                        this.tbody.find("tr[data-row-id='" + data[i].NUM + "']").addClass("k-error-colored");
                    }
                    if (data[i].STATE_FOR_UI == "SUCCESS") {
                        this.tbody.find("tr[data-row-id='" + data[i].NUM + "']").addClass("k-success-colored");
                    }
                }
                $(".k-button.k-button-icontext.k-grid-btChange").attr("disabled", "disabled");
                $(".k-button.k-button-icontext.k-grid-btSetDate").attr("disabled", "disabled");
                $(".k-button.k-button-icontext.k-grid-btSave").attr("disabled", "disabled");
                $(".k-button.k-button-icontext.k-grid-btSync").attr("disabled", "disabled");
                $(e.sender.wrapper).find('input[name="checkRow"]').on("change", function () {
                    var key = false;
                    $(e.sender.wrapper).find('input[name="checkRow"]').each(function (index, e) {
                        if ($(e).is(":checked")) {
                            key = true;
                            return false;
                        }
                    });
                    if (key && isCreate) {
                        $(".k-grid-btSave").removeAttr("disabled");
                    }
                    else {
                        $(".k-grid-btSave").attr("disabled", "disabled");
                    }
                });
                if ('@level' == 'TOBO') {
                    $('#btCreate').hide();
                    $('#btSearch').show();
                }
                else {
                    $('#btCreate').show();
                    $('#btSearch').hide();
                }
            },
            detailTemplate: kendo.template($("#events-template").html()),
            detailInit: detailInit,
            filterable: true,
            resizable: true,
            selectable: true,
            height: getSizeGrid,
            pageable: {
                refresh: true,
                pageSizes: [50, 100, 200, 300, 400, 500]
            },
            change: function () {
                onChangeGrid('@level');
            },
            columns: [{
                title: "<div style='width:100%'><input name=checkAllRow class=checkRow id=selectAll type=checkbox title='Обрати все..' /></div>",
                template: "<input type=checkbox class=checkbox name=checkRow />",
                width: 30
            },
            {
                title: "№ п/п",
                width: 50,
                field: "NUM"
            },
            {
                title: "ПІБ",
                field: "CUSTOMER_NAME",
                width: 200
            },
            {
                title: "ІНН",
                field: "CUSTOMER_OKPO",
                width: 100
            },
            {
                title: "РНК",
                field: "CUSTOMER_ID",
                width: 100
            },
            {
                title: "Місце проживання позичальника",
                columns: [{
                    title: "область",
                    field: "CUSTOMER_REGION",
                    width: 200
                },
                {
                    title: "район, нас. п., вул., буд.(кв.)",
                    field: "CUSTOMER_FULL_ADDRESS",
                    width: 250
                }]
            },
            {
                title: "Док. про субсидію",
                field: "SUBS_DOC_TYPE",
                width: 200
            },
            {
                title: "Кредитний договір",
                columns: [{
                    title: "дата",
                    field: "DEAL_DATE_FROM",
                    format: "{0:d}",
                    width: 100
                },
                {
                    title: "референс",
                    field: "DEAL_ID",
                    width: 100
                },
                {
                    title: "номер",
                    field: "DEAL_NUMBER",
                    width: 100
                },
                {
                    title: "строк дії",
                    field: "DEAL_TERM",
                    width: 90
                }]
            },
            {
                title: "Cуми по КД",
                columns: [{
                    title: "Вартість товару",
                    field: "GOOD_COST",
                    //format: "{0:#.00}",
                    //template: "#=moneyFormat(GOOD_COST)#",
                    //Console.WriteLine(String.Format("{0:#,### ; #.## ,00##,00}",1232.2345))
                    width: 100
                },
            {
                title: "Вартість товару погоджена ДЕЕ",
                field: "NEW_GOOD_COST",
                format: "{0:#.00}",
                width: 100
            },
            {
                title: "Сума кредиту",
                field: "DEAL_SUM",
                format: "{0:#.00}",
                width: 100
            },
            {
                title: "Скоригована, сума кредиту",
                field: "NEW_DEAL_SUM",
                format: "{0:#.00}",
                width: 100
            },
            {
                title: "Сума відшкодування",
                field: "COMP_SUM",
                format: "{0:#.00}",
                width: 100
            },
             {
                 title: "Фактична сума відшкодування",
                 field: "NEW_COMP_SUM",
                 format: "{0:#.00}",
                 width: 100
             }]
            },
            {
                title: "Дата док.ціл.викор.",
                field: "DOC_DATE",
                format: "{0:d}",
                width: 100
            },
            {
                title: "Дата АВР або заяви про власноручне встановлення",
                field: "AVR_DATE",
                format: "{0:d}",
                width: 100
            },
            {
                title: "МФО",
                field: "MFO",
                width: 60
            },
            {
                title: "Відділення",
                field: "BRANCH_CODE",
                width: 170
            },
            {
                title: "Поточний рахунок",
                field: "NLS",
                width: 150
            },
            {
                title: "Вид реєстру",
                width: 250,
                field: "REG_KIND_NAME"
            },
            {
                title: "Тип реєстру",
                width: 100,
                field: "REG_TYPE_NAME"
            },
            {
                title: "Статус запису КД",
                field: "CREDIT_STATUS_NAME",
                width: 150
            },
            {
                title: "Відповідальний співробітник",
                field: "USER_NAME",
                width: 200
            },
            {
                title: "Коментар",
                field: "CREDIT_COMMENT",
                width: 200
            }]
        }).data("kendoGrid");
        if ('@level' == 'TOBO') {
            grid.hideColumn(0);
        }

        $("#gridEnergo").find('#selectAll').on('change', function () {
            var grid = $("#gridEnergo");
            var checkedRows = grid.find('input[type="checkbox"][name="checkRow"]');
            var $this = $(this);
            if ($this.is(':checked')) {
                checkedRows.prop("checked", true);
                $(".k-grid-btSave").removeAttr("disabled");
            } else {
                checkedRows.prop("checked", false);
                $(".k-grid-btSave").attr("disabled", "disabled");
            }
            for (var i = 0; i < checkedRows.length; i++) {
                changeCheckRowIndx(checkedRows[i]);
            }
        });

        var dialog = $("#dialogSetDate").kendoWindow({
            title: "Дати підтверджуючих документів",
            modal: true,
            draggable: false,
            animation: {
                open: false
            },
            visible: false,
            width: "350px"
        }).data("kendoWindow");
        dialog.center();

        $("#btCreate").click(create);
        $("#btSearch").click(create);
        $(".k-grid-btSave").bind("click", function () {
            bars.ui.confirm({
                text: "Зберегти реєстр?",
                func: function () {
                    save();
                }
            });
        });
        $(".k-grid-btSetDate").click(function () {
            dialog.open();
        });
        $(".k-grid-btGo").click(function () {
            window.location = bars.config.urlContent('/escr/PortfolioData/Portfolio/');
        });
        $("#btnOk").click(function () {
            setDate('@level');
        });
        $("#btnClear").click(function () {
            $("#dtFrom").data("kendoDatePicker").value("");
            $("#dtTo").data("kendoDatePicker").value("");
            $("#ddlType").data("kendoDropDownList").value("");
            $("#ddlView").data("kendoDropDownList").value("");
            create();
        });
        $(".k-grid-btToExcel").click(function () {
            var grid = $("#gridEnergo").data("kendoGrid");
            grid.saveAsExcel();
        });
        $(".k-grid-btChange").click(function () {
            cangeErrors();
        });
        $(".k-grid-btSync").click(function () {
            checkState();
        });

        $("#dtDocDate").kendoMaskedTextBox({
            mask: "99.99.9999"
        }).kendoDatePicker({
            culture: "uk-UA",
            format: "dd.MM.yyyy",
            value: new Date()
        }).removeClass('k-textbox').parent().parent().removeClass('k-textbox');

        $("#dtFrom").kendoMaskedTextBox({
            mask: "99.99.9999"
        }).kendoDatePicker({
            culture: "uk-UA",
            format: "dd.MM.yyyy",
            change: function () {
                var value = this.value();
                var dateTo = $("#dtTo").data("kendoDatePicker");
                if (value) {
                    var firstDay = new Date(value.getFullYear(), value.getMonth(), 1);
                    var lastDay = new Date(value.getFullYear(), value.getMonth() + 1, 0);
                    this.value(firstDay);
                    dateTo.value(lastDay);
                }
                else {
                    this.value("");
                    dateTo.value("");
                }
            }
        }).removeClass('k-textbox').parent().parent().removeClass('k-textbox');

        $("#dtTo").kendoMaskedTextBox({
            mask: "99.99.9999"
        }).kendoDatePicker({
            culture: "uk-UA",
            format: "dd.MM.yyyy"
        }).removeClass('k-textbox').parent().parent().removeClass('k-textbox');

        $("#ddlType").kendoDropDownList({
            dataTextField: "NAME",
            dataValueField: "CODE",
            dataSource: {
                transport: {
                    read: {
                        url: bars.config.urlContent('/escr/portfoliodata/GetProd/')
                    }
                },
                schema: {
                    model: {
                        fields: {
                            ID: { type: "number" },
                            CODE: { type: "string" },
                            NAME: { type: "string" }
                        }
                    }
                }
            },
            optionLabel: "Всі",
        });
        $("#ddlView").kendoDropDownList({
            dataTextField: "NAME",
            dataValueField: "CODE",
            dataSource: {
                transport: {
                    read: {
                        url: bars.config.urlContent('/escr/portfoliodata/GetViddRee/')
                    }
                },
                schema: {
                    model: {
                        fields: {
                            ID: { type: "number" },
                            CODE: { type: "string" },
                            NAME: { type: "string" }
                        }
                    }
                }
            },
            optionLabel: "Всі"
        });

        create();
    });

    $(window).scroll(function () {
        var tooldiv = $(".k-header.k-grid-toolbar");
        var gridCell = $(".k-hierarchy-cell.k-header");
        if (!isScrolledIntoView(gridCell)) {
            tooldiv.addClass("toolbar-top-transporant");
        }
        else {
            tooldiv.removeClass("toolbar-top-transporant");
        }
    });

    $(window).resize(function () {
        resizeGrid();
    });
</script>



