@{
    ViewBag.Title = "Архів файлів";
}
<script src="~/Areas/Way/Scripts/ArchiveFiles/ArchiveFilesCtrl.js"></script>
<h2>@ViewBag.Title</h2>
<div id="content" ng-controller="ArchiveFilesCtrl as Arch" >
    <div kendo-toolbar class="toolbarLayout" k-options="Arch.toolbarOptions" ></div>

    <div kendo-grid="Arch.ArchGrid" k-options="Arch.ArchGridOptions">
        
    </div>
</div>
