div.helppop {
display:block;
width:200px;
position: absolute;
padding:7px 7px 7px 15px;
margin-top: 0px;
margin-left: 0px;
background: url('C:\inetpub\wwwroot\Common\jquery\img\help_ptr.png') no-repeat left top;
} 

.overlay
{
    position: absolute;
    z-index: 200;
    top: 0px;
    left: 0px;
    background-color: #c0c0c0;
    filter: Alpha(Opacity=70);
    opacity: 0.70;
    -moz-opacity: 0.70;
}

div.close:hover
{
    color: #000000;  
}

.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0392ff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#fffefc 0%,
		#5aaded);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fffefc),
		to(#5aaded));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #0090de;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}