<script src="~/Areas/Acct/Controllers/ReservedAccountsCtrl.js"></script>
<div ng-controller="Acct.ReservedAccountsCtrl as resAcctCtrl">
    <h1 class="app-title">Зарезервовані рахунки</h1>
    <div data-kendo-toolbar="" k-options="resAcctCtrl.toolbarOptions"></div>
    <div data-kendo-grid="resAcctCtrl.resAcctGrid" data-options="resAcctCtrl.resAcctGridOptions"></div>
</div>

