@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<script src="/barsroot/scripts/respond.min.js"></script>

<script src="~/Scripts/jquery/jquery.iecors.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuArchives.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
@*<script src="~/Areas/Pfu/Scripts/Pfu/pfuBase.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuSigner.js?v1.2"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuCatalog.js"></script>*@
<script src="~/lib/jsZip/jszip.min.js"></script>
<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMain.css">

<h1 id="title"></h1>
<div class="well" id="dvFilesFilter">
    <h2 class="ra-well-title">Фільтр по архівам реєстрів</h2>
    <div class="form-horizontal form-widgets col-sm-6">
        <div class="form-group">
            <label class="control-label col-sm-4" for="dateFrom"><b>Дата реєстру з:</b></label>
            <div class="col-sm-3">
                <input type="text" id="dateFrom" placeholder="Вкажіть дату з" />
            </div>
        </div>
    </div>
    <div class="form-horizontal form-widgets col-sm-6 col-md-pull-1">
        <div class="form-group">
            <label class="control-label col-sm-4" for="dateTo"><b>Дата реєстру по:</b></label>
            <div class="col-sm-3">
                <input type="text" id="dateTo" placeholder="Вкажіть дату по" />
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div id="tabarchive">
    <h2 style="margin: 5px">Архів реєстрів ПФУ</h2>
    <ul>
        <li id="paid">Архів оплачених реєстрів</li>
        <li id="unpaid">Архів неоплачених реєстрів</li>
        <li id="details">Інформаційні рядки реєстру</li>
    </ul>
    <div id="tab1">
        <div id="gridPaid"></div>
    </div>
    <div id="tab2">
        <div id="gridUnpaid"></div>
    </div>
    <div id="tab3">
        <div id="gridRecords"></div>
    </div>
</div>

<script type="text/x-kendo-template" id="paidArc-template">
    <button id="detailsPaidBtn" onclick="goToLines(true)" class='k-button'><i class="pf-icon pf-16 pf-arrow_right"></i>
        Перегляд реєстру
    </button>
</script>
<script type="text/x-kendo-template" id="unpaidArc-template">
    <button id="returnArchiveBtn" onclick="returnArchive()" class='k-button'>
        Повернення реєстрів
    </button>
    <button id="detailsUnpaidBtn" onclick="goToLines(true)" class='k-button'><i class="pf-icon pf-16 pf-arrow_right"></i>
        Перегляд реєстру
    </button>
</script>
<script type="text/x-kendo-template" id="details-template">
    <button id="detailsPaidBtn" onclick="switchTab()" class='k-button'>
        <i class="pf-icon pf-16 pf-arrow_left"></i>
        До переліку реєстрів
    </button>
</script>