@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Портфель ЕПП";
}
<script src="/barsroot/scripts/respond.min.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuBase.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuDestroyEPC.js"></script>

<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMain.css">

<h1>@ViewBag.Title</h1>

<div class="container-fluid search-box">
    <div class="row">
        <h1 style="margin-left: 20px">Пошук:</h1>
        <div class="col-md-offset-2 col-md-4">
            <div class="form-group">
                <label for="searchName"><b>ПІБ Клієнта:</b></label>
                <input type="text" class="form-control" id="searchName" placeholder="ПІБ Клієнта" />
            </div>

            <div class="form-group">
                <label for="searchInn"><b>ІПН Клієнта:</b></label>
                <input type="text" class="form-control" id="searchInn" placeholder="ІПН Клієнта" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="searchNls"><b>Номер рахунку:</b></label>
                <input type="text" class="form-control" id="searchNls" placeholder="Номер рахунку" />
            </div>
            <div class="form-group">
                <label for="searchKf"><b>Номер ЕПП:</b></label>
                <input type="text" class="form-control" id="searchEPC" placeholder="Номер ЕПП" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5">
            <br>
            <button id="SearchPensioner" type="button" class="btn btn-primary col-xs-3" style="margin-left: 25px">
                <i class="fa fa-search"></i> Пошук
            </button>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div id="gridSearchBox"></div>
    </div>
</div>

<div id="dialogDestroyEpc">
    <div id="gridDestroyEpc"></div>
    <div style="margin-top: 4px;text-align: center;">
        <button id="confirmDestroy" class="k-button k-primary">Знищити</button>
    </div>
</div>

<script type="text/x-kendo-template" id="destroyEpc-template">
    <div class="toolbar">
        <button id="destroyEpc" class='btn btn-warning'>
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            Обробити
        </button>
    </div>
</script>