@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<script src="/barsroot/scripts/respond.min.js"></script>
<script src="~/Scripts/jquery/jquery.iecors.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuBase.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuSigner.js?v1.2"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuKvitTwo.js"></script>

<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMain.css">

<h1 id="title">Підтвердження оплати даних в ПФУ</h1>

<div class="search-catalog"></div>
<div id="layer"></div>
<div class="well" id="selectReceipt">
    <h2 class="ra-well-title">Виберіть тип квитанції</h2>
    <div class="form-horizontal form-widgets col-sm-3">
        <div class="form-group">
            <div class="col-sm-8">
                <select id="ddlViewBy">
                    <option value="kvit1">Квитанція 1_Про опрацювання конверту</option>
                    <option value="kvit2" selected="selected">Квитанція 2_Зарахування/не зарахування коштів на рахунки пенсіонерів</option>
                </select>
            </div>
        </div>
    </div>
    @*<div class="col-sm-10 bottom">
        <button id="SelectFiles" type="button" class="btn btn-primary col-sm-2">
            <i class="fa fa-pencil-square-o"></i> Вибрати
        </button>
    </div>*@
    <div class="clearfix"></div>
</div>

<div id="tabstrip">
    <ul>
        <li id="tab_1">Реєстри готові до відправки ПФУ</li>
        <li id="tab_2">Відправлені реєстри ПФУ</li>
    </ul>
    <div id="tab1">
        <div id="gridFiles"></div>
    </div>
    <div id="tab2">
        <div id="gridHistory"></div>
    </div>
</div>

<script type="text/x-kendo-template" id="fileTitle-template">
    <div class="toolbar">
        <h2 style="margin: 5px">Перелік реєстрів</h2>
        <button onclick="goToLines()" class='k-button'>
            <i class="pf-icon pf-16 pf-arrow_right"></i>
            Перегляд реєстру
        </button>

        <button id="SendBtn" class='k-button' onclick="approveMatching()">
            <i class="pf-icon pf-16 pf-ok"></i>
            Виконати відправку
        </button>

    </div>
</script>

<script type="text/x-kendo-template" id="fileTitleHistory-template">
    <div class="toolbar">
        <button onclick="goToLinesHistory()" class='k-button'>
            <i class="pf-icon pf-16 pf-arrow_right"></i>
            Перегляд реєстру
        </button>
        <button id="SendBtnHistory" class='k-button' onclick="approveMatching()">
            <i class="pf-icon pf-16 pf-ok"></i>
            Виконати відправку
        </button>
    </div>
</script>

<script type="text/x-kendo-template" id="linesTitleChecked-template">
    <div class="toolbar">
        <h2 style="margin: 5px">Інформаційні рядки файлу<span id="lineFileIdChecked"></span></h2>
        <button onclick="goToFiles()" class='k-button'>
            <i class="pf-icon pf-16 pf-arrow_left"></i>
            Повернутись до файлів
        </button>

        <button id="EditBtn" class='k-button' onclick="Edit()">
            <i class="pf-icon pf-16 pf-ok"></i>
            Редагувати дані платіжного доручення
        </button>
    </div>
</script>

<script type="text/x-kendo-template" id="linesHistoryTitleChecked-template">
    <div class="toolbar">
        <h2 style="margin: 5px">Інформаційні рядки файлу<span id="lineFileIdChecked"></span></h2>
        <button onclick="goToHistoryFiles()" class='k-button'>
            <i class="pf-icon pf-16 pf-arrow_left"></i>
            Повернутись до файлівd
        </button>
    </div>
</script>

<div id="gridLinesChecked"></div>

<div id="dialogSend">
    <div id="gridSend"></div>
    <div style="margin-top: 4px;text-align: center;">
        <button id="confirmSend" class="k-button k-primary">Відправити вибрані файли?</button>
    </div>
</div>

<div id="dialogEdit">
    <div id="gridEdit"></div>
    <div style="margin-top: 4px;text-align: center;">
        <button id="confirmEdit" class="k-button k-primary">Редагувати вибрані записи?</button>
    </div>
</div>