@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Моніторинг обробки запитів КМ";
}

<script src="~/Areas/Pfu/Scripts/Pfu/pfuMonitoring.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMonitory.css" />
<h1>@ViewBag.Title</h1>


<div>
    <div class="col-md-12">
        <div class="col-md-4">
            <label> Код філії:</label>
            <input type="text" class="form-control" id="KFselect" placeholder="Вкажіть статус" />
            <br /><br />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div id="gridEnquiry"></div>
            <br />
        </div>
        <div style="min-height: 1%">
            <div class="col-md-4">
                <button id="SendReq" type="button" class="btn btn-primary" style="margin-left: 45px; margin-bottom:2px; ">
                    Відправити запит
                </button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="col-md-12">
        <br />
        <br />
        <div class="col-md-12">
            <div id="gridCmEpp" style="overflow: auto;"></div>
            <br />
        </div>
           
        </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <div id="gridEppline"></div>
            <br />
        </div>
        </div>
</div>



