formset {
    width: 60%;
    height: auto;
    margin: 15px 20px;
}

form {
    margin: 10px 5px 10px 5px;
    clear: both;
    color: black;
}

button, input {
    float: right;
    clear: both;
}

textarea {
    float: right;
    clear: both;
    margin: 5px 0px 5px 5px;
    min-height: 250px;
    width: 100%;
    padding: 7px 10px;
}

hr {
    clear: both;
    border-top: 1px solid #d0d0d0;
}

label {
    font-family: "Segoe UI",Arial,Tahoma;
    font-size: 1.1em;
}

.pageTitle {
    font-family: roboto, tahoma, arial, sans-serif;
    padding: 30px 0 10px 15px;
    font-weight: 300;
    font-size: 20pt;
    padding: 30px 0 10px 15px;
    color: #465371;
    border-bottom: solid 1px #d0d0d0;
}

.functiomName {
    margin-top: 10px;
    font-size: 1.3em;
    color: #465371;
    font-family: "Segoe UI",Arial,Tahoma;
    clear: both;
}

.row {
    height: 45%;
    margin-top: 20px;
}

#uploadInput {
    margin: 5px;
    background-color: white;
    width: 500px;
    float: right;
}
