//Параметры
289YIB                         //SenderID
777777                         //MFO
3                              //STRUCT TYPE

//заголовок
1    12  1  S ''               //наименование файла
13   10  1  DT ''              //Дата+Час створення файла
23   6   1  N ''               //Кількість інформаційних рядків у файлі
29   16  0  N ''               //Сума дебету за файлом
45   16  0  N ''               //Сума кредиту за файлом
61   64  0  S ''               //ЕЦП файла
125  6   0  S ''               //Ідентифікатор ключа ЕЦП
131  64  0  S ''               //ЕЦП рядку заголовку файла
195  2   0  S ''               //CRLF

//информационные строки
1    9   1  N 'PayerMFO'       //Код банка А
10   14  1  N 'PayerAccount'   //Рахунок клієнта банка А
24   9   1  N 'PayeeMFO'       //Код банка Б
33   14  1  N 'PayeeAccount'   //Рахунок клієнта банка Б
47   1   1  N 'DK'             //Ознака "Дебет-кредит" документа
48   16  1  N 'Amount1'        //Сума платежу
64   2   0  N 'VOB'            //Умовний числовий код документа
66   10  0  S 'DocNumber'      //Номер (операційний) платежу
76   3   1  N 'Currency1'      //Валюта платежу
79   6   1  D 'DocDate'        //Дата платіжного документа
85   6   1  D 'DATP'           //Дата надходження платіжного документа до банка А
91   38  0  S 'PayerName'      //Найменування клієнта А
129  38  0  S 'PayeeName'      //Найменування клієнта Б
167  160 1  S 'Details'        //Призначення платежу
327  60  0  S 'AddAtributes'   //Допоміжні реквізити
387  3   0  N 'Currency2'      //Резерв
390  2   0  S ''               //Спосіб заповнення реквізитів 14-15
392  14  0  S 'PayerOKPO'      //Ідентифікаційний код клієнта А
406  14  0  S 'PayeeOKPO'      //Ідентифікаційний код клієнта Б
420  9   0  N 'REF_A'          //Унікальний ідентифікатор документа в САБ
429  6   0  S 'KEY'            //Ідентифікатор операціоніста банка А
435  2   0  S 'BISNumber'      //Номер рядку БІР
437  8   0  S 'SK_ZB'          //Резерв
445  64  0  S 'SIGN'           //ЕЦП основних реквізитів платежу (з 1 по 444 по-зицію інформаційного рядку включно)
509  12  0  S ''               //Найменування файла А
521  6   0  S 'LineNumber'     //Порядковий номер ІР у файлі А
527  4   0  S ''               //Час проходження файла А через АРМ-СЕП
531  4   0  S ''               //Час отримання файла А в ЦОСЕП
535  18  0  S ''               //Службова інформація для САБ установ НБУ
553  1   0  S ''               //Службовий байт (опис не надається)
554  7   0  S ''               //Резерв
561  12  0  S ''               //Найменування файла B
573  6   0  S ''               //Порядковий номер ІР у файлі B
579  4   0  S ''               //Час формування файла B в ЦОСЕП
583  4   0  S ''               //Час проходження файла B через АРМ-СЕП
587  6   0  S ''               //Дата проходження файла B через АРМ-СЕП
593  2   0  S ''               //CrLf
