  <!--строка подключения для ibatnk-->
<connectionStrings>
  <clear />
  <add name="IBankCoreConnectionString"
       connectionString="Data Source=MMFO;User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserver;Pooling=yes;" 
       providerName="BarsWeb.DbProvider.Oracle" />
  <add name="AppConnectionString"
       connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.7.98.6)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=barsapp)));User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserver;Pooling=yes;" 
       providerName="BarsWeb.DbProvider.OracleManaged" />
</connectionStrings>

