    #panels {
        display: table-row;
    }

    #InUse, #OutUse {
        display: table-cell;
    }

    #commands {
        text-align: center;
        width: 50px;
        vertical-align: middle;
        display: table-cell;
    }

    #commands div {
        padding: 5px;
    }

    #commands div a {
        width: 35px;
        text-align: center;
    }

    #InUse {
        width: 70%;
    }
    #OutUse {
        width: 30%;
    }

/*#InUse .k-grid tbody tr {
    cursor: move;
}*/

#InUse .k-row-isApproved {
    background-color: #d6eaff;
}