<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <location>
    <system.web>
      <httpRuntime maxRequestLength="314572800" executionTimeout="3600" />
      </system.web>
  </location>
 <system.webServer>
  <security>
    <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
    </requestFiltering>
  </security>
 </system.webServer>
</configuration>