@{
    ViewBag.Title = "Оновлення списку банків СЕП";
}

<h2>@ViewBag.Title</h2>
<div id="container">
    <div id="importWindow" style="display:none">
        <div class="recode">
            <input type="checkbox" name="recodeField" id="recode"/>
            <label for="recodeField">Перекодувати (DOS -> WIN)</label>
        </div>

        <div id="progress"></div>

        <div class="buttons">
            <input type="button" id="execute" value="Виконати" />
        </div>
       
    </div>
</div>

   
<script>
    $(document).ready(function () {

        $("#progress").kendoProgressBar({
            min: 0,
            max: 100,
            type: "percent"
        });

        var window = $("#importWindow");
        if (!window.data("kendoWindow")) {
            window.kendoWindow({
                width: "450px;",
                title: "Оновлення списку банків СЕП з S_UCH.DBF",
                Draggable: "false",
                //close: onClose
            });
            window.data("kendoWindow").center().open();
        }

        $("#execute").click(function () {
            bars.ui.confirm({ text: 'Виконати оновлення списку учасників СЕП?' }, function () {
                var url = "/barsroot/sep/SepImportSuch/ImportSuch";
                var recode;
                $("#recode").is(":checked") ? recode = true : recode = false;
                bars.ui.loader("#progress", true);
                $.post(url, { recode: recode })
                    .done(function (res) {
                        if (res == "True") {
                            bars.ui.loader("#progress", false);
                            bars.ui.alert({ height: '150px', text: 'Оновлення списку учасників СЕП успішно завершено' });
                        }
                    });
                if (!$(this).hasClass("k-state-disabled")) {
                    $(this).addClass("k-state-disabled");
                }
            });
        }) 

    });
</script>
     
<style>
    .mfo{
        width: 200px;
        float:left; 
    }
    #mfo{
        width:100px;
    }
    .recode{
        width:190px;
        float:left;
    }
    .buttons{
        float:left;
    }
    #execute{
        height:25px;
        width:65px;
        margin-right:11px;
    }
    #progress{
        width:423px;
        margin-top:10px;
        margin-bottom:10px;
    }    
    .k-loading-image {
        //background-image: repeat-y;
        background-size: 100%;
    }
</style>