@{
    ViewBag.Title = "Прийняті файли зарахувань";
}

<script src="~/Areas/DepoFiles/Scripts/AcceptedFilesCtrl.js"></script>
<script src="~/lib/jsZip/jszip.min.js"></script>

<style>
    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }
    .k-header .k-link{
        text-align: center;
    }
    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }
</style>

<div ng-app="Bars.Controllers" ng-controller="AcceptedFiles" ng-init="Init('@ViewBag.GB', '@ViewBag.Delete')">
    <h2>@ViewBag.Title</h2>
    @ViewBag.GB
    <kendo-grid id="mainGrid" options="mainGridOptions" k-rebind="mainGridOptions"></kendo-grid>
    <br />
    <table style="width: 100%; margin-left: 3%">
        <tr>
            <th style="width: 24%" align="center">
                <button class="k-button" style="width: 65%" ng-click="AcceptNewFile()">Прийняти новий файл</button>
            </th>
            <th style="width: 24%" align="center">
                <button class="k-button" style="width: 65%" ng-click="CreateNewFile()">Створити новий файл</button>
            </th>
            <th style="width: 24%" align="center">
                <button id="btCopy" class="k-button" style="width: 65%" ng-click="Copy()" disabled>Копіювати файл</button>
            </th>
            <th style="width: 24%" align="center">
                <button id="btDelete" class="k-button" style="width: 65%" ng-click="Delete()" >Видалити файл</button>
            </th>
        </tr>
    </table>
</div>