@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "Pos";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/Pos/Scripts/KendoCommon.js?v1.0.0"></script>
<script src="~/Areas/Pos/Scripts/Pos/Ingenico.js?v1.0.0"></script>
<script src="~/Areas/Pos/Scripts/Pos/SSI.js?v1.0.3"></script>
<script src="~/Areas/Pos/Scripts/Pos/InPas.js?v1.0.0"></script>
<script src="~/Areas/Pos/Scripts/TerminalAPI.js?v1.0.0"></script>
<script src="~/Areas/Pos/Scripts/Pos/Main.js?v1.0.6"></script>

<link rel="stylesheet" href="~/Areas/Pos/Css/Pos/Main.css" />

<div class="page-header">
    <h2 id="title"></h2>
</div>

<script for="AxECRClass" event="OnTrxComplete(e)" >
    function AxECRClass::OnTrxComplete(auth_resp_code) {
        objPosSSI.BatchTotalsCallback(auth_resp_code);
    }
</script>

<div class="search-main"></div>

<div class="well" id="dvFilesFilter">
    <div class="ra-well-title">Вибір типу POS-терміналу та порту</div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="deviceTypes"><b>Тип:</b></label>
                <input type="text" class="form-control" id="deviceTypes" style="width:180px" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="COMPort"><b>Порт:</b></label>
                <input type="text" class="form-control" id="COMPort" style="width:180px" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button id="ReadDataBtn" type="button" class="btn btn-primary" >
                <i class="fa fa-fax"></i> Зчитати дані з терміналу
            </button>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <button id="FireBtn" type="button" class="btn btn-primary" >
                <i class="fa fa-edit"></i> Обробити та обнулити дані
            </button>
        </div>
        @*<div class="col-md-offset-1 col-md-1">
            <button id="FireBtn" type="button" class="btn btn-primary" style="margin-left: 45px">
                <i class="fa fa-edit"></i> Обробити та обнулити дані
            </button>
        </div>*@
        @*<div class="col-md-offset-1 col-md-1">
            <button id="PrintBtn" type="button" class="btn btn-primary" style="margin-left: 45px">
                <i class="fa fa-print"></i> Друкувати(без обнулення даних)
            </button>
        </div>*@
    </div>
    <div class="row">
        <div class="col-md-2">
            <button id="FireBtnSSI" type="button" class="btn btn-primary">
                <i class="fa fa-edit"></i> Обробити та обнулити дані
            </button>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-offset-5 col-md-1">
            <br>
            <button id="FireBtn" type="button" class="btn btn-primary" style="margin-left: 45px">
                <i class="fa fa-edit"></i> Обробити
            </button>
        </div>
    </div>*@

    <div class="clearfix"></div>
</div>

@*<div class="text-info">Коректна считка даних з терміналу можлива тільки з головного меню терміналу.</div>*@

<div id="gridMain"></div>

<OBJECT id="AxECRClass" data="data:application/x-oleobject;base64,rWCh77tu2BGO2Lh6ZvwQOgADAAA=" classid="CLSID:EFA160AD-6EBB-11D8-8ED8-B87A66FC103A" VIEWASTEXT></OBJECT>