@{
  ViewBag.Title = "title";
  //Layout = null;
}

<script type="text/javascript">
  $(function (){
  $("#test").validate();
  $("#input").rules("add", {
    required: true,
    minlength: 2,
    messages: {
      required: "Required input",
      minlength: "Please, at least characters are necessary"
    }
  });})
</script>
<h2>title</h2>
<form name="test" id="test" method="post">
  <input id="input" type="text"/>
  <input type="submit"/>
</form>