label {
    display: inline-block;
    width: 220px;
}

#parameters_form {
    display: inline-block;
}

label {
    text-align: right;
    padding: 0 10px;
}

#branches .k-pager-info, #branches .k-footer-template {
    display: none;
}

#parameters_form input {
    width: 300px;
}

#parameters_form .k-dropdown {
    width: 325px;
}

#parameters_form .k-textbox {
    width: 325px;
}

#nextFormParams {
    margin-top: 8px;
    float: right;
}

#additionalParams {
    display: none;
}

#content {
}

#spinner {
    background: url('/barsroot/Content/spinners/ajax-loader.gif');
    width: 31px;
    height: 31px;
    display: none;
}

#fieldlist {
    margin: 0;
    padding: 0;
}

    #fieldlist li {
        list-style: none;
        padding-bottom: .7em;
        text-align: left;
    }

    #fieldlist label {
        display: block;
        padding-bottom: .3em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #444;
    }

    #fieldlist li.status {
        text-align: center;
    }

    #fieldlist li .k-widget:not(.k-tooltip),
    #fieldlist li .k-textbox {
        margin: 0 5px 5px 0;
    }

.k-grid-content {
    min-height: 200px;
}

.confirm {
    padding-top: 1em;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

#fieldlist li input[type="checkbox"] {
    margin: 0 5px 0 0;
}

span.k-widget.k-tooltip-validation {
    display;
    inline-block;
    width: 160px;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: red;
}

.k-tooltip-validation .k-warning {
    display: none;
}

.panel {
    background-color: #f2dede;
}

.alert {
    border: none;
}

.checkDCBOcontainer {
    text-align: center !important;
}

.checkDcbo {
    display: inline-block;
}

.headerTitle {
    text-align: center !important;
}

.k-pager-info {
    display: none !important;
}

.k-grid-filter.k-state-active {
    background-color:#a2c8f1;
    border-color: #a2c8f1;
    padding:  7px 3px;
    color: white !important;
}
.k-pager-first, .k-pager-last {
    display: none;
}
