@inherits System.Web.Mvc.WebViewPage<IEnumerable<BarsWeb.Models.V_USER_MESSAGES>>
@{
  ViewBag.Title = "Повідомлення";
  Layout = null;
}
<script type="text/javascript">
  $(function () {
    $('#messages-list').slimScroll({
      //height: 'auto',
      railVisible: true,
      size: '8px'
    });

    $('.messages input[type="checkbox"]').on('click', function () {
      var $this = $(this);
      var status = $this.prop('checked');
      if (status) {
        $this.parentsUntil('.messages').parent().addClass('active');
      } else {
        $this.parentsUntil('.messages').parent().removeClass('active');
      }
    });
  });
  
</script>

<style>
  .messages-list {
    margin-left: 5px; 
    font-size: 13px;
  }
  .messages-list .messages {
    margin-bottom: 3px;
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
  }
  .messages-list .messages.active {
    border-bottom: 1px solid #bfbfbf;
    background-color: #fcefd4;
  }
  .messages-list .messages .title {
    height: 14px;
  }
  .messages-list .messages .title .messages-title {
    color: #3b5998;
    float: left;
    font-weight: bold;
  }
  .messages-list .messages .title .messages-date {
    color: #bfbfbf;
    float: right;
    font-size: 11px;
  }
  .messages-list .messages .messages-text {
    font-size: 12px;
    margin-top: 5px; 
    word-wrap: break-word;
  }
  .write_form {
    margin: 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    padding: 7px 0 7px 7px;
  }
</style>

  <h2 style="margin-top: 0;margin-left: 5px;">Повідомлення</h2>


<div id="messages-list" class="messages-list">
  @foreach (var item in Model)
  {
    <div class="messages">
      <table style="width: 100%;">
        <tr>
          <td style="width: 20px;">
            <input type="checkbox" id="@item.MSG_ID"/>
          </td>
          <td>
            <div class="title">
              <div class="messages-title">@item.MSG_SENDER_FIO</div>
              <div class="messages-date">@item.MSG_DATE</div>
            </div>
            <div class="messages-text">@item.MSG_TEXT</div>
          </td>
        </tr>
      </table>
    </div>
  }
  
</div>
<div class="write_form" style="width: 300px;position: absolute;bottom: 1px;">
  <textarea style="width: 290px;" placeholder="Додати коментар" cols="2"></textarea>
  <table style="width: 100%;">
    <tr style="border:1px solid red;">
      <td style="width:100%;">
      </td>
      <td>
        <button class="button" style="width: 70px;">Обробити</button>
      </td>
    </tr>
  </table>
</div>
