@{
    Layout = null;
    }

@model byte[]

<style>
  @@media Screen{.print_action{DISPLAY: none}}
  @@media print{body *:not(pre){display: none;} #btsubmitfilter{display: none;} pre{width:100%;height:100%;border:0;color:#000;} }
  /*.view-txt-document {
    margin-left: 0;
    font-size: 8pt; 
    color: black; 
    font-family: 'Courier New'; 
    background-color: gainsboro;
    max-height: 100%;
    white-space: pre;
    overflow: auto;
    padding: 5px;
  }*/
</style>
<div style="margin:0;" class="buttons tiptip">
  <button  id="btsubmitfilter" onclick="window.print();return false;" title="Друк" class="button hover"><span class="icon icon153"></span><span class="label">Друк</span></button>
</div>
<pre class="print view-txt-document" >
  @System.Text.Encoding.Default.GetString(Model)  
</pre>
