@{
    Layout = null;
}
<style>
    .margin-top-10 {
        margin-top: 10px;
    }
</style>
<script>
    $(function () {
        var dateStart = $('#dateStart');
        var dateEnd = $('#dateEnd');

        dateStart.kendoMaskedDatePicker({
            format: '{0:dd/MM/yyyy}',
            mask: '00/00/0000',
            change: function () {
                dateEnd.data('kendoMaskedDatePicker').min(this.value());
            }
        });
        dateEnd.kendoMaskedDatePicker({
            format: '{0:dd/MM/yyyy}',
            mask: '00/00/0000',
            change: function () {
                dateStart.data('kendoMaskedDatePicker').max(this.value());
            }
        });

        $('#downloadBtn').on('click', function() {
            var url = bars.config.urlContent('/cash/violations/GetAtmLimitArcPeriodFile/');
            var dateS = kendo.toString(dateStart.data('kendoMaskedDatePicker').value(), 'yyyy-MM-dd');
            var dateE = kendo.toString(dateEnd.data('kendoMaskedDatePicker').value(), 'yyyy-MM-dd');
            url += '?dateStart=' + dateS;
            url += '&dateEnd=' + dateE;

            document.location.href = url;
        });
    })
</script>

<div>
    <table>
        <tr>
            <td>Період:</td>
            <td>
                <input type="text" name="dateStart" id="dateStart"/>
            </td>
            <td class="text-center" style="width: 100%;"> - </td>
            <td>
                <input type="text" name="dateEnd" id="dateEnd"/>
            </td>
        </tr>
    </table>

    <div class="text-right margin-top-10">
        <button class="k-button" id="downloadBtn">
            <i class="pf-icon pf-16 pf-exel"></i> Вигрузити в EXEL
        </button>
    </div>
</div>
