<!--Пользовательские данные-->
<appSettings>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="ConfigInDB" value="On"/>
  <add key="CustomAuthentication" value="On"/>
  <add key="cbirep.AppTimeOut" value="160"/>
  <add key="cbirep.TraceOn" value="false"/>
  <add key="cbirep.TraceFileName" value=""/>
  <add key="CrystalImageCleaner-AutoStart" value="true"/>
  <add key="CrystalImageCleaner-Sleep" value="60000"/>
  <add key="CrystalImageCleaner-Age" value="120000"/>
  <add key="pvbki.ReportServiceUrl" value="https://test.pvbki.com/service/report/Cigreports.asmx"/>
  <add key="pvbki.ReportServiceHttpUrl" value="https://test.pvbki.com/FrontOffice/Login.aspx"/>
  <add key="pvbki.ReportServiceUserName" value=""/>
  <add key="pvbki.ReportServicePassword" value=""/>
  <add key="pvbki.ClientCertificateFileName" value="~/ExternalBin/certnew.cer"/>
  <add key="ubki.ServiceUrl" value="https://www.ubki2.com.ua/api/xmlrequest.php?login={0}&amp;passw={1}&amp;typerequest={2}&amp;inn={3}&amp;coding={4}&amp;pser={5}&amp;pnom={6}"/>
  <add key="ubki.UserName" value="593464"/>
  <add key="ubki.Password" value="qwerty"/>
  <add key="proxy.Active" value="False"/>
  <add key="proxy.Address" value=""/>
  <add key="proxy.Port" value=""/>
  <add key="proxy.Auth" value="False"/>
  <add key="proxy.User" value=""/>
  <add key="proxy.Password" value=""/>
  <add key="proxy.Domain" value=""/>
</appSettings>

