@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/Swift/Scripts/KendoCommon.js"></script>
<script src="~/Areas/Swift/Scripts/EditMsg/EditMsg.js"></script>

<link rel="stylesheet" href="~/Areas/Swift/Css/Swift/Main.css" />
<link rel="stylesheet" href="~/Areas/Swift/Css/Swift/EditMsg.css" />

<div id="swref"></div>
<div id="sender"></div>
<div id="receiver"></div>

<div id="gridMain" style="width:480px;"></div>
<div class="search-main"></div>
