.webservice { behavior: url(/Common/WebService/js/WebService.htc); }

.outset {BORDER-TOP-STYLE: dotted; BORDER-RIGHT-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-BOTTOM-STYLE: dotted;border-width:1px;border-color:Navy}

.out {BORDER-TOP-STYLE: outset; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BORDER-BOTTOM-STYLE: outset}
.in {BORDER-TOP-STYLE: inset; BORDER-RIGHT-STYLE: inset; BORDER-LEFT-STYLE: inset; BORDER-BOTTOM-STYLE: inset;}

.bt{font-family:Verdana; color:Navy;height:18px; font-size:xx-small;}

.frame { BORDER-RIGHT: black 3px ridge; PADDING-RIGHT: 0px; BORDER-TOP: black 3px ridge; DISPLAY: block; PADDING-LEFT: 0px; Z-INDEX: 1; BACKGROUND: #f7f6f6; VISIBILITY: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: black 3px ridge; WIDTH: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: black 3px ridge; POSITION: absolute }

.hint{FONT-SIZE:10px;COLOR:navy;FONT-FAMILY:Verdana;} 

.BarsLabel {font-family:Arial;font-size:10pt;font-weight:bold;}

.infobox{WIDTH: 250px;BACKGROUND-COLOR:lightgrey;color:Navy;}
BODY
{
	background-color : #f0f0f0;
 	margin-bottom : 0px;
 	margin-left : 5px;
 	margin-right : 5px;
 	margin-top : 2px;
 }
A:link {color:Navy;}
A:active {color:Navy;}
A:visited {color:Navy;}
 
.panel {BORDER-TOP-STYLE: outset; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BACKGROUND-COLOR: silver; BORDER-BOTTOM-STYLE: outset; border-width:2}
.tb_ro {background-color:LightGrey;border-width:2px;border-style:Ridge}
.tb{background-color:white;border-width:2px;border-style:Ridge;text-align:right}