<link href="~/Areas/Async/Css/Async.css" rel="stylesheet" />
@Scripts.Render("~/Async/bundles/schedulersCtrl")

<div data-ng-controller="Async.SchedulersCtrl">
    <h1>Адміністрування задач відкладеного запуску</h1>
    <div data-kendo-toolbar="schedulersGridToolbar" k-options="toolbarOptions"></div>
    <div data-kendo-grid="schedulersGrid" data-options="schedulersGridOptions"></div>
    <div data-kendo-window="schedulerWindow" id="schedulerWindow" data-options="schedulerWindowOptions" style="display: none">
        @Html.Partial("Edit")
    </div>     
</div>