@{
  ViewBag.Title = "title";
  Layout = null;
}
<script src="~/Scripts/jquery/calculator.js"></script>
<div id="wrapper">

  <div id="calculator">
    <div id="calculatorCurentOper"></div>
    <div id="calculatorResult">0</div>
    <ul id="calculatorKeyboard">
      <li data-value="c" class="operator">C</li>
      <li data-value="ce" class="operator">CE</li>
      <li data-value=% class="operator">%</li>
      <li data-value="/" class="operator">/</li>

      <li data-value="1">1</li>
      <li data-value="2">2</li>
      <li data-value="3">3</li>
      <li data-value="*" class="operator">*</li>

      <li data-value="4">4</li>
      <li data-value="5">5</li>
      <li data-value="6">6</li>
      <li data-value="-" class="operator">-</li>

      <li data-value="7">7</li>
      <li data-value="8">8</li>
      <li data-value="9">9</li>
      <li data-value="+" class="operator">+</li>

      <li data-value="0" >0</li>
      <li data-value="+/-" class="operator">+/-</li>
      <li data-value="." class="operator">.</li>
      <li data-value="=" class="operator">=</li>
    </ul>
  </div>
</div>
