/*@font-face {
    font-family: "Kendo UI";
    font-weight: 200;
    src: url("../../font/kendoui.woff") format("woff"),
         url("../../font/kendoui.ttf") format("truetype");
}*/

/*@font-face {
  font-family: 'Kendo UI';
  font-style: normal;
  font-weight: 400;
  src: url('../../font/latest.eot'), url('../../font/latest.ttf') format('truetype'), url('../../font/latest.woff');
}
@font-face {
  font-family: 'Kendo UI';
  font-style: normal;
  font-weight: 400;
  src: url('../../font/latest.eot'), url('../../font/latest.ttf') format('truetype'), url('../../font/latest.woff');
}*/

@font-face {
    font-family: "Roboto";
    src: url("/barsroot/Content/fonts/Roboto-Regular-webfont.woff") format('woff');
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("/barsroot/Content/fonts/Roboto-Light-webfont.woff") format('woff');
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url("/barsroot/Content/fonts/Roboto-Thin-webfont.woff") format('woff');
    font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src: url("/barsroot/Content/fonts/Roboto-Bold-webfont.woff") format('woff');
    font-weight: 600;
}
body:before {
    font-family: "Kendo UI";
    content: "\a0";
    font-size: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}

html, body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    height: 100%;
}

body {
    font-size: 1.25em;
    font-family: Roboto;  
    /*font-family: "Segoe UI", arial, sans-serif;*/
    padding: 7px;
    overflow-x: auto;
}
h1.app-title,
h1 {
    font-size: 1.9em;
    margin: 0;
    padding-bottom: 15px;
    border: 0;
}

h2 {
    font-size: 1.5em;
}
h1.app-title,
h1, h2 {
    font-weight: 200;
    margin-top: 0;
   /* font-family: "Segoe UI Light",arial,sans-serif;*/
}
h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


#example {
    padding-top: 2em;
}

header {
    margin: 0;
    font-size: 20px;
    color: #fff;
    background-color: #272727;
}

    header h1,
    header button {
        display: inline-block;
        vertical-align: middle;
    }

    header .container h1 {
        margin: 0;
        font-size: 21px;
        line-height: 65px;
        padding-top: 20px;
        padding-left: 0;
    }

    #configure,
    header label {
        border-style: solid;
        border-color: #636363;
        border-width: 0 0 0 1px;
        margin-bottom: 0;
        font-weight: normal;
    }

    header .container {
        position: relative;
    }

    header .description {
        text-transform: uppercase;
        color: #ccc;
        font-size: 10px;
        line-height: 29px;
    }

    header .k-dropdown,
    header #font-size-value {
        font-size: 18px;
        line-height: 45px;
        margin-bottom: 9px;
    }

    header .k-dropdown {
        width: 100%;
    }

    header .k-dropdown-wrap {
        background-image: none !important;
    }

        header .k-dropdown,
        header .k-dropdown-wrap.k-state-default {
            background-color: transparent;
            border-color: #5c5c5c;
            border-radius: 0;
        }

        header .k-dropdown-wrap.k-state-hover,
        header .k-dropdown-wrap.k-state-active,
        header .k-dropdown-wrap.k-state-focused {
            background-color: #030303;
        }

        header .k-dropdown-wrap.k-state-focused {
            box-shadow: none;
        }

    header .k-dropdown .k-input {
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
        text-indent: 14px;
    }

    header .k-dropdown .k-input,
    header .k-dropdown-wrap .k-select {
        line-height: 45px;
    }

    header .k-dropdown .k-i-arrow-s {
        background-image: url("http://cdn.kendostatic.com/2013.2.918/styles/Bootstrap/sprite.png");
        background-position: -16px -32px;
    }

    header .k-dropdown-wrap.k-state-default .k-input {
        color: #fff;
    }

.k-popup.ra-list {
    background-color: #010101;
    border-color: #5c5c5c;
    color: #fff;
    padding: 0;
    border-radius: 0;
}

    .k-popup.ra-list .k-state-hover,
    .k-popup.ra-list .k-state-selected,
    .k-popup.ra-list .k-state-focused {
        background-image: none;
        background-color: #555;
        box-shadow: none;
        color: #fff;
        border-color: #555;
    }

    .k-popup.ra-list .k-item {
        border-radius: 0;
        text-indent: 7px;
    }

#configure {
    z-index: 10;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-width: 0 0 0 1px;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

#demo {
    padding-top: 46px;
}

#menu {
    margin-bottom: 30px;
}

#profile {
    position: relative;
}

.ra-well-title {
    font-size: 1.2857em;
    line-height: 1.2857em;
    border-bottom: 1px solid #e7e7e7;
    margin: -5px -19px 0.8333em;
    padding: 0 19px 0.7222em;
}

.ra-avatar {
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}

.ra-first-name {
    display: block;
    margin-top: 0.8571em;
}

.ra-last-name {
    display: block;
    font-size: 1.7143em;
    line-height: 1.3em;
}

.ra-position {
    font-size: 0.8571em;
    color: #999;
    padding-bottom: 2em;
}

.form-group .k-widget,
.form-group .k-textbox {
    width: 100%;
}

.buttons-wrap {
    border-top: 1px solid #e7e7e7;
    padding-top: .5em;
    text-align: right;
}

.ra-section {
    margin-bottom: 20px;
}

.ra-well-overlay {
    margin: -16px -20px -19px;
}

#tabstrip .k-content {
    min-height: 156px;
}

#tabstrip .k-chart {
    height: 156px;
}

#tabstrip .k-content {
    padding: 1px;
}

#tabstrip-4 {
    text-align: center;
}

#tabstrip .km-icon:after {
    font: 1.3em/1em "Kendo UI" !important;
}

.revenue:after {
    content: "\E08C";
}

.spd:after {
    content: "\E04B";
}

.spr:after {
    content: "\E050";
}

.share:after {
    content: "\E04E";
}

#tabstrip .k-tabstrip-items span {
    float: left;
    line-height: 1.3em;
    vertical-align: middle;
}

#tabstrip .k-tabstrip-items .hidden-xs {
    margin-left: 4px;
}

.market-donut {
    display: inline-block;
    width: 170px;
}

#panelbar .k-content {
    padding: 1em;
}

#panelbar ul {
    margin-bottom: 10px;
}

#listview {
    list-style-type: none;
    padding: 0 0 15px;
}

    #listview figure {
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        padding: 5px;
        margin-top: 15px;
    }

figure h4 {
    font-size: 1.15em;
}

figure p.hidden-sm {
    min-height: 80px;
}

footer {
    text-align: right;
    font-size: 0.8571em;
    padding: 2em 0;
}

header .container h1.visible-sm {
    padding-top: 10px;
    line-height: 33px;
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    .k-menu.k-menu-horizontal .k-item {
        float: none;
    }

    header .container {
        padding-right: 0;
    }

        header .container h1 {
            padding-top: 0;
            line-height: 50px;
        }

    header label {
        border-width: 1px 0 0 0;
        display: block;
    }

    #configurator-wrap {
        position: absolute;
        overflow: hidden;
        height: 260px;
        right: 0;
        top: 50px;
        z-index: 1000;
        padding: 0;
        width: 320px;
    }

    #configurator {
        background-color: #272727;
        position: absolute;
        width: 100%;
        margin: 0;
    }
}

    /*  клас міні таблички   */
.simple-table {
    width: 100%;
    /*border-left:1px solid #999999;
    border-top:1px solid #999999;*/
    border-collapse: collapse; /*для відображення бордера навколо пустої ячейки*/
}
    .simple-table caption {
        text-align: left;
    }
    .simple-table thead tr {
        background-color: #d1d1d1;
        font-weight: bold;
    }
        .simple-table thead tr th,
        .simple-table thead tr td {
            background-color: #d1d1d1;
            font-weight: bold;
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
        }
    .simple-table th,
    .simple-table td {
        white-space: nowrap;
        height: 20px;
        padding: 2px 5px ;
        border: 1px solid #999999;
    }
    .simple-table tbody tr {
        border: 1px solid #fff;
    }
        .simple-table tbody tr div {
            font-size: 14px;
        }
        .simple-table input,
        .simple-table tbody tr td input {
            background-color: #fff;
            border: 1px solid #fff;
            padding: 1px 3px;
            border: 0;
            margin: 0;
        }
            .simple-table input[disabled] {
                border-color: #efefef;
                background-color: #efefef;
            }
    .simple-table select {
        height: 23px;
        padding: 0 !important;
    }

.k-black body,
.k-metroblack body,
.k-black .well,
.k-metroblack .well,
.k-black .ra-well-title,
.k-metroblack .ra-well-title,
.k-black .buttons-wrap,
.k-metroblack .buttons-wrap {
    border-color: #444;
    background-color: #1e1e1e;
    color: #fff;
}

.k-highcontrast body,
.k-highcontrast .well .k-highcontrast .ra-well-title,
.k-highcontrast .buttons-wrap {
    border-color: #664e62;
    background-color: #2c232b;
    color: #fff;
}

.k-moonlight body,
.k-moonlight .well,
.k-moonlight .ra-well-title,
.k-moonlight .buttons-wrap {
    border-color: #171e28;
    background-color: #212a33;
    color: #fff;
}

.k-widget.k-window {
    box-shadow: 0 0 25px gray;
}

.money {
    text-align: right;
    white-space: nowrap;
}

.k-grid .money {
    font-style: italic;
    font-weight: bold;
}
.k-grid-header th.k-header {
    vertical-align: top;
}
.k-button .pf-icon {
    margin-bottom: -3px;
    margin-right: 2px;
}

.with-footer {
    padding-bottom: 48px;
    /*border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;*/
}

.k-window-footer {
    padding: 3px;
    border-top: 1px solid #e5e5e5;
}

    .k-window-footer .k-button {
        float: right;
        margin: 7px 5px 7px 5px;
    }

.k-pager-input, .k-pager-sizes {
    padding: 0;
}

/*add border on tabstrip pegger button*/
.k-tabstrip.k-tabstrip-scrollable .k-tabstrip-prev, 
.k-tabstrip.k-tabstrip-scrollable .k-tabstrip-next {
    border: 1px solid #ddd
}
/*bug in grid pagger*/
@media only screen and (max-width: 1024px) {
    .k-webkit .k-grid .k-pager-numbers .k-current-page {
        -webkit-transform: translatey(0%); 
        -moz-transform: translatey(0%);
        transform: translatey(0%);
    }
    .k-webkit .k-grid .k-pager-numbers.k-state-expanded .k-current-page {
        -webkit-transform: translatey(100%); 
        -moz-transform: translatey(100%);
        transform: translatey(100%);
    }
}

/***для тонких строк в гріді***/
.k-grid.slim-row table tbody tr td{
        padding-top: .2em;
        padding-bottom: .2em;
    }
/***для вирівнювання заголовка таблиці по верхньому краю****/
.k-header.k-with-icon.k-filterable {
    vertical-align: top;
}

/***стилі при валідації***/
input.invalid,
input.k-invalid,
textarea.k-invalid,
.k-datepicker .k-invalid,
.k-invalid .k-numeric-wrap,
.k-invalid .k-picker-wrap {
    border-color: rgb(249, 144, 162);
}

    input.k-invalid,
    textarea.k-invalid,
    .k-invalid .k-numeric-wrap input,
    .k-invalid .k-picker-wrap input {
        background-color: #ffffd5;
    }
.k-numerictextbox .k-input,
.k-datepicker .k-invalid  {
    margin-right: 30px;
}
 


.no-border-radius {
    border-radius: 0;
}

.bg-blue {
    background-color: #00B1E4;
}

.color-blue {
    color: #00B1E4;
}

.btn-blue {
    border-color: #00B1E4;
    background-color: #00B1E4;
    color: #fff;
}

    .btn-blue:hover {
        border-color: #00B1E4;
        background-color: #00B1E4;
        color: #fff;
    }

    .btn-blue:active {
        border-color: #00B1E4;
        background-color: #00B1E4;
        color: #fff;
    }

.form-control:focus, .single-line:focus {
    border-color: #00B1E4 !important;
}

/*time liader*/
.circle-progress {
    margin-top: 10px;
    position: relative;
    text-align: center;
}

    .circle-progress span {
        display: block;
        color: #aaa;
        margin-top: 0;
    }

    .circle-progress strong {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
    }

        .circle-progress strong i {
            font-style: normal;
            font-size: 0.6em;
            font-weight: normal;
        }

html {
}

body {
    background-attachment: fixed;
    background-size: cover;
    /*background-color: transparent*/
}



.logo {
    background-image: url('../../logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.loginColumns {
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}

    .loginColumns .ibox-content {
        background-color: rgb(243, 243, 243);
        box-shadow: 0 0 25px gray;
        padding: 20px;
    }

    .loginColumns .logo {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 10px;
        width: 200px;
        height: 60px;
    }

    .loginColumns .slogan {
        padding: 15px;
    }

        .loginColumns .slogan .title {
            font-size: 40px;
        }

        .loginColumns .slogan .text {
            font-size: 14px;
        }

.login-form {
    padding: 10px;
}

    .login-form form {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .login-form .bank-date {
    }

        .login-form .bank-date .bank-date-head {
            height: 60px;
            color: #fff;
            text-align: center;
        }

            .login-form .bank-date .bank-date-head .month-name,
            .login-form .bank-date .bank-date-head .day-num {
                font-size: 2.2em;
                line-height: 1.9em;
            }

            .login-form .bank-date .bank-date-head .day-name {
                font-size: 0.9em;
                margin-top: -10px;
                display: block;
            }

            .login-form .bank-date .bank-date-head .day {
                width: 60px;
                height: 60px;
                background-color: rgb(254, 148, 36);
                float: left;
            }

            .login-form .bank-date .bank-date-head .month {
                padding-left: 60px;
            }

    .login-form .form-group {
        margin-bottom: 7px;
    }

    .login-form form .btn {
        margin-bottom: 7px;
    }

@media (max-width: 480px) {
    .loginColumns {
        padding-top: 10px;
    }
        .loginColumns .ibox-content {
            padding: 0px;
        }
        .loginColumns .logo {
            margin-top: 25px;
            margin-bottom: 5px;
            margin-left: 10px;
            width: 200px;
            height: 60px;
        }
        .loginColumns .slogan {
            padding: 5px;
        }
            .loginColumns .slogan .title {
                font-size: 25px;
            }
            .loginColumns .slogan .text {
                font-size: 14px;
            }
    .login-form {
        padding: 5px;
    }
        .login-form form {
            margin-top: 20px;
            margin-bottom: 20px;
        }
}

@media (min-width: 480px) and (max-width: 768px) {
    .loginColumns {
        padding-top: 10px;
    }
       /*.loginColumns .ibox-content {
            padding: 0px;
        }*/
        .loginColumns .logo {
            margin-top: 25px;
            margin-bottom: 5px;
            
        }
        .loginColumns .slogan {
            padding: 10px;
        }
            .loginColumns .slogan .title {
                font-size: 30px;
            }
            .loginColumns .slogan .text {
                font-size: 14px;
            }
    .login-form {
        padding-top: 5px;
    }
        .login-form form {
            margin-top: 20px;
            margin-bottom: 20px;
        }
}
