@{
    ViewBag.Title = "Імпорт файлів";
}
<script src="~/Areas/DptSocial/Scripts/app/controllers/ImportFiles/ImportFilesController.js"></script>
<link rel="stylesheet" type="text/css" href="~/Areas/DptSocial/Content/css/ImportFiles/styles.css" />

<div ng-app="BarsWeb.Controllers" ng-controller="AppController">
    <h2>@ViewBag.Title</h2><br />
    <input id="ddFileType" name="FileType" style="width: 175px;" />
    <span data-for='FileType' class='k-invalid-msg'></span>
    <input id="path" class="k-textbox" style="width: 250px;" disabled />
    <button id="btnProcess" class="k-button">Обробити</button><br/>
    <textarea id="result" style="width: 80%; margin-top: 20px; height: 600px;" readonly></textarea>
    @* Лоадер(ожидание) *@
    <div id="loader" hidden>
        <img id="loader_gif" src="~/Areas/PB1/Content/Images/loader.gif" width="100" height="100" class="ajax-loader" />
    </div>
</div>