@model BarsWeb.Areas.Dwh.Models.V_REGIONS
@{
   Layout = null;
}

<button type="button" id="BoockSelectButton" class="btn btn-primary btn-sm">Вибрати</button>
@Html.Action("RegionsBookGrid")

