<style>
    #acskRulesWindow .row {
        padding: 5px;
    }
</style>
<div id="AcskChangeCertificatesStatesWindow''"
     kendo-window="relCustCtrl.acsk.changeCertificatesStateWindow"
     class="k-box-size-inh wrapper-sm"
     k-options="relCustCtrl.acsk.changeCertificatesStateWindowOptions"
     style="display:none;">
    <h2>Зміна статуса сертифіката</h2>
    <div>
        <span style="color: red">Увага!</span>
        <span style="">Всі блокування, крім <b>"6 - Блокування"</b>, відбуваються безповоротно. Будьте уважні.</span>
        <div style="">
            Блокування <b>"6 - Блокування"</b> можна відмінити відправивши код 
            <b>"8 - Відновити роботу після блокування 6"</b>
        </div>
    </div>
    <div class="cl-user-box k-popup-edit-form">
        <div class="edit-box wrapper-sm">
            <div class="row">
                <div class="col-sm-12">
                    <label>Новий статус</label>
                    <!--
                        -1 Ok - Чинний
                        0 Unused - Не визначено
                        1 KeyCompromise - Компрометація ключа
                        2 CACompromise - Компрометація ЦСК
                        3 AffiliationChanged - Зміна повноважень 
                        4 Superseded - Заміщення
                        5 CessationOfOperation - Припинення операцій
                        6 CertificateHold - Блокування
                        8 RemoveFromCRL - Виключення з СВС
                        9 PrivilegeWithdrawn - Скасування привілеїв
                        10 AACompromise - Компрометація Центру авторизації
                    -->
                    <select style="width: 100%" ng-model="relCustCtrl.acsk.changeStateOptions.newState">                    
                        <option value="1">1 - Компрометація ключа</option>
                        <option value="2">2 - Компрометація ЦСК</option>
                        <option value="3">3 - Зміна повноважень </option>
                        <option value="4">4 - Заміщення</option>
                        <option value="5">5 - Припинення операцій</option>

                        <option value="6">6 - Блокування</option>
                        <option value="8">8 - Відновити роботу після блокування 6</option>

                        <option value="9">9 - Скасування привілеїв</option>
                        <option value="10">10 - Компрометація Центру авторизації</option>

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Коментар</label>
                    <textarea ng-model="relCustCtrl.acsk.changeStateOptions.comment"
                              rows="4" style="width:100%"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" style="text-align: right; padding-top: 10px">
                    <button class="k-button"
                            ng-click="relCustCtrl.acsk.changeCertificateState()">
                        зберегти
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>