<div kendo-window="relCustCtrl.userDetailWindow" class="k-box-size-inh wrapper-sm"
     k-options="relCustCtrl.userDetailWindowOptions" style="display: none;">
    <form id="newUserWindow">

        <div class="pull-right" ng-show="!relCustCtrl.currentUser.Id">

            <div class="btn-group rel-cust-ddl" dropdown="">
                <button type="button" class="btn btn-default"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Використати дані
                </button>
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li ng-repeat-start="item in relCustCtrl.reatedCustomers">
                        <a ng-click="relCustCtrl.selectRelatedCustomers(item)">
                            <div ng-if="item.Id>=0">
                                <b>{{ item.TaxCode }}</b> -
                                {{ item.LastName + ' ' + item.FirstName + ' ' + item.SecondName }}
                                <b>{{ item.CellPhone }}</b>
                                {{ item.Email }}
                            </div>
                            <div ng-if="item.Id==-1">
                                Основні реквізити
                            </div>
                        </a>
                    </li>
                    <li class="divider" ng-repeat-end></li>
                    <li ng-show="!relCustCtrl.reatedCustomers || relCustCtrl.reatedCustomers.length === 0 ">
                        <a>
                            список порожній
                        </a>
                    </li>

                    <!--<li class="divider"></li>-->
                </ul>
            </div>
        </div>
        <h2>Користувач Corp2</h2>
        <div id="userCartNew" class="cl-user-box k-popup-edit-form k-window-content k-content" tabindex="0">

            <input type="hidden" id="Id" ng-model="relCustCtrl.currentUser.Id">
            <input type="hidden" id="Name" ng-model="relCustCtrl.currentUser.Name">

            <div class="edit-box wrapper-sm">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="TaxCode">
                            ІПН
                            <span class="required">*</span>
                        </label>
                        <input @*type="number"
                               ng-maxlength="10"*@
                               @*k-options="{format: 'xxxxxxxxxxx', spinners: false}"*@
                               @*kendo-numeric-text-box
                               k-options="{format: '000000', spinners: false}"*@
                               maxlength="10"
                               numeric-only
                               id="TaxCode"
                               class="k-input k-textbox w-100"
                               name="TaxCode"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               ng-model-onblur
                               ng-change="relCustCtrl.validateTaxCode()"
                               ng-model="relCustCtrl.currentUser.TaxCode"
                               required="required" />
                            <label>
                                Право підпису
                            </label>
                            <i id="IsCanSign"></i>
                    </div>
                    <div class="col-sm-4">
                        <label for="BirthDate">
                            Дата народження
                            <span class="required">*</span>
                        </label>
                        <input type="text"
                               kendo-masked-date-picker="relCustCtrl.custBirthDate"
                               k-options="relCustCtrl.custBirthDateOptions"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               id="BirthDate"
                               class="k-input k-textbox w-100"
                               name="BirthDate"
                               k-ng-model="relCustCtrl.currentUser.BirthDate"
                               required="required" />
                    </div>
                </div>
                <label class="required" ng-show="relCustCtrl.currentUser.BirthDate > relCustCtrl.minBirthDate">
                    дата народження має бути меншою від поточної дати на 18 років.<br>
                    вибрано дату <b>{{relCustCtrl.currentUser.BirthDate | date: 'dd.MM.yyyy'}}</b>
                </label>
            </div>

            <div class="edit-box wrapper-sm">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <label for="DisplayNameLastName">
                            Прізвище
                            <span class="required">*</span>
                        </label>
                        <input type="text" id="DisplayNameLastName"
                               class="k-input k-textbox w-100"
                               name="DisplayNameLastName"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               maxlength="100"
                               ng-model="relCustCtrl.currentUser.LastName"
                               required="required" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label for="DisplayNameFirstName">
                            Ім'я
                            <span class="required">*</span>
                        </label>
                        <input type="text"
                               id="DisplayNameFirstName"
                               class="k-input k-textbox w-100"
                               name="DisplayNameFirstName"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               maxlength="100"
                               ng-model="relCustCtrl.currentUser.FirstName"
                               required="required" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label for="DisplayNamePatronymic">
                            Побатькові
                            <span class="required">*</span>
                        </label>
                        <input type="text"
                               id="DisplayNamePatronymic"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               class="k-input k-textbox w-100"
                               maxlength="100"
                               name="DisplayNamePatronymic"
                               ng-model="relCustCtrl.currentUser.SecondName"
                               required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="DisplayNameFullNameGenitiveCase">
                            ПІБ (родовий відмінок)
                        </label>
                        <input type="text"
                               id="DisplayNameFullNameGenitiveCase"
                               class="k-input k-textbox w-100"
                               maxlength="400"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               name="DisplayNameFullNameGenitiveCase"
                               ng-model="relCustCtrl.currentUser.FullNameGenitiveCase" />
                    </div>
                </div>
            </div>

            <div class="edit-box wrapper-sm ">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="docSeries">
                            Серія паспорту
                            <span class="required">*</span>
                        </label>
                        <input type="text" id="docSeries"
                               class="k-input k-textbox w-100"
                               name="docSeries"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               maxlength="2"
                               ng-model="relCustCtrl.currentUser.DocSeries"
                               required="required" />
                    </div>
                    <div class="col-sm-4">
                        <label for="docNumber">
                            Номер паспорту
                            <span class="required">*</span>
                        </label>
                        <input numeric-only
                                @*kendo-numeric-text-box
                               k-options="{format: '000000', spinners: false}"*@
                               id="docNumber"
                               class="k-input k-textbox w-100"
                               maxlength="6"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               name="docNumber"
                               ng-model="relCustCtrl.currentUser.DocNumber"
                               required="required" />
                    </div>
                    <div class="col-sm-4">
                        <label for="docDate">
                            Дата видачі
                            <span class="required">*</span>
                        </label>
                        <input type="text" id="docDate"
                               kendo-masked-date-picker="relCustCtrl.custDocDate"
                               k-options="relCustCtrl.custDocDateOptions"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               class="k-input k-textbox w-100"
                               name="docDate"
                               k-ng-model="relCustCtrl.currentUser.DocDate"
                               required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="DocOrganization">
                            Орган, що видав документ
                            <span class="required">*</span>
                        </label>
                        <input type="text" id="DocOrganization"
                               class="k-input k-textbox w-100"
                               maxlength="400"
                               name="DocOrganization"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               ng-model="relCustCtrl.currentUser.DocOrganization"
                               required="required" />
                    </div>
                </div>
            </div>

            <div class="edit-box wrapper-sm">
                <label for="Address">Адреса</label>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="Address">Регіон
                            <span class="required">*</span>
                        </label>
                        <select required="required" 
                                style="width:100%"
                                ng-model="relCustCtrl.currentUser.AddressRegionId"
                                name="AddressRegionId"
                                id="AddressRegionId"
                                ng-disabled="relCustCtrl.currentUser.isReadOnly">
                            <option value="1" selected>Київ</option>
                            <option value="2">Волинська обл</option>
                            <option value="3">Вінницька обл</option>
                            <option value="4">Дніпропетровська обл</option>
                            <option value="5">Донецька обл</option>
                            <option value="6">Житомирська обл</option>
                            <option value="7">Закарпатська обл</option>
                            <option value="8">Запорізька обл</option>
                            <option value="9">Івано-Франківська обл</option>
                            <option value="10">Кіровоградська обл</option>
                            <option value="11">Київська обл</option>
                            <option value="12">Львівська обл</option>
                            <option value="13">Луганська обл</option>
                            <option value="14">Миколаївська обл</option>
                            <option value="15">Одеська обл</option>
                            <option value="16">Полтавська обл</option>
                            <option value="17">Рівенська обл</option>
                            <option value="18">Сумська обл</option>
                            <option value="19">Тернопільська обл</option>
                            <option value="20">Черкаська обл</option>
                            <option value="21">Чернівецька обл</option>
                            <option value="22">Чернігівська обл</option>
                            <option value="23">Харківська обл</option>
                            <option value="24">Херсонська обл</option>
                            <option value="25">Хмельницька обл</option>
                            <option value="26">АРК Крим</option>
                            <option value="27">Севастополь</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="Address">Населений пункт
                            <span class="required">*</span>
                        </label>
                        <input type="text"
                               id="AddressCity"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               maxlength="200"
                               class="k-input k-textbox w-100"
                               name="AddressCity"
                               ng-model="relCustCtrl.currentUser.AddressCity"
                               required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="Address">Вулиця
                            <span class="required">*</span>
                        </label>
                        <input type="text"
                               id="AddressStreet"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               maxlength="200"
                               class="k-input k-textbox w-100"
                               name="AddressStreet"
                               ng-model="relCustCtrl.currentUser.AddressStreet"
                               required="required" />
                    </div>
                    <div class="col-sm-6">
                        <label for="Address">Будинок
                            <span class="required">*</span>
                        </label>
                        <input type="text"
                               id="AddressHouseNumber"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               maxlength="200"
                               class="k-input k-textbox w-100"
                               name="AddressHouseNumber"
                               ng-model="relCustCtrl.currentUser.AddressHouseNumber"
                               required="required" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label for="Address">Додатково</label>
                        <input type="text"
                               id="AddressAddition"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               maxlength="200"
                               class="k-input k-textbox w-100"
                               name="AddressAddition"
                               ng-model="relCustCtrl.currentUser.AddressAddition" />
                    </div>
                </div>
            </div>

            <div class="edit-box wrapper-sm">
                <div class="row">
                    <div class="col-sm-5">
                        <div>
                            <label for="CellPhone">
                                Мобільний телефон
                                @*<span class="required">*</span>*@
                            </label>
                            <input type="text"
                                   ng-model="relCustCtrl.currentUser.CellPhone"
                                   data-role="maskedtextbox"
                                   ng-disabled="relCustCtrl.currentUser.isReadOnly"
                                   kendo-masked-text-box
                                   k-mask="'+389990000000'"
                                   id="CellPhone"
                                   class="k-input k-textbox" style="width: 150px"
                                   name="LoginProviderValueMobilePhone" @*required="required"*@ />
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <label for="Email">
                            E-mail
                            <span class="required">*</span>
                        </label>
                        <input type="text"
                               id="Email"
                               ng-disabled="relCustCtrl.currentUser.isReadOnly"
                               maxlength="50"
                               class="k-input k-textbox w-100"
                               name="Email"
                               ng-model="relCustCtrl.currentUser.Email"
                               required="required" />
                    </div>
                </div>
            </div>
        </div>
        <div class="futter-buttons" ng-hide="relCustCtrl.currentUser.isReadOnly">
            <div>
                <button class="k-button" id="close_UDW_button"
                        ng-disabled="relCustCtrl.relCustServiceState.isLoading"
                        ng-click="relCustCtrl.saveUser()">
                    Зберегти
                </button>
                <button class="k-button"
                        ng-disabled="relCustCtrl.relCustServiceState.isLoading"
                        ng-click="relCustCtrl.userDetailWindow.close();">
                    Відмінити
                </button>
            </div>
        </div>
    </form>
</div>