@model BarsWeb.Areas.Sep.Models.SepTechAccountsFilterParams
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "ОДБ Документи Внутр. и Нач. Міжбанківські " + Model.NLS + " за " + Model.bankdate;
}
<h2>@ViewBag.Title</h2>
<div id="sepDocsToolBar"></div>
<div id="sepDocumentsGrid"></div>
<script type="text/javascript" src="/barsroot/Scripts/Bars/bars.utils.js"></script>
<script>
    var sepDocsGrid = null;
    function getSepDocsGrid() {
        if (sepDocsGrid == null) {
            sepDocsGrid = $('#sepDocumentsGrid').data('kendoGrid');
        }
        return sepDocsGrid;
    }

    function refreshToolbar() {
        var grid = getSepDocsGrid();
        var selection = grid.select();
        enableButton('pbViewDoc', selection.length == 1);

    }

    function enableButton(buttonId, enabled) {
        if (typeof (enabled) === 'undefined') {
            enabled = true;
        }
        var $button = $('#' + buttonId);
        $button.data('kendoButton').enable(enabled);
        if (enabled) {
            $button.find('i').removeClass("pf-disabled");
        } else {
            $button.find('i').addClass("pf-disabled");
        }
    }

    function goBack() {
        window.location = bars.config.urlContent('/Sep/SepTechAccounts/Index');
    }

    function openDoc() {
        var grid = getSepDocsGrid();
        var record = grid.dataItem(grid.select());
        var docUrl = bars.config.urlContent("/documents/item/" + record.REF + "/");
        window.location = docUrl;
    }

    $(document).ready(function () {
        $("#sepDocumentsGrid").kendoGrid({ 
            columns: [
            {
                field: "REF",
                title: "Референс документу",
                width: "90px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "TT",
                title: "Код ОП",
                width: "40px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "USERID",
                title: "Код користувача",
                width: "50px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "ND",
                title: "№ документу",
                width: "90px"
            },
            {
                field: "NLSA",
                title: "Рахунок - А",
                width: "120px"
            },
            {
                field: "S",
                title: "Сума",
                template: "<div style='text-align:right;'>#=(S/100).toFixed(2)#</div>",
                width: "60px"
            },
            {
                field: "LCV",
                title: "Валюта",
                width: "60px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "VDAT",
                title: "Дата валютувания",
                width: "90px",                 
                template: "<div style='text-align:left;'>#=kendo.toString(kendo.parseDate(VDAT),'dd.MM.yyyy')#</div>",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "S2",
                title: "Сума у валюті - B",
                template: "<div style='text-align:right;'>#=(S/100).toFixed(2)#</div>",
                width: "90px"
            },
            {
                field: "LCV2",
                title: "Вал. B",
                width: "40px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "MFOB",
                title: "МФО - B",
                width: "80px"
            },
            {
                field: "NLSB",
                title: "Рахунок - B",
                width: "120px"
            },
            {
                field: "DK",
                title: "Дб Кр",
                width: "50px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "SK",
                title: "СКП",
                width: "55px"
            },
            {
                field: "VOB",
                title: "Вид документу",
                width: "90px"
            },
            {
                field: "DATD",
                title: "Дата документу",
                width: "80px",
                template: "<div style='text-align:left;'>#=kendo.toString(DATD,'dd/MM/yyyy') != null ? kendo.toString(DATD,'dd/MM/yyyy') : '' #</div>",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "NAZN",
                title: "Призначення платежу",
                width: "250px"
            },
            {
                field: "TOBO",
                title: "Код безбал. відділення",
                width: "80px"
            },
            {
                field: "ID_A",
                title: "ОКПО-А",
                width: "120px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "NAM_A",
                title: "Відправник",
                width: "120px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "ID_B",
                title: "ОКПО-B",
                width: "70px",
                headerAttributes: {
                    style: "white-space: normal;"
                }
            },
            {
                field: "NAM_B",
                title: "Одержувач",
                width: "150px"
            }
            ],
            dataSource: {
                type: "aspnetmvc-ajax",
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 10,
                transport: {
                    read: {
                        dataType: 'json',
                        url: bars.config.urlContent('/sep/SepTechAccounts/GetSepInternInitDocsData'),
                        data: sepTecAccDocData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        fields: {
                            REF: { type: "number" },
                            TT: { type: "string" },
                            USERID: { type: "number" },
                            ND: { type: "string" },
                            NLSA: { type: "string" },
                            S: { type: "number" },
                            LCV: { type: "string" },
                            VDAT: { type: "date" },
                            S2: { type: "number" },
                            LCV2: { type: "string" },
                            MFOB: { type: "string" },
                            NLSB: { type: "string" },
                            DK: { type: "number" },
                            SK: { type: "number" },
                            VOB: { type: "number" },
                            DATD: { type: "date" },
                            TOBO: { type: "string" },
                            ID_A: { type: "string" },
                            NAM_A: { type: "string" },
                            ID_B: { type: "string" },
                            NAM_B: { type: "string" }
                        }
                    }
                }
            },
            sortable: true,
            filterable: true,
            resizable: true,
            autobind: true,
            selectable: "multiple",
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            change: refreshToolbar 
        });

        $('#sepDocsToolBar').kendoToolBar({
            items: [
                {
                    template: "<button id='pbGoBack' type='button' class='k-button' onclick='goBack()' title='Повернутись до переліку файлів'><i class='pf-icon pf-16 pf-arrow_left'></i> Назад</button>"
                },
                {
                    template: "<button id='pbViewDoc' type='button' class='k-button' onclick='openDoc()' title='Переглянути документ'><i class='pf-icon pf-16 pf-folder_open'></i></button>"
                }
            ]
        });

        $("#pbGoBack").kendoButton();
        $("#pbViewDoc").kendoButton();
        $("#pbFilter").kendoButton();

        function sepTecAccDocData() {
            return {
                NACC: "@Model.NACC"
            }
        }
    });
</script>
 