<div class="row" ng-controller="ClearAddressLegalCtrl as clrAdrLegal">
    <div ng-show="clrAdr.legalAdrShow">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 containerIndex">
            <label>Індекс:</label>
            <input type="text" id="legalIndexShow" class="k-textbox txtIndex readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrLegal.indexShow" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 containerIndex">
            <label>Індекс:</label>
            <input type="text" id="legalIndexEdit" class="k-textbox txtIndex textBoxSize" ng-model="clrAdrLegal.indexEdit" ng-change="clrAdrLegal.changeIndex(clrAdrLegal.indexEdit)" numbers-only="" @*ng-disabled="clrAdrLegal.disabledIndex" ng-class="{'readOnly': clrAdrLegal.disabledIndex}" COBUMMFO-8100 *@ />
            <button type="button" ng-click="clrAdr.clearAddress('legal')" id="btnClearAddress" class="k-button"><i class="pf-icon pf-16 pf-reload_rotate"></i>Очистити</button>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerRegion">
            <label>Область:</label>
            <input type="text" id="legalRegionShow" class="k-textbox txtRegion readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrLegal.regionShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerRegion">
            <label>Область:</label>
            <input kendo-auto-complete id="legalRegionEdit" ng-model="clrAdrLegal.regionEdit" ng-change="clrAdrLegal.changeRegion(clrAdrLegal.regionEdit)" k-options="clrAdrLegal.regionOptions" type="text" class="form-control txtRegion" k-data-source="clrAdr.regionDataSource" k-ng-disabled="clrAdrLegal.disableRegion" ng-class="{'readOnly': clrAdrLegal.disableRegion}" ng-blur="clrAdrLegal.regionLostFocus()" ng-keydown="clrAdrLegal.checkKeyDown($event, 'region')" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerAreas">
            <label>Район:</label>
            <input type="text" id="legalAreaShow" class="k-textbox txtAreas readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrLegal.areaShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerAreas">
            <label>Район:</label>
            <input kendo-auto-complete ng-model="clrAdrLegal.areaEdit" k-options="clrAdrLegal.areasOptions" ng-change="clrAdrLegal.changeArea(clrAdrLegal.areaEdit)" type="text" class="form-control txtAreas" k-data-source="clrAdrLegal.areaDataSource" k-ng-disabled="clrAdrLegal.disableArea" ng-class="{'readOnly': clrAdrLegal.disableArea}" ng-blur="clrAdrLegal.areaLostFocus()" ng-keydown="clrAdrLegal.checkKeyDown($event, 'area')" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSettlement">
            <span class="txtInlbl">Населений пункт:</span>
            <input type="text" id="legalSettlementShowType" class="k-textbox txtSettlement readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrLegal.settlementShowType" />
            <input type="text" id="legalSettlementShow" class="k-textbox readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrLegal.settlementShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSettlement">
            <span class="txtInlbl">Населений пункт:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'SETL_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'SETL_TP_ID'"
                    k-data-source="clrAdr.settlementDropDownDataSource" ng-model="clrAdrLegal.settlementType" class="clearAdrDropDown" k-options="clrAdrLegal.settlementDropDownOptions" ng-change="clrAdrLegal.changeSettlementType(clrAdrLegal.settlementType)" k-ng-disabled="clrAdrLegal.disableSettlementType" ng-class="{'readOnly': clrAdrLegal.disableSettlement}"></select>
            <input kendo-auto-complete ng-model="clrAdrLegal.settlementEdit" k-options="clrAdrLegal.settlementOptions" ng-change="clrAdrLegal.changeSettlement(clrAdrLegal.settlementEdit)" k-data-source="clrAdrLegal.settlementDataSource" type="text" class="form-control txtSettlementRGST" k-ng-disabled="clrAdrLegal.disableSettlement" ng-class="{'readOnly': clrAdrLegal.disableSettlement}" ng-blur="clrAdrLegal.settlementLostFocus()" ng-keydown="clrAdrLegal.checkKeyDown($event, 'settlement')" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerStreet">
            <span class="txtInlbl">Вул, Просп., б-р:</span>
            <input type="text" id="legalStreetShowType" class="k-textbox txtStreetRGST readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrLegal.streetShowType" />
            <input type="text" id="legalStreetShow" class="k-textbox readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrLegal.streetShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerStreet">
            <span class="txtInlbl">Вул, Просп., б-р:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'STR_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'STR_TP_ID'"
                    k-data-source="clrAdr.streetDropDownDataSource" ng-model="clrAdrLegal.streetType" class="clearAdrDropDown" id="legalStreetTypeEdit" k-options="clrAdrLegal.streetDropDownOptions" k-ng-disabled="clrAdrLegal.disabledStreetType" ng-class="{'readOnly': clrAdrLegal.disabledStreet}"></select>
            <input kendo-auto-complete ng-model="clrAdrLegal.streetEdit" k-options="clrAdrLegal.streetOptions" ng-change="clrAdrLegal.changeStreet(clrAdrLegal.streetEdit)" type="text" k-data-source="clrAdrLegal.streetDataSource" class="form-control txtStreetRGST" k-ng-disabled="clrAdrLegal.disabledStreet" ng-class="{'readOnly': clrAdrLegal.disabledStreet}" ng-blur="clrAdrLegal.streetLostFocus()" ng-keydown="clrAdrLegal.checkKeyDown($event, 'street')" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 containerHouse">
            <span class="txtInlbl">№ буд., д/в:</span>
            <input type="text" id="legalHousetShowType" class="k-textbox txtHouse readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrLegal.houseShowType" />
            <input type="text" id="legalHouseShow" class="k-textbox readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrLegal.houseShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerHouse">
            <span class="txtInlbl">№ буд., д/в:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'HOUSE_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'HOUSE_TP_ID'"
                    k-data-source="clrAdr.houseDropDownDataSource" class="clearAdrDropDown" ng-model="clrAdrLegal.houseType" id="legalHouseDropDown" k-options="clrAdrLegal.houseDropDownOptions" k-ng-disabled="clrAdrLegal.disabledHouse" ng-class="{'readOnly': clrAdrLegal.disabledHouse}"></select>
            <input kendo-auto-complete ng-model="clrAdrLegal.houseEdit" ng-change="clrAdrLegal.changeHouse(clrAdrLegal.houseEdit)" k-options="clrAdrLegal.houseOptions" k-data-source="clrAdrLegal.houseDataSource" type="text" class="form-control" k-ng-disabled="clrAdrLegal.disabledHouse" ng-class="{'readOnly': clrAdrLegal.disabledHouse}" ng-blur="clrAdrLegal.houseLostFocus()" ng-keydown="clrAdrLegal.checkKeyDown($event, 'house')" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSection">
            <span class="txtInlbl">№ корп., секц.:</span>
            <input type="text" id="legalSectionShowType" class="k-textbox txtSection readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrLegal.sectionShowType" />
            <input ng-model="clrAdrLegal.sectionShow" type="text" ng-disabled="true" class="k-textbox readOnly textBoxSize" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSection">
            <span class="txtInlbl">№ корп., секц.:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'SECTION_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'SECTION_TP_ID'"
                    k-data-source="clrAdr.sectionDropDownDataSource" class="clearAdrDropDown" id="legalSectionDropDown" k-options="clrAdrLegal.sectionDropDownOptions" ng-model="clrAdrLegal.sectionType" k-ng-disabled="clrAdrLegal.disabledSection" ng-class="{'readOnly': clrAdrLegal.disabledSection}"></select>
            <input ng-model="clrAdrLegal.sectionEdit" ng-change="clrAdrLegal.changeSection(clrAdrLegal.sectionEdit)" k-options="" type="text" class="k-textbox  textBoxSize" ng-disabled="clrAdrLegal.disabledSection" ng-class="{'readOnly': clrAdrLegal.disabledSection}" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerRoom">
            <span class="txtInlbl">№ кв., кімн., оф.:</span>
            <input type="text" id="legalRoomShowType" class="k-textbox txtRoom readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrLegal.roomShowType" />
            <input ng-model="clrAdrLegal.roomShow" type="text" ng-disabled="true" class="k-textbox readOnly textBoxSize" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSection">
            <span class="txtInlbl">№ кв., кімн., оф.:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'ROOM_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'ROOM_TP_ID'"
                    k-data-source="clrAdr.roomDropDownDataSource" class="clearAdrDropDown" id="legalRoomDropDown" k-options="clrAdrLegal.roomDropDownOptions" ng-model="clrAdrLegal.roomType" k-ng-disabled="clrAdrLegal.disabledRoom" ng-class="{'readOnly': clrAdrLegal.disabledRoom}"></select>
            <input ng-model="clrAdrLegal.roomEdit" ng-change="clrAdrLegal.changeRoom(clrAdrLegal.roomEdit)" k-options="" type="text" class="k-textbox  textBoxSize" ng-disabled="clrAdrLegal.disabledRoom" ng-class="{'readOnly': clrAdrLegal.disabledRoom}" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerNote">
            <span class="txtInlbl">Примітка:</span>
            <textarea class="k-textbox readOnly clearAdrTextArea" ng-model="clrAdrLegal.noteShow" rows="3" ng-disabled="true" id="legalNoteShow"></textarea>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerNote">
            <span class="txtInlbl">Примітка:</span>
            <textarea class="k-textbox clearAdrTextArea" ng-model="clrAdrLegal.noteEdit" rows="3" id="legalNoteEdit" ng-change="clrAdrLegal.changeNote(clrAdrLegal.noteEdit)"></textarea>
        </div>
    </div>
</div>