@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Очистка адрес";
}
<link href="~/Areas/Clients/Css/Clients.css" rel="stylesheet" />
<link href="~/Areas/Clients/Css/ClearAddress.css" rel="stylesheet" />
<style>
    .k-pager-info {
        display: none !important;
    }
</style>
<h1>Очистка адрес</h1>
<script src="~/Areas/Clients/Services/ClearAddressService.js"></script>
<script src="~/Areas/Clients/Controllers/ClearAddressCtrl.js"></script>
<script src="~/Areas/Clients/Controllers/ClearAddressActualCtrl.js"></script>
<script src="~/Areas/Clients/Controllers/ClearAddressLegalCtrl.js"></script>
<script src="~/Areas/Clients/Controllers/ClearAddressMailCtrl.js"></script>
<script src="~/Areas/Clients/Directives/PreventDefaultBackSpaceDirective.js"></script>
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <div ng-controller="ClearAddressCtrl as clrAdr">
        <preventdefaultbackspace>
            <div class="col-xs-12 col-lg-9 col-sm-9 col-md-9">
                <div class="k-loading-mask" style="width: 100%; height: 100%">
                    <div class="k-loading-image">
                        <div class="k-loading-color"></div>
                    </div>
                </div>
                <a id="top"></a>
                <div kendo-toolbar k-options="clrAdr.toolBarAdrGrid">
                    <label class="lblchkAll">Обрати всі</label>
                    <input type="checkbox" ng-checked="true" ng-model="clrAdr.chkAll" ng-change="clrAdr.changeCheckBoxShowAll(clrAdr.chkAll)" />
                </div>
                <div data-kendo-grid="clrAdr.clrAdrGrid" k-options="clrAdr.clrAdrGridOptions" id="grid" k-on-change="clrAdr.selectedRow(data)">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnFillActualAndMailContainer" ng-show="clrAdr.legalAdrShow">
                    <button type="button" ng-click="" class="k-button">Заповнити факт. адр.</button>
                    <button type="button" ng-click="" class="k-button">Заповнити пошт. адр.</button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clrAdrTitleContainer" ng-click="clrAdr.adrShow('legal')">
                    <span ng-show="!clrAdr.legalAdrShow">+ Юридична</span>
                    <span ng-show="clrAdr.legalAdrShow">- Юридична</span>
                </div>
                @Html.Partial("ClearAddressLegalPartial")
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clrAdrTitleContainer" ng-click="clrAdr.adrShow('actual')">
                    <span ng-show="!clrAdr.actualAdrShow">+ Фактична</span>
                    <span ng-show="clrAdr.actualAdrShow">- Фактична</span>
                </div>
                @Html.Partial("ClearAddressActualPartial")
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clrAdrTitleContainer" ng-click="clrAdr.adrShow('mail')">
                    <span ng-show="!clrAdr.mailAdrShow">+ Поштова</span>
                    <span ng-show="clrAdr.mailAdrShow">- Поштова</span>
                </div>
                @Html.Partial("ClearAddressMailPartial")
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blockBeforeButtons" ng-show="clrAdr.mailAdrShow"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnSaveClearAddress" ng-show="clrAdr.legalAdrShow || clrAdr.actualAdrShow || clrAdr.mailAdrShow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                    <button type="button" ng-click="clrAdr.save();" id="btnSaveAddress" class="k-button">Зберегти</button>
                </div>
                <button type="button" ng-click="clrAdr.goToTop()" ng-show="(clrAdr.actualAdrShow && clrAdr.mailAdrShow) || (clrAdr.legalAdrShow && clrAdr.mailAdrShow) || (clrAdr.legalAdrShow && clrAdr.actualAdrShow)" id="anchor" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i>Початок</button>
            </div>
        </preventdefaultbackspace>
    </div>
</div>

