<div ng-controller="ClientAddressMailCtrl">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 containerMailAddress">
        <span class="text textMailAddress">Поштова</span>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerIndex">
        <span>Індекс:</span>
        <input type="text" ng-model="mailIndex" class="k-textbox txtIndex" ng-change="changeMailIndex()" numbers-only=""  @*ng-disabled="disabledIndex" ng-class="{'readOnly': disabledIndex}" COBUMMFO-8100 *@/>
    </div>
    <div class="text col-lg-5 col-md-5 col-sm-5 col-xs-5  text-right">
        <button type="button" ng-click="clearMailAddress()" id="btnCloseAddress" class="k-button"><i class="pf-icon pf-16 pf-reload_rotate"></i>Очистити</button>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerRegion">
        <span>Область:</span>
        <input kendo-auto-complete ng-model="mailRegion" ng-change="changeMailRegion(mailRegion)" k-options="mailRegionOptions" type="text" class="form-control txtRegion" k-data-source="mailRegionDataSource" k-ng-disabled="disableRegion" ng-class="{'readOnly': disableRegion}" ng-blur="regionLostFocus()" ng-keydown="checkKeyDown($event, 'region')"/>
        <span style="color:red;" ng-style="spanEnterRegionMail">Заповніть "Область"</span>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerAreas">
        <span>Район:</span>
        <input kendo-auto-complete ng-model="mailArea" ng-change="changeMailAreas(mailArea)" k-options="mailAreasOptions" type="text" class="form-control txtAreas" k-ng-disabled="disableArea" ng-blur="areaLostFocus()" ng-class="{'readOnly': disableArea}" ng-keydown="checkKeyDown($event, 'area')"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerSettlement">
        <span class="txtInlbl">Населений пункт:</span>
        <select kendo-drop-down-list="mailSettlementDropDown"
                k-data-text-field="'SETL_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'SETL_TP_ID'"
                k-data-source="mailDropDownSettlementDataSource" class="mailSettlemetDropDown" id="mailSettlemetDropDown" k-options="mailDropDownSettlementOptions" k-ng-disabled="disableSettlementType" ng-class="{'readOnly': disableSettlementType}"></select>
        <input kendo-auto-complete ng-model="mailSettlement" ng-change="changeMailSettlement(mailSettlement)" k-options="mailSettlementOptions" type="text" class="form-control txtSettlement"  k-ng-disabled="disableSettlement" ng-blur="settlementLostFocus()" ng-class="{'readOnly': disableSettlement}" ng-keydown="checkKeyDown($event, 'settlement')"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerStreet">
        <span class="txtInlbl">Вул, Просп., б-р:</span>
        <select kendo-drop-down-list="mailStreetDropDown"
                k-data-text-field="'STR_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'STR_TP_ID'"
                k-data-source="mailDropDownStreetDataSource" class="mailStreetDropDown" id="mailStreetDropDown" k-options="mailDropDownStreetOptions" k-ng-disabled="disabledStreetType" ng-class="{'readOnly': disabledStreetType}"></select>
        <input kendo-auto-complete ng-model="mailStreet" ng-change="changeMailStreet(mailStreet)" k-options="mailStreetOptions" type="text" class="form-control txtStreet" k-ng-disabled="disabledStreet" ng-class="{'readOnly': disabledStreet}" ng-blur="streetLostFocus()" ng-keydown="checkKeyDown($event, 'street')"/>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 containerHouse">
        <span class="txtInlbl">№ буд., д/в:</span>
        <select kendo-drop-down-list="mailHouseDropDown"
                k-data-text-field="'HOUSE_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'HOUSE_TP_ID'"
                k-data-source="mailDropDownHouseDataSource" class="mailHouseDropDown" id="mailHouseDropDown" k-options="mailDropDownHouseOptions" k-ng-disabled="disabledHouse" ng-class="{'readOnly': disabledHouse}"></select>
        <input kendo-auto-complete ng-model="mailHouse" ng-change="changeMailHouse(mailHouse)" k-options="mailHouseOptions" k-data-source="clientAddress.houseDataSource" type="text" class="form-control txtHouse" k-ng-disabled="disabledHouse" ng-class="{'readOnly': disabledHouse}" ng-blur="houseLostFocus()" ng-keydown="checkKeyDown($event, 'house')"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerSection">
        <span class="txtInlbl">№ корп., секц.:</span>
        <select kendo-drop-down-list="mailSectionDropDown"
                k-data-text-field="'SECTION_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'SECTION_TP_ID'"
                k-data-source="mailDropDownSectionDataSource" class="mailSectionDropDown" id="mailSectionDropDown" k-options="mailDropDownSectionOptions" k-ng-disabled="disabledSection" ng-class="{'readOnly': disabledSection}"></select>
        <input ng-model="mailSection" k-options="mailSectionOptions" type="text" class="form-control txtSection k-autocomplete" ng-change="changeMailSection(mailSection)" ng-disabled="disabledSection" ng-class="{'readOnly': disabledSection}"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerRoom">
        <span class="txtInlbl">№ кв., кімн., оф.:</span>
        <select kendo-drop-down-list="mailRoomDropDown"
                k-data-text-field="'ROOM_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'ROOM_TP_ID'"
                k-data-source="mailDropDownRoomDataSource" class="mailRoomDropDown" id="mailRoomDropDown" k-options="mailDropDownRoomOptions" k-ng-disabled="disabledRoom" ng-class="{'readOnly': disabledRoom}"></select>
        <input ng-model="mailRoom" k-options="mailRoomOptions" type="text" class="form-control txtRoom k-autocomplete" ng-change="changeMailRoom(mailRoom)" ng-disabled="disabledRoom" ng-class="{'readOnly': disabledRoom}"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerNote">
        <span class="txtInlbl">Примітка:</span>
        <textarea class="form-control k-autocomplete txtNote" ng-model="mailNote" rows="3" id="note" ng-change="changeMailNote()"></textarea>
    </div>
</div>
