<div ng-controller="ClientAddressLegalCtrl">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 containerLegalAddress">
        <span class="text textLegalAddress">Юридична</span>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerIndex">
        <label>Індекс:</label>
        <input ng-change="changeLegalIndex()" ng-model="legalIndex"  id="legalIndex" class="k-textbox txtIndex" numbers-only="" @*ng-disabled="disabledIndex" ng-class="{'readOnly': disabledIndex}" COBUMMFO-8100 *@/>
    </div>
    <div class="text col-lg-5 col-md-5 col-sm-5 col-xs-5  text-right">
        <button type="button" ng-click="clearLegalAddress()" id="btnCloseAddress" class="k-button"><i class="pf-icon pf-16 pf-reload_rotate"></i>Очистити</button>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerRegion">
        <label>Область:</label>
        <input kendo-auto-complete id="legalRegion" ng-model="legalRegion" ng-change="changeLegalRegion(legalRegion)" k-options="legalRegionOptions" type="text" class="form-control txtRegion"  k-data-source="legalRegionDataSource" k-ng-disabled="disableRegion" ng-class="{'readOnly': disableRegion}" ng-blur="regionLostFocus()" ng-keydown="checkKeyDown($event, 'region')"/>
        <span style="color:red;" ng-style="spanEnterRegionLegal" >Заповніть "Область"</span>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerAreas">
        <label>Район:</label>
        <input kendo-auto-complete ng-model="legalArea" k-options="legalAreasOptions" ng-change="changeLegalArea(legalArea)" type="text" class="form-control txtAreas" k-ng-disabled="disableArea" ng-blur="areaLostFocus()" ng-class="{'readOnly': disableArea}" ng-keydown="checkKeyDown($event, 'area')"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerSettlement">
        <span class="txtInlbl">Населений пункт:</span>
        <select kendo-drop-down-list="legalSettlementDropDown"
                k-data-text-field="'SETL_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'SETL_TP_ID'"
                k-data-source="legalDropDownSettlementDataSource" class="legalSettlemetDropDown" id="legalSettlemetDropDown" k-options="legalDropDownSettlementOptions" k-ng-disabled="disableSettlementType" ng-class="{'readOnly': disableSettlementType}"></select>
        <input kendo-auto-complete ng-model="legalSettlement" k-options="legalSettlementOptions" ng-change="changeLegalSettlement(legalSettlement)" type="text" class="form-control txtSettlementRGST" k-ng-disabled="disableSettlement" ng-blur="settlementLostFocus()" ng-class="{'readOnly': disableSettlement}" ng-keydown="checkKeyDown($event, 'settlement')"/>
        <span class="requiredField">*</span>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerStreet">
        <span class="txtInlbl">Вул, Просп., б-р:</span>
        <select kendo-drop-down-list="legalStreetDropDown"
                k-data-text-field="'STR_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'STR_TP_ID'"
                k-data-source="legalDropDownStreetDataSource" class="legalStreetDropDown" id="legalStreetDropDown" k-options="legalDropDownStreetOptions" k-ng-disabled="disabledStreetType" ng-class="{'readOnly': disabledStreetType}"></select>
        <input kendo-auto-complete ng-model="legalStreet" k-options="legalStreetOptions" ng-change="changeLegalStreet(legalStreet)" type="text" class="form-control txtStreetRGST"  k-ng-disabled="disabledStreet" ng-class="{'readOnly': disabledStreet}" ng-blur="streetLostFocus()" ng-keydown="checkKeyDown($event, 'street')"/>
        <span class="requiredField">*</span>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 containerHouse">
        <span class="txtInlbl">№ буд., д/в:</span>
        <select kendo-drop-down-list="legalHouseDropDown"
                k-data-text-field="'HOUSE_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'HOUSE_TP_ID'"
                k-data-source="legalDropDownHouseDataSource" class="legalHouseDropDown" id="legalHouseDropDown" k-options="legalDropDownHouseOptions" k-ng-disabled="disabledHouse" ng-class="{'readOnly': disabledHouse}"></select>
        <input kendo-auto-complete ng-model="legalHouse" ng-change="changeLegalHouse(legalHouse)" k-options="legalHouseOptions" k-data-source="clientAddress.houseDataSource" type="text" class="form-control txtHouse" k-ng-disabled="disabledHouse" ng-class="{'readOnly': disabledHouse}" ng-blur="houseLostFocus()" ng-keydown="checkKeyDown($event, 'house')"/>
        <span class="requiredField">*</span>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerSection">
        <span class="txtInlbl">№ корп., секц.:</span>
        <select kendo-drop-down-list="legalSectionDropDown"
                k-data-text-field="'SECTION_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'SECTION_TP_ID'"
                k-data-source="legalDropDownSectionDataSource" class="legalSectionDropDown" id="legalSectionDropDown" k-options="legalDropDownSectionOptions" k-ng-disabled="disabledSection" ng-class="{'readOnly': disabledSection}"></select>
        <input ng-model="legalSection" ng-change="changeLegalSection(legalSection)" k-options="legalSectionOptions" type="text" class="form-control txtSection k-autocomplete" ng-disabled="disabledSection" ng-class="{'readOnly': disabledSection}"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerRoom">
        <span class="txtInlbl">№ кв., кімн., оф.:</span>
        <select kendo-drop-down-list="legalRoomDropDown"
                k-data-text-field="'ROOM_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'ROOM_TP_ID'"
                k-data-source="legalDropDownRoomDataSource" class="legalRoomDropDown" id="legalRoomDropDown" k-options="legalDropDownRoomOptions"  k-ng-disabled="disabledRoom" ng-class="{'readOnly': disabledRoom}"></select>
        <input ng-model="legalRoom"  ng-change="changeLegalRoom(legalRoom)"k-options="legalRoomOptions" type="text" class="form-control txtRoom k-autocomplete" ng-disabled="disabledRoom" ng-class="{'readOnly': disabledRoom}"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerNote">
        <span class="txtInlbl">Примітка:</span>
        <textarea class="form-control k-autocomplete txtNote" ng-model="legalNote" rows="3" id="note" ng-change="changeLegalNote()"></textarea>
    </div>
    <div ng-show="buttonToFocus">
        <button id="buttonToFocus" style="background-color: white; color: white; border: white;">buttonToFocus</button>
    </div>
</div>
