BODY {
	MARGIN: 0px; FONT-FAMILY: verdana,arial,helvetica
}
TABLE.clsContainer {
	HEIGHT: 85%; WIDTH:100%
}
A:link {
	COLOR: #003399
}
A:visited {
	COLOR: #660099
}
A:hover {
	COLOR: #ff3300
}
H1 {
	FONT-SIZE: 165%; MARGIN: 0px;
}
H2 {
	MARGIN-TOP: 1em; FONT-SIZE: 125%; MARGIN-BOTTOM: 0px
}
H3 {
	FONT-SIZE: 115%; MARGIN-BOTTOM: 0px
}
H4 {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 0px
}
H5 {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 0px
}
H6 {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 0px
}
TD {
	FONT-SIZE: 68%
}
TH {
	FONT-SIZE: 68%
}
P {
	LINE-HEIGHT: 0.5em;MARGIN: 0.5em 0em
}
CODE 
{
	FONT-FAMILY: verdana,arial,helvetica
}
PRE {
	PADDING-RIGHT: 5pt; MARGIN-TOP: 1em; PADDING-LEFT: 5pt; BACKGROUND: #eeeeee; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 5pt; MARGIN-LEFT: 0px; PADDING-TOP: 5pt
}
HR {
	COLOR: #cccccc; HEIGHT: 1px
}
UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px
}
OL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px
}
.footer {
	FONT: 8pt Verdana
}
TABLE.clsContainer BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 70%; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV#nstext {
	PADDING-RIGHT: 10px; PADDING-LEFT: 22px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px;WIDTH:100%
}
DIV#titlerow {
	PADDING-RIGHT: 10px; PADDING-LEFT: 22px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-COLOR: #99ccff;TEXT-ALIGN:center
}

.dtH1 {
	MARGIN-LEFT: -18px;FONT-SIZE: 120%
}
.dtH2 {
	MARGIN-LEFT: -18px
}
.dtH3 {
	MARGIN-LEFT: -18px
}
.dtH4 {
	MARGIN-LEFT: -18px
}
DIV#titlerow H1 {
	MARGIN-BOTTOM: 0.2em
}
IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
DIV.footer {
	FONT-STYLE: italic
}

TABLE.bannerparthead {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 150%; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid; POSITION: relative; TOP: 0px; BORDER-COLLAPSE: collapse; HEIGHT: 21px; BACKGROUND-COLOR: #99ccff
}
TABLE.bannerparthead TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; BORDER-LEFT-COLOR: #999999; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-COLOR: #999999; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-TOP-COLOR: #999999; PADDING-TOP: 2px; FONT-STYLE: italic; BORDER-RIGHT-COLOR: #999999
}
IMG {
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
