@inherits System.Web.Mvc.WebViewPage
@using System.Web.Optimization
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        @ViewBag.Title
    </title>
    <noscript>
        Нажаль ваш браузер на підтримує сценарії JavaScript, або вони заборонені в налаштуваннях.
        <br /><br />
        Будьласка змініть ваш браузер або перевірте його налаштування згідно з <a href="/barsroot/help/">інструкцією</a>.
    </noscript>
    <link rel="shortcut icon" href="/common/images/ico.ico">
</head>
<body>
    @RenderBody()
</body>
</html>
