<appSettings>

    <add key="pcur.UserName" value="crmzapit"/>
    <add key="pcur.Password" value="qwerty"/>

    <add key="ConfigInDB" value="On"/>
    <add key="DBConnect.DataSource" value="SBERDEV" />
    <add key="ConnectStringForConfig" value="Data Source=SBERDEV;User ID=webtech;Password=webtech;Pooling=false;"/>
    <add key="cbirep.AppTimeOut" value="160"/>
    <add key="cbirep.TraceOn" value="false"/>
    <add key="cbirep.TraceFileName" value=""/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>

    <add key="pvbki.ReportServiceUrl" value="https://test.pvbki.com/service/report/Cigreports.asmx"/>
    <add key="pvbki.ReportServiceHttpUrl" value="https://test.pvbki.com/FrontOffice/Login.aspx"/>
    <add key="pvbki.ReportServiceUserName" value="Oshchad1"/>
    <add key="pvbki.ReportServicePassword" value="tESt1234"/>
    <add key="pvbki.ClientCertificateFileName" value="~/ExternalBin/certnew.cer"/>

		<add key="pvbki.PasspServiceUrl" value="https://service.pvbki.com/passport-service/"/>
		<add key="pvbki.PasspServiceAbonent" value="260"/>
		<add key="pvbki.PasspServiceUserName" value="3-Gorsharuk"/>
		<add key="pvbki.PasspServicePassword" value="9ep3N16y"/>
		<add key="pvbki.PasspClientCertificateFileName" value=""/>
		<add key="pvbki.PasspEndpointName" value=""/>
		<add key="pvbki.PasspEndpointKeyPath" value=""/>
		<add key="pvbki.PasspNotifyWaitTimeout" value="2000"/>
		<add key="pvbki.PasspNotifyIteration" value="3"/>

    <add key="ubki.ServiceUrl" value="https://www.ubki2.com.ua/api/xmlrequest.php?login={0}&amp;passw={1}&amp;typerequest={2}&amp;inn={3}&amp;coding={4}&amp;pser={5}&amp;pnom={6}"/>
    <add key="ubki.UserName" value="593464"/>
    <add key="ubki.Password" value="qwerty"/>

    <add key="proxy.Active" value="False"/>
    <add key="proxy.Address" value="129.0.0.252"/>
    <add key="proxy.Port" value="3128"/>
    <add key="proxy.Auth" value="False"/>
    <add key="proxy.User" value=""/>
    <add key="proxy.Password" value=""/>
    <add key="proxy.Domain" value=""/>
  </appSettings>