@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "АРМ  Адміністрування ЕБК ";
}

<div class="q-container q-title">
    @ViewBag.Title
</div>
<div class="queue">Черга на вивантаження</div>
<div data-ng-controller="Cdm.queueToUnloadingCtrl">
    <div class="panel-body">
        <div data-kendo-grid="queueToUnloadingGrid" k-options="queueToUnloadingGridOptions">
            <div class="k-loading-image k-overlay" ng-show="loading" ></div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/cdm/queueToUnloadingScripts")
@Styles.Render("~/bundles/cdm/queueToUnloadingStyles")
