.webservice { behavior: url(/Common/WebService/js/WebService.htc); }

.outset {BORDER-TOP-STYLE: outset; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BORDER-BOTTOM-STYLE: outset}
.inset {BORDER-TOP-STYLE: inset; BORDER-RIGHT-STYLE: inset; BORDER-LEFT-STYLE: inset; BORDER-BOTTOM-STYLE: inset;}

.bt {font-family:Verdana; color:Navy;height:18px; font-size:xx-small}

A:link {color:Navy;font-weight:bold;}
A:active {color:Navy;font-weight:bold}
A:visited {color:Navy;font-weight:bold}

BODY
{
	background-color : #f0f0f0;
 	margin-bottom : 0px;
 	margin-left : 5px;
 	margin-right : 5px;
 	margin-top : 2px;
}

.BarsLabel {font-family:Verdana;font-size:10pt;font-weight:bold;}
.hint{FONT-SIZE:9px;COLOR:navy;FONT-FAMILY:Verdana;VISIBILITY:visible;} 
.BarsLabelItalic {font-family:Verdana;font-size:10pt;font-style:italic}

TD
{
	unselectable : on;
}