@using Kendo.Mvc.UI
@{
    string title = "Журнал результатів зарахування коштів по компенсаційній програмі";
}
<script src="~/Areas/Escr/Scripts/journal.js"></script>
<link href="~/Areas/Escr/Css/portfolio.css" rel="stylesheet" />
<h1>@title</h1>
<style>
      .k-grid-header th.k-with-icon .k-link {
        margin-right: 7px;
    }

     .k-grid{
          width: 1000px;
      }

    .k-grid-content {
        max-height: 700px;
        min-height: 40px;
    }
    div.k-grid .k-selectable a {
        TEXT-DECORATION: underline;
        COLOR: rgb(51,153,255);
    }

    div.k-grid .k-selectable tr.k-state-selected a {
        TEXT-DECORATION: underline;
        COLOR: white;
    }
</style>

    <div id="gridJournal" class="fixed_headers"> </div>

<script id="details-template" type="text/x-kendo-template">
    <div>
        <div id="gridDetails" style="width:900px"></div>
    </div>
</script>
