<div class="row" ng-controller="CDO.CommonRelCustController as relCustCtrl" >
    <div class="col-sm-12">
        <div kendo-grid="relCustCtrl.back_confirmConnectUsersGrid"
                k-options="relCustCtrl.back_confirmConnectUsersGridOptions"></div>
    </div>
    @*@Html.Partial("Corp2ConnectionParamsWindow_back")*@
    @Html.Partial("Corp2UserDetailWindow_back")
</div>