<div kendo-window="relCustCtrl.userConnectionParamsWindow_back" class="k-box-size-inh wrapper-sm"
     k-options="relCustCtrl.userConnectionParamsWindow_Options_back" style="display: none;">
    <form id="connParamsWindowForm_back" name="connParamsWindowForm_back">

        <div class="cl-user-box k-popup-edit-form k-window-content k-content" tabindex="0">

            <div class="edit-box wrapper-sm">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Login">
                            логін користувача
                        </label>
                        <input type="text"
                               id="Login"
                               class="k-input k-textbox w-100"
                               name="Login"
                               disabled
                               ng-model="relCustCtrl.userConnectionParamsWindow_Model.Login" />
                    </div>
                    <div class="col-sm-4">
                        <label for="UserId">
                            id користувача
                        </label>
                        <input type="text"
                               id="UserId"
                               class="k-input k-textbox w-100"
                               name="UserId"
                               disabled
                               ng-model="relCustCtrl.userConnectionParamsWindow_Model.UserId" />
                    </div>
                    <div class="col-sm-4">
                        <label for="KeyId">
                            id ключа
                        </label>
                        <input type="text"
                               id="KeyId"
                               class="k-input k-textbox w-100"
                               name="KeyId"
                               disabled
                               ng-model="relCustCtrl.userConnectionParamsWindow_Model.AcskSertificateSn" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="createdDate">
                            дата створення
                        </label>
                        <input type="text" id="createdDate"
                               kendo-masked-date-picker
                               k-options="{format: 'dd.MM.yyyy'}"
                               disabled
                               class="k-input k-textbox w-100"
                               name="createdDate"
                               k-ng-model="relCustCtrl.userConnectionParamsWindow_Model.CreateDate" />
                    </div>
                    @*<div class="col-sm-4">
                            <label for="activateDate">
                                дата активації
                            </label>
                            <input type="text" id="activateDate"
                                   kendo-masked-date-picker
                                   k-options="{format: 'dd.MM.yyyy'}"
                                   ng-disabled="true"
                                   class="k-input k-textbox w-100"
                                   name="activateDate"
                                   k-ng-model="relCustCtrl.userConnectionParamsWindow_Model.ActivateDate" />
                        </div>*@
                </div>
            </div>

            <div class="edit-box wrapper-sm">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="signNumber">
                            № візи
                        </label>
                        <input type="text"
                                id="signNumber"
                                name="signNumber"
                                class="k-input k-textbox w-100"
                                disabled
                                ng-model="relCustCtrl.userConnectionParamsWindow_Model.SignNumber" />
                    </div>
                    <div class="col-sm-4">
                        <label for="sequntialVisa">
                            послідовність візи
                        </label>
                        <select kendo-drop-down-list
                               id="sequntialVisa"
                                disabled
                                class="k-input w-100"
                                name="sequntialVisa"
                                ng-model="relCustCtrl.userConnectionParamsWindow_Model.SequentialVisa">
                            <option value="Y">Так</option>
                            <option value="N">Ні</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-box wrapper-sm">
            <div class="row">
                <div class="col-sm-12">
                    <div kendo-tab-strip>
                        <ul>
                            <li class="k-state-active">Видані модулі та функції</li>
                            <li>Ліміти</li>
                            <li>Рахунки</li>
                        </ul>
                        @* Modules and Functions *@
                        <div class="tabLayout">
                            <div class="mudules-and-funcs">
                                <div class="modules-and-funcs-grid" kendo-grid="relCustCtrl.corp2_UserConnParamsWindow_userModulesGrid"
                                     k-options="relCustCtrl.corp2_UserConnParamsWindow_userModulesGridOptions"></div>
                                <div class="modules-and-funcs-grid" kendo-grid="relCustCtrl.corp2_UserConnParamsWindow_availableModulesGrid"
                                     k-options="relCustCtrl.corp2_UserConnParamsWindow_availableModulesGridOptions"></div>
                            </div>
                            <label style="width: 850px; margin: 10px 0px 5px 0px; display: block; text-align: center;">Функції модуля: <span style="color:Highlight; font-weight:bold;">{{relCustCtrl.ModuleName}}</span></label>
                            <div class="mudules-and-funcs">
                                <div class="modules-and-funcs-grid" kendo-grid="relCustCtrl.corp2_UserConnParamsWindow_userFuncsGrid"
                                     k-options="relCustCtrl.corp2_UserConnParamsWindow_userFuncsGridOptions"></div>
                                <div class="modules-and-funcs-grid" kendo-grid="relCustCtrl.corp2_UserConnParamsWindow_availableFuncsGrid"
                                     k-options="relCustCtrl.corp2_UserConnParamsWindow_availableFuncsGridOptions"></div>
                            </div>
                        </div>
                        @* Limits *@
                        <div class="tabLayout">
                            <div class="edit-box wrapper-sm">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="LimitId">
                                            Тип ліміту:
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input  
                                               id="LimitId"
                                               class="k-input k-textbox w-50"
                                               disabled
                                                name="LimitId"
                                                ng-model="relCustCtrl.userConnectionParamsWindow_LimitModel.LIMIT_ID"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="UserDocSum">
                                            Сума документів введених за день:
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input kendo-numeric-text-box 
                                               class="k-input w-50"
                                               id="UserDocSum"
                                               name="UserDocSum"
                                               disabled
                                               k-ng-model="relCustCtrl.userConnectionParamsWindow_LimitModel.DOC_SUM" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="UserDocCreatedCount">
                                            Кількість документів введених за день:
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input kendo-numeric-text-box
                                               data-k-format="'n0'"
                                               id="UserDocCreatedCount"
                                               name="UserDocCreatedCount"
                                               class="k-input w-50"
                                               disabled
                                               k-ng-model="relCustCtrl.userConnectionParamsWindow_LimitModel.DOC_CREATED_COUNT" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="UserDocSentCount">
                                            Кількість відправлених в банк за день:
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input kendo-numeric-text-box
                                               data-k-format="'n0'"
                                               id="UserDocSentCount"
                                               name="UserDocSentCount"
                                               class="k-input w-50"
                                               disabled
                                               k-ng-model="relCustCtrl.userConnectionParamsWindow_LimitModel.DOC_SENT_COUNT" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="docDateLimit">
                                            Дата, з якої забороняється перегляд даних:<br>
                                            (виписок, платіжних документів)
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="docDateLimit"
                                               kendo-masked-date-picker
                                               k-options="{format: 'dd.MM.yyyy'}"
                                               class="k-input w-50"
                                               name="docDateLimit"
                                               disabled
                                               k-ng-model="relCustCtrl.userConnectionParamsWindow_LimitModel.DOC_DATE_LIM" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Accounts *@
                        <div class="tabLayout">
                            <div kendo-grid="relCustCtrl.corp2_UserConnParamsWindow_AccsGrid"
                                 k-options="relCustCtrl.corp2_UserConnParamsWindow_AccsGridOptions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="futter-buttons" @*ng-hide="relCustCtrl.currentUser.isReadOnly && !relCustCtrl.currentUser.isMaped"*@>
            <div>
                @*<button class="k-button"
                        ng-disabled="relCustCtrl.relCustServiceState.isLoading"
                        ng-click="relCustCtrl.saveUserConnectionParamsWindow();">
                    Зберегти
                </button>*@
                <button class="k-button"
                        @*ng-disabled="relCustCtrl.relCustServiceState.isLoading"*@
                        ng-click="relCustCtrl.userConnectionParamsWindow_back.close()">
                    Закрити
                </button>
            </div>
        </div>
    </form>
</div>
