@* Вікно налаштувань віз по рахунку *@
<div kendo-window="relCustCtrl.custAccVisaSettingWindow" class="k-box-size-inh wrapper-sm"
     k-options="relCustCtrl.custAccVisaSettingWindowOptions" style="display: none;">
    <div id="custAccVisaSettingForm" class="cl-user-box k-popup-edit-form k-window-content k-content" tabindex="0">
        <div class="edit-box wrapper-sm">
            <div class="row">
                <h4>Налаштування кількості віз по рахунку №{{relCustCtrl.currentCustomerAccount.NUM_ACC}}</h4>
                <div style="display:inline">
                    <label style="width:100px;">
                        Кількість віз:
                    </label>
                    @*<input kendo-numeric-text-box
                           data-k-format="'n0'"
                           k-min="1"
                           k-max="9"
                           class="k-input"
                           style="width:50px;"
                           name="VISA_COUNT"
                           k-ng-model="relCustCtrl.currentCustomerAccount.VISA_COUNT" />*@
                    <select kendo-drop-down-list                           
                            class="k-input"
                            style="width:50px;"
                            data-value="[]"
                            name="VISA_COUNT"
                            ng-model="relCustCtrl.currentCustomerAccount.VISA_COUNT">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="edit-box wrapper-sm">
            <div class="row">
                <h4>Налаштування комбінованих віз по рахунку №{{relCustCtrl.currentCustomerAccount.NUM_ACC}}</h4>
                <div kendo-grid="relCustCtrl.custAccVisaSettingGrid"
                     k-options="relCustCtrl.custAccVisaSettingGridOptions"></div>
            </div>
        </div>
        <div class="futter-buttons">
            <button class="k-button"
                    ng-click="relCustCtrl.saveVisaQuantity()">
               Зберегти
            </button>
            <button class="k-button"
                    ng-click="relCustCtrl.custAccVisaSettingWindow.close()">
                Відмінити
            </button>
        </div>
    </div>
</div>

@* Вікно додавання / редагування візи по рахунку *@
<div kendo-window="relCustCtrl.addEditVisaWindow" class="k-box-size-inh wrapper-sm"
     k-modal="true" style="display: none;">
    <form id="addEditVisaForm" name="addEditVisaForm">

        <div class="cl-user-box k-popup-edit-form k-window-content k-content" tabindex="0">
            <div class="edit-box wrapper-sm">
                <div class="row">
                    <label>
                        Номер рахунку:
                    </label>

                    <input type="text"
                           class="k-input k-textbox w-100"
                           name="NUM_ACC"
                           ng-disabled="true"
                           ng-model="relCustCtrl.currentAccountVisa.NUM_ACC" />
                </div>
                <div class="row">

                    <label>
                        Рівень візи:
                        <span class="required">*</span>
                    </label>
                    @*<input kendo-numeric-text-box
                           data-k-format="'n0'"
                           k-min="1" k-max="9"
                           class="k-input w-100"
                           ng-disabled="relCustCtrl.currentAccountVisa.EditMode"
                           name="VISA_ID"
                           k-ng-model="relCustCtrl.currentAccountVisa.VISA_ID" />*@
                    <select kendo-drop-down-list
                            class="k-input w-100"
                            k-ng-disabled="relCustCtrl.currentAccountVisa.EditMode"
                            data-value="[]"
                            name="VISA_ID"
                            ng-model="relCustCtrl.currentAccountVisa.VISA_ID">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="row">
                    <label>
                        Кількість віз рівня:
                        <span class="required">*</span>
                    </label>

                    @*<input kendo-numeric-text-box
                           data-k-format="'n0'"
                           k-min="1"
                           k-max="3"
                           class="k-input w-100"
                           name="COUNT"
                           k-ng-model="relCustCtrl.currentAccountVisa.COUNT" />*@
                    <select kendo-drop-down-list
                            class="k-input w-100"
                            name="COUNT"
                            data-value="[]"
                            ng-model="relCustCtrl.currentAccountVisa.COUNT">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="futter-buttons">
            <div>
                <button class="k-button"
                        ng-click="relCustCtrl.addEditVisa()"
                        ng-disabled="relCustCtrl.relCustServiceState.isLoading">
                    Зберегти
                </button>
                <button class="k-button"
                        ng-click="relCustCtrl.addEditVisaWindow.close()"
                        ng-disabled="relCustCtrl.relCustServiceState.isLoading">
                    Відмінити
                </button>
            </div>
        </div>
    </form>

</div>
