@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Звітність НБУ: Довведення додаткових реквізитів";
}
<script src="~/Areas/Doc/Scripts/AdditionalReqv/addReqvCtrl.js"></script>
<style>
    a {
        color: blue;
        text-decoration: underline;
    }
    </style>


<h1>Звітність НБУ: Довведення додаткових реквізитів</h1>



<div class="demo-section k-content" style="padding-left: 30%;padding-right: 30%;">
    <h4>Дата документа з:</h4>
    <input id="filter_datre" style="width: 100%" />
    <h4>Код документа</h4>
    <input id="codes_list" style="width: 100%" />
  
    <button id ="filterGrid" class="btn btn-block btn-success">Фільтрувати</button>
</div>



<div id="grid" hidden></div>


@*<div id="popup_win_content">
    <div id="InnerContent"></div>
</div>*@

