<script src="~/Areas/BpkW4/Scripts/RegNewCardCtrl.js?v1.0.2"></script>
<div ng-controller="BpkW4.RegNewCardCtrl">
    <h2>{{Title}}</h2>
    <form kendo-validator="validator" novalidate="novalidate">
        <div>
            <div kendo-tool-bar="tools" k-options="toolsOptions">
            </div>
        </div>
        <div style="padding:5px"></div>
        <div class="col-xs-4">
            <div class="panel panel-default" style="display: inline-flex;">
                <div class="panel-body">
                    <div class="form-group">
                        <label><b>Клієнт</b></label>
                        <table>
                            <tr>
                                <td>РНК</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.RNK" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>ЗКПО</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.OKPO" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Тип клієнта</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.CTYPE" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>ПІБ(назва)</td>
                                <td><textarea ng-disabled="true" style="background-color:cornsilk" rows="3" ng-model="model.NMK" class="k-textbox"></textarea></td>
                            </tr>
                            <tr>
                                <td>Адреса</td>
                                <td><textarea ng-disabled="true" style="background-color:cornsilk" rows="3" ng-model="model.ADR" class="k-textbox"></textarea></td>
                            </tr>
                            <tr>
                                <td>Документ</td>
                                <td><textarea ng-disabled="true" style="background-color:cornsilk" rows="3" ng-model="model.DOC" class="k-textbox"></textarea></td>
                            </tr>
                            <tr>
                                <td>Дата, місце народження</td>
                                <td><textarea ng-disabled="true" style="background-color:cornsilk" rows="3" ng-model="model.BDAYPLACE" class="k-textbox"></textarea></td>
                            </tr>
                            <tr>
                                <td>СМС інформування</td>
                                <td><input type="checkbox" ng-model="model.CHBOXSMS" /></td>
                            </tr>
                            <tr ng-show="params.isIns && params.insWrdId">
                                <td>Тип страхування</td>
                                <td>
                                    <label><input name="cssPre" value="0" type="radio" ng-model="model.TYPE_INS" /> Страхування подорожі за кордон</label><br />
                                    <label><input name="cssPre" value="1" type="radio" ng-model="model.TYPE_INS" /> Страхування подорожі по Україні</label>
                                </td>
                            </tr>
                            <tr ng-show="params.isIns && !params.insWrdId && params.insUkrId">
                                <td>Страхування</td>
                                <td><label><input name="chbxIns" type="checkbox" ng-checked="true" ng-disabled="true" /></label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default" style="display: inline-flex;">
                <div class="panel-body">
                    <div class="form-group">
                        <label><b>Карта</b></label>
                        <table>
                            <tr>
                                <td>Кількість місяців дії</td>
                                <td><input type="text" ng-model="model.MM_MAX" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Код картки</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.CARD_CODE" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Карта</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.SUB_NAME" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Продукт</td>
                                <td><textarea ng-disabled="true" rows="3" style="background-color:cornsilk" ng-model="model.PRODUCT_NAME" class="k-textbox"></textarea></td>
                            </tr>
                            <tr>
                                <td>Код З/П проекту</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.PROECT_ID" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>З/П проект</td>
                                <td><textarea ng-disabled="true" rows="3" style="background-color:cornsilk" ng-model="model.PROECT_NAME" class="k-textbox"></textarea></td>
                            </tr>
                            <tr>
                                <td>Схема рахунків</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.SH_NAME" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Балансовий рахунок</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.NBS" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>ОБ22</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.OB22" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Валюта</td>
                                <td><input type="text" ng-disabled="true" style="background-color:cornsilk" ng-model="model.KV" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Рахунок Instant</td>
                                <td><input type="text" ng-model="model.NLS" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Штрих-код</td>
                                <td><input type="text" ng-model="model.BARCOD" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Ід ко-бренду</td>
                                <td><input type="text" ng-model="model.COBRANDID" class="k-textbox" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default" style="display: inline-flex;">
                <div class="panel-body">
                    <div class="form-group">
                        <label><b>Way4</b></label>
                        <table>
                            <tr>
                                <td>Ім`я на картці <span style="color:red">*</span></td>
                                <td><input type="text" name="nameCard" ng-model="model.NMKV_FIRST" class="k-textbox" required data-required-msg="Поле обов`язкове" /></td>
                            </tr>
                            <tr>
                                <td>Прізв. на картці <span style="color:red">*</span></td>
                                <td><input type="text" name="fioCard" ng-model="model.NMKV_LAST" class="k-textbox" required data-required-msg="Поле обов`язкове" /></td>
                            </tr>
                            <tr>
                                <td>Таємне слово <span style="color:red">*</span></td>
                                <td><input type="text" name="secret" ng-model="model.SEC_NAME" class="k-textbox" required data-required-msg="Поле обов`язкове" /></td>
                            </tr>
                            <tr>
                                <td>Місце роботи</td>
                                <td><input type="text" ng-model="model.WORK" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Посада</td>
                                <td><input type="text" ng-model="model.OFFICE" class="k-textbox" /></td>
                            </tr>
                            <tr>
                                <td>Дата прийняття на роботу</td>
                                <td><input kendo-date-picker k-options="dpOptions" k-ng-model="model.WDATE" /></td>
                            </tr>
                            <tr>
                                <td>Відділення <span style="color:red">*</span></td>
                                <td>
                                    <input type="text" name="branch" ng-model="model.BRANCH" ng-disabled="true" style="background-color:cornsilk" class="k-textbox" required data-required-msg="Поле обов`язкове" style="width: 72%" />
                                    <a class='k-button' ng-click="showReferBranch('OUR_BRANCH','BRANCH,NAME','where date_closed is null')"><i class='pf-icon pf-16 pf-book'></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Відділення</td>
                                <td><textarea ng-disabled="true" style="background-color:cornsilk" rows="3" ng-model="model.BRANCH_NAME" class="k-textbox"></textarea></td>
                            </tr>
                            <tr>
                                <td>Адреса доставки <span style="color:red">*</span></td>
                                <td>
                                    <input type="text" name="address" ng-model="model.DELIVERY_BRANCH" class="k-textbox" required data-required-msg="Поле обов`язкове" style="width: 72%" />
                                    <a class='k-button' ng-click="showDeliveryBranch('V_BRANCH_OBU','BRANCH,NAME,RU_CODE,RU_NAME','')"><i class='pf-icon pf-16 pf-book'></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Адреса доставки</td>
                                <td><textarea ng-disabled="true" style="background-color:cornsilk" rows="3" ng-model="model.DELIVERY_BRANCH_NAME" class="k-textbox"></textarea></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<style>
    table td {
        padding: 5px;
    }
</style>
