@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Макети Юридичних Осіб";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/DynamicLayoutLegalEntities/Scripts/KendoCommon.js"></script>
<script src="~/Areas/DynamicLayoutLegalEntities/Scripts/DynamicLayoutLegalEntities/Main.js"></script>
<script src="~/lib/jsZip/jszip.min.js"></script>

<link rel="stylesheet" href="~/Areas/DynamicLayoutLegalEntities/Css/DynamicLayoutLegalEntities/Main.css" />

<meta charset="utf-8" />

<div class="page-header">
    <h1 id="title"></h1>
</div>

<div id="gridMain"></div>
<div class="search-main"></div>
