<!-- dilerRateWindow -->
<div kendo-window="rateConfigWindow"
     k-visible="false"
     k-modal="true"
     k-on-deactivate="onCloseRateConfigWindow()"
     k-title="'Конфігурація курсів валют'"
     k-width="300">

    <div ng-controller="Zay.RateConfig">
        <form name="rateForm" ng-submit="rateForm.$valid && submit(rateComfigModel)" novalidate>
            <div align="center">
                <label style="background: #dbdbdb; padding: 7px 8px; margin-top: 10px;">Курси</label>
                <div id="ratesSwitcher" kendo-drop-down-list k-options="rateSwitcherOptions" ng-model="rateType"></div>
                <hr />
            </div>
            <div id="defaultRates" align="center" ng-show="rateType == 1">
                <select kendo-drop-down-list k-options="rateViewOptions" style="width: 80%;" ng-model="viewType"></select>
                <hr />
                <div align="left" style="margin-left: 15px;">
                    <h4>Валюта</h4>
                    <div style="width: 20px !important; float: left; margin-top: 4px;">
                        <span style="background: #dbdbdb; padding: 7px 8px;">{{rateComfigModel.kvCode}}</span>
                    </div>
                    <select kendo-drop-down-list="currenciesList" k-options="currenciesOptions" ng-model="rateComfigModel.kvCode"
                            style="width: 70%; left: 35px;"></select>
                </div>

                <hr />
                <div>
                    <div ng-show="viewType == 1">
                        <div class="wrapper">
                            <div class="col-sm-3">
                                <span>Покупка</span>
                                <input type="number" name="indBuy" class="form-control" min="0"
                                       ng-model="rateComfigModel.indBuy"/>
                            </div>
                            <div class="col-sm-3">
                                <span>Продаж</span>
                                <input type="number" name="indSale" class="form-control" min="0"
                                       ng-model="rateComfigModel.indSale"/>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="col-sm-3">
                                <input type="number"
                                       name="indBuyVip"
                                       class="form-control"
                                       style="background-color: #3cb371;"
                                       min="0"
                                       ng-model="rateComfigModel.indBuyVip"/>
                            </div>
                            <div class="col-sm-3">
                                <input type="number"
                                       name="indSaleVip"
                                       class="form-control"
                                       style="background-color: #3cb371;"
                                       min="0"
                                       ng-model="rateComfigModel.indSaleVip"/>
                            </div>
                        </div>
                        <div style="margin-top: 5px;">
                            <input type="checkbox" name="blk" ng-model="rateComfigModel.blk"/><label> Блокувати</label>
                        </div>
                    </div>
                    <div ng-show="viewType == 2">
                        <div class="wrapper">
                            <div class="col-sm-3">
                                <span>Покупка</span>
                                <input type="number" name="fBuy" class="form-control" min="0"
                                       ng-model="rateComfigModel.fBuy" />
                            </div>
                            <div class="col-sm-3">
                                <span>Продаж</span>
                                <input type="number" name="fSale" class="form-control" min="0"
                                       ng-model="rateComfigModel.fSale" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="conversionRates" align="center" ng-show="rateType == 2">
                
                <select kendo-drop-down-list k-options="rateConverViewOptions" style="width: 80%;" ng-model="conType"></select>

                <div ng-show="conType == 1">
                    
                    <div style="margin-top: 10px;">
                        <div class="col-sm-7">
                            <span style="float: left;">Пара курсів</span>
                            <input type="text" class="form-control" placeholder="Значення пари..."
                                   ng-model="rateComfigModel.pairIndData" readonly>
                        </div>
                        <div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" style="margin-top: 15px;"
                                        ng-click="openCurrencyPairsWindow();">
                                    <i class='pf-icon pf-16 pf-filter-ok'></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div style="overflow: hidden; white-space: nowrap; margin-left: 5%;" align="left">
                        <span>Курс</span>
                        <input type="number" class="form-control" style="width: 82%" ng-model="rateComfigModel.newIndKurs" min="0">
                    </div>

                </div>

                <div ng-show="conType == 2">
                    
                    <div style="margin-top: 10px;">
                        <div class="col-sm-7">
                            <span style="float: left;">Пара курсів</span>
                            <input type="text" class="form-control" placeholder="Фактичне значення пари..."
                                   ng-model="rateComfigModel.pairFactData" readonly>
                        </div>
                        <div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" style="margin-top: 15px;"
                                        ng-click="openCurrencyPairsWindow();">
                                    <i class='pf-icon pf-16 pf-filter-ok'></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div style="overflow: hidden; white-space: nowrap; margin-left: 5%;" align="left">
                        <span>Курс фактичний</span>
                        <input type="number" class="form-control" style="width: 82%" ng-model="rateComfigModel.newFactKurs" min="0">
                    </div>

                </div>


            </div>
            <hr />
            <div id="btnsGroup" style="margin-top: 10px; margin-bottom: 10px;" align="center">


                <button type="submit" class="k-button btnRate" id="save-rate-btn"
                        ng-disabled="!rateComfigModel.kvCode"
                        ng-show="rateType == 1">
                    Зберегти
                </button>


                <button type="submit" class="k-button btnRate"
                        ng-disabled="(!rateComfigModel.pairIndData && conType == 1) || (!rateComfigModel.pairFactData  && conType == 2)"
                        ng-show="rateType == 2">
                    Зберегти
                </button>


            </div>
        </form>

        @Html.Partial("dWindows/CurrencyPairsWindow")

    </div>
</div>

