.tabActive
{
	padding-right: 0px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 10pt;
	background: url(/Common/WebTab/tab_act.gif) no-repeat left top;
	padding-bottom: 0px;
	cursor: hand;
	color: navy;
	padding-top: 0px;
	font-family: Arial;
	height: 20px;
}
.tabDeactive
{
	border-right: gray 0px solid;
	padding-right: 0px;
	border-top: gray 0px solid;
	padding-left: 5px;
	font-weight: bold;
	font-size: 10pt;
	background: url(/Common/WebTab/tab_deact.gif) no-repeat left top;
	padding-bottom: 0px;
	border-left: gray 0px solid;
	cursor: hand;
	color: black;
	padding-top: 0px;
	border-bottom: gray 1px solid;
	font-family: Arial;
	height: 20px;
}