.mo {DISPLAY: none;}
.mn {DISPLAY: block;}
.InfoHeader
{
	font-family: Arial;
	font-size: medium;
	font-style: italic;
	width: 100%;
	height: 100%;
}

.InfoHeader2
{
	font-family: Arial;
	font-size: medium;
	font-style: italic;
	height: 100%;
}

.DetailHeader
{
	font-family: Arial;
	font-size: 10pt;
	font-style: italic;
	font-weight:bold;
	width: 100%;
	height: 20px;
}	

.MainTable
{
	width: 100%;
	border: 0;
	border-width: thin;
	word-spacing: 0;
}

.SimpleWebControl
{
	font-family: Arial;
	font-size: 10pt;
	width: 100%;
	height: 20px;
}

.MidleWebControl
{
	font-family: Arial;
	font-size: 10pt;
	width: 200px;
	height: 20px
}

.SmallWebControl
{
	font-family: Arial;
	font-size: 10pt;
	width: 150px;
	height: 20px
}

.LabelCol
{
	font-family: Arial;
	font-size: 10pt;
	width: 185px;
	height: 20px
}

.ControlCol
{
	font-family: Arial;
	font-size: 10pt;
	width: 250px;
	height: 20px
}

.ValidatorCol
{
	height: 20px
}
.ValidatorWebControl
{
	font-family: Arial;
	font-size: 8pt;
	width: 100%;
	height: 20px;
}	

.DateControl
{
	font-family: Arial;
	font-size: 10pt;
	height: 20px
}

.depositInfoHeader
{
	height: 20px;
	font-family: Arial;
	font-size: 10pt;
	font-weight:bold;
}

.SepRow
{
	height: 10px;
}

.SepCol
{
	width: 5px;
}

.HeaderRow
{
	width: 100%;
}

.SmallLabelCol
{
	width: 100px;
}

.SmallerLabelCol
{
	width: 100px;
}

.CurrencyISOCode
{
	font-family: Arial;
	font-size: 10pt;	
	height: 20px;
	width: 35px;
}

.SmallerWebControl
{
	font-family: Arial;
	font-size: 10pt;	
	width: 50px;
}

.XSmallerWebControl
{
	font-family: Arial;
	font-size: 10pt;
	width: 32px;
}

.ButtonCol
{
	font-family: Arial;
	font-size: 10pt;
	width:     130px;
	height:    20px;
}
