@media Screen
{
	.print_action{DISPLAY: none}
} 
@media Print
{
	.screen_action {DISPLAY: none}
}
.MainTable
{
	width: 100%;
	top:8px;
	bottom:8px;
	border:0px;
}
.InnerTable
{
	width: 100%;
	border:0px;
}
.DirectionButton
{
	width:160px;
	height:25px;
	font-family: Arial;
	font-size: 10pt;
}
.AcceptButton
{
	width:200px;
	font-family: Arial;
	font-size: 10pt;	
}
.HelpButton
{
	width:26px;
	height:26px;
}
.InfoHeader
{
	font-family: Arial;
	font-size: 14pt;
	font-style: italic;
	font-weight:bold;
	width: 90%;
	height: 100%;
}
.InfoLabel
{
	font-family: Arial;
	font-size: 11pt;
	font-style: italic;
	font-weight:bold;
	width: 100%;
	height: 100%;
}
.InfoText
{
	width:100%;
	font-family: Arial;
	font-size: 10pt;
}
.InfoText95
{
	width:95%;
	font-family: Arial;
	font-size: 10pt;
}
.InfoText10
{
	width:10%;
	font-family: Arial;
	font-size: 10pt;
}
.InfoText25
{
	width:25%;
	font-family: Arial;
	font-size: 10pt;
}
.InfoText40
{
	width:40%;
	font-family: Arial;
	font-size: 10pt;
}
.InfoText75
{
	width:75%;
	font-family: Arial;
	font-size: 10pt;
}
.InfoText80
{
	width:80%;
	font-family: Arial;
	font-size: 10pt;
}
.FileUpload
{
	width:50%;
	font-family: Arial;
	font-size: 10pt;
}
.HeaderText
{
	font-family: Arial;
	font-size: 11pt;
	font-style: italic;
	font-weight:bold;
	width:100px;
}
.RadioText
{
	width:50%;
	font-family: Arial;
	font-size: 10pt;
}
.InfoDate
{
	width:90px;
	font-family: Arial;
	font-size: 10pt;
	vertical-align:middle;
	text-align:center;
}
.InfoDateSum
{
	width:100px;
	font-family: Arial;
	font-size: 10pt;
	vertical-align:middle;
	text-align:center;
	border-style: solid;
	border-width: 1px;
}
.RadioText
{
	width:150px;	
	font-family: Arial;
	font-size: 10pt;
}
.BaseGrid
{
	font-family: Arial;
	font-size: 10pt;
	width:100%;
}
.BaseDropDownList
{
	font-family: Arial;
	font-size: 10pt;
	width:100%;
}
.BaseCheckBox
{
	font-family: Arial;
	font-size: 10pt;
	width:50%;
}
.Required
{
    font-family: Arial;
	font-size: 11pt;
	color:Red;
	text-align:right;
}
.Validator
{
	font-family: Arial;
	font-size: 10pt;
	color:Red;
	text-align:left;
	width:100%;
}
.Img
{
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	BORDER-LEFT: black 1px solid; 
	BORDER-BOTTOM: black 1px solid;	
	vertical-align:middle;
	cursor:hand;
	height:18px;
	width:18px;
}
.ImgButton
{
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	BORDER-LEFT: black 1px solid; 
	BORDER-BOTTOM: black 1px solid;	
	vertical-align:middle;
	cursor:hand;
	height:20px;
	width:20px;
}
.mo {DISPLAY: none;}
.mn {DISPLAY: block;}

.BaseGrid tr td table  {width:150px;}

.overlay
{
    position: absolute;
    z-index: 200;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100%;
    width: expression(document.body.clientWidth);
    height: 100%;
    height: expression(document.body.clientHeight);
    filter: Alpha(Opacity=70);
    opacity: 0.70;
    -moz-opacity: 0.70;
}
.loading
{
    position: absolute;
    border-right: 1px solid #D7E3F1 !important;
    border-left: 0 !important;
    border-bottom: 1px solid #D7E3F1 !important;
    background: url(img/title_bg.gif) no-repeat #FFEBD1 !important;
    z-index: 210;
    padding: 10px;
    margin-left: -120px;
    top: 30%;
    left: 50%;
}