<div class="row" ng-controller="ClearAddressActualCtrl as clrAdrActual">
    <div ng-show="clrAdr.actualAdrShow">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 containerIndex">
            <label>Індекс:</label>
            <input type="text" id="actualIndexShow" class="k-textbox txtIndex readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrActual.indexShow" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 containerIndex">
            <label>Індекс:</label>
            <input type="text" id="actualIndexEdit" class="k-textbox txtIndex textBoxSize" ng-model="clrAdrActual.indexEdit" ng-change="clrAdrActual.changeIndex(clrAdrActual.indexEdit)" numbers-only="" @*ng-disabled="clrAdrActual.disabledIndex" ng-class="{'readOnly': clrAdrActual.disabledIndex} COBUMMFO-8100 "*@/>
            <button type="button" ng-click="clrAdr.clearAddress('actual')" id="btnClearAddress" class="k-button"><i class="pf-icon pf-16 pf-reload_rotate"></i>Очистити</button>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerRegion">
            <label>Область:</label>
            <input type="text" id="actualRegionShow" class="k-textbox txtRegion readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrActual.regionShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerRegion">
            <label>Область:</label>
            <input kendo-auto-complete id="actualRegionEdit" ng-model="clrAdrActual.regionEdit" ng-change="clrAdrActual.changeRegion(clrAdrActual.regionEdit)" k-options="clrAdrActual.regionOptions" type="text" class="form-control txtRegion" k-data-source="clrAdr.regionDataSource" k-ng-disabled="clrAdrActual.disableRegion" ng-class="{'readOnly': clrAdrActual.disableRegion}" ng-blur="clrAdrActual.regionLostFocus()" ng-keydown="clrAdrActual.checkKeyDown($event, 'region')"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerAreas">
            <label>Район:</label>
            <input type="text" id="actualAreaShow" class="k-textbox txtAreas readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrActual.areaShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerAreas">
            <label>Район:</label>
            <input kendo-auto-complete ng-model="clrAdrActual.areaEdit" k-options="clrAdrActual.areasOptions" ng-change="clrAdrActual.changeArea(clrAdrActual.areaEdit)" type="text" class="form-control txtAreas" k-data-source="clrAdrActual.areaDataSource" k-ng-disabled="clrAdrActual.disableArea" ng-class="{'readOnly': clrAdrActual.disableArea}" ng-blur="clrAdrActual.areaLostFocus()" ng-keydown="clrAdrActual.checkKeyDown($event, 'area')"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSettlement">
            <span class="txtInlbl">Населений пункт:</span>
            <input type="text" id="actualSettlementShowType" class="k-textbox txtSettlement readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrActual.settlementShowType" />
            <input type="text" id="actualSettlementShow" class="k-textbox readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrActual.settlementShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSettlement">
            <span class="txtInlbl">Населений пункт:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'SETL_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'SETL_TP_ID'"
                    k-data-source="clrAdr.settlementDropDownDataSource" class="clearAdrDropDown" ng-model="clrAdrActual.settlementType" k-options="clrAdrActual.settlementDropDownOptions" ng-change="clrAdrActual.changeSettlementType(clrAdrActual.settlementType)" k-ng-disabled="clrAdrActual.disableSettlementType" ng-class="{'readOnly': clrAdrActual.disableSettlement}"></select>
            <input kendo-auto-complete ng-model="clrAdrActual.settlementEdit" k-options="clrAdrActual.settlementOptions" ng-change="clrAdrActual.changeSettlement(clrAdrActual.settlementEdit)" type="text" class="form-control txtSettlementRGST" k-data-source="clrAdrActual.settlementDataSource" k-ng-disabled="clrAdrActual.disableSettlement" ng-class="{'readOnly': clrAdrActual.disableSettlement}" ng-blur="clrAdrActual.settlementLostFocus()" ng-keydown="clrAdrActual.checkKeyDown($event, 'settlement')"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerStreet">
            <span class="txtInlbl">Вул, Просп., б-р:</span>
            <input type="text" id="actualStreetShowType" class="k-textbox txtStreetRGST readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrActual.streetShowType" />
            <input type="text" id="actualStreetShow" class="k-textbox readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrActual.streetShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerStreet">
            <span class="txtInlbl">Вул, Просп., б-р:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'STR_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'STR_TP_ID'"
                    k-data-source="clrAdr.streetDropDownDataSource" class="clearAdrDropDown" id="actualStreetTypeEdit" k-options="clrAdrActual.streetDropDownOptions" ng-model="clrAdrActual.streetType" k-ng-disabled="clrAdrActual.disabledStreetType" ng-class="{'readOnly': clrAdrActual.disabledStreet}"></select>
            <input kendo-auto-complete ng-model="clrAdrActual.streetEdit" k-options="clrAdrActual.streetOptions" ng-change="clrAdrActual.changeStreet(clrAdrActual.streetEdit)" type="text" class="form-control txtStreetRGST" k-data-source="clrAdrActual.streetDataSource" k-ng-disabled="clrAdrActual.disabledStreet" ng-class="{'readOnly': clrAdrActual.disabledStreet}" ng-blur="clrAdrActual.streetLostFocus()" ng-keydown="clrAdrActual.checkKeyDown($event, 'street')"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 containerHouse">
            <span class="txtInlbl">№ буд., д/в:</span>
            <input type="text" id="actualHousetShowType" class="k-textbox txtHouse readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrActual.houseShowType" />
            <input type="text" id="actualHouseShow" class="k-textbox readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrActual.houseShow" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerHouse">
            <span class="txtInlbl">№ буд., д/в:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'HOUSE_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'HOUSE_TP_ID'"
                    k-data-source="clrAdr.houseDropDownDataSource" class="clearAdrDropDown" id="actualHouseDropDown" ng-model="clrAdrActual.houseType" k-options="clrAdrActual.houseDropDownOptions" k-ng-disabled="clrAdrActual.disabledHouse" ng-class="{'readOnly': clrAdrActual.disabledHouse}"></select>
            <input kendo-auto-complete k-options="clrAdrActual.houseOptions" k-data-source="clrAdrActual.houseDataSource" ng-model="clrAdrActual.houseEdit" ng-change="clrAdrActual.changeHouse(clrAdrActual.houseEdit)" type="text" class="form-control"  k-ng-disabled="clrAdrActual.disabledHouse" ng-class="{'readOnly': clrAdrActual.disabledHouse}" ng-blur="clrAdrActual.houseLostFocus()" ng-keydown="clrAdrActual.checkKeyDown($event, 'house')"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSection">
            <span class="txtInlbl">№ корп., секц.:</span>
            <input type="text" id="actualSectionShowType" class="k-textbox txtSection readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrActual.sectionShowType" />
            <input ng-model="clrAdrActual.sectionShow" type="text" ng-disabled="true" class="k-textbox readOnly textBoxSize" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSection">
            <span class="txtInlbl">№ корп., секц.:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'SECTION_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'SECTION_TP_ID'"
                    k-data-source="clrAdr.sectionDropDownDataSource" class="clearAdrDropDown" ng-model="clrAdrActual.sectionType" id="actualSectionDropDown" k-options="clrAdrActual.sectionDropDownOptions"  k-ng-disabled="clrAdrActual.disabledSection" ng-class="{'readOnly': clrAdrActual.disabledSection}"></select>
            <input ng-model="clrAdrActual.sectionEdit" ng-change="clrAdrActual.changeSection(clrAdrActual.sectionEdit)" type="text" class="k-textbox  textBoxSize" ng-disabled="clrAdrActual.disabledSection" ng-class="{'readOnly': clrAdrActual.disabledSection}"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerRoom">
            <span class="txtInlbl">№ кв., кімн., оф.:</span>
            <input type="text" id="actualRoomShowType" class="k-textbox txtRoom readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrActual.roomShowType" />
            <input ng-model="clrAdrActual.roomShow" type="text" ng-disabled="true" class="k-textbox readOnly textBoxSize" />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSection">
            <span class="txtInlbl">№ кв., кімн., оф.:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'ROOM_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'ROOM_TP_ID'"
                    k-data-source="clrAdr.roomDropDownDataSource" class="clearAdrDropDown" id="actualRoomDropDown" ng-model="clrAdrActual.roomType" k-options="clrAdrActual.roomDropDownOptions" k-ng-disabled="clrAdrActual.disabledRoom" ng-class="{'readOnly': clrAdrActual.disabledRoom}"></select>
            <input ng-model="clrAdrActual.roomEdit" ng-change="clrAdrActual.changeRoom(clrAdrActual.roomEdit)" type="text" class="k-textbox  textBoxSize" ng-disabled="clrAdrActual.disabledRoom" ng-class="{'readOnly': clrAdrActual.disabledRoom}"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerNote">
            <span class="txtInlbl">Примітка:</span>
            <textarea class="k-textbox readOnly clearAdrTextArea" ng-model="clrAdrActual.noteShow" rows="3" ng-disabled="true" id="legalNoteShow"></textarea>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerNote">
            <span class="txtInlbl">Примітка:</span>
            <textarea class="k-textbox clearAdrTextArea" ng-model="clrAdrActual.noteEdit" rows="3" id="actualNoteEdit" ng-change="clrAdrActual.changeNote(clrAdrActual.noteEdit)"></textarea>
        </div>
    </div>
</div>