<div class="row" ng-controller="ClearAddressMailCtrl as clrAdrMail">
    <div ng-show="clrAdr.mailAdrShow">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 containerIndex">
            <label>Індекс:</label>
            <input type="text" id="mailIndexShow" class="k-textbox txtIndex readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrMail.indexShow"  />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 containerIndex">
            <label>Індекс:</label>
            <input type="text" id="mailIndexEdit" class="k-textbox txtIndex textBoxSize" ng-change="clrAdrMail.changeIndex(clrAdrMail.indexEdit)" ng-model="clrAdrMail.indexEdit" numbers-only="" @*ng-disabled="clrAdrMail.disabledIndex" ng-class="{'readOnly': clrAdrMail.disabledIndex}" COBUMMFO-8100 *@/>
            <button type="button" ng-click="clrAdr.clearAddress('mail')" id="btnClearAddress" class="k-button"><i class="pf-icon pf-16 pf-reload_rotate"></i>Очистити</button>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerRegion">
            <label>Область:</label>
            <input type="text" id="mailRegionShow" class="k-textbox txtRegion readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrMail.regionShow"  />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerRegion">
            <label>Область:</label>
            <input kendo-auto-complete id="mailRegionEdit" ng-model="clrAdrMail.regionEdit" ng-change="clrAdrMail.changeRegion(clrAdrMail.regionEdit)" k-options="clrAdrMail.regionOptions" type="text" class="form-control txtRegion" k-data-source="clrAdr.regionDataSource" k-ng-disabled="clrAdrMail.disableRegion" ng-class="{'readOnly': clrAdrMail.disableRegion}" ng-blur="clrAdrMail.regionLostFocus()" ng-keydown="clrAdrMail.checkKeyDown($event, 'region')"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerAreas">
            <label>Район:</label>
            <input type="text" id="mailAreaShow" class="k-textbox txtAreas readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrMail.areaShow"  />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerAreas">
            <label>Район:</label>
            <input kendo-auto-complete ng-model="clrAdrMail.areaEdit" k-options="clrAdrMail.areasOptions" ng-change="clrAdrMail.changeArea(clrAdrMail.areaEdit)" type="text" class="form-control txtAreas" k-data-source="clrAdr.areaDataSource" k-ng-disabled="clrAdrMail.disableArea" ng-class="{'readOnly': clrAdrMail.disableArea}"  ng-blur="clrAdrMail.areaLostFocus()" ng-keydown="clrAdrMail.checkKeyDown($event, 'area')"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSettlement">
            <span class="txtInlbl">Населений пункт:</span>
            <input type="text" id="mailSettlementShowType" class="k-textbox txtSettlement readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrMail.settlementShowType"  />
            <input type="text" id="mailSettlementShow" class="k-textbox readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrMail.settlementShow"  />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSettlement">
            <span class="txtInlbl">Населений пункт:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'SETL_TP_NM'"
                    k-data-value-field="'SETL_TP_ID'"
                    k-auto-bind="false"
                    k-data-source="clrAdr.settlementDropDownDataSource" class="clearAdrDropDown" k-options="clrAdrMail.settlementDropDownOptions" ng-model="clrAdrMail.settlementType" ng-change="clrAdrMail.changeSettlementType(clrAdrMail.settlementType)" k-ng-disabled="clrAdrMail.disableSettlementType" ng-class="{'readOnly': clrAdrMail.disableSettlement}"></select>
            <input kendo-auto-complete ng-model="clrAdrMail.settlementEdit" k-options="clrAdrMail.settlementOptions" ng-change="clrAdrMail.changeSettlement(clrAdrMail.settlementEdit)" type="text" class="form-control txtSettlementRGST"  k-data-source="clrAdrMail.settlementDataSource" k-ng-disabled="clrAdrMail.disableSettlement" ng-class="{'readOnly': clrAdrMail.disableSettlement}" ng-blur="clrAdrMail.settlementLostFocus()" ng-keydown="clrAdrMail.checkKeyDown($event, 'settlement')"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerStreet">
            <span class="txtInlbl">Вул, Просп., б-р:</span>
            <input type="text" id="mailStreetShowType" class="k-textbox txtStreetRGST readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrMail.streetShowType"  />
            <input type="text" id="mailStreetShow" class="k-textbox readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrMail.streetShow"  />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerStreet">
            <span class="txtInlbl">Вул, Просп., б-р:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'STR_TP_NM'"
                    k-data-value-field="'STR_TP_ID'"
                    k-auto-bind="false"
                    k-data-source="clrAdr.streetDropDownDataSource" class="clearAdrDropDown" id="mailStreetTypeEdit" k-options="clrAdrMail.streetDropDownOptions"  ng-model="clrAdrMail.streetType" k-ng-disabled="clrAdrMail.disabledStreetType" ng-class="{'readOnly': clrAdrMail.disabledStreet}"></select>
            <input kendo-auto-complete ng-model="clrAdrMail.streetEdit" k-options="clrAdrMail.streetOptions" ng-change="clrAdrMail.changeStreet(clrAdrMail.streetEdit)" type="text" class="form-control txtStreetRGST" k-data-source="clrAdrMail.streetDataSource" k-ng-disabled="clrAdrMail.disabledStreet" ng-class="{'readOnly': clrAdrMail.disabledStreet}" ng-blur="clrAdrMail.streetLostFocus()" ng-keydown="clrAdrMail.checkKeyDown($event, 'street')"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 containerHouse">
            <span class="txtInlbl">№ буд., д/в:</span>
            <input type="text" id="mailHousetShowType" class="k-textbox txtHouse readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrMail.houseShowType"  />
            <input type="text" id="mailHouseShow" class="k-textbox readOnly textBoxSize" ng-disabled="true" ng-model="clrAdrMail.houseShow"  />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerHouse">
            <span class="txtInlbl">№ буд., д/в:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'HOUSE_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'HOUSE_TP_ID'"
                    k-data-source="clrAdr.houseDropDownDataSource" class="clearAdrDropDown" id="mailHouseDropDown" ng-model="clrAdrMail.houseType"  k-options="clrAdrMail.houseDropDownOptions" k-ng-disabled="clrAdrMail.disabledHouse" ng-class="{'readOnly': clrAdrMail.disabledHouse}"></select>
            <input kendo-auto-complete k-options="clrAdrMail.houseOptions" k-data-source="clrAdrMail.houseDataSource"   ng-model="clrAdrMail.houseEdit" ng-change="clrAdrMail.changeHouse(clrAdrMail.houseEdit)" type="text" class="form-control" k-ng-disabled="clrAdrMail.disabledHouse" ng-class="{'readOnly': clrAdrMail.disabledHouse}" ng-blur="clrAdrMail.houseLostFocus()" ng-keydown="clrAdrMail.checkKeyDown($event, 'house')"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSection">
            <span class="txtInlbl">№ корп., секц.:</span>
            <input type="text" id="mailSectionShowType" class="k-textbox txtSection readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrMail.sectionShowType"  />
            <input ng-model="clrAdrMail.sectionShow" type="text" ng-disabled="true" class="k-textbox readOnly textBoxSize"  />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSection">
            <span class="txtInlbl">№ корп., секц.:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'SECTION_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'SECTION_TP_ID'"
                    k-data-source="clrAdr.sectionDropDownDataSource" class="clearAdrDropDown" id="actualSectionDropDown" k-options="clrAdrMail.sectionDropDownOptions" ng-model="clrAdrMail.sectionType" k-ng-disabled="clrAdrMail.disabledSection" ng-class="{'readOnly': clrAdrMail.disabledSection}"></select>
            <input ng-model="clrAdrMail.sectionEdit" ng-change="clrAdrMail.changeSection(clrAdrMail.sectionEdit)" k-options="" type="text" class="k-textbox  textBoxSize" ng-disabled="clrAdrMail.disabledSection" ng-class="{'readOnly': clrAdrMail.disabledSection}"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerRoom">
            <span class="txtInlbl">№ кв., кімн., оф.:</span>
            <input type="text" id="mailRoomShowType" class="k-textbox txtRoom readOnly clearAdrDropDownReadOnly" ng-disabled="true" ng-model="clrAdrMail.roomShowType"  />
            <input ng-model="clrAdrMail.roomShow" type="text" ng-disabled="true" class="k-textbox readOnly textBoxSize"  />
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerSection">
            <span class="txtInlbl">№ кв., кімн., оф.:</span>
            <select kendo-drop-down-list
                    k-data-text-field="'ROOM_TP_NM'"
                    k-auto-bind="false"
                    k-data-value-field="'ROOM_TP_ID'"
                    k-data-source="clrAdr.roomDropDownDataSource" class="clearAdrDropDown" id="mailRoomDropDown" ng-model="clrAdrMail.roomType" k-options="clrAdrMail.roomDropDownOptions"  k-ng-disabled="clrAdrMail.disabledRoom" ng-class="{'readOnly': clrAdrMail.disabledRoom}"></select>
            <input ng-model="clrAdrMail.roomEdit" ng-change="clrAdrMail.changeRoom(clrAdrMail.roomEdit)" k-options="" type="text" class="k-textbox  textBoxSize" ng-disabled="clrAdrMail.disabledRoom" ng-class="{'readOnly': clrAdrMail.disabledRoom}"/>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerNote">
            <span class="txtInlbl">Примітка:</span>
            <textarea class="k-textbox readOnly clearAdrTextArea" ng-model="clrAdrMail.noteShow" ng-disabled="true" rows="3" id="mailNoteShow" ></textarea>
        </div>
        <div class="text col-lg-6 col-md-6 col-sm-6 col-xs-6 containerNote">
            <span class="txtInlbl">Примітка:</span>
            <textarea class="k-textbox clearAdrTextArea" ng-model="clrAdrMail.noteEdit" ng-change="clrAdrMail.changeNote(clrAdrMail.noteEdit)" rows="3" id="mailNoteEdit"></textarea>
        </div>
    </div>
</div>