<div ng-controller="ClientAddressActualCtrl">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 containerActualAddress">
        <span class="text textActualAddress">Фактична</span>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerIndex">
        <span>Індекс:</span>
        <input type="text" ng-model="actualIndex" class="k-textbox txtIndex" ng-change="changeActualIndex()" numbers-only="" @*ng-disabled="disabledIndex" ng-class="{'readOnly': disabledIndex}" COBUMMFO-8100 *@/>
    </div>
    <div class="text col-lg-5 col-md-5 col-sm-5 col-xs-5  text-right">
        <button type="button" ng-click="clearActualAddress()" id="btnCloseAddress" class="k-button"><i class="pf-icon pf-16 pf-reload_rotate"></i>Очистити</button>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerRegion">
        <span>Область:</span>
        <input kendo-auto-complete ng-model="actualRegion" ng-change="changeActualRegion(actualRegion)" k-options="actualRegionOptions" type="text" class="form-control txtRegion" k-data-source="actualRegionDataSource" k-ng-disabled="disableRegion" ng-class="{'readOnly': disableRegion}" ng-blur="regionLostFocus()" ng-keydown="checkKeyDown($event, 'region')"/>
        <span style="color:red;" ng-style="spanEnterRegionActual">Заповніть "Область"</span>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerAreas">
        <span>Район:</span>
        <input kendo-auto-complete ng-model="actualArea" ng-change="changeActualArea(actualArea)" k-options="actualAreasOptions" type="text" class="form-control txtAreas" k-ng-disabled="disableArea" ng-blur="areaLostFocus()" ng-class="{'readOnly': disableArea}" ng-keydown="checkKeyDown($event, 'area')"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerSettlement">
        <span class="txtInlbl">Населений пункт:</span>
        <select kendo-drop-down-list="actualSettlementDropDown"
                k-data-text-field="'SETL_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'SETL_TP_ID'"
                k-data-source="actualDropDownSettlementDataSource" class="actualSettlemetDropDown" id="actualSettlemetDropDown" k-options="actualDropDownSettlementOptions" k-ng-disabled="disableSettlementType" ng-class="{'readOnly': disableSettlementType}"></select>
        <input kendo-auto-complete ng-model="actualSettlement" k-options="actualSettlementOptions" ng-change="changeActualSettlement(actualSettlement)" type="text" class="form-control txtSettlement" k-ng-disabled="disableSettlement" ng-blur="settlementLostFocus()" ng-class="{'readOnly': disableSettlement}" ng-keydown="checkKeyDown($event, 'settlement')"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerStreet">
        <span class="txtInlbl">Вул, Просп., б-р:</span>
        <select kendo-drop-down-list="actualStreetDropDown"
                k-data-text-field="'STR_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'STR_TP_ID'"
                k-data-source="actualDropDownStreetDataSource" class="actualStreetDropDown" id="actualStreetDropDown" k-options="actualDropDownStreetOptions"  k-ng-disabled="disabledStreetType" ng-class="{'readOnly': disabledStreetType}"></select>
        <input kendo-auto-complete ng-model="actualStreet" k-options="actualStreetOptions" ng-change="changeActualStreet(actualStreet)" type="text" class="form-control txtStreet"  k-ng-disabled="disabledStreet" ng-class="{'readOnly': disabledStreet}" ng-blur="streetLostFocus()" ng-keydown="checkKeyDown($event, 'street')"/>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 containerHouse">
        <span class="txtInlbl">№ буд., д/в:</span>
        <select kendo-drop-down-list="actualHouseDropDown"
                k-data-text-field="'HOUSE_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'HOUSE_TP_ID'"
                k-data-source="actualDropDownHouseDataSource" class="actualHouseDropDown" id="actualHouseDropDown" k-options="actualDropDownHouseOptions" k-ng-disabled="disabledHouse" ng-class="{'readOnly': disabledHouse}"></select>
        <input kendo-auto-complete ng-model="actualHouse" ng-change="changeActualHouse(actualHouse)" k-options="actualHouseOptions" k-data-source="clientAddress.houseDataSource" type="text" class="form-control txtHouse" k-ng-disabled="disabledHouse" ng-class="{'readOnly': disabledHouse}" ng-blur="houseLostFocus()" ng-keydown="checkKeyDown($event, 'house')"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerSection">
        <span class="txtInlbl">№ корп., секц.:</span>
        <select kendo-drop-down-list="actualSectionDropDown"
                k-data-text-field="'SECTION_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'SECTION_TP_ID'"
                k-data-source="actualDropDownSectionDataSource" class="actualSectionDropDown" id="actualSectionDropDown" k-options="actualDropDownSectionOptions" k-ng-disabled="disabledSection" ng-class="{'readOnly': disabledSection}"></select>
        <input ng-model="actualSection" k-options="actualSectionOptions" type="text" class="form-control txtSection k-autocomplete" ng-change="changeActualSection(actualSection)" ng-disabled="disabledSection" ng-class="{'readOnly': disabledSection}"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerRoom">
        <span class="txtInlbl">№ кв., кімн., оф.:</span>
        <select kendo-drop-down-list="actualRoomDropDown"
                k-data-text-field="'ROOM_TP_NM'"
                k-auto-bind="false"
                k-data-value-field="'ROOM_TP_ID'"
                k-data-source="actualDropDownRoomDataSource" class="actualRoomDropDown" id="actualRoomDropDown" k-options="actualDropDownRoomOptions" k-ng-disabled="disabledRoom" ng-class="{'readOnly': disabledRoom}"></select>
        <input ng-model="actualRoom" k-options="actualRoomOptions" type="text" class="form-control txtRoom k-autocomplete" ng-change="changeActualRoom(actualRoom)" ng-disabled="disabledRoom" ng-class="{'readOnly': disabledRoom}"/>
    </div>
    <div class="text col-lg-7 col-md-7 col-sm-7 col-xs-7 containerNote">
        <span class="txtInlbl">Примітка:</span>
        <textarea class="form-control k-autocomplete txtNote" ng-model="actualNote" rows="3" id="note" ng-change="changeActualNote()"></textarea>
    </div>
</div>
