@{
    ViewBag.Title = "Адреса клієнта";
}
<link href="~/Areas/Clients/Css/Clients.css" rel="stylesheet" />
<link href="~/Areas/Clients/Css/ClientAddress.css" rel="stylesheet" />
<div ng-controller="ClientAddressCtrl as clientAddress">
    <preventdefaultbackspace>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnContainer">
            <button type="button" ng-click="clientAddress.writeActualAddress()" class="k-button">Заповнити факт. адр.</button>
            <button type="button" ng-click="clientAddress.writeMailAddress()" class="k-button">Заповнити пошт. адр.</button>
        </div>
        @Html.Partial("ClientAddressLegal")
        @Html.Partial("ClientAddressActual")
        @Html.Partial("ClientAddressMail")
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blockBeforeButtons"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
            <button type="button" ng-click="clientAddress.save();" id="btnSaveAddress" class="k-button"><i class="pf-icon pf-16 pf-add_button"></i>Зберегти</button>
            <button type="button" ng-click="clientAddress.close();" id="btnCloseAddress" class="k-button"><i class="pf-icon pf-16 pf-delete_button_error"></i>Закрити</button>
        </div>
    </preventdefaultbackspace>
</div>
<script src="~/Areas/Clients/Controllers/ClientAddressCtrl.js?v.1.0.2"></script>
<script src="~/Areas/Clients/Controllers/ClientAddressLegalCtrl.js?v.1.0.2"></script>
<script src="~/Areas/Clients/Controllers/ClientAddressActualCtrl.js?v.1.0.2"></script>
<script src="~/Areas/Clients/Controllers/ClientAddressMailCtrl.js?v.1.0.2"></script>
<script src="~/Areas/Clients/Directives/PreventDefaultBackSpaceDirective.js"></script>