.overlay
{
    position: absolute;
    z-index: 200;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100%;
    width: expression(document.body.clientWidth);
    height: 100%;
    filter: Alpha(Opacity=70);
    opacity: 0.70;
    -moz-opacity: 0.70;
}
.loading
{
    position: absolute;
    border-right: 1px solid #D7E3F1 !important;
    border-left: 0 !important;
    border-bottom: 1px solid #D7E3F1 !important;
    background: url(Images/title_bg.gif) no-repeat #FFEBD1 !important;
    z-index: 210;
    font-family: Verdana;
    padding: 10px;
    margin-left: -120px;
    top: 30%;
    left: 50%;
}