@*<link href="~/Content/Themes/Kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/Themes/Kendo/kendo.rtl.min.css" rel="stylesheet" />

<link href="~/Content/Themes/Kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/Themes/Kendo/kendo.default.mobile.min.css" rel="stylesheet" />

<link href="~/Content/Themes/Kendo/kendo.dataviz.min.css" rel="stylesheet" />
<link href="~/Content/Themes/Kendo/kendo.dataviz.default.min.css" rel="stylesheet" />

<link href="~/Content/Themes/Kendo/kendo.mobile.all.min.css" rel="stylesheet" />

<style>
    .k-widget {
      font-size: 12.5px;
    }

    .k-pager-wrap > .k-link {
      height: 24px;
      width: 24px;
      min-width: 24px;
    }

    .k-link .k-icon,
    .k-select .k-icon,
    .k-pager-nav .k-icon {
      margin-top: 4px;
    }

    .k-window-action.k-link .k-icon {
      margin-top: 0px;
    }
</style>

<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<script src="~/Scripts/kendo/kendo.timezones.min.js"></script>

<script src="~/Scripts/kendo/cultures/kendo.culture.uk.min.js"></script>
<script src="~/Scripts/kendo/cultures/kendo.culture.uk-UA.min.js"></script>*@





@{
    
}
@model ACCOUNT
<style>
    #detailAccTabstrip .k-datepicker {
      width: 12em;
    }
    #detailAccTabstrip .form-group {
      margin-bottom: 5px;
    }
</style>

<div id="forecast">
  @(Html.Kendo().TabStrip()
          .Name("detailAccTabstrip")
          .Animation(false)
          .Items(tabstrip =>
          {
            tabstrip.Add().Text("<div class=\"pf-icon pf-size-16 pf-name-money k-image\"></div>Основні").Encoded(false)
              .Selected(true)
              .Content(Html.Partial("DetailMain", Model).ToHtmlString())
              .ContentHtmlAttributes(new{style = "padding-top: 5px; height:100%"});
            tabstrip.Add().Text("Фінансові")
              .Content(Html.Partial("DetailFin", Model).ToHtmlString())
              .ContentHtmlAttributes(new { style = "padding-top: 5px" });
            tabstrip.Add().Text("<div class=\"pf-icon pf-size-16 pf-name-key k-image\"></div>Доступ").Encoded(false)
              .Content(Html.Action("DetailAccess", "Accounts", new { id = Model.ACC }).ToHtmlString())
              .ContentHtmlAttributes(new { style = "padding-top: 5px" });
            tabstrip.Add().Text("Спецпараметри")
              .Content(Html.Partial("DetailSpecParam", Model).ToHtmlString())
              .ContentHtmlAttributes(new { style = "padding-top: 5px" });
            tabstrip.Add().Text("<div class=\"pf-icon pf-size-16 pf-name-percentage_green k-image\"></div>Відсотки").Encoded(false)
              .Content(Html.Partial("DetailPercent", Model).ToHtmlString())
              .ContentHtmlAttributes(new { style = "padding-top: 5px" });
            tabstrip.Add().Text("Тарифи")
              .Content(Html.Action("DetailTarif", "Accounts", new { id = Model.ACC }).ToHtmlString())
              .ContentHtmlAttributes(new { style = "padding-top: 5px" });
            tabstrip.Add().Text("Події")
              .Content(@<text>
                  <div class="weather">
                    <h2>17<span>&ordm;C</span></h2>
                    <p>Rainy weather in Sidney.</p>
                  </div>
                  <span class="rainy">&nbsp;</span>
                </text>)
              .ContentHtmlAttributes(new { style = "padding: 5px" });
          })
)
</div>