body { font-size: 10pt; font-family: arial; }
a
{
	color: #2778C9;
}

a:visited
{
	color: #2778C9;
}

a:hover
{
	color:	#2778C9;
	text-decoration: none;
}
/*
 * DocInput styles
 */
.webservice { behavior: url(/Common/WebService/js/WebService.htc); }
.outset {BORDER-TOP-STYLE: outset; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BORDER-BOTTOM-STYLE: outset}
.solid {border-width:1;border-color:Gray; BORDER-TOP-STYLE: solid; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid}
.mi {FONT-SIZE: 10pt; CURSOR: hand; FONT-FAMILY: verdana}
.mo {DISPLAY: none; MARGIN-LEFT: 15px}
.mn {DISPLAY: block;MARGIN-LEFT: 15px} 
.ms {cursor:hand;font-family:verdana;font-size:10pt;}
.BarsLabel {font-family:Verdana;font-size:12pt;font-weight:bold;color:Navy}

/*
 * DocExport styles
 */
.GridViewHiddenCol{	display:none;}
.gv_body { font-size: 10pt; font-family: arial; /*background-color: #f0f0f0*/ }

.gv_AlternatingRowStyle 
{
 /*background-color: #e0e0e0; */
}

.gv_NormalRowStyle
{ 
	border-color:   #dcdcdc;
	border-width:1px;

}

.gvHeaderRowStyle
{
	border-color:   #dcdcdc;
	border-width:1px;
	font-weight: bold; color: #707070;
}

gv 
{
	background-color: #f0f0f0;
	border-color: #dcdcdc;
	border-width:1px;
}

.gv_body td
{ 
	padding-right: 5px; 
	padding-left: 5px; 
	border-color:   #dcdcdc;
	border-width:1px;
}
.gv_body th
{
	padding-right : 5px; 
	padding-left: 5px; 
	border-color:   #dcdcdc;
	border-width:1px;
	font-weight: bold; color: #707070;
}

.gv_SelectedRow 
{
	background-color: #0977B9 ;
	color: White;
}

.gv_SelectedRow a
{
	color:White;
}
.gv_SelectedRow a:visited
{
	color:White;
}
.gv_SelectedRow a:hover
{
	color:White;
}

.lblError
{
	color: red;
}
     
.title
{
	font-size: 12pt;
	color: #1C4B75;
	margin-bottom: 20px;
}