<link href="~/Areas/Clients/Css/Clients.css" rel="stylesheet"/>
<script src="~/Areas/Clients/Services/CustomersService.js"></script>
<script src="~/Areas/Clients/Controllers/CustomersCtrl.js?v.001"></script>
<div data-ng-controller="Clients.Customers as custCtrl" >
    <h1 class="">Клієнти</h1>
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <div class="margin-bottom-10">
            <label class="i-checks">
                <input ng-model="custCtrl.customersFilter.type"
                       type="radio"
                       name="custType"
                       value="ALL"
                       ng-disabled="custCtrl.isCustomerFilterFromUrl"
                       ng-change="custCtrl.reloadCustomersGrid()">
                <i ng-hide="custCtrl.isIE8"></i>
                Клієнти всіх типів
            </label>
            <label class="i-checks">
                <input ng-model="custCtrl.customersFilter.type"
                       type="radio"
                       name="custType"
                       value="PERSON"
                       ng-disabled="custCtrl.isCustomerFilterFromUrl"
                       ng-change="custCtrl.reloadCustomersGrid()">
                <i ng-hide="custCtrl.isIE8"></i>
                Фізичні особи
            </label>
            <label class="i-checks">
                <input ng-model="custCtrl.customersFilter.type"
                       type="radio"
                       name="custType"
                       value="PERSONSPD"
                       ng-disabled="custCtrl.isCustomerFilterFromUrl"
                       ng-change="custCtrl.reloadCustomersGrid()">
                <i ng-hide="custCtrl.isIE8"></i>
                Фізичні особи - СПД
            </label>
            <label class="i-checks">
                <input ng-model="custCtrl.customersFilter.type"
                       type="radio"
                       name="custType"
                       value="CORP"
                       ng-disabled="custCtrl.isCustomerFilterFromUrl"
                       ng-change="custCtrl.reloadCustomersGrid()">
                <i ng-hide="custCtrl.isIE8"></i>
                Юридичні особи
            </label>
            <label class="i-checks">
                <input ng-model="custCtrl.customersFilter.type"
                       type="radio"
                       name="custType"
                       value="BANK"
                       ng-disabled="custCtrl.isCustomerFilterFromUrl"
                       ng-change="custCtrl.reloadCustomersGrid()">
                <i ng-hide="custCtrl.isIE8"></i>
                Банки
            </label>
        </div>
        <div>
            <label class="i-checks">
                <input ng-model="custCtrl.customersFilter.showClosed"
                       type="checkbox"
                       ng-change="custCtrl.reloadCustomersGrid()">
                <i ng-hide="custCtrl.isIE8"></i>
                Показувати закритих
            </label>
        </div>
    </div>

    <div class="panel panel-default no-border">
        <div class="panel-body">
            <form style="display: none;">
                <div class="input-group margin-bottom-10">
                    <input ng-model="custCtrl.customersFilter.likeClause"
                           type="text"
                           placeholder="Пошук клієнта"
                           class="input form-control">
                    <span class="input-group-btn">
                                <button ng-click="custCtrl.reloadCustomersGrid()" type="button" class="btn btn btn-primary">
                                    <i class="fa fa-search"></i> Пошук
                                </button>
                            </span>
                </div>
            </form>
            <div data-kendo-toolbar="custCtrl.customersGridToolbar" k-options="custCtrl.customersGridToolbarOptions"></div>
            <div data-kendo-grid="custCtrl.customersGrid"
                 data-options="custCtrl.customersGridOptions">
                <div k-detail-template>
                    <div>
                        {{dataItem.Name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div kendo-window="custCtrl.selectCustomrTypeWin" style="display: none"
         data-options="custCtrl.selectCustomrTypeWinOptions"></div>

    <div kendo-window="custCtrl.searchCustomerWin" style="display: none"
         data-options="custCtrl.searchCustomerWinOptions"></div>
</div>


<script src="~/Areas/Clients/Services/SearchCustomerService.js"></script>
<script src="~/Areas/Clients/Controllers/SearchCustomerCtrl.js"></script>
<!--[if lte IE 8]><script src="~/lib/ExCanvas/excanvas.js"></script><![endif]-->
<script src="~/lib/circleProgress/dist/circle-progress.js"></script>

