@{
    Layout = null;
}

<div>
    <h2>Виберіть тип клієнта</h2>
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <div class="margin-bottom-10">
            <div>
                <label class="i-checks">
                    <input ng-model="custCtrl.customerCreateModel.type"
                           type="radio"
                           name="selectCustType"
                           value="PERSON"
                           ng-disabled="custCtrl.isCustomerFilterFromUrl"
                           ng-change="custCtrl.customerCreateChange()">
                    <i ng-hide="custCtrl.isIE8"></i>
                    <b class="pf-icon pf-16 pf-user"></b>
                    Фізична особа
                </label>
            </div>
            <div>
                <label class="i-checks">
                    <input ng-model="custCtrl.customerCreateModel.type"
                           type="radio"
                           name="selectCustType"
                           value="PERSONSPD"
                           ng-disabled="custCtrl.isCustomerFilterFromUrl"
                           ng-change="custCtrl.customerCreateChange()">
                    <i ng-hide="custCtrl.isIE8"></i>
                    <b class="pf-icon pf-16 pf-user"></b>
                    Фізична особа - СПД
                </label>
            </div>
            <div>
                <label class="i-checks">
                    <input ng-model="custCtrl.customerCreateModel.type"
                           type="radio"
                           name="selectCustType"
                           value="CORP"
                           ng-disabled="custCtrl.isCustomerFilterFromUrl"
                           ng-change="custCtrl.customerCreateChange()">
                    <i ng-hide="custCtrl.isIE8"></i>
                    <b class="pf-icon pf-16 pf-user_group"></b>
                    Юридична особа
                </label>
            </div>
            <div>
                <label class="i-checks">
                    <input ng-model="custCtrl.customerCreateModel.type"
                           type="radio"
                           name="selectCustType"
                           value="BANK"
                           ng-disabled="custCtrl.isCustomerFilterFromUrl"
                           ng-change="custCtrl.customerCreateChange()">
                    <i ng-hide="custCtrl.isIE8"></i>
                    <b class="pf-icon pf-16 pf-bank"></b>
                    Банк
                </label>
            </div>

            <div style="border-bottom: 1px solid #ddd"></div><br>

            <div>
                <label class="i-checks">
                    <input ng-model="custCtrl.customerCreateModel.isResident"
                           type="radio"
                           name="selectCustResType"
                           ng-value="true">
                    <i ng-hide="custCtrl.isIE8"></i>
                    Резидент
                </label>
            </div>
            <div>
                <label class="i-checks">
                    <input ng-model="custCtrl.customerCreateModel.isResident"
                           type="radio"
                           name="selectCustResType"
                           ng-value="false">
                    <i ng-hide="custCtrl.isIE8"></i>
                    Нерезидент
                </label>
            </div>

            <div style="border-bottom: 1px solid #ddd"></div>


        </div>
        <div class="text-center">
            <button class="btn btn-info" ng-click=" custCtrl.registerNewCustomer() " >Реєстрація</button>
        </div>
    </div>
</div>