<div id="acskRulesWindow"
     kendo-window="relCustCtrl.acskRulesWindow"
     class="k-box-size-inh wrapper-sm"
     k-options="relCustCtrl.acsk.acskRulesWindowOptions"
     style="display:none;">
    <h2>Список правил АЦСК</h2>

    <div class="cl-user-box k-popup-edit-form">
        <div class="edit-box wrapper-sm">
            <div class="row">
                <div class="col-sm-12">
                    <label for="Roles">
                        Шаблон
                        <span class="required">*</span>
                    </label>
                    <select id="template"
                            class="selectpicker w-100"
                            name="template"
                            required="required"
                            data-placeholder="Виберіть шаблон..."
                            ng-options="item as item.Name for item in relCustCtrl.acsk.rules"
                            ng-init=""
                            ng-model="relCustCtrl.acsk.selectedTemplate"
                            ng-change="relCustCtrl.onChangeTemplate()"></select>
                    <div>
                        {{relCustCtrl.acsk.selectedTemplate.Description}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="Roles">
                        Довжина ключа
                        <span class="required">*</span>
                    </label>
                    <input type="text"
                           id="DocOrganization"
                           class="k-input k-textbox w-100"
                           maxlength="400"
                           disabled="disabled"
                           name="DocOrganization"
                           ng-model="relCustCtrl.acsk.certificateRequest.keySize"
                           required="required" />
                </div>
            </div>
        </div>

        <div class="edit-box wrapper-sm">
            <div class="row" ng-show="relCustCtrl.acsk.selectedTemplate">
                <div class="col-sm-12">
                    <label for="Roles">
                        Крипто провайдер
                        <span class="required">*</span>
                    </label>
                    <select id="template"
                            class="selectpicker w-100"
                            name="template"
                            required="required"
                            data-placeholder="Виберіть провайдер..."
                            ng-options="item as item.Item for item in relCustCtrl.acsk.selectedTemplate.CryptoProviders"
                            ng-model="relCustCtrl.acsk.selectedProvider"
                            ng-change="relCustCtrl.onChangeCriptoProvider()"
                            data-max-selected-items="1"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="futter-buttons" ng-hide="relCustCtrl.currentUser.isReadOnly">
        <div>
            <button class="k-button"
                    ng-disabled="relCustCtrl.acskServiceState.isLoading"
                    ng-click="relCustCtrl.acsk.getSubject()">
                <i class="fa fa-floppy-o text-primary"></i>
                  Сформувати запит
            </button>
            <button class="k-button"
                    ng-click="relCustCtrl.acskRulesWindow.close()">
                Відмінити
            </button>
        </div>
    </div>
</div>