<div kendo-window="relCustCtrl.userDetailWindow_back" class="k-box-size-inh wrapper-sm"
     k-options="relCustCtrl.userDetailWindowOptions_back" style="display: none;">
    <form id="newUserWindow_back">

        <h2>Користувач Corp2</h2>
        <div id="userCartNew_back" class="cl-user-box k-popup-edit-form k-window-content k-content" tabindex="0">

            <input type="hidden" id="Id" ng-model="relCustCtrl.currentUser.Id">
            <input type="hidden" id="Name" ng-model="relCustCtrl.currentUser.Name">

            <div class="edit-box wrapper-sm">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="TaxCode">
                            ІПН
                        </label>
                        <input 
                               id="TaxCode"
                               class="k-input k-textbox w-100"
                               name="TaxCode"
                               disabled
                               ng-model="relCustCtrl.currentUser.TaxCode"/>
                    </div>
                    <div class="col-sm-4">
                        <label for="BirthDate">
                            Дата народження
                        </label>
                        <input kendo-masked-date-picker
                               k-options="{format: 'dd.MM.yyyy'}"
                               disabled
                               id="BirthDate"
                               class="k-input k-textbox w-100"
                               name="BirthDate"
                               k-ng-model="relCustCtrl.currentUser.BirthDate"/>
                    </div>
                </div>
            </div>

            <div class="edit-box wrapper-sm">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <label for="DisplayNameLastName">
                            Прізвище
                        </label>
                        <input id="DisplayNameLastName"
                               class="k-input k-textbox w-100"
                               name="DisplayNameLastName"
                               disabled
                               ng-model="relCustCtrl.currentUser.LastName"/>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label for="DisplayNameFirstName">
                            Ім'я
                        </label>
                        <input 
                               id="DisplayNameFirstName"
                               class="k-input k-textbox w-100"
                               name="DisplayNameFirstName"
                               disabled
                               ng-model="relCustCtrl.currentUser.FirstName"/>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label for="DisplayNamePatronymic">
                            Побатькові
                        </label>
                        <input 
                               id="DisplayNamePatronymic"
                               disabled
                               class="k-input k-textbox w-100"
                               name="DisplayNamePatronymic"
                               ng-model="relCustCtrl.currentUser.SecondName"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="DisplayNameFullNameGenitiveCase">
                            ПІБ (родовий відмінок)
                        </label>
                        <input 
                               id="DisplayNameFullNameGenitiveCase"
                               class="k-input k-textbox w-100"
                               disabled
                               name="DisplayNameFullNameGenitiveCase"
                               ng-model="relCustCtrl.currentUser.FullNameGenitiveCase" />
                    </div>
                </div>
            </div>

            <div class="edit-box wrapper-sm ">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="docSeries">
                            Серія паспорту
                        </label>
                        <input id="docSeries"
                               class="k-input k-textbox w-100"
                               name="docSeries"
                               disabled
                               ng-model="relCustCtrl.currentUser.DocSeries"/>
                    </div>
                    <div class="col-sm-4">
                        <label for="docNumber">
                            Номер паспорту
                        </label>
                        <input kendo-numeric-text-box
                               k-options="{format: '000000', spinners: false}"
                               id="docNumber"
                               class="k-input w-100"
                               disabled
                               name="docNumber"
                               k-ng-model="relCustCtrl.currentUser.DocNumber" />
                    </div>
                    <div class="col-sm-4">
                        <label for="docDate">
                            Дата видачі
                        </label>
                        <input id="docDate"
                               kendo-masked-date-picker
                               k-options="{format: 'dd.MM.yyyy'}"
                               disabled
                               class="k-input k-textbox w-100"
                               name="docDate"
                               k-ng-model="relCustCtrl.currentUser.DocDate"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="DocOrganization">
                            Орган, що видав документ
                        </label>
                        <input id="DocOrganization"
                               class="k-input k-textbox w-100"
                               name="DocOrganization"
                               disabled
                               ng-model="relCustCtrl.currentUser.DocOrganization" />
                    </div>
                </div>
            </div>

            <div class="edit-box wrapper-sm">
                <label for="Address">Адреса</label>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="Address">Регіон
                        </label>
                        <select required="required" 
                                style="width:100%"
                                ng-model="relCustCtrl.currentUser.AddressRegionId"
                                name="AddressRegionId"
                                id="AddressRegionId"
                                disabled>
                            <option value="1" selected>Київ</option>
                            <option value="2">Волинська обл</option>
                            <option value="3">Вінницька обл</option>
                            <option value="4">Дніпропетровська обл</option>
                            <option value="5">Донецька обл</option>
                            <option value="6">Житомирська обл</option>
                            <option value="7">Закарпатська обл</option>
                            <option value="8">Запорізька обл</option>
                            <option value="9">Івано-Франківська обл</option>
                            <option value="10">Кіровоградська обл</option>
                            <option value="11">Київська обл</option>
                            <option value="12">Львівська обл</option>
                            <option value="13">Луганська обл</option>
                            <option value="14">Миколаївська обл</option>
                            <option value="15">Одеська обл</option>
                            <option value="16">Полтавська обл</option>
                            <option value="17">Рівенська обл</option>
                            <option value="18">Сумська обл</option>
                            <option value="19">Тернопільська обл</option>
                            <option value="20">Черкаська обл</option>
                            <option value="21">Чернівецька обл</option>
                            <option value="22">Чернігівська обл</option>
                            <option value="23">Харківська обл</option>
                            <option value="24">Херсонська обл</option>
                            <option value="25">Хмельницька обл</option>
                            <option value="26">АРК Крим</option>
                            <option value="27">Севастополь</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="Address">Населений пункт
                        </label>
                        <input 
                               id="AddressCity"
                               disabled
                               class="k-input k-textbox w-100"
                               name="AddressCity"
                               ng-model="relCustCtrl.currentUser.AddressCity" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="Address">Вулиця
                        </label>
                        <input
                               id="AddressStreet"
                               disabled
                               class="k-input k-textbox w-100"
                               name="AddressStreet"
                               ng-model="relCustCtrl.currentUser.AddressStreet"/>
                    </div>
                    <div class="col-sm-6">
                        <label for="Address">Будинок
                        </label>
                        <input
                               id="AddressHouseNumber"
                               disabled
                               class="k-input k-textbox w-100"
                               name="AddressHouseNumber"
                               ng-model="relCustCtrl.currentUser.AddressHouseNumber" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label for="Address">Додатково</label>
                        <input
                               id="AddressAddition"
                               disabled
                               class="k-input k-textbox w-100"
                               name="AddressAddition"
                               ng-model="relCustCtrl.currentUser.AddressAddition" />
                    </div>
                </div>
            </div>

            <div class="edit-box wrapper-sm">
                <div class="row">
                    <div class="col-sm-5">
                        <div>
                            <label for="CellPhone">
                                Мобільний телефон
                            </label>
                            <input type="text"
                                   ng-model="relCustCtrl.currentUser.CellPhone"
                                   data-role="maskedtextbox"
                                   disabled
                                   kendo-masked-text-box
                                   k-mask="'+389990000000'"
                                   id="CellPhone"
                                   class="k-input k-textbox" style="width: 150px"
                                   name="LoginProviderValueMobilePhone" />
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <label for="Email">
                            E-mail
                        </label>
                        <input type="text"
                               id="Email"
                               disabled
                               maxlength="50"
                               class="k-input k-textbox w-100"
                               name="Email"
                               ng-model="relCustCtrl.currentUser.Email" />
                    </div>
                </div>
            </div>
        </div>
        <div class="futter-buttons">
            <div>
                @*<button class="k-button" id="close_UDW_button"
                        ng-disabled="relCustCtrl.relCustServiceState.isLoading"
                        ng-click="relCustCtrl.saveUser()">
                    Зберегти
                </button>*@
                <button class="k-button"
                        @*ng-disabled="relCustCtrl.relCustServiceState.isLoading"*@
                        ng-click="relCustCtrl.userDetailWindow_back.close();">
                    Закрити
                </button>
            </div>
        </div>
    </form>
</div>