.search-catalog {
    background-color: rgba(20,53,80,0.038);
    border: 1px solid rgba(20,53,80,0.05);
    border-radius: 2px;
}

#tabstrip .k-content {
    min-height: 10px !important;
}

#tabstrip h2 {
    margin-left: 20px;
    margin-top: 10px;
}

#gridFiles th.k-header {
    text-align: center;
}

.search-box {
    background-color: rgba(20,53,80,0.038);
    border: 1px solid rgba(20,53,80,0.05);
    border-radius: 2px;
    padding: 10px;
    max-width: 1111px;
    position: relative;
}

.widerMenu .k-combobox,
.widerMenu .k-datepicker,
.widerMenu .k-timepicker,
.widerMenu .k-datetimepicker,
.widerMenu .k-numerictextbox,
.widerMenu .k-dropdown,
.widerMenu .k-textbox
{
    width: 200px;
}