<script src="~/Areas/Clients/Controllers/GeneralClearAddres/GeneralClearAddressCtrl.js"></script>
<div ng-controller="GeneralClearAddressCtrl as GenClearAdr">
    <h1>Очистка Адрес</h1>
    <div kendo-tab-strip>
        <ul>
            <li class="k-state-active">Область</li>
            <li ng-click="GenClearAdr.selectTabArea()">Район</li>
            <li ng-click="GenClearAdr.selectTabLocality()">Населений пункт</li>
            <li ng-click="GenClearAdr.selectTabStreet()">Вулиця</li>
        </ul>

        <div>
            <div kendo-grid="GenClearAdr.regionGrid" k-options="GenClearAdr.regionGridOptions">
                <div class="k-loading-mask" style="width:100%;height:100%" ng-show="GenClearAdr.showLoaderRegion">
                    <div class="k-loading-image">
                        <div class="k-loading-color"></div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div kendo-grid="GenClearAdr.areaGrid" k-options="GenClearAdr.areaGridOptions">
                <div class="k-loading-mask" style="width:100%;height:100%" ng-show="GenClearAdr.showLoaderArea">
                    <div class="k-loading-image">
                        <div class="k-loading-color"></div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div kendo-grid="GenClearAdr.localityGrid" k-options="GenClearAdr.localityGridOptions">
                <div class="k-loading-mask" style="width:100%;height:100%" ng-show="GenClearAdr.showLoaderLocality">
                    <div class="k-loading-image">
                        <div class="k-loading-color"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div kendo-grid="GenClearAdr.streetGrid" k-options="GenClearAdr.streetGridOptions">
                <div class="k-loading-mask" style="width:100%;height:100%" ng-show="GenClearAdr.showLoaderStreet">
                    <div class="k-loading-image">
                        <div class="k-loading-color"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>