<style>
    .k-toolbar .k-datepicker input {
        height: 1.65em 
    }

    .k-header.ng-scope.k-with-icon.k-filterable {
        vertical-align: top;
    }
</style>
@Scripts.Render("~/bundles/Cash/Scripts/TresholdCtrl")
@*<script src="~/Areas/Cash/Scripts/TresholdCtrl.js?_=5"></script>*@
<div data-ng-controller="Cash.Treshold">
    <h1>Налаштування параметрів порушень</h1>
    <div data-kendo-window="tresholdWindow" id="tresholdWindow" data-options="tresholdWindowOptions" style="display: none">
        @Html.Partial("Edit")
    </div>

    <div data-kendo-window="historyWindow" data-options="historyWindowOptions">
        <h2 ng-bind="historyWindowTitle"></h2>
        <div data-kendo-grid="historyGrid" data-options="historyGridOptions"></div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" data-collapse-type="manual">
        <div class="panel panel-default">
            <div style="background-color: #fff;cursor: pointer" class="panel-heading" role="tab" data-toggle="collapse" id="headingGlobal" data-target="#collapseGlobal">
                <h4 class="panel-title">
                    <span>
                        Параметри на банкомати
                    </span>
                </h4>
            </div>
            <div id="collapseGlobal" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGlobal">
                <div class="panel-body">
                    <div data-kendo-toolbar="" k-options="tresholdGridGlobalToolbar"></div>
                    <div data-kendo-grid="tresholdGlobalGrid" k-options="tresholdGlobalGridOptions"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div style="background-color: #fff;cursor: pointer" class="panel-heading" role="tab" data-toggle="collapse" id="headingBank" data-target="#collapseBank">
                <h4 class="panel-title">
                    <span>
                        Параметри на МФО
                    </span>
                </h4>
            </div>
            <div id="collapseBank" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingBank">
                <div class="panel-body">
                    <div data-kendo-toolbar="" k-options="tresholdGridToolbar"></div>
                    <div data-kendo-grid="tresholdGrid" k-options="tresholdGridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</div>
