@{    Layout = "~/Views/Shared/_LayoutKendo.cshtml";

}
<script src="@Url.Content("~/lib/jsZip/jszip.js")"></script>
<script src="@Url.Content("~/Areas/CreditUi/Scripts/accounts.js?v.1.0.5")"></script>
<script src="@Url.Content("~/Areas/CreditUi/Scripts/creditUI.js")"></script>
<style>
    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .k-grid {
        margin-right: 15px;
       
    }

    .k-grid td {
        white-space: nowrap;
        border-bottom: 1px solid black;
        padding:.2em .6em;
         
    }
    div.k-grid .k-selectable a{
        TEXT-DECORATION: underline; COLOR: rgb(51,153,255);
    }

    div.k-grid .k-selectable tr.k-state-selected a {
        TEXT-DECORATION: underline; COLOR: white;
    }

    .red {
        color: red;
    }

    .blue {
        color: blue;
    }

	.greenRow {
		background: lightgreen ;
	}

	.aquaRow {
		background: #99FFFF;
	}
    
    .grayRow{
        background: #C3C3C3;
    }
    .k-grid-filter.k-state-active {
        background-color: lightslategray; 
}
    .k-grid-header th.k-with-icon .k-link{
        margin-right: 7px;
    }

    div.k-grid .k-selectable tr.k-state-selected {
        background-color: #428bca;
    }

    .k-grid-content {
        min-height: 100px;
        max-height: 600px;
    }

    .k-edit-form-container input:last-child,.k-window-content input:last-child
    {
        height: 20px;
    }
    .form-control{
          height: 30px;
          padding: 3px 12px;
          font-size: 13px;
      }
    .row {
        padding-top: 5px;
    }
    .main_contract {
        background-color: #8FD7B1 !important;
    }
    .sub_contact {
        background-color: #F2DB6A !important;
    }
</style>
<div>
    <div style="width: auto; display: inline-block; float:left">
        <h1 style="padding-bottom: 0px;" id="header_text">Рахунки та операції, пов'язані з КД</h1>
    </div>
    <div style="display: inline-block; margin-left: 20px; float:left">
        <input id="info" class="form-control" style="height: 23px; padding: 0px 10px; font-size: 14.5px; width: 180px; visibility:hidden" type="text" readonly>
        
    </div>
    <div id="sub_button" style="display: inline-block; margin-left: 10px; visibility:hidden">
        <a class="k-button k-button-icontext k-grid-btToSubs"><span class="pf-icon pf-16 pf-tree"></span> Субдоговори</a>
    </div>
</div>

<div class="row" style="width: 1024px;">

    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label" for="ref_kd">Референс КД</label>
                <br><input class="form-control" id="ref_kd" type="text" readonly>
            </div>
        </div>
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-12">
                <label class="control-label" for="rnk_name">Назва позичальника</label>
                <br><input class="form-control" id="rnk_name" type="text" readonly>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label" for="number_kd">Номер КД</label>
                <br><input class="form-control" id="number_kd" type="text" readonly>
            </div>
        </div>
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-12">
                <label class="control-label" for="type_kredit">Вид КД</label>
                <br><input class="form-control" id="type_kredit" type="text" readonly>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3">
                <label class="control-label" for="date_start">Дата укладення КД </label>
                <br><input class="form-control" id="date_start" type="text" readonly>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="date_first_pay">Дата видачі </label>
                <br><input class="form-control" id="date_first_pay" type="text" readonly>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="date_end">Дата заверш. КД</label>
                <br><input class="form-control" id="date_end" type="text" readonly>
            </div>
            <div class="col-md-3 ref_gen" hidden>
                <label class="control-label" for="date_end">Референс ген. КД</label>
                <br><input class="form-control" id="ref_gen" type="text" readonly>
            </div>
        </div>
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-3">
                <label class="control-label" for="full_limit">Встановлений ліміт </label>
                <br><input class="form-control" id="full_limit" style="background-color: yellow;" type="text" readonly>
            </div>

            <div class="col-md-3">
                <label class="control-label" for="remaim_limit">Невикор. ліміт</label>
                <br><input class="form-control" id="remaim_limit" style="background-color: aqua; margin-bottom: 15px;" type="text" readonly>
            </div>

            <div class="col-md-3">
                <label class="control-label" for="use_limit">Використаний ліміт</label>
                <br><input class="form-control" id="use_limit" style="background-color: lightgreen;" type="text" readonly>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="diff_9129">Різн. ліміту і 9129</label>
                <br><input class="form-control" id="diff_9129" type="text" readonly>
            </div>
        </div>
    </div>
</div>

<div>
    <div id="gridAccounts" class="fixed_headers"></div>
</div>

<div id="dialogLink">
    <div align="center" style="margin-bottom:10px">
        <h2>Зв'язати з КД рахунок:</h2>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label" for="link_nd">Номер рахунку: </label>
                <input class="form-control" type="number" id="link_nd" required/>
            </div>
            <div class="col-md-12">
                <label class="control-label" for="link_kv">Валюта рахунку: </label>
                <input class="form-control" type="number" id="link_kv" style="width:230px" required />
            </div>
            <div class="col-md-12">
                <br><button id='bt_link_ok' class='k-button' style="margin-left: 35px;">
                    <span class='pf-icon pf-16 pf-ok'></span> Установити зв'язок
                </button>
            </div>
        </div>
    </div>
</div>

<div id="dialogOpenRef">
    <div align="center" style="margin-bottom:10px">
        <h2>Виберіть тип операції:</h2>
    </div>
    <div class="col-md-10">
        <button id='bt_open_kk1' class='k-button' style="margin-left:20px">
            <span class='pf-icon pf-16 pf-arrow_down'></span><br />Внутрішня<br />(KK1)
        </button>
        <button id='bt_open_kk2' class='k-button' style="margin-left:30px" >
            <span class='pf-icon pf-16 pf-arrow_download'></span><br />Зовнішня<br />(KK2)
        </button>
    </div>
</div>

<script id="popup-editor" type="text/x-kendo-template">
    <div align="center" style="margin-bottom:10px">
        <h2 id="popup_header">Відкрити рахунок:</h2>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label" for="NLS">Рахунок </label>
                <input class="form-control" name="NLS" id="NLS" data-bind="value:NLS" required />
            </div>
            <div class="col-md-12">
                <label class="control-label" for="OB22" name="OB22">ОБ22</label>
                <div class="row">
                    <div class="col-md-8">
                        <input class="form-control" name="OB22" data-bind="value:OB22" id="ob22" required />
                    </div>
                    <div class="col-md-1">
                        <a class='k-button' onclick="showOB22('sb_ob22', 'R020,OB22,TXT', '')"><i class='pf-icon pf-16 pf-book'></i></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="control-label" for="KV">Валюта </label>
                    <input class="form-control" name="KV" id="KV" data-bind="value:KV" style="width:320px; margin-left: -15px;" required />
                </div>
            </div>
        </div>
    </div>
</script>
