<!-- backWindow -->
<div kendo-window="window" k-visible="false" k-modal="true">
    <div ng-controller="Zay.ReasonCtrl">
        <form class="form-inline" id="container-reason" name="reasonForm" ng-submit="reasonForm.$valid && backRequest(transport.backReasonModel)" novalidate>
            <div>
                <label for="viza">Режим повернення:</label>
                <input id="viza" type="text" class="form-control" ng-model="transport.backReasonModel.viza" readonly>
            </div>
            <div>
                <label for="id">Ід. заявки:</label>
                <input id="id" type="text" class="form-control" ng-model="transport.backReasonModel.id" readonly>
            </div>
            <div style="margin-bottom: 5px;">
                <label for="reason">Причина:</label>
                <select kendo-drop-down-list style="width: 385px"
                        ng-model="transport.backReasonModel.reasonType"
                        k-options="reasonsOptions"
                        k-option-label="'-- Оберіть причину --'" required></select>
            </div>
            <div>
                <label for="comment">Коментар:</label>
                <textarea class="form-control vresize" ng-model="transport.backReasonModel.comment" id="comment" rows="5" maxlength="500" required></textarea>
            </div>
            <div class="btns-group">
                <button type="submit" class="k-button btnSave" id="save-reason-btn" ng-disabled="reasonForm.$invalid">Зберегти</button>
            </div>
        </form>
    </div>
</div>