<!-- multiApprovedWindow -->
<div kendo-window="multiApprovedWindow" k-visible="false" k-modal="true">
    <div>
        <form class="form-inline" id="container-reason" name="cursForm" ng-submit="cursForm.$valid && multiApprove(transport.multiApproveCurs)" novalidate>
            <div>
                <label for="curs">Курс:</label>
                <input id="curs" type="number" class="form-control" ng-model="transport.multiApproveCurs.value" min="0" required>
            </div>
            <hr />
            <div class="btns-group">
                <button type="submit" class="k-button btnSave" id="save-curs-btn" ng-disabled="cursForm.$invalid">Зберегти</button>
            </div>
        </form>
    </div>
</div>