body
{
}
.webservice
{
    behavior: url(/Common/WebService/js/WebService.htc);
}

.help_button_style
{
    background-image: url(source/HELP.gif);
    width: 20px;
    height: 20px;
}
.titleStyle
{
    font-weight: bold;
    font-size: 13pt;
    vertical-align: baseline;
    font-family: Arial;
    text-align: center;
    display: inline;
}
.tab_main_rekv_ErrMsg1
{
    font-size: 10pt;
    z-index: 131;
    left: 520px;
    color: red;
    font-family: Arial;
    top: 112px;
}
.tab_main_rekv_ErrMsg2
{
    font-size: 10pt;
    z-index: 130;
    left: 376px;
    color: red;
    font-family: Arial;
    top: 328px;
}

.tab_main_rekv_tb_main
{
    font-size: 10pt;
    width: 662px;
    font-family: Arial;
    height: 371px;
    text-align: left;
    border: 0px;
}
.tab_main_rekv_td1
{
    width: 653px;
    height: 7px;
}
.simpleTextStyle
{
    font-weight: bold;
    font-size: 10pt;
    width: 400px;
    font-family: Arial;
    text-align: left;
}
.tab_main_rekv_text_style
{
    font-size: 10pt;
    font-family: Arial;
    left: 8px;
    position: absolute;
    height: 20px;
    width: 200px;
    z-index: 200;
}

.tab_main_rekv_td2
{
    width: 298px;
    height: 7px;
}
.tab_main_rekv_ed_style
{
    width: 150px;
    border-color: Black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.tab_main_rekv_ed2_style
{
    width: 300px;
    border-color: Black;
    border-style: solid;
    border-width: 1px;
    text-align: left;
}
.tab_rekv_nalogoplat_tb_main
{
    font-size: 10pt;
    vertical-align: baseline;
    font-family: Arial;
    width: 700px;
    border: 0;
}
.tab_ek_norm_tb_main
{
    width: 664px;
    height: 173px;
    border: 0px;
}
.tab_ek_norm_form
{
    font-size: 10pt;
    font-family: Arial;
    text-align: left;
}
.tab_ek_norm_ed1_style
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-left: black 1px solid;
    width: 50px;
    border-bottom: black 1px solid;
    text-align: center;
}
.tab_ek_norm_ed2_style
{
    width: 300px;
    border-width: 1px;
    border-style: Solid;
    border-color: Black;
    text-align: center;
}

.tab_ek_norm_div
{
    border-right: black 1px solid;
    padding-right: 20px;
    border-top: black 1px solid;
    padding-left: 20px;
    font-size: 10pt;
    z-index: 5;
    left: 100px;
    visibility: hidden;
    border-left: black 1px solid;
    width: 344px;
    padding-top: 20px;
    border-bottom: black 1px solid;
    font-family: Arial;
    position: absolute;
    top: 308px;
    height: 92px;
    background-color: white;
    text-align: left;
}
.ErrorMsg
{
    font-weight: bold;
    color: red;
    font-family: Arial;
    text-align: center;
}
.btStyle
{
    font-weight: bold;
    font-size: 10pt;
    width: 150px;
    cursor: hand;
    font-family: Arial;
}
.headerCellStyle
{
    border-right: 1px solid;
    border-top: white 1px solid;
    font-weight: bold;
    font-size: 10pt;
    border-left: white 1px solid;
    color: white;
    border-bottom: 1px solid;
    font-family: Arial;
    background-color: lightgrey;
    text-align: center;
}
.rekvEditStyle
{
    border-right: white 1px solid;
    border-top: white 1px solid;
    font-size: 10pt;
    border-left: white 1px solid;
    width: 200px;
    border-bottom: white 1px solid;
    font-family: Arial;
    text-align: left;
}
.mainButtonsStyle
{
    font-weight: bold;
    font-size: 10pt;
    color: black;
    font-family: Arial;
}



