@{
    Layout = null;
    string[] result = (String[])ViewBag.Result;
}
@* PartialView для вывода результата сохранения файла! *@
<div class="container">
    <div class="row text-center">
        @if (result == null || result.Length == 1 && result[0] == "")
        {
            <span class="control-label">
                <b>Файл успішно додано!</b>
            </span>
        }
        else
        {
            foreach (String item in result)
            {
                <span class="control-label">
                    <b style="color:indianred;">@item</b>
                </span><br />
            }
        }
    </div>
</div>