<style>
    .cl-admin .cl-user-box {
        width: 500px;
        border: 1px solid #e7eaec;
        -ms-border-radius: 10px;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    .cl-user-box .k-edit-box {
        width: 100%;
        border: 1px solid #e7eaec;
        -ms-border-radius: 10px;
        border-radius: 10px;
    }

    .cl-users input, .cl-users select {
        width: 100%;
    }

    .cl-users table td {
        height: 50px;
        vertical-align: top;
    }

    .cl-users .cl-user-comtrols {
        padding-left: 20px;
    }

    .cl-users .cl-users-list .cl-user-box {
        float: left;
    }

    .cl-user-comtrols button {
        width: 35px;
    }


    button .fa {
        line-height: 1.3em;
        font-size: 1.3em;
    }
</style>
<script src="@Url.Content("~/scripts/respond.min.js")"></script>
<script src="@Url.Content("~/Areas/CDO/Common/Scripts/Users.js")"></script>
<h1>Підключення користувачів до системи дистанційного обслуговування (СДО)</h1>

<div id="customersGrid"></div>

<script id="existingUserTemplate" type="text/x-kendo-template">

    <form id="userCart#= data.Id #" class="cl-user-box k-popup-edit-form k-window-content k-content" tabindex="0">
        # var isLock = false;#
        <input type="hidden" id="Id" value="#= data.Id #">
        <input type="hidden" id="Name" value="#= data.Name #">
        # if (data.LockoutEnabled) { #
        # isLock = true;#
        <div style="float:left;color: red;"><i class="pf-icon pf-16 pf-delete"></i> заблоковано</div>
        # } #
        <table>
            <tr>
                <td>
                    <div class="k-edit-form-container">
                        <div class="k-edit-label">
                            <label for="DisplayName">ПІБ</label>
                        </div>
                        <div data-container-for="DisplayName" class="k-edit-field">
                            <input type="text" id="DisplayName"
                                   class="k-input k-textbox"
                                   name="DisplayName"
                                   required="required"
                                   value="#= data.DisplayName #" />
                        </div>

                        <div class="k-edit-label">
                            <label for="Roles">Групи користувача</label>
                        </div>
                        <div class="k-edit-field">
                            <select id="Roles"
                                    name="Roles"
                                    required="required"
                                    data-placeholder="Виберіть групу..."
                                    data-role="multiselect"
                                    data-value="#= data.Customers[0].Roles #"
                                    data-max-selected-items="1">
                                <option value="Director">Директор</option>
                                <option value="Accountant">Бухгалтер</option>
                                @*<option value="Manager">Менеджер</option>*@
                            </select>
                        </div>

                        <div class="k-edit-label">
                            <label for="Email">E-mail</label>
                        </div>
                        <div data-container-for="Email" class="k-edit-field">
                            <input type="text"
                                   id="Email"
                                   class="k-input k-textbox"
                                   name="Email"
                                   required="required"
                                   value="#= data.Email #" />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cl-user-comtrols">
                        <div>
                            <button class="k-button" onclick="showEditUserWindow('#= data.Id #'); return false;" title="Редагувати">
                                <i class="fa fa-pencil text-success"></i>
                            </button>
                        </div>
                        <div>
                            <button class="k-button" onclick="#= (isLock) ? 'unL' : 'l'#ockUser('#= data.Id #'); return false;" title="#= (isLock) ? 'Роз' : 'За'#блокувати">
                                <i class="fa fa-#= (isLock) ? 'un' : ''#lock text-warning"></i>
                            </button>
                        </div>
                        <div>
                            <button class="k-button" onclick="deleteUser('#= data.Id #'); return false;" title="Видалити">
                                <i class="fa fa-times-circle text-danger"></i>
                            </button>
                        </div>

                        <div>
                            <button class="k-button" onclick="refreshUserInfo('#= data.Id #'); return false;" title="Перечитати інформацію">
                                <i class="fa fa-refresh text-primary"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</script>
<div class="hidden">
    <div class="cl-admin" id="customerDetailWindow">

        <input type="hidden" id="customerId" value="@ViewBag.CustomerId" />
        <input type="hidden" id="bankId" value="@ViewBag.BankId" />
        <div class="wrapper">
            <button id="addNewUserBtn" class="k-button">
                <i class="fa fa-plus-circle text-success"></i> додати нового користувача
            </button>
        </div>

        <div class="cl-users" id="usersList">
            <div class="hidden">
                <div id="newUserWindow" class="wrapper">
                    <h2>Користувач CorpLight</h2>
                    <form id="userCartNew" class="cl-user-box k-popup-edit-form k-window-content k-content" tabindex="0">

                        <input type="hidden" id="Id" value="">
                        <input type="hidden" id="Name" value="">
                        <table>
                            <tr>
                                <td>
                                    <div class="k-edit-form-container">
                                        <div class="k-edit-label">
                                            <label for="DisplayNameLastName">Прізвище</label>
                                        </div>
                                        <div data-container-for="DisplayNameLastName" class="k-edit-field">
                                            <input type="text" id="DisplayNameLastName"
                                                   class="k-input k-textbox" name="DisplayNameLastName" required="required" />
                                        </div>

                                        <div class="k-edit-label">
                                            <label for="DisplayNameFirstName">Ім'я</label>
                                        </div>
                                        <div data-container-for="DisplayNameFirstName" class="k-edit-field">
                                            <input type="text" id="DisplayNameFirstName"
                                                   class="k-input k-textbox" name="DisplayNameFirstName" required="required" />
                                        </div>

                                        <div class="k-edit-label">
                                            <label for="DisplayNamePatronymic">Побатькові</label>
                                        </div>
                                        <div data-container-for="DisplayNamePatronymic" class="k-edit-field">
                                            <input type="text" id="DisplayNamePatronymic"
                                                   class="k-input k-textbox" name="DisplayNamePatronymic" required="required" />
                                        </div>

                                        <div class="k-edit-label">
                                            <label for="Email">E-mail</label>
                                        </div>
                                        <div data-container-for="Email" class="k-edit-field">
                                            <input type="text" id="Email" class="k-input k-textbox" name="Email" required="required" />
                                        </div>

                                        <div class="k-edit-label">
                                            <label for="Roles">Групи користувача</label>
                                        </div>
                                        <div class="k-edit-field">
                                            <select id="Roles"
                                                    name="Roles"
                                                    required="required"
                                                    data-placeholder="Виберіть групу..."
                                                    data-role="multiselect"
                                                    data-value="[]"
                                                    data-max-selected-items="1">
                                                <option value="Director">Директор</option>
                                                <option value="Accountant">Бухгалтер</option>
                                                @*<option value="Manager">Менеджер</option>*@
                                            </select>

                                        </div>

                                        <div class="k-edit-box ">
                                            <div class="wrapper-sm">
                                                <b>Тип авторизації</b>
                                            </div>
                                            <div class="k-edit-label">
                                                <label for="LoginProviderValueMobilePhone">Мобільний телефон</label>
                                            </div>
                                            <div data-container-for="LoginProviderValueMobilePhone" class="k-edit-field">
                                                <input type="text"
                                                       data-role="maskedtextbox"
                                                       data-mask="\+389990000000"
                                                       id="LoginProviderValueMobilePhone"
                                                       class="k-input k-textbox" style="width: 150px"
                                                       name="LoginProviderValueMobilePhone" required="required" />
                                                <button onclick="validateMobilePhone(); return false;"
                                                        id="validateMobPhoneBtn"
                                                        title="запросити пароль" class="k-button">
                                                    <i class="fa fa-check text-success"></i>
                                                </button>
                                            </div>

                                            <div id="confirmCode" style="display: none">
                                                <div class="k-edit-label">
                                                    <label for="Roles">одноразовий пароль</label>
                                                </div>
                                                <div class="k-edit-field">
                                                    <input type="text" id="otp" class="k-input k-textbox" style="width: 150px" />

                                                    <button onclick="validateOneTimePass(); return false;" title="підтвердити" class="k-button">
                                                        <i class="pf-icon pf-16 pf-ok"></i>
                                                    </button>
                                                    <button class="k-button" onclick="validateMobilePhone(); return false;" title="запросити пароль повторно">
                                                        <i class="fa fa-refresh text-primary"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="k-edit-label">
                                                <label for="LoginProviderValueOtpToken">OTP пристрій</label>
                                            </div>
                                            <div data-container-for="LoginProviderValueOtpToken" class="k-edit-field">
                                                <input type="text"
                                                       id="LoginProviderValueOtpToken"
                                                       class="k-input k-textbox"
                                                       style="width: 200px"
                                                       name="LoginProviderValueOtpToken"
                                                       required="required" />
                                            </div>

                                            <div class="k-edit-label">
                                                <label for="LoginProviderValueEkey">ЕЦП</label>
                                            </div>
                                            <div data-container-for="LoginProviderValueEkey" class="k-edit-field">
                                                <input type="text"
                                                       id="LoginProviderValueEkey"
                                                       class="k-input k-textbox"
                                                       style="width: 200px"
                                                       name="LoginProviderValueEkey"
                                                       required="required" />
                                            </div>
                                        </div>

                                        <div class="k-edit-label"></div>

                                        @*<div class="k-edit-label">
                                                <label for="LoginProviderType">Тип авторизації</label>
                                            </div>
                                            <div data-container-for="LoginProviderType" class="k-edit-field">
                                                <select data-role="dropdownlist"
                                                        id="LoginProviderType"
                                                        name="LoginProviderType"
                                                        required="required">
                                                    <option value="MobilePhone">Мобільний телефон</option>
                                                    <option value="OtpToken">OTP Token</option>
                                                </select>
                                            </div>

                                            <div>
                                                <div class="k-edit-label">
                                                    <label for="LoginProviderValue"></label>
                                                </div>
                                                <div data-container-for="LoginProviderValue" class="k-edit-field">
                                                    <input type="text" id="LoginProviderValue" class="k-input k-textbox" style="width: 150px" name="LoginProviderValue" required="required"/>
                                                    <button onclick="validateMobilePhone(); return false;" title="запросити пароль" class="k-button">
                                                        <i class="pf-icon pf-16 pf-ok"></i>
                                                    </button>
                                                </div>

                                            </div>


                                            <div id="confirmCode" style="display: none">
                                                <div class="k-edit-label">
                                                    <label for="Roles">одноразовий пароль</label>
                                                </div>
                                                <div class="k-edit-field">
                                                    <input type="text" id="otp" class="k-input k-textbox" style="width: 150px"/>

                                                    <button onclick="validateOneTimePass(); return false;" title="підтвердити" class="k-button">
                                                        <i class="pf-icon pf-16 pf-ok"></i>
                                                    </button>
                                                </div>
                                            </div>*@



                                        <div class="k-edit-label"></div>
                                        <div class="k-edit-field">
                                            <div>
                                                <button data-role="button" data-click="saveUser" title="Створити">
                                                    <i class="fa fa-floppy-o text-primary"></i>
                                                    Зберегти
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="cl-users-list">
                <h2>Існуючі користувачі</h2>
                <div id="notFindUsersLabel">Не закріплено жодного користувача</div>
                <div id="existingUserList"></div>

            </div>
        </div>
    </div>
</div>