@{
    ViewBag.Title = "";
    Layout = null;
}


<h2 ng-bind="schedulerWindowTitle()"></h2>

<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">Код</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <input type="text" class="k-textbox" data-ng-model="scheduler.Code" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">Тип</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <select kendo-drop-down-list style="width: 200px" data-ng-model="scheduler.Type">
            <option selected="selected" value="PLSQL">PLSQL</option>
            <option value="SQL">SQL</option>
            <option value="WEBUI">WEBUI</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">Назва</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <input type="text" class="k-textbox" data-ng-model="scheduler.Name"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">Короткий опис</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <textarea rows="2" class="k-textbox" data-ng-model="scheduler.Description"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">Sql запит</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <textarea rows="4" class="k-textbox" data-ng-model="scheduler.SqlText"></textarea>
    </div>
</div>
@*<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">ID веб сервісу</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <input kendo-numeric-text-box k-min="0" k-format="'{0:n0}'" k-ng-model="scheduler.WebUiId" />
    </div>
</div>*@
<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">BARS логін</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <input type="checkbox" data-ng-model="scheduler.IsBarsLogin" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">Режим запуску</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <select kendo-drop-down-list style="width: 200px" data-ng-model="scheduler.ExclusionMode">
            <option value="NONE">перевірка не виконується</option>
            <option value="FILIAL">допускається один одночасний запуск на один филиал</option>
            <option value="BRANCH">допускається один одночасний запуск на один бранч</option>
            <option value="USER">допускається один одночасний запуск на одного користувача</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">Макс. час вик.(сек)</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <input kendo-numeric-text-box k-min="0" k-format="'{0:n0}'" k-ng-model="scheduler.MaxExecutionTime" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">Повідомлення для користувача</label>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <input class="k-textbox" k-ng-model="scheduler.UserMessages" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4 col-sm-4">Параметри</label>
    <div class="col-xs-11 col-sm-11 col-md-11">
        <div data-kendo-grid="parametersListGrid" data-options="parametersListGridOptions"></div>
    </div>
</div>

<div class="window-footer">
    <button type="button" class="k-primary k-button" data-ng-click="saveScheduler()">
        <i class="pf-icon pf-16 pf-save"></i> Зберегти
    </button>
    <button type="button" class="k-button" data-ng-click="schedulerWindow.close()">
        Відмінити
    </button>
</div>
