  <!--строка подключения для ibatnk-->
<connectionStrings>
  <clear />
  <add name="IBankCoreConnectionString" connectionString="Data Source=CLIMDB;User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserverclim;Pooling=yes;" providerName="BarsWeb.DbProvider.Oracle" />
</connectionStrings>
