/*.custom-btn-payroll-view, .custom-btn-payroll-edit,
.custom-btn-payroll-delete, .custom-btn-payroll-create,
.custom-btn-payroll-filter, .custom-btn-payroll-reject,
.custom-btn-payroll-ok {
    background-position: 96% 50%;
    background-size: 25px 25px !important;
    width: auto;
    padding-right: 35px;
}*/

.custom-btn-payroll-enrollment {
    width: auto;
}

.custom-btn-payroll-view {
    background-image: url(/barsroot/Areas/SalaryBag/Content/Images/document_view.png);
}

.custom-btn-payroll-edit {
    background-image: url(/barsroot/Areas/SalaryBag/Content/Images/edit.png);
}

.custom-btn-payroll-delete {
    background-image: url(/barsroot/Areas/SalaryBag/Content/Images/delete.png);
}

.custom-btn-payroll-create {
    background-image: url(/barsroot/Areas/SalaryBag/Content/Images/new.png);
}

.custom-btn-payroll-filter {
    background-image: url(/barsroot/Areas/SalaryBag/Content/Images/filter.png);
}

.custom-btn-payroll-accept {
    background-image: url(/barsroot/Areas/SalaryBag/Content/Images/visa.png);
}

.custom-btn-payroll-reject {
    background-image: url(/barsroot/Areas/SalaryBag/Content/Images/visa_back.png);
}

.custom-btn-payroll-ok {
    background-image: url(/barsroot/Areas/SalaryBag/Content/Images/ok.png);
}

#sdModalGrid .k-loading-image {
    background-image: none;
}

#sdModalGrid .k-loading-color {
    opacity: 0;
}

.k-tabstrip-items .k-state-active {
    background-color: #f5f5f5 !important;
}

.k-tabstrip-wrapper {
    padding: 0px !important;
    border: none !important;
}

.sp-tabs {
    padding: 0px !important;
    border: none !important;
    margin: 0px !important;
    background: none !important;
}

.k-tabstrip-items {
    padding: 0px !important;
}

#sp_tabstrip {
    border: none;
}

ul.k-tabstrip-items.k-reset, body {
    background-color: white !important;
}

.k-grid {
    border-radius: 0px 0px 0px 0px !important;
}

    .k-grid td {
        min-width: 50px !important;
    }

.colored-box {
    float: right;
}


.k-tabstrip-items .k-tab-on-top {
    z-index: 0 !important;
}

.k-grid-content {
    min-height: 40px;
}
