@model string
<h2>Стан архівації таблиці @Model</h2>
<div id="detailOnTableGrid"></div>
<script>
  var statuses = ['ARC', 'PART_ARC', 'NOT_ARC', 'ARC_OFFLINE'];

  var templButtonMakeArcTable = '<a href="\\#" #if(STATUS==statuses[1]||STATUS==statuses[2]){# class="k-button k-primary" aria-disabled="false" onclick="makeArcTable(\'#=TABLE_NAME#\',#=YEAR#);return false;" #}else{# class="k-button k-state-disabled" disabled="disabled" onclick="return false;" aria-disabled="true" #}# data-role="button"role="button" >Винести в арх. табл.</a>';
  var templButtonStartDisable = '<a href="\\#" #if(STATUS==statuses[0]){# class="k-button k-primary" aria-disabled="false" onclick="disableFile(\'#=TABLE_NAME#\',#=YEAR#);return false;" #}else{# class="k-button k-state-disabled" disabled="disabled" onclick="return false;" aria-disabled="true" #}# data-role="button" role="button" >Відключити файл</a>';
  var templButtonStartRestore = '<a href="\\#" #if(STATUS==statuses[0]||STATUS==statuses[3]){# class="k-button k-primary" aria-disabled="false" onclick="restoreData(\'#=TABLE_NAME#\',#=YEAR#);return false;" #}else{# class="k-button k-state-disabled" disabled="disabled" onclick="return false;" aria-disabled="true" #}# data-role="button" role="button" >Відновити арх. дані</a>';

  var templateStatusColor = '#if(STATUS==statuses[0]){#blue#}else if(STATUS==statuses[1]){#green#}else if(STATUS==statuses[2]){#red#}else{#\\#000#}#';
  var templatePtnStatusColor = '#if(PTN_STATUS==statuses[0]){#blue#}else if(PTN_STATUS==statuses[1]){#green#}else if(PTN_STATUS==statuses[2]){#red#}else{#\\#000#}#';

  var _onShowPopup = function(e) {
    if (!$("." + e.sender._guid)[1]) {
      var element = e.element.parent(),
        eWidth = element.width(),
        eHeight = element.height(),
        wWidth = $(window).width(),
        wHeight = $(window).height(),
        newTop,
        newLeft;
      newLeft = Math.floor(wWidth / 2 - eWidth / 2);
      newTop = Math.floor(wHeight / 2 - eHeight / 2);
      e.element.parent().css({ top: newTop, left: newLeft });
    }
  };

  var showSuccess = function (text) {
    this.showPopup('Повідомлення', text, 'success');
  };

  var showError = function (text) {
    this.showPopup('Помилка', text, 'error');
  };

  var showPopup = function(title,text,type) {
    var $this = this;
    var popup = $('<div />', { id: 'searchCustomerPopupError' });
    popup.append('body');
    popup.kendoNotification({
      stacking: "down",
      show: $this._onShowPopup,
      hide: function() { popup.remove(); },
      autoHideAfter: 40000,
      width: '350px',
      templates: [
        {
          type: type,
          template: '<div style="padding:10px;">\
                     <div class="k-notification-wrap"><h3 style="margin-top:0"><span class="k-icon k-i-note">icon</span> #= title #</h3><span class="k-icon k-i-close">Hide</span></div>\
                        <p>#= message #</p>\
                    </div>'
        }
      ],
      button: true
    }).data("kendoNotification").show({
      title: title,
      message: text
    }, type);
  };    

  function makeArcTable(tableName, year) {
    kendo.ui.progress($('body'), true);
    $.post(
      bars.config.urlContent( '/arcs/archives/makearctable/'),
      { tableName: tableName, year: year },
      function (data) {
        kendo.ui.progress($('body'), false);
        if (data.status == 'error') {
          showError(data.message);
        } else if (data.status == 'ok') {
            showSuccess(data.message);
            gridDetailOnTableReload();
        }
      },
      'json');
  }

  function disableFile(tableName, year) {
    kendo.ui.progress($('body'), true);
    $.post(
      bars.config.urlContent('/arcs/archives/disablefile/'),
      { tableName: tableName, year: year },
      function (data) {
        kendo.ui.progress($('body'), false);
        if (data.status == 'error') {
          showError(data.message);
        } else if (data.status == 'ok') {
            showSuccess(data.message);
            gridDetailOnTableReload();
        }
      },
      'json');
  }

  function restoreData(tableName, year) {
    kendo.ui.progress($('body'), true);
    $.post(
      bars.config.urlContent( '/arcs/archives/restoredata/'),
      { tableName: tableName, year: year },
      function (data) {
        kendo.ui.progress($('body'), false);
        if (data.status == 'error') {
          showError(data.message);
        } else if (data.status == 'ok') {
            showSuccess(data.message);
            gridDetailOnTableReload();
        }
      },
      'json');
  }
    
  function gridDetailOnTableReload() {
      var grid = $("#detailOnTableGrid").data('kendoGrid');
      grid.dataSource.read();
      grid.refresh();
    }

  function onDataBound(e) {
    var row = e.sender.element.find('tr.k-grouping-row');
    row.quickEach(function () {
      var thisTd = this.find('td').eq(0);
      var nextRowTd = this.next('tr').find('td');
      thisTd
        .css({ 'padding-top': '15px' })
        .html(thisTd.html() + ' Стан: ' + nextRowTd.eq(2).html() + ' ' + nextRowTd.eq(3).html() + nextRowTd.eq(4).html() + nextRowTd.eq(5).html());
    });
  }

  function onDataBinding() {
    
  }

  $(function() {
    var grid = $("#detailOnTableGrid");
    grid.kendoGrid({
      dataSource: {
        //type: 'aspnetmvc-ajax',
        type: 'webapi',
        transport: {
          read: '/barsroot/arcs/archives/detailontabledata/' + '@Model'
        },
        //data: $this.response.data,
        schema: {
          data: "Data",
          total: "Total",
          errors: "Errors",
          model: {
            fields: {
              YEAR: { type: "string" },
              STATUS: { type: "string" },
              STATUS_NAME: { type: "string" },
              TABLE_NAME: { type: "string" },
              PARTITION_NAME: { type: "string" },
              TABLESPACE_NAME: { type: "string" },
              PTN_NUM_ROWS: { type: "string" },
              PTN_STATUS: { type: "string" },
              PTN_STATUS_NAME: { type: "string" },
              ARC_TABLE_NAME: { type: "string" },
              ARC_NUM_ROWS: { type: "string" },
              ARC_TABLESPACE_NAME: { type: "string" },
              DATAFILE_NAME: { type: "string" },
              DATAFILE_STATE: { type: "string" },
              DATAFILE_STATE_NAME: { type: "string" }
            }
          }
        },
        pageSize: 100,
        serverPaging: true,
        serverFiltering: true,
        serverSorting: true,
        group: [{
          field: "YEAR" /*, aggregates: [
             { field: "ProductName", aggregate: "count" },
             { field: "UnitPrice", aggregate: "sum" },
             { field: "UnitsOnOrder", aggregate: "average" },
             { field: "UnitsInStock", aggregate: "count" }
          ]*/
        }/*, {
          field: "STATUS_NAME"
        }*/]
      },
      height: 600,
      selectable: "multiple",
      //change: onArchiversGridRowSelect,
      groupable: false,
      sortable: true,
      filterable: true,
      dataBound: onDataBound,
      dataBinding: onDataBinding,
      pageable: {
        refresh: true,
        pageSizes: true,
        buttonCount: 5
      },
      columns: [
        {
          field: "YEAR",
          title: "Рік",
          hidden: true,
          groupHeaderTemplate: "Рік: #= value #",
          width: 100
        }, {
          field: "STATUS_NAME",
          title: "Стан архівації року",
          template: '<span style="color: ' + templateStatusColor + '" >#= STATUS_NAME #</span>',
          hidden: true,
          width: 200
        }, {
          field: "STATUS",
          title: "винесення в архівну таблицю",
          template: templButtonMakeArcTable,
          hidden: true,
          width: 250
        }, {
          field: "STATUS",
          title: "стартувати відключення файлу",
          template: templButtonStartDisable,
          hidden: true,
          width: 250
        }, {
          field: "STATUS",
          title: "відновити архівні дані",
          template: templButtonStartRestore,
          hidden: true,
          width: 250
        }, {
          field: "PARTITION_NAME",
          title: "Партиції",
          width: 250
        }, {
          field: "TABLESPACE_NAME",
          title: "Таб. простір партиції",
          width: 250
        }, {
          field: "PTN_NUM_ROWS",
          title: "к-ть строк в парт.",
          width: 150
        }, {
          field: "PTN_STATUS_NAME",
          title: "Стан архівації парт.",
          template: '#=PTN_STATUS_NAME#',
          attributes: { style: 'font-weight: bold;color:' + templatePtnStatusColor },
          width: 200
        }, {
          field: "ARC_TABLE_NAME",
          title: "Назва архівної табл.",
          width: 250
        }, {
          field: "ARC_NUM_ROWS",
          title: "К-ть строк в табл.",
          width: 150
        }, {
          field: "ARC_TABLESPACE_NAME",
          title: "арх. табл. простір арх. табл.",
          width: 250
        }, {
          field: "DATAFILE_NAME",
          title: "Файл даних архівного табл. простору",
          width: 250
        }, {
          field: "DATAFILE_STATE",
          title: "стан файлу даних",
          width: 250
        }
      ]
    });
  });

</script>