@using Areas.CreditFactory.Models
@using Kendo.Mvc.UI
@model IQueryable<V_CF_SETINGS>

@{
    Layout = null;
    const string title = "Налаштування параметрів синхронізації";
}
<script type="text/javascript">
    function formatStatus(item, errMsg) {
        return formatStatusBase(item, "CONN_STATES");
    }

    function formatStatusBase(item, fieldName) {
        var statusClass;
        switch (item[fieldName]) {
            case "SUCCESS":
                statusClass = "success";
                break;
            case "ERROR":
                statusClass = "error";
                break;
        }
        return kendo.format("<div class='k-block k-{0}-colored statusField centerField' >{1}</div>", statusClass, item[fieldName]);
    }

    function refreshGridOnRequestEnd(e)
    {
        if (e.type == "update" || e.type == "create") {
            $("#grid_SyncParams").data("kendoGrid").dataSource.read();
        }
    }

    function formatSyncEnabled(item) {
        return item.IS_ACTIVE == 1
            ? "<div class='k-block k-success-colored centerField'>Активний</div>"
            : "<div class='k-block k-error-colored centerField'>Не активний</div>";
    }

</script>
<div id="childRecordsLevel1">
    @*Шаблон дочерней строки протокола*@
    <script id="template_ChildLevelParams1" type="text/x-kendo-template">
        @(Html.Kendo().TabStrip()
                    .Name("tabstripChildRowsLevelParams1_#=MFO#")
                              .Items(tabstrip =>
                              {
                                  tabstrip.Add().Text("Опис статусу")
                                      .Selected(true)
                                                .Content(@<text>
                                        <div class='employee-details' style="word-wrap:break-word;width:800px">
                                            <xmp>#= CONN_ERR_MSG #</xmp>
                                        </div>
                                                </text>);
                              }).ToClientTemplate()
        )
    </script>
</div>
<div id="gvSyncParams">
    @*(Html.Kendo().Grid<V_CF_SETINGS>()
          .Name("grid_SyncParams")
          .ToolBar(toolbar => toolbar.Template(
               "<button id='grid_Connections_AddRow' class='k-button' title='Додати новий запис'>" +
               "<span class='pf-icon pf-16 pf-add_button'></span> Додати" +
               "</button>"+
               "<button id='btPing' class='k-button' title='Перевірка зв`язку з РУ'>" +
               "<span class='pf-icon pf-16 pf-execute'></span> Пінг" +
               "</button>"
          ))
          .Columns(columns =>
          {
              columns.Bound(c => c.CONN_STATES).Title("Статус<br>синхронізації").ClientTemplate("#= formatStatus(data) #");
              columns.Bound(c => c.MFO).Title("Номер<br>відділення");
              columns.Bound(c => c.NB).Title("Найменування відділення");
              columns.Bound(c => c.URL_SERVICE).Title("URL адреса РУ").ClientTemplate("<a target=\"_blank\" href=\"#= URL_SERVICE#\">#= URL_SERVICE#</a>");
              columns.Bound(c => c.USERNAME).Title("Ім`я<br>користувача");
              columns.Bound(c => c.PASSWORD).Title("Пароль").ClientTemplate("******").Filterable(false);
              columns.Bound(c => c.IS_ACTIVE).Title("Статус").ClientTemplate("#= formatSyncEnabled(data) #");
              columns.Command(command =>
              {
                  command.Edit();
                  command.Destroy();
              }).Width(100);
          })
          .ClientDetailTemplateId("template_ChildLevelParams1")
          .Editable(editable => editable.Mode(GridEditMode.InLine))
          .Resizable(resize => resize.Columns(true))
          .Reorderable(reorder => reorder.Columns(true))
          .Pageable(pager => pager
                      .PageSizes(new[] { 10, 20, 50, 100 })
              .Refresh(true))
          .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Sort(sort => sort.Add(p => p.MFO).Descending())
              .Events(events =>
                    {
                        events.RequestEnd("refreshGridOnRequestEnd");
                    })
              .Model(model =>
              {
                  model.Id(p => p.MFO);
                  model.Field(p => p.CONN_STATES).Editable(false);
                  model.Field(p => p.NB).Editable(false);
                  model.Field(p => p.CONN_ERR_MSG).Editable(false);
              })
              .Create(create => create.Action("CreateSyncParam", "Administrations"))
              .Update(update => update.Action("UpdateSyncParam", "Administrations"))
              .Destroy(destroy => destroy.Action("DestroySyncParam", "Administrations"))
                 .Read(read => read.Action("GetSyncParam", "Administrations")))
    )*@
    <div id="grid_SyncParams"></div>
</div>

<script>
    $(function () {

        jQuery(function () {
            jQuery("#grid_SyncParams").kendoGrid({
                "columns":
                    [{
                        "title": "Статус\u003cbr\u003eсинхронізації",
                        "template": "#= formatStatus(data, CONN_ERR_MSG) #",
                        "field": "CONN_STATES",
                        "encoded": true
                    },
                    {
                        "title": "Номер\u003cbr\u003eвідділення",
                        "field": "MFO",
                        "encoded": true,
                        "editor": "\u003cinput class=\"text-box single-line\" id=\"MFO\" name=\"MFO\" type=\"text\" value=\"\" /\u003e\u003cspan class=\"field-validation-valid\" data-valmsg-for=\"MFO\" data-valmsg-replace=\"true\"\u003e\u003c/span\u003e"
                    },
                    {
                        "title": "Найменування відділення",
                        "field": "NB",
                        "encoded": true
                    }, {
                        "title": "URL адреса РУ",
                        "template": "\u003ca target=\"_blank\" href=\"#= URL_SERVICE#\"\u003e#= URL_SERVICE#\u003c/a\u003e",
                        "field": "URL_SERVICE",
                        "encoded": true,
                        "editor": "\u003cinput class=\"text-box single-line\" id=\"URL_SERVICE\" name=\"URL_SERVICE\" type=\"text\" value=\"\" /\u003e\u003cspan class=\"field-validation-valid\" data-valmsg-for=\"URL_SERVICE\" data-valmsg-replace=\"true\"\u003e\u003c/span\u003e"
                    },
                    {
                        "title": "Ім`я\u003cbr\u003eкористувача",
                        "field": "USERNAME",
                        "encoded": true,
                        "editor": "\u003cinput class=\"text-box single-line\" id=\"USERNAME\" name=\"USERNAME\" type=\"text\" value=\"\" /\u003e\u003cspan class=\"field-validation-valid\" data-valmsg-for=\"USERNAME\" data-valmsg-replace=\"true\"\u003e\u003c/span\u003e"
                    }, {
                        "title": "Пароль",
                        "template": "******",
                        "field": "PASSWORD",
                        "filterable": false,
                        "encoded": true,
                        "editor": "\u003cinput class=\"text-box single-line\" id=\"PASSWORD\" name=\"PASSWORD\" type=\"text\" value=\"\" /\u003e\u003cspan class=\"field-validation-valid\" data-valmsg-for=\"PASSWORD\" data-valmsg-replace=\"true\"\u003e\u003c/span\u003e"
                    },
                    {
                        "title": "Статус",
                        "template": "#= formatSyncEnabled(data) #",
                        "field": "IS_ACTIVE",
                        "encoded": true,
                        "editor": "\u003cinput class=\"text-box single-line\" data-val=\"true\" data-val-number=\"The field IS_ACTIVE must be a number.\" id=\"IS_ACTIVE\" name=\"IS_ACTIVE\" type=\"text\" value=\"\" /\u003e\u003cspan class=\"field-validation-valid\" data-valmsg-for=\"IS_ACTIVE\" data-valmsg-replace=\"true\"\u003e\u003c/span\u003e"
                    },
                    {
                        "width": "100px",
                        "command":
                            [{
                                "name": "edit",
                                "buttonType": "ImageAndText",
                                "text": {
                                    "cancel": "Скасувати",
                                    "update": "Оновити",
                                    "edit": "Редагувати"
                                }
                            },
                            {
                                "name": "destroy",
                                "buttonType": "ImageAndText",
                                "text": "Видалити"
                            }]
                    }],
                "pageable": {
                    "refresh": true,
                    "pageSizes": [10, 20, 50, 100],
                    "buttonCount": 10,
                    "messages": {
                        "display": "Зображено записи {0} - {1} з {2}",
                        "empty": "немає записів",
                        "page": "Сторінка",
                        "of": "з {0}",
                        "itemsPerPage": "елементів на сторінці",
                        "first": "Повернутися на першу сторінку",
                        "previous": "Перейти на попередню сторінку",
                        "next": "Перейдіть на наступну сторінку",
                        "last": "До останньої сторінки",
                        "refresh": "Оновити",
                        "morePages": "Більше сторінок"
                    }
                },
                "filterable": {
                    "messages": {
                        "info": "Рядки із записами",
                        "isTrue": "істина",
                        "isFalse": "хиба",
                        "filter": "фільтрувати",
                        "clear": "очистити фільтр",
                        "and": "І",
                        "selectValue": "-виберіть-",
                        "operator": "Oператор",
                        "value": "Значення",
                        "cancel": "Скасувати"
                    },
                    "operators": {
                        "string": {
                            "eq": "рівні",
                            "neq": "не рівні",
                            "startswith": "починаються на",
                            "endswith": "закінчуються на",
                            "contains": "містять",
                            "doesnotcontain": "Does not contain"
                        },
                        "number": {
                            "eq": "рівне",
                            "neq": "не рівними",
                            "gte": "більше або рівними",
                            "gt": "більше",
                            "lte": "менше або рівними",
                            "lt": "менше"
                        }, "date": {
                            "eq": "рівними",
                            "neq": "не рівна",
                            "gte": "після або рівна",
                            "gt": "після",
                            "lte": "до або рівними",
                            "lt": "до"
                        },
                        "enums": {
                            "eq": "рівними",
                            "neq": "не рівними"
                        }
                    }
                },
                "resizable": true,
                "reorderable": true,
                "scrollable": false,
                "editable": {
                    "confirmation": "Ви впевнені, що бажаєте видалити даний запис?",
                    "confirmDelete": "Видалити",
                    "cancelDelete": "Скасувати",
                    "mode": "inline",
                    "create": true,
                    "update": true,
                    "destroy": true
                },
                "toolbar": "<button id='grid_Connections_AddRow' class='k-button' title='Додати новий запис'>" +
                                "<span class='pf-icon pf-16 pf-add_button'></span> Додати" +
                                "</button>"+
                                "<button id='btPing' class='k-button' title='Перевірка зв`язку з РУ'>" +
                                "<span class='pf-icon pf-16 pf-execute'></span> Пінг" +
                                "</button>",
                "messages": { "noRecords": "No records available." },
                "dataSource": {
                    "type": (function () {
                        if (kendo.data.transports['aspnetmvc-ajax']) { return 'aspnetmvc-ajax'; } else { throw new Error('The kendo.aspnetmvc.min.js script is not included.'); }
                    })(),
                    "transport": {
                        "read": {
                            "url": "/barsroot/CreditFactory/Administrations/GetSyncParam"
                        },
                        "update": {
                            "url": "/barsroot/CreditFactory/Administrations/UpdateSyncParam",
                            "dataType": "json",
                            "beforeSend": function (request, data, data1) {
                                data.data = data.data.replace("CONN_ERR_MSG=", "CONN_ERR_MSGTMP=");
                            }
                        },
                        "create": { "url": "/barsroot/CreditFactory/Administrations/CreateSyncParam" },
                        "destroy": { "url": "/barsroot/CreditFactory/Administrations/DestroySyncParam" },
                    },
                    "pageSize": 10,
                    "page": 1,
                    "total": 0,
                    "serverPaging": true,
                    "serverSorting": true,
                    "serverFiltering": true,
                    "serverGrouping": true,
                    "serverAggregates": true,
                    "sort":
                        [{
                            "field": "MFO",
                            "dir": "desc"
                        }],
                    "filter": [],
                    "requestEnd": refreshGridOnRequestEnd,
                    "schema": {
                        "data": "Data",
                        "total": "Total",
                        "errors": "Errors",
                        "model": {
                            "id": "MFO",
                            "fields": {
                                "MFO": { "type": "string" },
                                "NB": {
                                    "editable": false,
                                    "type": "string"
                                },
                                "URL_SERVICE": { "type": "string" },
                                "USERNAME": { "type": "string" },
                                "PASSWORD": { "type": "string" },
                                "CONN_STATES": {
                                    "editable": false,
                                    "type": "string"
                                },
                                "CONN_ERR_MSG": {
                                    "editable": false,
                                    "type": "string"
                                },
                                "IS_ACTIVE": {
                                    "type": "number",
                                    "defaultValue": null
                                },
                                "EntityState": {
                                    "editable": false,
                                    "type": "number"
                                },
                                "EntityKey": { "type": "object" }
                            }
                        }
                    }
                },
                "detailTemplate": kendo.template(jQuery('#template_ChildLevelParams1').html())
            });
        });
    });

    $(document).ready(function () {
        $("#grid_Connections_AddRow").click(function () {
            var grid = $("#grid_SyncParams").data("kendoGrid");
            grid.addRow();
        });

        $("#btPing").click(function () {
            $.ajax({
                async: false,
                url: bars.config.urlContent('/CreditFactory/Administrations/Ping'),
                success: function (request) {
                    var grid = $("#grid_SyncParams").data("kendoGrid");
                    grid.dataSource.read();
                }
            });
        });
    })

    /*$("#grid_SyncParams").data("kendoGrid")
    .dataSource.transport.options.update.requestStart = function (data) {
        return $.extend(data, {
            CONN_ERR_MSG: null  //Actually client-side calculated data, not static
        });
    };*/
</script>
