@{
    ViewBag.Title = "Програмна помилка";
}
@model Exception
<h1>Програмна помилка</h1>
<hgroup class="title">
    <h1 class="error">Помилка.</h1>
    <h2 class="error">При воконанні запиту виникла помилка.</h2>
</hgroup>
