@{
    Layout = null;
    //ViewBag.Title = "";
    var cusstype = Request.Params["custtype"];
    //var nd = "";
}
<div ng-controller="CreditUi.creditParamsCtrl" style="width: 100%">
    <table border="0">
        <tr>
            <td>
                <label>№ договору</label>
            </td>
            <td>
                <label>Валюта</label>
            </td>
            <td>
                <label>Ініціатива</label>  
                @*<a class='k-button' ng-click="showReferBranch('OUR_BRANCH','BRANCH,NAME','where date_closed is null')" ng-disabled="isSave"><i class='pf-icon pf-16 pf-book'></i></a>*@

                <kendo-button ng-click="showReferBranch('OUR_BRANCH','BRANCH,NAME','where date_closed is null')"
                              class="pf-icon pf-16 pf-book">
                </kendo-button>

            </td>
            <td>
                <input id="inptBranch"
                        type="text"
                        ng-model="credit.branchValue"
                        ng-required="string"
                        name="inptNum"
                        class="k-textbox"
                        style="width:350px"
                        disabled/>
                <span style="color: red" ng-show="!isBranchValueValid()">Обов'язкове</span>
            </td>
        </tr>
        <tr>
            <td>
                <input id="inptNum" 
                       type="text" 
                       ng-model="credit.numValue" 
                       ng-required="string" 
                       ng-disabled="isSaveFunc()" 
                       name="inptNum" 
                       class="k-textbox" 
                       style="width:150px"
                       />
                <span style="color: red" ng-show="!isNumValueValid()">Обов'язкове</span>
            </td>
            <td>
                <select kendo-drop-down-list name="ddlCur" id="ddlCur" style="width: 250px" k-ng-model="credit.curValue" k-options="ddlCurOptions" k-ng-disabled="isSaveFunc()"></select>
            </td>
            <td colspan="2" rowspan="6">
                <div class="panel panel-default" style="display: inline-flex;width:100%">
                    <div class="panel-body">
                        <div class="form-group">
                            <label><b>Пошук клієнта - позичальника</b></label>
                            <table>
                                <tr>
                                    <td style="text-align:right">
                                        @*<a class='k-button' 
                                           ng-click="showReferCust('CUSTOMER','RNK,NMK,OKPO,CUSTTYPE,DATE_ON,DATE_OFF,TGR,C_DST,C_REG,ND,CODCAGENT,COUNTRY,PRINSIDER,STMT,SAB,ADR,VED,SED','')" 
                                           ng-disabled="isSave">
                                           <i class='pf-icon pf-16 pf-book'></i>
                                        </a>*@

                                        <kendo-button ng-disabled="isSaveFunc()" 
                                                      ng-click="showReferCust('CUSTOMER','RNK,NMK,OKPO,CUSTTYPE,DATE_ON,DATE_OFF,TGR,C_DST,C_REG,ND,CODCAGENT,COUNTRY,PRINSIDER,STMT,SAB,ADR,VED,SED','')"
                                                      class="pf-icon pf-16 pf-book" >
                                        </kendo-button>

                                        <!--a class='k-button' ng-click="openWinCustRefer()" ng-disabled="isSave"><i class='pf-icon pf-16 pf-book'></i></a-->
                                    </td>
                                    <td>
                                        <label>OKПO</label>
                                        <input ng-model="credit.custValue" 
                                               id="refCust" 
                                               name="refCust" 
                                               class="k-textbox" 
                                               ng-minlength="8" 
                                               ng-maxlength="10" 
                                               style="width:100px"
                                               disabled/>
                                    </td>
                                    <td>
                                        <label>Реє. №</label>
                                        <input id="inptRnk" 
                                               type="text" 
                                               ng-model="credit.rnkValue" 
                                               name="inptRnk" 
                                               class="k-textbox" 
                                               ng-model-options="{ updateOn: 'blur' }" 
                                               ng-chang="readVidd()" 
                                               style="width:100px" 
                                               disabled/>
                                        <span style="color: red" ng-show="!isCustValueValid()">Обов'язкове</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="2">
                                        <input id="inptNmk" 
                                               type="text" 
                                               ng-model="credit.nmkValue" 
                                               name="inptNmk" 
                                               class="k-textbox" 
                                               style="width:300px"
                                               disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="lbl-top">Ризик(S080)</label>
                                    </td>
                                    <td>
                                        <label class="lbl-top">Кл.позичальника</label>
                                    </td>
                                    <td>
                                        <label class="lbl-top">Обслуг.боргу</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="inptSId" type="text" ng-model="credit.sIdValue" disabled name="inptSId" class="k-textbox" style="width:30px" />
                                        <input id="inptSCat" type="text" ng-model="credit.sCatValue" disabled name="inptSCat" class="k-textbox" style="width:100px" />
                                    </td>
                                    <td>
                                        <select kendo-drop-down-list name="ddlFin" id="ddlFin" style="width: 150px" k-ng-model="credit.finValue" k-options="ddlFinOptions" k-ng-disabled="isSave"></select>
                                    </td>
                                    <td>
                                        <select kendo-drop-down-list name="ddlObs" id="ddlObs" style="width: 150px" k-ng-model="credit.obsValue" k-options="ddlObsOptions" k-ng-disabled="isSave"></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Початкова сума</label>
            </td>
            <td>
                <input kendo-numeric-text-box k-min="0"
                       k-max="999999999999999999999999999999"
                       k-ng-model="credit.sumValue"
                       k-ng-disabled="isSave"
                       name="inptSum"
                       ng-blur="FillLim()" 
                       />
                <span style="color: red" ng-show="!isSumValueValid()">Обов'язкове</span>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Поточний ліміт</label>
            </td>
            <td>
                <input kendo-numeric-text-box k-min="0"
                       k-max="999999999999999999999999999999"
                       k-ng-model="credit.lim"
                       name="inptSum"
                       disabled/>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Дати:</label>
            </td>
            <td>
                <table>
                    <tr>
                        <td width="120px"><label>Дата заключення</label></td>
                        <td>
                            <input masked-date-picker kendo-date-picker
                                   k-ng-model="credit.conslValue" 
                                   id="dpConsl" 
                                   k-options="dpConslOptions" 
                                   k-ng-disabled="isSaveFunc()"
                                    />
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><span style="color: red" ng-show="!isDatesValid() || !isCurrValid()">{{DatesValidMsg}}</span></td>
            <td>
                <table>
                    <tr>
                        <td width="120px"><label>Дата початку</label></td>
                        <td>
                            <input masked-date-picker kendo-date-picker
                                   k-ng-model="credit.startValue" 
                                   id="dpStart" 
                                   k-options="dpConslOptions" 
                                   k-ng-disabled="isSaveFunc()"
                                   />
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td width="120px"><label>Дата видачі</label></td>
                        <td>
                            <input masked-date-picker kendo-date-picker="dpIssue"
                                   name="dpIssue" 
                                   k-ng-model="credit.issueValue" 
                                   k-options="dpConslOptions" 
                                   data-issue-msg="Не коректна дата видачі" 
                                   k-ng-disabled="isSaveFunc()"
                                   />
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td width="120px"><label>Дата завершення</label></td>
                        <td>
                            <input masked-date-picker kendo-date-picker="dpEnd"
                                   name="dpEnd" 
                                   k-ng-model="credit.endValue" 
                                   k-options="dpConslOptions" 
                                   data-end-msg="Не коректна дата завершення" 
                                   k-ng-disabled="isSaveFunc()"
                                   /></td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Вид</label>
            </td>
            <td>
                
            </td>
            <td colspan="2" rowspan="8">
                <div class="panel panel-default" style="display: inline-flex;width:100%">
                    <div class="panel-body">
                        <div class="form-group">
                            <label><b>Відсотки</b></label>
                            <table border="0">
                                <tr>
                                    <td>
                                        <label>Валюти і ставки</label>
                                        <span style="color: red" ng-show="!isBaseRateValueValueValid()">Обов'язкове</span>
                                    </td>
                                    <td>
                                        <label class="lbl-top" ng-show="custtype==3">Базова ставка</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input ng-model="credit.curValue.KV"
                                               ng-disabled="true"
                                               class="k-textbox" 
                                               style="width: 50px;margin-left: 38px"/>
                                        <input kendo-numeric-text-box k-min="0" 
                                               ng-disabled="isSaveFunc()"
                                               k-max="100" 
                                               k-ng-model="credit.rateAValue" 
                                               style="width: 70px"/>
                                    </td>
                                    <td>
                                        <input ng-model="credit.baseRateValue" 
                                               ng-show="custtype==3" 
                                               id="refBaseRate" 
                                               name="refBaseRate" 
                                               class="k-textbox" 
                                               style="width: 70px"
                                               disabled/>
                                        @*<a class='k-button' ng-click="showReferBRate('BRATES','BR_ID,NAME','where br_id in (select br_id from br_normal where kv=980) order by br_id desc')" ng-show="custtype==3" ng-disabled="isSave"><i class='pf-icon pf-16 pf-book'></i></a>*@
                                        
                                        <kendo-button ng-disabled="isSaveFunc()"
                                                      ng-click="showReferBRate('BRATES','BR_ID,NAME','')"
                                                      ng-show="custtype==3"
                                                      class="pf-icon pf-16 pf-book">
                                        </kendo-button>

                                        <input ng-model="credit.baseRateNameValue" 
                                               ng-show="custtype==3"
                                               disabled
                                               id="refBaseNameRate" 
                                               name="refBaseNameRate" 
                                               class="k-textbox" 
                                               style="width: 200px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <kendo-button ng-disabled="isSaveFunc()" title="Очистити"
                                                      ng-click="clearReferKv('currBValue', 'rateBValue')"
                                                      class="pf-icon pf-16 pf-delete">
                                        </kendo-button>
                                        <kendo-button ng-disabled="isSaveFunc()" title="Довідник"
                                                      ng-click="showReferKv('TABVAL','KV,NAME','where d_close is null order by KV DESC', 'currBValue')"
                                                      class="pf-icon pf-16 pf-book">
                                        </kendo-button>
                                        <input ng-model="credit.currBValue" class="k-textbox" style="width: 50px" ng-disabled="true" />
                                        <input kendo-numeric-text-box k-min="0" k-max="100" k-ng-model="credit.rateBValue" style="width: 70px" k-ng-disabled="isSaveFunc()" />
                                    </td>
                                    <td>
                                        <label class="lbl-top">База нарахування</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <kendo-button ng-disabled="isSaveFunc()" title="Очистити"
                                                      ng-click="clearReferKv('currCValue', 'rateCValue')"
                                                      class="pf-icon pf-16 pf-delete"></kendo-button>
                                        <kendo-button ng-disabled="isSaveFunc()" title="Довідник"
                                                      ng-click="showReferKv('TABVAL','KV,NAME','where d_close is null order by KV DESC', 'currCValue')"
                                                      class="pf-icon pf-16 pf-book">
                                        </kendo-button>
                                        <input ng-model="credit.currCValue" class="k-textbox" style="width: 50px" ng-disabled="true" />
                                        <input kendo-numeric-text-box k-min="0" k-max="100" k-ng-model="credit.rateCValue" style="width: 70px" k-ng-disabled="isSaveFunc()" />
                                    </td>
                                    <td>
                                        <select kendo-drop-down-list name="ddlBAsey" id="ddlBAsey" style="width: 300px" k-ng-model="credit.baseyValue" k-options="ddlBaseyOptions"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <kendo-button ng-disabled="isSaveFunc()" title="Очистити"
                                                      ng-click="clearReferKv('currDValue', 'rateDValue')"
                                                      class="pf-icon pf-16 pf-delete"></kendo-button>
                                        <kendo-button ng-disabled="isSaveFunc()" title="Довідник"
                                                      ng-click="showReferKv('TABVAL','KV,NAME','where d_close is null order by KV DESC', 'currDValue')"
                                                      class="pf-icon pf-16 pf-book">
                                        </kendo-button>
                                        <input ng-model="credit.currDValue" class="k-textbox" style="width: 50px" ng-disabled="true" />
                                        <input kendo-numeric-text-box k-min="0" k-max="100" k-ng-model="credit.rateDValue" style="width: 70px" k-ng-disabled="isSaveFunc()" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <kendo-button ng-disabled="isSaveFunc()" title="Очистити"
                                                      ng-click="clearReferKv('currEValue', 'rateEValue')"
                                                      class="pf-icon pf-16 pf-delete">
                                        </kendo-button>
                                        <kendo-button ng-disabled="isSaveFunc()" title="Довідник"
                                                      ng-click="showReferKv('TABVAL','KV,NAME','where d_close is null order by KV DESC', 'currEValue')"
                                                      class="pf-icon pf-16 pf-book">
                                        </kendo-button>
                                        <input ng-model="credit.currEValue" class="k-textbox" style="width: 50px" ng-disabled="true" />
                                        <input kendo-numeric-text-box k-min="0" k-max="100" k-ng-model="credit.rateEValue" style="width: 70px" k-ng-disabled="isSaveFunc()" />
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <select kendo-drop-down-list style="width: 150px" k-ng-model="credit.listUnsedValue" k-options="ddlListUnsedOptions" ></select>
            </td>
            <td><label>Джерело залучення коштів</label></td>
        </tr>
        <tr>
            <td>
                <select kendo-drop-down-list="ddlVidd" 
                        name="ddlVidd" 
                        id="ddlVidd" 
                        style="width: 200px" 
                        k-ng-model="credit.viddValue" 
                        k-options="ddlViddOptions" >
                </select>
                <span style="color: red" ng-show="!isDdlAimEnabled()">Оберіть позичальника</span>
                <span style="color: red" ng-show="!isDdlViddValueValid() && isDdlAimEnabled()">Обов'язкове</span>
            </td>
            <td>
                <select kendo-drop-down-list="ddlSour" name="ddlSour" id="ddlSour" style="width: 250px" k-ng-model="credit.sourValue" k-options="ddlSourOptions" k-ng-disabled="isSaveFunc()"></select>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Ціль</label>
            </td>
            <td>
                <label>Продукт</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <select kendo-drop-down-list="ddlAim" name="ddlAim" id="ddlAim" style="width: 200px" k-ng-model="credit.aimValue" k-options="ddlAimOptions" k-ng-disabled="isSaveFunc()" ></select>
                <span style="color: red" ng-show="!isDdlAimEnabled()">Оберіть позичальника</span>
            </td>
            <td>
                <input ng-model="credit.prodValue" id="refProd" name="refProd" class="k-textbox" style="width: 200px" disabled/>
                @*<a class='k-button' ng-click="showReferProd('CC_POTR','ID,NAME')" ng-disabled="isSave"><i class='pf-icon pf-16 pf-book'></i></a>*@

                <kendo-button ng-disabled="isSaveFunc()"
                              ng-click="showReferProd('CC_POTR','ID,NAME')"
                              ng-show="isPruductBtnVisible()"
                              class="pf-icon pf-16 pf-book">
                </kendo-button>
                <span style="color: red" ng-show="!isPruductBtnEnabled()">Оберіть ціль</span>
                <span style="color: red" ng-show="!isProdValueValid() && isPruductBtnEnabled()">Обов'язкове</span>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <input ng-model="credit.prodNameValue" disabled id="refProdName" name="refProdName" class="k-textbox" style="width:400px" />
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
               @*<input type="checkbox" ng-model="credit.serviceValue" id="chkService" name="chkService" /> *@  <label>Обслуговування по схемі: </label>
                <select kendo-drop-down-list style="width: 100px" k-ng-model="credit.serviceValue" k-options="ddlListServiceOptions"></select>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><br /></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><br /></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">
                <label>Платіжні інструкції</label>
                <input type="text" ng-model="credit.mfoValue" ng-disabled="isSaveFunc()" class="k-textbox" style="width: 100px" />
                @*<a class='k-button' ng-click="showReferBanks('BANKS','MFO,SAB,NB','where blk!=4')" ng-disabled="isSave"><i class='pf-icon pf-16 pf-book'></i></a>*@
                
                <kendo-button ng-disabled="isSaveFunc()"
                              ng-click="showReferBanks('BANKS','MFO,SAB,NB','where blk!=4')"
                              class="pf-icon pf-16 pf-book">                    
                </kendo-button>
                
                <input type="text" name="nls" id="nls" ng-model="credit.nlsValue" ng-disabled="isSaveFunc()" class="k-textbox" style="width: 200px" data-nls-msg="Не вірний контрольний розряд рахунку"/>
                <input type="text" ng-model="credit.branchNameValue" ng-disabled="isSaveFunc()" class="k-textbox" style="width: 400px" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="lbl-top">Докладно: Опис мети</label>
            </td>
            <td colspan="2">
                <label class="lbl-top">Докладно: Опис забезпечення</label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea id="taPurpose" name="taPurpose" ng-model="credit.purposeValue" rows="4" class="k-textbox" style="width: 400px" ng-disabled="isSaveFunc()"></textarea>
            </td>
            <td colspan="2">
                <textarea id="taGuarantee" name="taGuarantee" ng-model="credit.guaranteeValue" rows="4" class="k-textbox" style="width: 400px" ng-disabled="isSaveFunc()"></textarea>
            </td>
        </tr>
    </table>
    <div kendo-window="winCustRefer"
         k-title="'Контрагенти'"
         k-width="800"
         k-height="600"
         k-visible="false"
         k-modal="true">
        <div>
            <div kendo-grid="gridCust" k-options="gridCustOptions"></div>
        </div>
        <div>

        </div>
    </div>
</div>