@{    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Портфель робочих кредитів ЮО";
}
<script src="@Url.Content("~/lib/jsZip/jszip.js")"></script>
<script src="@Url.Content("~/Areas/CreditUi/Scripts/portfolio.js")"></script>
<script src="@Url.Content("~/Areas/CreditUi/Scripts/creditUI.js")"></script>
<h1 style="padding-bottom: 0px; padding-top: 0px;">@ViewBag.title</h1>
<style>
    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .k-grid {
        margin-right: 15px;
       
    }

    .k-grid td {
        white-space: nowrap;
        border-bottom: 1px solid black;
        padding:.3em .4em;
         
    }
    div.k-grid .k-selectable a {
        TEXT-DECORATION: underline;
        COLOR: rgb(51,153,255);
    }

    div.k-grid .k-selectable tr.k-state-selected a {
        TEXT-DECORATION: underline;
        COLOR: white;
    }
    .k-grid-filter.k-state-active {
        background-color: lightslategray; 
}
    .k-grid-header th.k-with-icon .k-link{
        margin-right: 6px;
    }

    div.k-grid .k-selectable tr.k-state-selected {
        background-color: #428bca;
    }

    .k-grid-content {
        min-height: 100px;
        max-height: 700px;
    }

    .row {
        padding-top: 3px;
    }
    .k-grid td {
        line-height: 1.5em;
        font-size: 0.95em;
    }
    .legend {
        vertical-align: middle;
        display: inline-block;
        margin-left: 10px;
        width: 20px;
        height: 20px;
        margin-left: 10px !important;
    }

    .normal {
        background-color: #c2dfc2;
    }

    .today {
        background-color: #dba6ff;
    }

    .this_week {
        background-color: #12e1e1;
    }
    .this_month {
        background-color: #ffcc99;
    }
    .prostr{
        background-color: #ff9999;
    }
</style>

<div style="margin-top: 5px">
    <div id="gridPortfolio" class="fixed_headers"></div>
</div>
   
