div.wrapper {
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10%;
}

div.inline {
    display: inline-block;
}

.tabLayout {
    padding: 1em;
}

.toolbarLayout {
    margin-bottom: 5px;
}

.wrapper {
    max-height: 100px;
    transition: .8s;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 0px;
}

    .wrapper.hidden {
        max-height: 0;
    }

.button {
    background-image: none;
}

.active {
    color: #fff;
    background-color: #32408f;
    border-color: #32408f;
}

.disabled {
    background: #eee;
    color: #aaa;
}


/* --- rows bg-color mark classes --- */
.COLOR_LightGray {
    color: #293846;
    font-weight: bold;
}

.COLOR_Sky {
    color: black;
    font-weight: bold;
}

.COLOR_DarkGreen {
    color: #1f622b;
    font-weight: bold;
}

.COLOR_MidnightBlue {
    color: #0F2543;
    font-weight: bold;
}

.COLOR_DarkRed {
    color: #5f2200;
    font-weight: bold;
}

/** --- grid header ----*/

.k-grid-header th.k-with-icon .k-link {
    margin-right: 0px;
    font-size: 11px;
}

.k-header .k-link {
    text-align: center;
    font-size: 11px;
}

.k-grid-header th.k-header, .k-filter-row th {
    text-align: center;
    font-size: 11px;
}

.k-list-optionlabel {
    font-size: 13px;
}

.k-filter-menu [type="submit"] {
    width: 54% !important;
    margin-right: 1% !important;
    text-align: center !important;
}

.k-filter-menu [type="reset"] {
    width: 44% !important;
    margin-left: 1% !important;
    text-align: center !important;
}
