.parentTable
{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Lucida Grande' , Geneva, Arial, Tahoma, Verdana, Helvetica, sans-serif;
	color: #4C5967;
}

table
{
	border: none;
}

.barsGridView
{
	width: 100%;
	border: none;
	border-left: solid 1px #bdcff7;
	border-right: solid 1px #bdcff7;
	border-top: dotted 1px #bdcff7;
	border-bottom: solid 1px #bdcff7;
}

.barsGridView th
{
	padding: 3px 3px 3px 3px;
	border: none;
	border-right: dotted 1px #bdcff7;
	border-bottom: dotted 1px #bdcff7;
}


.barsGridView tr
{
}

.barsGridView td
{
	padding: 3px 3px 3px 3px;
	white-space: nowrap;
	border: none;
	border-right: solid 1px #E0E0E0;
	border-bottom: solid 1px #bdcff7;
}

.barsGridView tr a
{
}

.selectedRow
{
	background-color: #0977B9;
	color: White !important;
}
.headerRow
{
}

.headerRow th
{
	font-size: 9pt;
	text-align: center;
}

.headerRow th a
{
	text-decoration: none;
	color: #1a4784;
}

.footerRow
{
}

.footerRow td
{
	padding: 0px 0px 0px 0px;
	font-size: 8pt;
	border: none;
}

.footerRow td input
{
	font-size: 8pt;
}

.footerTable
{
	border-top: solid 1px #bdcff7;
}

.normalRow
{
	background-color: #F0F0F0;
}

.alternateRow
{
	background-color: White;
}


.newRow
{
}

.newRow td
{
	padding: 0px 1px 0px 0px;
}

.editRow
{
}

.pagerRow
{
	padding: 0px 0px 0px 0px;
	background: url(/common/images/skin/title_fg.gif) repeat-x bottom;
}


.pagerRow td
{
	padding: 0px 0px 0px 0px;
}

/*€чейка пейджера*/
.pagerRow td table tr td
{
	padding: 1px 1px 1px 1px;
	border: none;
}

/*линк пейджера*/
.pagerRow td table tr td a
{
	font-size: 8pt;
	padding: 0px 3px 0px 3px;
}
/*текуща€ страница пейджера*/
.pagerRow td table tr td span
{
	font-size: 10pt;
}

.filterRow input
{
	font-size: x-small;
	margin-top: 2px;
	width: 100%;
}

.filterRow select
{
	font-size: x-small;
}

.captionHeader
{
	background-color: #94ABD9;
}

.captionBody
{
	width: 100%;
	text-align: justify; /*background-image:url(/common/images/skin/gradient_main.png);*/
	background: url(/common/images/skin/title_bg.gif) no-repeat;
	background-repeat: repeat-x;
	height: 20px;
	border-right: solid 1px #bdcff7;
}
.captionBody tr td
{
	white-space: nowrap;
}

.captionBodySimple
{
	width: 100%;
	text-align: justify;
	padding-bottom: 3px;
	height: 20px;
	border-left: solid 1px #bdcff7;
	border-right: solid 1px #bdcff7;
	border-top: solid 1px #bdcff7;
}

.captionBodySimple tr td
{
	white-space: nowrap;
}

.cell
{
	width: auto;
	
	color:Red;
}
.captionText
{
	width: 100%;
	font-size: 10pt;
	font-weight: bold;
	color: White;
	vertical-align: middle;
	text-align: center;
}

.emptyMessage
{
	padding: 3px 50px 3px 50px;
	text-align: center;
}

.tableTitle
{
	font-size: 11pt;
	color: #1C4B75;
	margin-bottom: 15px;
	margin-top: 7px;
}
