//Параметры
2                              //STRUCT TYPE






//информационные строки
3       0 'D' 'DR_B'          //Дата народження відправника
10      0 'N' 'PASP_B'          //Номер документа отримувача
11      0 'D' DR_B'           //Дата народження отримувача
6       1  N 'PayerMFO'       //МФО А
5       1  N 'PayerAccount'   //Рахунок А
14      1  N 'PayeeMFO'       //МФО Б
13      1  N 'PayeeAccount'   //Рахунок Б
8      1  N 'Amount1'        //Сума(в коп.)
19      1  N 'Currency1'      //Валюта
4       0  S 'PayerName'      //ПІБ відправника
12      0  S 'PayeeName'      //ПІБ отримувача
7       1  S 'Details'        //Призначення
1       0  S 'PayerOKPO'      //Ідентифікаційний код відправника
9       0  S 'PayeeOKPO'      //Ідентифікаційний код отримувача
2       0  N 'PASP_A'          //Номер документа відправника
