@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Імпорт .dbf файла в АБС";
}

<div id="step1">
    <h2>@ViewBag.Title</h2>
    <label><input type="checkbox" checked="checked" id="cp866" /> Перекодувати Dos -> Windows</label>
    <input name="files" id="files" type="file"/>
</div>

<div id="step2" style="display: none;">
    <h4>Результат імпорту</h4>
    <div class="error_msg" style="display: none;">

    </div>
    <div class="succcess_import" style="display: none;">
        <span></span> &nbsp;
        <button id="procImportedBtn" class="k-button k-state-default">Розбір документів</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#files").kendoUpload({
            async: {
                saveUrl: '@Url.Action("Save")'
            },
            upload: function (e) {
                var result = { dosPage: 0 };
                if ($('#cp866').prop('checked')) {
                    result.dosPage = 1;
                }
                e.data = result;
            },
            multiple: false,
            localization: {
                select: "Оберіть файл для імпорту..."
            },
            success: function (e) {
                var importResult = $.parseJSON(e.XMLHttpRequest.responseText);
                $('#step2').show();
                $('#step2 .succcess_import').show();
                $('#step2 .succcess_import span').html("Імпортовано <strong>" + importResult.ImportedRows + "</strong> документів на суму <strong>" + importResult.ImportedSum + "</strong>");
                $('#step2 .error_msg').hide();
            },
            error: function (e) {
                $('#step2').show();
                $('#step2 .error_msg').show().html(e.XMLHttpRequest.responseText);
                $('#step2 .succcess_import').hide();
            }
        });

        $('#procImportedBtn').on("click", function() {
            window.location = "/barsroot/sberutls/importproc.aspx?tp=1";
        });
    });
</script>