@{
    Layout = null;
}
@using barsroot
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage
    @*@foreach (var item in Model)
    {*@
    <tr onclick="">
        <td></td>
        <td></td>
        <td></td>
    </tr>            
    @*}*@