@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<script src="/barsroot/scripts/respond.min.js"></script>

<script src="~/Scripts/jquery/jquery.iecors.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuBase.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuSigner.js?v1.2"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuCatalog.js?v1.1"></script>
<script src="~/lib/jsZip/jszip.min.js"></script>
<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMain.css">

<h1 id="title"></h1>

<div class="search-catalog"></div>

<div class="well" id="selectReceipt">
    <h2 class="ra-well-title">Виберіть тип квитанції</h2>
    <div class="form-horizontal form-widgets col-sm-3">
        <div class="form-group">
            <div class="col-sm-8">
                <select id="ddlViewBy">
                    <option value="kvit1">Квитанція 1_Про опрацювання конверту</option>
                    <option value="kvit2">Квитанція 2_Зарахування/не зарахування коштів на рахунки пенсіонерів</option>
                </select>
            </div>
        </div>
    </div>
    @*<div class="col-sm-10 bottom">
        <button id="SelectFiles" type="button" class="btn btn-primary col-sm-2">
            <i class="fa fa-pencil-square-o"></i> Вибрати
        </button>
    </div>*@
    <div class="clearfix"></div>
</div>


<div id="dvEnvelop" style="display:none">
    <!--фільтр конвертів-->
    @*<div class="well">
            <h2 class="ra-well-title">Фільтр по конвертах</h2>
            <div class="form-horizontal form-widgets col-sm-3">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="searchDateEnvelop"><b>Дата конверту:</b></label>
                    <div class="col-sm-8">
                        <input type="text" id="searchDateEnvelop" placeholder="Вкажіть дату конверту" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="searchIdEnvelop"><b>ID конверту:</b></label>
                    <div class="col-sm-8">
                        <input type="text" class="k-textbox" id="searchIdEnvelop" placeholder="Вкажіть ID конверту" />
                    </div>
                </div>
            </div>
            <div class="form-horizontal form-widgets col-sm-3">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="searchStateEnvelop"><b>  Статус конверту:</b></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="searchStateEnvelop" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 bottom">
                <button onclick="searchEnvelop()" type="button" class="btn btn-primary col-sm-2">
                    <i class="fa fa-search"></i> Пошук
                </button>
            </div>
            <div class="clearfix"></div>
        </div>*@
    <!--перелік конвертів-->
    <div id="tabstripConverts">
        <h2 style="margin: 5px">Перелік конвертів ПФУ</h2>
        <ul>
            <li>Перелік конвертів ПФУ</li>
            <li>Відправлені конверти в ПФУ</li>
        </ul>
        <div id="tabfirst">
            <div id="gridEnvelope" style="padding:-20px"></div>
            <script type="text/x-kendo-template" id="envelopeTitle-template">
                <div class="toolbar">
                    <button id="approveMatching" class='k-button' onclick="approveMatching()">
                        <i class="pf-icon pf-16 pf-ok"></i>
                        Виконати відправку
                    </button>
                </div>
            </script>
        </div>
        <div id="tabsecound">
            <div id="SentConvertsgrid"></div>
            <script type="text/x-kendo-template" id="sentconvert-template">
                <div class="toolbar">
                    <button id="approveMatchingConvert" class='k-button' onclick="approveMatching()">
                        <i class="pf-icon pf-16 pf-ok"></i>
                        Виконати відправку
                    </button>
                </div>
            </script>
        </div>
    </div>
        
    </div>
<span id="popupNotification"></span>
<div class="well" id="dvFilesFilter">
    <h2 class="ra-well-title">Фільтр по реєстрам</h2>
    <div class="form-horizontal form-widgets col-sm-6">
        <div class="form-group">
            <label class="control-label col-sm-4" for="searchDate"><b>Дата реєстру:</b></label>
            <div class="col-sm-3">
                <input type="text" id="searchDate" placeholder="Вкажіть дату реєстру" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="searchId"><b>ID реєстру:</b></label>
            <div class="col-sm-3">
                <input type="text" class="k-textbox" id="searchId" placeholder="Вкажіть ID реєстру" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="searchPayDate"><b>Дата&nbsp;платіжного&nbsp;календаря&nbsp;ПФУ:</b></label>
            <div class="col-sm-3">
                <input type="text" id="searchPayDate" placeholder="Вкажіть дату оплати" />
            </div>
        </div>
    </div>
    <div class="form-horizontal form-widgets col-sm-3 col-md-pull-1">
        <div class="form-group">
            <label class="control-label col-sm-4" for="searchMfo"><b>МФО:</b></label>
            <div class="col-sm-8">
                <input type="text" class="k-textbox" id="searchMfo" placeholder="Вкажіть МФО" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="searchState"><b>Статус&nbsp;реєстру:</b></label>
            <div class="col-sm-8">
                <input class="form-control" id="searchState" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="searchFileType"><b>Тип файлу:</b></label>
            <div class="col-sm-8">
                <input class="form-control" id="searchFileType" />
            </div>
        </div>
    </div>
    @*<div class="col-sm-6 bottom">
        <button id="SearchFiles" type="button" class="btn btn-primary col-sm-2">
            <i class="fa fa-search"></i> Пошук
        </button>
    </div>*@
    <div class="clearfix"></div>
</div>
<div id="tabstrip">
        <h2 style="margin: 5px">Перелік реєстрів ПФУ</h2>
    <ul>
        <li>Перелік реєстрів</li>
        <li>Інформаційні рядки реєстру</li>
        @*<li id="ttab3">Відправлені реєстри в ПФУ</li>*@@*<li>Перелік реєстрів (історія)</li>*@
       
    </ul>
    <div id="tab1">
        <div id="gridFiles"></div>
    </div>
    <div id="tab2">
        <div id="gridRecords"></div>
    </div>
    <div id="tab3">
        <div id="gridHistory"></div>
    </div>
</div>

<script type="text/x-kendo-template" id="historyTitle-template">
    <div class="toolbar">
        <h2 style="margin: 5px">Перелік історії реєстрів</h2>
    </div>
</script>

<script type="text/x-kendo-template" id="fileTitle-template">
    <button onclick="goToLines(true)" class='k-button'>
        <i class="pf-icon pf-16 pf-arrow_right"></i>
        Перегляд реєстру
    </button>
    <button id="payFileBtn" class='k-button' style="display:none">
        <i class="pf-icon pf-16 pf-accept_doc"></i>Виконати оплату реєстру@*Помітити до оплати*@
    </button>
    <button id="payCommonBtn" class='k-button' style="display:none">
        <i class="pf-icon pf-16 pf-accept_doc"></i>Створити загальний платіж
    </button>
    <button id="balanceReq" class='k-button' style="display:none">
        Запит залишку в РУ
    </button>
   
</script>

<script type="text/x-kendo-template" id="lineTitle-template">
    @*<button id="LoadInfExelBtn" class='k-button'>
        <i class="pf-icon pf-16 pf-accept_doc"></i>Вигрузка в Excel
    </button>*@
    <button onclick="switchTab(0)" class='k-button'>
        <i class="pf-icon pf-16 pf-arrow_left"></i>
        До переліку реєстрів
    </button>
    <button id="removeFromPayBtn" class='k-button' style="display:none">
        <i class=""></i>Виключити з платежу
    </button>


</script>

<div id="dialogRemoveFromPay">
    <div id="gridRemoveFromPay"></div>
    <div style="margin-top: 4px;text-align: center;">
        <button id="confirmBlock" class="k-button k-primary">Виключити з платежу?</button>
    </div>
</div>