@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<script src="/barsroot/scripts/respond.min.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuBase.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuSync.js"></script>

<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMain.css">
<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuSync.css">

<h1 id="title">Синхронізація ЄБП</h1>

<div class="well" id="dvFilesFilter">
    <h2 class="ra-well-title">Синхронізація ЄБП</h2>
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <div class="form-group">
                <label for="searchMFO"><b>Код МФО:</b></label>
                <input type="text" class="form-control" id="searchMFO" placeholder="Вкажіть код МФО" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="searchStatus"><b>Статус:</b></label>
                <input type="text" class="form-control" id="searchStatus" placeholder="Вкажіть статус" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-1">
            <br>
            <button id="SearchBtn" type="button" class="btn btn-primary" style="margin-left: 45px">
                <i class="fa fa-search"></i> Пошук
            </button>
        </div>

        <div class="col-md-offset-4 col-md-2">
            <br>
            <button id="SyncBtn" type="button" class="btn btn-primary" style="margin-left: 25px">
                <i class="fa fa-recycle"></i> Синхронізувати
            </button>
        </div>

    </div>
    <div class="clearfix"></div>
</div>

<div id="gridFiles"></div>

<div id="dialogSync">
    <div id="gridSync"></div>
    <div style="margin-top: 4px;text-align: center;">
        <button id="confirmBlock" class="k-button k-primary">Синхронізувати?</button>
    </div>
</div>