<div id="acskCertificatesWindow"
     kendo-window="relCustCtrl.certificatesWindow"
     class="k-box-size-inh wrapper-sm"
     k-options="relCustCtrl.acsk.certificatesWindowOptions"
     style="display:none;">
    <h2>Доступні сертифікати</h2>

    <div class="cl-user-box k-popup-edit-form">
        <div class="edit-box wrapper-sm" ng-repeat="item in relCustCtrl.acsk.certificates" >
            <div class="row">
                <div class="col-sm-4">
                    № запиту: <b>{{item.Id}}</b>
                </div>
                <div class="col-sm-4">
                    Статус запиту: <b>{{item.RequestState}}</b>
                </div>
                <div class="col-sm-4">
                    Дата: <b>{{ relCustCtrl.toDate(item.RequesTime) | date:'dd.MM.yyyy HH:mm:ss'}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Назва шаблону: <b>{{item.TemplateName}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Серійний номер сертифікату: <b>{{item.CertificateSn}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Статус сертифікату: <b>{{relCustCtrl.acsk.GetCrtState(item.RevokeCode)}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="k-button"
                            ng-click="relCustCtrl.acsk.printCertificate(item)">
                        роздрукувати
                    </button>
                    <button class="k-button"
                            ng-click="relCustCtrl.acsk.showChangeCertificateStateWindow(item)">
                        змінити статус
                    </button>
                </div>
                <div class="col-sm-6" style="text-align:right" ng-show="item.CertificateSn">
                    <button class="k-button"
                            ng-click="relCustCtrl.acsk.displayCertificate(item.CertificateBody)">
                        показати
                    </button>
                    <button class="k-button"
                            ng-click="relCustCtrl.acsk.installCertificate(item)">
                        встановити
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>