@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Встановлення лімітів прямим учасникам.";
}
<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
<script src="~/Areas/Sep/Scripts/sep.setLimitsPartCtrl.js"></script>

<h1>Встановлення лімітів прямим учасникам</h1>
<div id="setLimitToolbar"></div>
<div id="setLimitGrid"></div>