@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Дилер. Задоволення заявок клієнтів.";
}

<script src="~/Areas/Zay/Scripts/Dealer/Zay.DealerCtrl.js?v1.0.1"></script>
<script src="~/Areas/Zay/Scripts/Dealer/BuyCtrls/Zay.RateConfig.js"></script>
<script src="~/Areas/Zay/Scripts/Dealer/BuyCtrls/Zay.RateCtrl.js"></script>
<script src="~/Areas/Zay/Scripts/Dealer/BuyCtrls/Zay.ReasonCtrl.js"></script>
<script src="~/Areas/Zay/Scripts/Dealer/BuyCtrls/Zay.VizaViewCtrl.js"></script>
<script src="~/lib/jsZip/jszip.min.js"></script>

<script>
    var glDilViza = '@ViewBag.dilViza';
    var glBankDate = '@ViewBag.bankDate';
</script>
<link href="~/Areas/Zay/Css/styles.css" rel="stylesheet">
<link href="~/Areas/Zay/Css/dilerStyle.css" rel="stylesheet">

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>

@Html.Partial("Tabs")
