@using GridMvc.Html
@using Infrastructure.Extensions
@using Models
@inherits WebViewPage< GridMvc<V_TOBO_CUST>>
@{
  Layout = null;
}


@helper RenderRnk(decimal rnk)
{
  <a style="border:0;" onclick="viewSelCustomer(@rnk);return false;" href="@Url.Content("~/customers/item/")?id=@rnk">
    @rnk
  </a>
}
@helper RenderCusType(V_TOBO_CUST cust)
{
  switch (cust.CUSTTYPE)
  {
    case 1:<text>Юридична особа-Банк</text> break;
    case 2:<text>Юридична особа</text> break;
    case 3:<text>Фізична особа</text> break;
    default:<text></text> break;
  }
}

@Html.Grid(Model).Named("CustomersGrid").Columns(columns =>
    {
      columns.Add(o => o.RNK).Titled("Реєстр. номер")
        .Encoded(false)
        .Sanitized(false)
        .Filterable(true)
        .RenderValueAs(i=>RenderRnk(i.RNK));
      columns.Add(o => o.ND).Titled("№ договору")
        .Encoded(false)
        .Sanitized(false)
        .Filterable(true);
      columns.Add(o => o.OKPO).Titled("Код ЗКПО")
        .Encoded(false)
        .Sanitized(false)
        .Filterable(true);
      columns.Add(o => o.CUSTTYPE,"CUSTTYPE").Titled("Тип контрагента")
        .Encoded(false)
        .Sanitized(false)
        .Filterable(true)
        .RenderValueAs(o=>RenderCusType(o));
      columns.Add(o => o.NMK).Titled("Найменування")
        .Encoded(false)
        .Sanitized(false)
        .Filterable(true);
      columns.Add(o => o.DATE_ON).Titled("Зареєстрований")
        .Format("{0:dd/MM/yyyy}")
        .SetFilterWidgetType(string.Empty, new { format = "dd/mm/yyyy" });
      columns.Add(o => o.DATE_OFF, "OrderCustomDate").Titled("Закритий")
        .Format("{0:dd/MM/yyyy}")
        .SetFilterWidgetType(string.Empty, new { format = "dd/mm/yyyy" });
      columns.Add(o => o.BRANCH).Titled("Відділення")
        .Encoded(false)
        .Sanitized(false)
        .Filterable(true);
    }).WithPaging(10).Sortable().Filterable().WithMultipleFilters()
