<div id="detailsWindow">
    <div id="sepDocTabs">
        <ul>
            <li>Документ</li>
            <li>Тех.реквізити</li>
        </ul>
        <div id="tab1">
            <div id="tab1RowDetails"></div>
        </div>
        <div id="tab2">
            <div id="tab2RowDetailsA"></div>
            <div id="tab2RowDetailsB"></div>
        </div>
    </div>
</div>

<script>
    bars.sepfiles = bars.sepfiles || {};
    bars.sepfiles.sepDocViewer = {
        tabstrip: $("#sepDocTabs").kendoTabStrip().data("kendoTabStrip"),
        loadFirstTab: function(data) {
            var templateTab1 = kendo.template($("#Tab1DetailsTemplate").html());
            $("#tab1RowDetails").html(templateTab1(data));
        },
        loadSecondTab: {
            part1: function (data) {
                var templateTab2A = kendo.template($("#Tab2DetailsTemplateA").html());
                $("#tab2RowDetailsA").html(templateTab2A(data));
            },
            part2: function (data) {
                var templateTab2B = kendo.template($("#Tab2DetailsTemplateB").html());
                $("#tab2RowDetailsB").html(templateTab2B(data));
            }
        },
        show: function() {
            var win = $("#detailsWindow").data("kendoWindow");
            win.center().open();
        }
    };
    

    $("#detailsWindow").kendoWindow({
        visible: false,
        width: "700px",
        resizable: false,
        actions: ["Close"]
    });
    bars.sepfiles.sepDocViewer.tabstrip.select(0);

</script>

<script type="text/x-kendo-template" id="Tab1DetailsTemplate">
    <table style="width:100%;">
        <tr>
            <td colspan="4"><b>ПЛАТІЖНЕ ДОРУЧЕННЯ №</b>#=ND#</td>
        </tr>
        <tr>
            <td colspan="2"><b>Дата валютування: &nbsp</b>#=kendo.toString(DAT_A,'dd.MM.yyyy')#</td>
            <td colspan="2"><b>ДЕБЕТ</b></td>
        </tr>
        <tr style="border-top: 1px solid;">
            <td><b>Відправник: </b><br /> #=NAM_B || NAMB#</td>
            <td><b>Код ОКПО: </b><br /> #=ID_B#</td>
            <td><b>Рахунок: </b><br /> #=NLSB#</td>
            <td><b>Валюта: </b><br />#=KV#</td>
        </tr>
        <tr>
            <td colspan="2"><b>Банк відправника: </b><br /> #=NBA# </td>
            <td><b>МФО: </b><br /> #=MFOB#</td>
            <td><b>Сума: </b>#=S.toFixed(2)#</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="2"><b>КРЕДИТ</b></td>
        </tr>
        <tr style="border-top: 1px solid;">
            <td><b>Одержувач: </b><br /> #=NAM_A || NAMA#</td>
            <td><b>Код ОКПО: </b><br /> #=ID_A#</td>
            <td><b>Рахунок: </b><br /> #=NLSA#</td>
            <td rowspan="2"></td>
        </tr>
        <tr>
            <td colspan="2"><b>Банк одержувача: </b><br>#=NB#</td>
            <td><b>МФО: </b><br /> #=MFOA#</td>
        </tr>
        <tr style="border-top: 1px solid;">
            <td colspan="4"><b>Назначення платежу: </b><br />#=NAZN#</td>
        </tr>
    </table>
</script>

<script type="text/x-kendo-template" id="Tab2DetailsTemplateA">
    <table style="width:100%;">
        <tr>
            <td colspan="3">Основні</td>
        </tr>
        <tr style="border-top: 1px solid;">
            <td><b>Дата вводу: </b></td>
            <td colspan="2">#=DAT_B ? kendo.toString(kendo.parseDate(DAT_B),'dd.MM.yyyy hh:mm:ss') : ''#</td>
        </tr>
        <tr>
            <td><b>Дата останнього візування: </b></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="3">Система електронних платежів</td>
        </tr>
        <tr style="border-top: 1px solid;">
            <td><b>Надійшов до банку А: </b></td>
            <td colspan="2">#=kendo.toString(DATP,'dd.MM.yyyy hh:mm:ss')#</td>
        </tr>
    </table>
</script>

<script type="text/x-kendo-template" id="Tab2DetailsTemplateB">
    <table style="width:100%;">
        <tr>
            <td><b>Отримано у файлі: </b></td>
            <td>#=FN#</td>
            <td>#=kendo.toString(kendo.parseDate(DAT),'dd.MM.yyyy hh:mm:ss')#</td>
        </tr>
        <tr>
            <td><b>Надійшов до нашого РЦ: </b></td>
            <td colspan="2">#=DAT_2 ? kendo.toString(kendo.parseDate(DAT_2),'dd.MM.yyyy hh:mm:ss') : ''#</td>
        </tr>
        <tr>
            <td><b>Зквитований: </b></td>
            <td colspan="2">#=DATK ? kendo.toString(kendo.parseDate(DATK),'dd.MM.yyyy hh:mm:ss') : ''#</td>
        </tr>
        <tr>
            <td><b>Відправлен: </b></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>Зквитований: </b></td>
            <td colspan="2"></td>
        </tr>
    </table>
</script>

