@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<script src="~/lib/jsZip/jszip.min.js"></script>
<script src="~/Areas/Acct/Controllers/StatementsCtrl.js?v1.4.1"></script>
<script src="~/Scripts/selectionTooltip.js?v3.1"></script>
<style>
    .color-red {
        color: red;
    }
</style>
<div ng-controller="Acct.StatementsCtrl as statementsCtrl">
    <h1 class="app-title">
        Виписка по рахунку
        <span class="small" ng-bind="statementsCtrl.statementData.accountNumber"></span>
        <span class="small" ng-bind=" '(' + statementsCtrl.statementData.accountCurrencyId + ')'"></span>
    </h1>
    <div data-kendo-toolbar="statementsCtrl.stToolbar" k-options="statementsCtrl.stToolbarOptions"></div>

    <div class="bg-light lter b-b wrapper-sm ng-scope">
        <table id="tbHeader" style="border: 1px solid #ccc; VERTICAL-ALIGN: sub; text-align: center;"
               cellSpacing="1" cellPadding="1" width="100%" align="center"
               border="0">
            <tr>
                <td style="WIDTH: 103px;">
                    <b>Дебет</b>
                </td>
                <td>
                    <b>Кредит</b>
                </td>
                <td style="HEIGHT: 19px">
                    <div></div>
                </td>
                <td style="HEIGHT: 19px">
                    <b>Фактична дата валютування</b>
                </td>
            </tr>
            <tr ng-class="statementsCtrl.statementTurnovers.InBalance <= 0 ? 'color-red' : ''">
                <td style="WIDTH: 103px; HEIGHT: 23px" nowrap="noWrap">
                    <div ng-show="statementsCtrl.statementTurnovers.InBalance <= 0"
                         ng-bind="statementsCtrl.statementTurnovers.InBalance | number : statementsCtrl.fractionSize "></div>
                </td>
                <td style="HEIGHT: 23px" nowrap="noWrap">
                    <div ng-show="statementsCtrl.statementTurnovers.InBalance > 0"
                         ng-bind="statementsCtrl.statementTurnovers.InBalance | number : statementsCtrl.fractionSize "></div>
                </td>
                <td style="HEIGHT: 23px; TEXT-ALIGN: center">
                    <div>Вхідне сальдо</div>
                </td>
                <td style="HEIGHT: 23px">
                    <div ng-bind="statementsCtrl.statementTurnovers.MinDate | date:'dd/MM/yyyy'"></div>
                </td>
            </tr>
            <tr>
                <td style="HEIGHT: 22px">
                    <div ng-bind="statementsCtrl.statementTurnovers.TurnoverDebit | number : statementsCtrl.fractionSize "></div>
                </td>
                <td style="HEIGHT: 22px">
                    <div ng-bind="statementsCtrl.statementTurnovers.TurnoverCredit | number : statementsCtrl.fractionSize "></div>
                </td>
                <td style="HEIGHT: 22px">
                    <div>Сума фактичних оборотів</div>
                </td>
                <td style="HEIGHT: 22px"></td>
            </tr>
            <tr ng-class="statementsCtrl.statementTurnovers.OutBalance < 0 ? 'color-red' : ''">
                <td>
                    <div ng-show="statementsCtrl.statementTurnovers.OutBalance < 0"
                         ng-bind="statementsCtrl.statementTurnovers.OutBalance | number : statementsCtrl.fractionSize "></div>
                </td>
                <td nowrap="noWrap">
                    <div ng-show="statementsCtrl.statementTurnovers.OutBalance >= 0"
                         ng-bind="statementsCtrl.statementTurnovers.OutBalance | number : statementsCtrl.fractionSize ">Нет данных</div>
                </td>
                <td>
                    <div>Вихідне сальдо</div>
                </td>
                <td>
                    <div ng-bind="statementsCtrl.statementTurnovers.MaxDate | date:'dd/MM/yyyy'">Нет данных</div>
                </td>
            </tr>
        </table>
    </div>

    <div data-kendo-grid="statementsCtrl.statementsGrid" data-options="statementsCtrl.statementsGridOptions"></div>
</div>

