.webservice { behavior: url(/Common/WebService/js/WebService.htc); }



body
{
}
.tableStyle
{
	font-size: 10pt;
	font-family: Arial;
}
.buttonOkStyle
{
	font-size: 10pt;
	color: darkgreen;
	font-family: Arial;
	width: 100px;
}
.buttonCancelStyle
{
	font-size: 10pt;
	color: darkred;
	font-family: Arial;
	width: 100px;
}
.simpleTextStyle
{
	padding-right: 10px;
	padding-left: 10px;
	font-size: 10pt;
	font-family: Arial;
}
.greenText
{
	font-weight: bold;
	font-size: 10pt;
	color: forestgreen;
	font-family: Arial;
}
.appButtonStyle
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	cursor: hand;
	border-bottom: #000000 1px solid;
	background-color: transparent;
}
.footer_body
{
	background-color: White; 
	border-color: Black; 
	font-family: Verdana; 
	font-size: 8pt; 
	border-collapse: collapse;
}