@using Kendo.Mvc.UI

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    const string title = "Налаштування параметрів синхронізації";
}

<h1>@title</h1>
<div id="gridParams"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#gridParams").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: bars.config.urlContent("/InsUi/Administration/GetParams")
                    },
                    create: {
                        url: bars.config.urlContent("/InsUi/Administration/CreateSyncParam"),
                        dataType: "json",
                        beforeSend: function (request, data) {
                            data.url = $("#IS_ACTIVEchk:checked").val() == 'on' ? data.url.replace('IS_ACTIVE=0', 'IS_ACTIVE=true') : data.url.replace('IS_ACTIVE=0', 'IS_ACTIVE=false');
                        },
                        success: function () {
                            $('#gridParams').data('kendoGrid').refresh();
                        }
                    },
                    update: {
                        url: bars.config.urlContent("/InsUi/Administration/UpdateSyncParam"),
                        dataType: "json",
                        beforeSend: function (request, data) {
                            data.url = $("#IS_ACTIVEchk:checked").val() == 'on' ? data.url.replace('IS_ACTIVE=0', 'IS_ACTIVE=true') : data.url.replace('IS_ACTIVE=0', 'IS_ACTIVE=false');
                        },
                        success: function () {
                            $('#gridParams').data('kendoGrid').refresh();
                        }
                    },
                    destroy: {
                        url: bars.config.urlContent("/InsUi/Administration/DeleteSyncParam"),
                        dataType: "json",
                        success: function () {
                            $('#gridParams').data('kendoGrid').refresh();
                        }
                    }
                },
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            ID: {
                                editable: false,
                                type: "number"
                            },
                            KF: {
                                type: "string",
                                validation: {
                                    required: {
                                        message: "Поле обов`язкове для заповнення"
                                    },
                                    duplicate: function (input) {
                                        var val = $.ajax({
                                            async: false,
                                            cache: false,
                                            type: "GET",
                                            url: bars.config.urlContent('/InsUi/administration/GetParamMfo/?kf=' + input.val())
                                        });
                                        if (input.is("[name='KF']") && val.responseJSON.length > 0) {
                                            input.attr('data-duplicate-msg', 'Відділення з мфо ' + input.val() + ' вже зареєстровано!');
                                            return false;
                                        }
                                        return true;
                                    }
                                }
                            },
                            NB: {
                                type: "string"
                            },
                            URLAPI: {
                                type: "string",
                                validation: {
                                    required: {
                                        message: "Поле обов`язкове для заповнення!"
                                    },
                                    readyused: function (input) {
                                        var val = $.ajax({
                                            async: false,
                                            cache: false,
                                            type: "GET",
                                            url: bars.config.urlContent('/InsUi/administration/CheckUrlApi/?url=' + input.val())
                                        });
                                        //var selectedrow = $("#gridParams").data("kendoGrid").find("tbody tr.k-state-selected");
                                        ////var goods = $('#gridParams').data("kendoGrid").dataItem(selectedrow);
                                        ////var goodsjson = goods.toJSON();
                                        ////var goodsID = goodsjson.id;
                                        //console.log(selectedrow);
                                        if (input.is("[name='URLAPI']") && val.responseJSON == "1") {
                                            input.attr('data-readyused-msg', 'Url-адреса вже використовується іншим відділенням!');
                                            return false;
                                        }
                                        return true;
                                    }
                                }
                            },
                            USERNAME: {
                                type: "string",
                                validation: {
                                    required: {
                                        message: "Поле обов`язкове для заповнення"
                                    }
                                }
                            },
                            HPASSWORD: {
                                type: "string",
                                validation: {
                                    required: {
                                        message: "Поле обов`язкове для заповнення"
                                    }
                                }
                            },
                            IS_ACTIVE: {
                                type: "number"
                            },
                            STATUS: {
                                editable: false,
                                type: "string"                             
                            },
                            STATUS_MESSAGE: {
                                editable: false,
                                type: "string"
                            }
                        }
                    }
                },
                pageSize: 10
            },
            resizable: true,
            reorderable: true,
            scrollable: false,
            filterable: true,
            pageable: {
                refresh: true,
                pageSizes: [10, 20, 50]
            },
            editable: {
                confirmation: "Ви впевнені, що бажаєте видалити даний запис?",
                confirmDelete: "Видалити",
                cancelDelete: "Скасувати",
                mode: "inline",
                create: true,
                update: true,
                destroy: true
            },
            toolbar: "<button id='grid_Connections_AddRow' class='k-button' title='Додати новий запис'>" +
                     "<span class='pf-icon pf-16 pf-add_button'></span> Додати" +
                     "</button>" +
                     "<button id='btPing' class='k-button' title='Перевірка зв`язку з РУ'>" +
                     "<span class='pf-icon pf-16 pf-execute'></span> Пінг" +
                     "</button>",
            columns: [{
                title: "Статус",
                field: "STATUS",
                template: "#= formatStatus(data, 'STATUS') #",
                width: "100px",
                filterable: false
            },
            {
                title: "МФО",
                field: "KF"
            },
            {
                title: "Найменування",
                field: "NB",
                filterable: false
            },
            {
                title: "Адреса api РУ",
                field: "URLAPI",
                filterable: false
            },
            {
                title: "Логін користувача",
                field: "USERNAME",
                width: "120px"
            },
            {
                title: "Пароль",
                field: "HPASSWORD",
                template: "*********",
                width: "120px",
                filterable: false
            },
            {
                title: "Активність",
                field: "IS_ACTIVE",
                template: "#= formatSyncEnabled(data) #",
                width: "100px",
                editor: '<input type="checkbox" id="IS_ACTIVEchk" #= IS_ACTIVE == 1 ? "checked=checked" : " " #>'
            },
            {
                width: "55px",
                command:
                    [{
                        name: "edit",
                        buttonType: "ImageAndText",
                        text: {
                            cancel: "",
                            update: "",
                            edit: ""
                        }
                    },
                    {
                        name: "destroy",
                        buttonType: "ImageAndText",
                        text: ""
                    }]
            }]
        });

        $("#grid_Connections_AddRow").click(function () {
            var grid = $("#gridParams").data("kendoGrid");
            grid.addRow();
        });
    });

    function formatStatus(item, errMsg) {
        return formatStatusBase(item, "STATUS");
    }

    function formatStatusBase(item, fieldName) {
        var statusClass;
        switch (item[fieldName]) {
            case "SUCCESS":
                statusClass = "success";
                break;
            case "ERROR":
                statusClass = "error";
                break;
        }
        return kendo.format("<div class='k-block k-{0}-colored statusField centerField' >{1}</div>", statusClass, item[fieldName]);
    }

    function formatSyncEnabled(item) {
        return item.IS_ACTIVE == 1
            ? "<div class='k-block k-success-colored centerField'>Активний</div>"
            : "<div class='k-block k-error-colored centerField'>Не активний</div>";
    }
</script>
<style>
    .centerField {
        text-align: center;
    }
</style>