
body {
    padding: 0;
    margin: 0;
    /*font-family: Roboto;  */
}

.q-title {
    font-size: 1.6em;
    color: #74b1df;
}

.q-container {
    padding: 16px 30px;
}

.col-md-4, .col-md-6 {
    min-height: 40px;
}

.q-group-container {
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    margin-bottom: 16px;
}

.q-group-label {
    color: #777777;
    font-size: 10px;
}

.q-group-count {
    text-align: right;
}

.q-group-title {
    padding-top: 8px;
}

.q-group-container .row:hover {
    border-left: solid;
    background-color: #EAEAEA;
    border-left-color: #7cbb73;
}


.q-group-container .row {
    border-left: solid;
    border-left-color: transparent;
}

.q-group-container .row:first-child {
    min-height: 88px;
}

.q-group-container .row:first-child:hover {
    border-radius: 10px 10px 0 0;
}

.q-group-container .row:last-child:hover, .q-group-container .q-add-group-btn:hover {
    border-radius: 0 0 10px 10px;
}

.q-group {
    font-size: 24px;
    text-align: left;
}

    .q-group.name1 {
        color: #7cbb73;
    }

    .q-group.name2 {
        color: #7abadf;
    }

    .q-group.name3 {
        color: #aa64ca;
    }

    .q-group.name4 {
        color: #d0c24d;
    }

    .q-group.name5 {
        color: #777777;
    }

.q-group-first, .q-group-second, .q-group-third, .q-group-next {
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #f4f4f4;
}

.q-group-first {
    padding-top: 12px;
}

.q-group-second, .q-group-third, .q-group-next {
    padding-top: 8px;
}

.q-group-count {
    font-size: 36px;
    color: #df7a7a;
}

.q-fill-group-container, .q-sub-info {
    color: #999999;
    margin-top: 4px;
}

.q-fill-group-container {
    text-align: right;
}

.q-fill-group {
    color: black;
}

.q-add-group-btn {
    color: #7abadf;
}

.q-add-group-btn, .q-add-group-form {
    height: 34px;
    padding-left: 4px;
    padding-top: 4px;
}

.q-delsub-button {
    color: red;
    font-size: 24px;
    z-index: 10;
    position: absolute;
    left: 30%;
    opacity: 0;
}

.q-real-sub:hover .q-delsub-button {
    opacity: 0.5;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms;
    transition: 600ms;
}

.q-add-group-form button.k-button {
    min-width: 50px;
}


.q-add-group-form .q-form-container {
    padding-right: 8px;
    float: right;
}

/*переопределение стилей Kendo єлементов*/

.k-grid-header th.k-header, .k-filter-row th, .k-grid-header-wrap, .k-widget.k-menu-horizontal > .k-item, .k-widget, .k-item {
    border-style: none;
}


.q-add-group-form .k-dropdown.q-sign {
    width: 50px;
}

.q-add-group-form .k-numerictextbox.q-percent {
    width: 70px;
}

/*Форма рекомендаций*/
.q-list {
    display: table;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}


.q-cust-name {
    max-width: 205px;
    padding-bottom: 10px;
}

    .q-cust-name span {
        font-size: 16px;
    }

#custAttrTypesList .k-textbox .k-icon {
    top: 0;
    margin: 0;
    position: relative;
}


#grid {
    border: 1px solid #e5e5e5;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
}

tr {
    cursor: pointer;
}

.q-row-hover {
    border-left: 2px solid #7cbb73 !important;
}

.hoverIndicator {
    width: 16px;
    height: 16px;
    background-image: url('/barsroot/Content/Themes/Kendo/Bootstrap/sprite.png');
    background-position: -112px -0px;
    display: inline-block;
    margin-right: 2px;
}

.q-row-hover > .hoverIndicator {
    background-position: -16px -272px;
    margin-right: 0px;
}

#sidebar {
    margin: 0;
    padding: 0 10px;
    vertical-align: top;
}

.q-side-content {
    border-top: solid;
    border-top-color: #c4c4c4;
    border-top-width: 1px;
    margin-bottom: 8px;
}

.q-sub-selector .q-sub-prev, .q-sub-selector .q-sub-indicator {
    margin: 12px 0;
}

.q-sub-prev, .q-sub-indicator {
    display: inline-block;
}

.q-child-selector .q-sub-prev {
    display: inline-block;
    margin: 2px 0;
}

.q-sub-prev, .q-sub-next {
    cursor: pointer;
}

.q-sub-next {
    float: right;
}

.q-child-selector .q-sub-next {
    margin: 5px 0;
    padding: 4px 0;
}


.q-sub-selector .q-sub-next {
    margin: 12px 0;
    padding: 12px 0;
}

.q-sub-selector .q-sub-indicator {
    padding: 4px 25px;
}

.q-child-selector .q-sub-indicator {
    padding: 0 12px;
}

.q-sub-number {
    font-size: 24px;
    color: #7cbb73;
}

.q-sub-selector .q-sub-number {
    padding-left: 20px;
}

#main-content {
    display: table-cell;
    margin: 0;
    padding-left: 10px;
    vertical-align: top;
}

.widget.placeholder {
    opacity: 0.4;
    border: 1px dashed #a6a6a6;
}

/* WIDGETS */
.widget {
    margin: 0 0 20px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    cursor: move;
}

#advisoryApply li {
    padding: 10px 0;
}

#advisoryApply .k-menu > .k-first {
    border-radius: 0;
}

ul#custAttrTypesList {
    font-size: 14px;
    font-weight: bold;
    list-style-type: none !important;
}

.attr-advisored {
    border: 1px solid #df7a7a;
}

.attr-advise-confirmed {
    border: 1px solid #7cbb73;
}

#attrTypesMenu li {
    border-left: 2px solid transparent;
}

    #attrTypesMenu li.selected {
        border-left: 2px solid #df7a7a;
    }

    #attrTypesMenu li:hover {
        border-left: 2px solid #7cbb73;
    }

.q-save-btn {
    display: inline-block;
    height: 46px;
    width: 46px;
    background-position: 0 0;
    background-image: url(/barsroot/Areas/Cdm/Content/q-sprite.png);
    border: 4px solid;
    border-color: #fff;
    border-radius: 50%;
}

    .q-save-btn.disabled {
        background-position: 39px 0;
    }


    .q-save-btn:not(.disabled):hover {
        width: 46px;
        height: 46px;
        border: 4px solid #e8f2e4;
        border-radius: 50%;
    }

#saveBtn a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}


.q-left-arrow {
    display: inline-block;
    height: 18px;
    width: 18px;
    background-position: left bottom;
    background-image: url(/barsroot/Areas/Cdm/Content/q-sprite.png);
    margin: 3px;
}


ul.q-panel li {
    padding-top: 4px;
}

    ul.q-panel li label, ul.q-panel .k-button {
        margin-bottom: 4px;
        line-height: normal;
    }

ul.q-panel input {
    border-radius: 4px;
    height: 1.5em;
}

ul.q-panel .k-widget {
    margin-left: 4px;
}

ul.q-panel .k-state-selected, ul.q-panel .k-state-hover, ul.q-panel .k-header {
    background-color: inherit !important;
    color: inherit !important;
    box-shadow: none;
}

ul.q-panel .k-i-arrow-s {
    background-position: -16px -288px;
}

ul.q-panel .k-i-arrow-n {
    background-position: -16px -256px;
}

ul.q-panel label, ul.q-panel button {
    float: right;
}

ul.q-panel ul {
    border: none !important;
}

ul.q-panel > .k-item > .k-link, .k-panel > .k-item > .k-link {
    border: none !important;
}

#qulityFilterSlider .k-slider-selection {
    display: none;
}


.q-dupe-block {
    margin: 10px 0 0 20px;
    padding: 10px 20px 0 20px;
    border: solid 1px #aeaeae;
}


#dupesWork {
    background-color: #ffffff;
}

    #dupesWork td {
        padding: 4px;
    }


    #dupesWork .q-first-info-row td {
        padding-top: 20px;
    }

.q-dupe-block {
    border-radius: 3px;
    background-color: #fff;
}

button.k-button {
    font-size: 10.2px;
    min-width: 120px;
}

button.k-state-default {
    background-color: #74b1df;
    color: #fff;
    border: none;
}

#copyAttributesToMainCard {
    position: fixed;
    bottom: 10px;
    left: 42%;
    height: 30px;
    width: 250px;
}

.q-cbcontainer {
    width: 100%;
    height: 16px;
    display: inline-block;
    padding-left: 20px;
}

    .q-cbcontainer input {
        display: inline-block;
    }

    .q-cbcontainer label {
        float: none !important;
    }

    .q-cbcontainer div.dummy {
        width: 16px;
        height: 16px;
        display: inline-block;
    }

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }

        /* checkbox aspect */
        [type="checkbox"]:not(:checked) + label:before {
            background: #f4f4f4;
            border: 1px solid;
        }

        [type="checkbox"]:checked + label:before {
            background: #74b1df;
            border: none;
        }

[type="checkbox"] + label:before,
[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    background: #74b1df;
    border-radius: 3px;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 13px;
    color: #fff;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}

#dupesWork span.k-state-selected {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#filterBlock .k-numerictextbox {
    width: 150px;
}

#advisoryList .k-pager-wrap {
    display: none;
}

.q-dupe-block .k-panelbar-expand, .q-dupe-block .k-panelbar-collapse {
    left: 4px;
}

.q-dupe-block .k-panelbar > .k-item > .k-link{
    padding: 0 2em;
}

.k-numeric-wrap .k-input {
    height: 1.6em;
}


#dupeGrpNavigator {
    height: 18px !important;
    min-height: 18px !important;
}

#dupeGrpNavigator i {
    padding-top: 2px;
    background-origin: content-box;
}

#dupeGrpNavigator .prevDupeGrp, #dupeGrpNavigator .nextDupeGrp {
    display: inline-block;
    cursor: pointer;
    color: #74b1df;
}

#dupeGrpNavigator .prevDupeGrp[disabled] span, #dupeGrpNavigator .nextDupeGrp[disabled] span{
    color: #aaa;
}

#dupeGrpNavigator .prevDupeGrp {
    margin-left: 32px;
}

#dupeGrpNavigator .nextDupeGrp {
    float: right;
}
.placeholder
{
  color: #aaa;
}