@{
    Layout = null;
}
@using barsroot
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage<BarsWeb.Models.V_CUSTOMER_REL>
<script>
    function showCustRelParam(){
        var type = $('#REL_INTEXT_ddl :selected').val();

        if (type==0){
            $('#customerRelKlB').addClass('displayNone');
            $('#customerRelNotKlB').removeClass('displayNone');        
        }
        if (type==1){
            $('#customerRelKlB').removeClass('displayNone');
            $('#customerRelNotKlB').addClass('displayNone');
        }
    }
    function viewKatlog(katalogName) {
        var newKatalog = $('<div/>');
        newKatalog.load('/barsroot/customers/katalog/' + katalogName, {}, function () { removeLoader(newKatalog); })
                  .dialog({ autoOpen: true, position: 'center', title: 'Довідник', modal: true, resizable: false, width: '600', height: '600', close: function () { $.ajax().abort(); newKatalog.remove(); } });
        addLoader(newKatalog);
    }
</script>
<div id="ctl00_body_fv_pnlREL_INTEXT">
    <fieldset>
        <legend>Тип особи</legend>
        <select id="REL_INTEXT_ddl" name="REL_INTEXT" onchange="showCustRelParam();">
            <option selected="selected" value="0">0 - НЕ клієнт банку</option>
            <option value="1">1 - клієнт банку</option>
        </select>
    </fieldset>
</div>

<div id="ctl00_body_fv_pnlParams">
    <fieldset>
        <legend>Параметри особи</legend>

        <div style="height: 420px; overflow: auto;">
            <table class="displayNone" id="customerRelKlB" border="0" cellpadding="1" cellspacing="0">
                <tr>
                    <td>РНК клієнта</td>
                    <td>
                        <input name="ctl00$body$fv$RELCUST_RNK$tb" type="text" id="ctl00_body_fv_RELCUST_RNK_tb" disabled="disabled" />
                        <input type="image" name="RELCUST_RNK" id="RELCUST_RNK" src="/common/images/default/16/reference_open.png" onclick="viewKatlog();" style="border-width: 0px;" />
                    </td>
                </tr>
                <tr>
                    <td>Коментар:</td>
                    <td>
                        <textarea name="ctl00$body$fv$NOTES1$tb" rows="3" cols="20" id="ctl00_body_fv_NOTES1_tb" class="cssTextBoxString" style="background-color: White; width: 300px;">
                    </textarea>
                    </td>
                </tr>
            </table>
            <table id="customerRelNotKlB" border="0" cellpadding="1" cellspacing="0">
                <tr>
                    <td>Нова особа?</td>
                    <td>
                        <input id="ctl00_body_fv_IS_NEW_rbl_0" type="radio" name="ctl00$body$fv$IS_NEW$rbl" value="1" checked="checked" />
                        <label for="ctl00_body_fv_IS_NEW_rbl_0">Так</label>
                        <input id="ctl00_body_fv_IS_NEW_rbl_1" type="radio" name="ctl00$body$fv$IS_NEW$rbl" value="0" onclick="javascript: setTimeout('__doPostBack(\'ctl00$body$fv$IS_NEW$rbl$1\',\'\')', 0)" />
                        <label for="ctl00_body_fv_IS_NEW_rbl_1">Ні</label>

                    </td>
                </tr>
                <tr>
                    <td>Код особи:</td>
                    <td>
                        <input name="ctl00$body$fv$RELEXT_ID$tb" type="text" id="ctl00_body_fv_RELEXT_ID_tb" disabled="disabled" readonly="true" />
                        <input type="image" name="ctl00$body$fv$RELEXT_ID$ib" id="ctl00_body_fv_RELEXT_ID_ib" onclick="viewKatlog('CUSTOMER_EXTERN');" src="/common/images/default/16/reference_open.png" style="border-width: 0px;" />
                    </td>
                </tr>
                <tr>
                    <td>Ознака (1-ЮО, 2-ФО):</td>
                    <td>
                        <select name="ctl00$body$fv$CUSTTYPE$ddl" id="ctl00_body_fv_CUSTTYPE_ddl">
                            <option value=""></option>
                            <option value="1">ЮО</option>
                            <option value="2">ФО</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Найменування:</td>
                    <td>
                        <input name="ctl00$body$fv$NAME$tb" type="text" id="ctl00_body_fv_NAME_tb" class="edit long" />
                    </td>
                </tr>
                <tr>
                    <td>Документ:</td>
                    <td>
                        <select name="ctl00$body$fv$DOC_TYPE$ddl" id="ctl00_body_fv_DOC_TYPE_ddl">
                            <option value=""></option>
                            <option value="-1">Інший документ</option>
                            <option value="1">Паспорт</option>
                            <option value="2">Військовий квиток</option>
                            <option value="3">Свідоцтво про  народження</option>
                            <option value="6">Пропуск</option>
                            <option value="4">Пенсійне посвідчення</option>
                            <option value="5">Тимчасова посвідка</option>
                            <option value="15">Тимчасове посвідчення особи</option>
                            <option value="16">Посвідчення біженця</option>
                            <option value="11">Закордонний паспорт гр.України</option>
                            <option value="12">Дипломатичний паспорт гр.України</option>
                            <option value="13">Паспорт нерезидента</option>
                            <option value="14">Паспорт моряка</option>
                            <option value="99">Iнший документ</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Серія:</td>
                    <td>
                        <input name="ctl00$body$fv$DOC_SERIAL$tb" type="text" id="ctl00_body_fv_DOC_SERIAL_tb" class="cssTextBoxString" />
                    </td>
                </tr>
                <tr>
                    <td>Номер:</td>
                    <td>
                        <input name="ctl00$body$fv$DOC_NUMBER$tb" type="text" id="ctl00_body_fv_DOC_NUMBER_tb" class="cssTextBoxString" />
                    </td>
                </tr>
                <tr>
                    <td>Коли видано:</td>
                    <td>
                        <input name="ctl00$body$fv$DOC_DATE$tb" type="text" id="ctl00_body_fv_DOC_DATE_tb" class="cssTextBoxDate" />
                    </td>
                </tr>
                <tr>
                    <td>Ким видано:</td>
                    <td>
                        <input name="ctl00$body$fv$DOC_ISSUER$tb" type="text" id="ctl00_body_fv_DOC_ISSUER_tb" class="edit long" />
                    </td>
                </tr>
                <tr>
                    <td>Дата народження:</td>
                    <td>
                        <input name="ctl00$body$fv$BIRTHDAY$tb" type="text" id="ctl00_body_fv_BIRTHDAY_tb" class="cssTextBoxDate" />
                    </td>
                </tr>
                <tr>
                    <td>Місце народження:</td>
                    <td>
                        <input name="ctl00$body$fv$BIRTHPLACE$tb" type="text" id="ctl00_body_fv_BIRTHPLACE_tb" class="edit long" />
                    </td>
                </tr>
                <tr>
                    <td>Стать:</td>
                    <td>
                        <select name="ctl00$body$fv$SEX$ddl" id="ctl00_body_fv_SEX_ddl" style="background-color: #FFEBFF;">
                            <option value="0">Невідома</option>
                            <option value="1">Чоловіча</option>
                            <option value="2">Жіноча</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Адреса:</td>
                    <td>
                        <input name="ctl00$body$fv$ADR$tb" type="text" id="ctl00_body_fv_ADR_tb" class="edit long" />
                    </td>
                </tr>
                <tr>
                    <td>Телефон:</td>
                    <td>
                        <input name="ctl00$body$fv$TEL$tb" type="text" id="ctl00_body_fv_TEL_tb" class="cssTextBoxString" />
                    </td>
                </tr>
                <tr>
                    <td>e-mail:</td>
                    <td>
                        <input name="ctl00$body$fv$EMAIL$tb" type="text" id="ctl00_body_fv_EMAIL_tb" class="cssTextBoxString" />
                    </td>
                </tr>
                <tr>
                    <td>Ідент. код / Код за ЕДРПОУ:</td>
                    <td>
                        <input name="ctl00$body$fv$OKPO$tb" type="text" maxlength="10" id="ctl00_body_fv_OKPO_tb" class="cssTextBoxString" />
                    </td>
                </tr>
                <tr>
                    <td>Країна:</td>
                    <td>
                        <input name="ctl00$body$fv$COUNTRY$tb" type="text" id="ctl00_body_fv_COUNTRY_tb" disabled="disabled" />
                        <input type="image" name="ctl00$body$fv$COUNTRY$ib" id="ctl00_body_fv_COUNTRY_ib" src="/common/images/default/16/reference_open.png" onclick="return referenceOpen('ctl00_body_fv_COUNTRY_tb', 'ctl00_body_fv_COUNTRY_h', 'REFER_DATA_d8a86c8f-24bb-4c0e-a465-bd793de7d7cb', false, false);" style="border-width: 0px;" />
                    </td>
                </tr>
                <tr>
                    <td>Регіон:</td>
                    <td>
                        <input name="ctl00$body$fv$REGION$tb" type="text" id="ctl00_body_fv_REGION_tb" class="cssTextBoxString" />
                    </td>
                </tr>
                <tr>
                    <td>Форма власності (K081):</td>
                    <td>
                        <input name="ctl00$body$fv$FS$tb" type="text" id="ctl00_body_fv_FS_tb" disabled="disabled" />
                        <input type="image" name="ctl00$body$fv$FS$ib" id="ctl00_body_fv_FS_ib" src="/common/images/default/16/reference_open.png" onclick="return referenceOpen('ctl00_body_fv_FS_tb', 'ctl00_body_fv_FS_h', 'REFER_DATA_f98c9053-7043-4d81-a2b7-7857f1126fea', false, false);" style="border-width: 0px;" />
                    </td>
                </tr>
                <tr>
                    <td>Вид екон. дiяльностi (K110):</td>
                    <td>
                        <input name="ctl00$body$fv$VED$tb" type="text" id="ctl00_body_fv_VED_tb" disabled="disabled" />
                        <input type="image" name="ctl00$body$fv$VED$ib" id="ctl00_body_fv_VED_ib" src="/common/images/default/16/reference_open.png" onclick="return referenceOpen('ctl00_body_fv_VED_tb', 'ctl00_body_fv_VED_h', 'REFER_DATA_08d9af32-afc2-4dcf-9a3c-412764c1a16e', false, false);" style="border-width: 0px;" />
                    </td>
                </tr>
                <tr>
                    <td>Орг.-правова форма госп. (K051):</td>
                    <td>
                        <input name="ctl00$body$fv$SED$tb" type="text" id="ctl00_body_fv_SED_tb" disabled="disabled" />
                        <input type="image" name="ctl00$body$fv$SED$ib" id="ctl00_body_fv_SED_ib" src="/common/images/default/16/reference_open.png" onclick="return referenceOpen('ctl00_body_fv_SED_tb', 'ctl00_body_fv_SED_h', 'REFER_DATA_d6c14e7b-4455-403a-8f26-d892a7ec18a0', false, false);" style="border-width: 0px;" />
                    </td>
                </tr>
                <tr>
                    <td>Інст. сектор екон. (K070):</td>
                    <td>
                        <input name="ctl00$body$fv$ISE$tb" type="text" id="ctl00_body_fv_ISE_tb" disabled="disabled" />
                        <input type="image" name="ctl00$body$fv$ISE$ib" id="ctl00_body_fv_ISE_ib" src="/common/images/default/16/reference_open.png" onclick="return referenceOpen('ctl00_body_fv_ISE_tb', 'ctl00_body_fv_ISE_h', 'REFER_DATA_99b2f370-be53-401f-af97-6985ec3974a8', false, false);" style="border-width: 0px;" />
                    </td>
                </tr>
                <tr>
                    <td>Коментар:</td>
                    <td>
                        <textarea name="ctl00$body$fv$NOTES$tb" rows="3" cols="20" id="ctl00_body_fv_NOTES_tb" class="cssTextBoxString" style="background-color: White; width: 300px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>

