@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Допуск користувачів (прохідна)";
}

<h2>@ViewBag.Title</h2>

<div id="baxGrid">

</div>

@Scripts.Render("~/bundles/Admin/bax")