@using BarsWeb.Areas.Finp.Models
@using Kendo.Mvc.UI
@model FinpSessionModel
@{
    ViewBag.Title = "Нова сесія";
}
<script type="text/javascript">
    function showObjectReferen() {
        var objType = $("#objType").val();
        switch (objType)
        {
            case 'CL': {
                bars.ui.handBook('CUSTOMER', function (data) {
                    $("#ObjectRefer").val($(data).map(function () {
                        return this.PrimaryKeyColumn;
                    }).get());
                },
                {
                    clause: "date_off is null",
                    columns: "RNK,NMK,OKPO"
                });
                break;
            }
            case 'CRD': {
                bars.ui.handBook('CC_W', function (data) {
                    $("#ObjectRefer").val($(data).map(function () {
                        return this.PrimaryKeyColumn;
                    }).get());
                },
                {
                    columns: "ND,CC_ID"
                });
                break;
            }
            default: break;
        }
    }

    function createSession() {
        var objType_ = $("#objType").val();
        var objId_ = $("#ObjectRefer").val();
        var methId_ = $("#methCalc").val();
        debugger;
        $.ajax({
            async: false,
            type: "POST",
            url: bars.config.urlContent("/Finp/Sessions/CreateSession/"),
            data: { objType: objType_, objId: objId_, methId: methId_ },
        });
    }
</script> 
<div>
    <table style="width:100%">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <h3>Тип об`єкта</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(Html.Kendo().DropDownList()
                                .Name("objType")
                                .DataTextField("NAME")
                                .DataValueField("ID")
                                .BindTo(Model.ObjectTypes)
                                .HtmlAttributes(new { style = "width: 250px" })
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Об`єкт</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="width: 100%">
                                        <input type="text" disabled="disabled" class="k-textbox" id="ObjectRefer" style="width:100%" />
                                    </td>
                                    <td style="vertical-align: top;">
                                        <a class="k-button" onclick="showObjectReferen()">
                                            <i class="pf-icon pf-16 pf-book"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Метод розрахунку</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(Html.Kendo().DropDownList()
                                .Name("methCalc")
                                .DataTextField("NAME")
                                .DataValueField("ID")
                                .BindTo(Model.Metods)
                                .HtmlAttributes(new { style = "width: 250px" })
                                .SelectedIndex(0)
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Кількість поручителів</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(Html.Kendo().DropDownList()
                                .Name("countGrantor")
                                .DataTextField("NAME")
                                .DataValueField("ID")
                                .BindTo(Model.QuestionListItems.Where(i => i.QUESTION_ID == "LO_COUNT_GRANTOR").OrderBy(i => i.ORD))
                                .HtmlAttributes(new { style = "width: 250px" })
                                .SelectedIndex(0)
                            )
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">
                <br /><button type="button" style="width: auto" class="btn k-button" onclick="createSession()">Створити</button>
            </td>
        </tr>
    </table>
 </div>