<style>

    a[href]:after {
    content: " (" attr(href) ")";
  }

</style>
<html>
<head>

</head>
<body >

        <embed onscroll="false" type="application/pdf"
               src="/barsroot/sep/SepFiles/SaveFile?save_type=pdf&rec=@ViewBag.Rec&templateName=IDDOC.frx"
               id="pdfDocument"
                width="38%"
                height="100%"  style="overflow:hidden; position:absolute; left:33%"/>
</body>
</html>