/*body {
    background-image:url('/common/images/noise.png');
    font-family:'Segoe UI',Verdana, Arial;
    margin:0;
    padding:10px;
    font-size:1em;
}
h1, h2{
    font-family:'Segoe UI Light';
    clear: both;
    font-weight: normal;
}
h1{
    margin:0 0 20px 0;
    font-size:2.5em;
}
h2{
    margin:0 0 10px 0;
    font-size:1.5em;
}*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
    background-image:url('img/noise.png');
    font-family:'Segoe UI',Verdana, Arial;
    margin:0;
    padding:10px;
    font-size:1em;
}

a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1, h2{
    font-family:'Segoe UI Light';
    clear: both;
    font-weight: normal;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
.conteiner, .conteinerTable {
    background: #F1F1F1;
    padding: 5px;
    border: 1px solid #D2D2D2;
    margin-bottom: 5px;
}
.conteinerTable {
    display:table;
}

.block {
    display:inline-block;
    white-space: nowrap;
    word-wrap: normal;
    padding:5px;
    border:0;
}
.block:hover {
    padding:3px;
    border:2px solid #D2D2D2;
}
.block:active {
    border:2px solid #000;
}