/** Custom styles */

/* »тогова€ строка */
.x-grid-row-summary {
    /*background-color: #f0f0f0;*/
    background-image: url(../images/column-header-bg.gif);
    background-image: -webkit-linear-gradient(bottom,#f6f6f6,#e6e7e8);
}
.x-grid-row-summary .x-grid-cell-inner {
    font-weight: bold;
    font-size: 12px;
}
/*писали что в IE6 была проблема с отображением header-ов, котора€ решаетс€ таким образом*/
.x-grid3-header-offset {
    width: auto;
}
/*в IE 11 стили header-ов колонок грида брались через -webkit а не background, поэтому не отображались*/
.x-column-header {
    background-image: -ms-linear-gradient(top, #f9f9f9, #e3e4e6);
    /*background-image: url(../images/column-header-bg.gif);*/
 }
.x-grid-header-ct {
    background-image: -ms-linear-gradient(top, #f9f9f9, #e3e4e6);
    /*background-image: url(../images/column-header-bg.gif);*/
 }

/*делаем так потому что при установке align колонки в конфиге устанавливаетс€ как aligh €чеек так и header-а*/
.x-column-header-inner{
    text-align:left;
 }

.function-button-name{
    
}
.x-btn-inner-center{
    text-align: left;
}

/** Icons */
.save_brown {
  background-image:url('../icons/save_brown.gif') !important;
}

.cancel {
  background-image:url('../icons/delete.png') !important;
}

.add-sample {
  background-image:url('../icons/add_sample.png') !important;
}

.edit {
  background-image:url('../icons/pencil.png') !important;
}

.plus {
  background-image:url('../icons/plus.png') !important;
}

.minus_once {
  background-image:url('../icons/minus.png') !important;
}

.page { 
  background-image:url('../icons/page.png') !important;
}

.download {
  background-image:url('../icons/download.png') !important;
}

.excel {
  background-image:url('../icons/ms-excel.gif') !important;
}

 
.table-edit {
  background-image:url('../icons/table_edit.png') !important;
}

.del_filter {
  background-image:url('../icons/filter_del.gif') !important;
}

.clear_filter {
    background-image:url('../icons/filter_clear.png') !important;
}

.document_view {
  background-image:url('../icons/document_view.png') !important;
}

.book_open {
  background-image:url('../icons/book_open.png') !important;
}



.book_open {
  background-image:url('../icons/book_open.png') !important;
}
.book_open {
  background-image:url('../icons/book_open.png') !important;
}

.tar {
  background-image:url('../icons/tar.png') !important;
}

/*.extract {
  background-image:url('../icons/_extract.png') !important;
}*/

.printer {
  background-image:url('../icons/printer.png') !important;
}

.home {
  background-image:url('../icons/home.png') !important;
}

.admin {
  background-image:url('../icons/_admin.gif') !important;
}

.wait {
  background-image:url('../icons/wait.gif') !important;
}

.up {
  background-image:url('../icons/up.gif') !important;
}

.tgz {
     background-image:url('../icons/tgz.png') !important;
}

.txt {
     background-image:url('../icons/txt.png') !important;
}

.cancel {
     background-image:url('../icons/cancel.png') !important;
}

.arrow_right {
    background-image:url('../icons/arrow_right.png') !important;
}

.ic-receipt {
    background-image:url('../icons/new_ic/ic-receipt.png') !important;
}

.ic-receipt-import {
    background-image:url('../icons/new_ic/ic-receipt-import.png') !important;
}

.ic-report-error {
    background-image:url('../icons/new_ic/ic-report-error.png') !important;
}

.ic-river {
    background-image:url('../icons/new_ic/ic-river.png') !important;
}

.ic-river-beck {
    background-image:url('../icons/new_ic/ic-river-beck.png') !important;
}

.ic-what {
    background-image:url('../icons/new_ic/ic-what.png') !important;
}

.ic-z23 {
    background-image:url('../icons/new_ic/ic-z23.png') !important;
}

.ic-block-persone {
    background-image:url('../icons/new_ic/ic-block-persone.png') !important;
}

.ic-calendar-sum {
    background-image:url('../icons/new_ic/ic-calendar-sum.png') !important;
}

.ic-charging-of-interest {
    background-image:url('../icons/new_ic/ic-charging-of-interest.png') !important;
}

.ic-charging-of-interest-all {
    background-image:url('../icons/new_ic/ic-charging-of-interest-all.png') !important;
}

.ic-compressed {
    background-image:url('../icons/new_ic/ic-compressed.png') !important;
}

.ic-mak {
    background-image:url('../icons/new_ic/ic-mak.png') !important;
}

.ic-person-talk {
    background-image:url('../icons/new_ic/ic-person-talk.png') !important;
}

.ic-2 {
    background-image:url('../icons/new_ic/ic-2.png') !important;
}

.ic-add-person {
    background-image:url('../icons/new_ic/ic-add-person.png') !important;
}
.ic-agreement-close {
    background-image:url('../icons/new_ic/ic-agreement-close.png') !important;
}

.ic-agreement-close1 {
    background-image:url('../icons/new_ic/ic-agreement-close1.png') !important;
}

.ic-are {
    background-image:url('../icons/new_ic/ic-are.png') !important;
}

.ic-accounts-only-one {
    background-image:url('../icons/new_ic/MBDK/ic-accounts-only-one.png') !important;
}

.ic-partners {
    background-image:url('../icons/new_ic/MBDK/ic-partners.png') !important;
}

.ic-partners-no-rezedents {
    background-image:url('../icons/new_ic/MBDK/ic-partners-no-rezedents.png') !important;
}

.ic-arhive-all {
    background-image:url('../icons/new_ic/MBDK/ic-arhive-all.png') !important;
}

.ic-search-prioritet {
    background-image:url('../icons/new_ic/MBDK/ic-search-prioritet.png') !important;
}

.ic-filter {
    background-image:url('../icons/new_ic/MBDK/ic-filter.png') !important;
}

.ic-teble-replay{
    background-image:url('../icons/new_ic/MBDK/ic-teble-replay.png') !important;
}

.ic-print-table {
    background-image:url('../icons/new_ic/MBDK/ic-print-table.png') !important;
}

.ic-accounts-only-one-create {
    background-image:url('../icons/new_ic/MBDK/ic-accounts-only-one-create.png') !important;
}

.ic-back-day {
    background-image:url('../icons/new_ic/MBDK/ic-back-day.png') !important;
}

.ic-prolongacia {
    background-image:url('../icons/new_ic/MBDK/ic-prolongacia.png') !important;
}

.ic-info-cheang {
    background-image:url('../icons/new_ic/MBDK/ic-info-cheang.png') !important;
}

.ic-bux-mod {
    background-image:url('../icons/new_ic/MBDK/ic-bux-mod.png') !important;
}

.ic-portfel {
    background-image:url('../icons/new_ic/MBDK/ic-portfel.png') !important;
}

.ic-new-dogovor {
    background-image:url('../icons/new_ic/MBDK/ic-new-dogovor.png') !important;
}

.ic-agreement-existing {
    background-image:url('../icons/new_ic/MBDK/ic-agreement-existing.png') !important;
}


.ic-bind-document {
    background-image:url('../icons/new_ic/MBDK/ic-bind-document.png') !important;
}


.ic-zalog-add-fun {
    background-image:url('../icons/new_ic/MBDK/ic-zalog-add-fun.png') !important;
}


.ic-unbind-document-dcp {
    background-image:url('../icons/new_ic/MBDK/ic-unbind-document-dcp.png') !important;
}


.ic-unbind-document {
    background-image:url('../icons/new_ic/MBDK/ic-unbind-document.png') !important;
}


.ic-exit {
    background-image:url('../icons/new_ic/MBDK/ic-exit.png') !important;
}

.ic-create-SWIFT-mess {
    background-image:url('../icons/new_ic/MBDK/ic-create-SWIFT-mess.png') !important;
}

.ic-pogashenna {
    background-image:url('../icons/new_ic/MBDK/ic-pogashenna.png') !important;
}

.ic-overdue {
    background-image:url('../icons/new_ic/MBDK/ic-overdue.png') !important;
}

.A_ACCS {
    background-image:url('../icons/new_ic/BMP/A_ACCS.png') !important;
}

.A_INTS {
    background-image:url('../icons/new_ic/BMP/A_INTS.png') !important;
}

.A_SPEC {
    background-image:url('../icons/new_ic/BMP/A_SPEC.png') !important;
}

.APP1 {
    background-image:url('../icons/new_ic/BMP/APP1.png') !important;
}

.APPLY {
    background-image:url('../icons/new_ic/BMP/APPLY.png') !important;
}

.ARR1TOD {
    background-image:url('../icons/new_ic/BMP/ARR1TOD.png') !important;
}

.ARR1TOL {
    background-image:url('../icons/new_ic/BMP/ARR1TOL.png') !important;
}

.ARR1TOR {
    background-image:url('../icons/new_ic/BMP/ARR1TOR.png') !important;
}

.ARR1TOU {
    background-image:url('../icons/new_ic/BMP/ARR1TOU.png') !important;
}

.ASCEND_ {
    background-image:url('../icons/new_ic/BMP/ASCEND_.png') !important;
}

.BACK {
    background-image:url('../icons/new_ic/BMP/BACK.png') !important;
}

.BESC_ {
    background-image:url('../icons/new_ic/BMP/BESC_.png') !important;
}

.BF1_ {
    background-image:url('../icons/new_ic/BMP/BF1_.png') !important;
}

.BF10_ {
    background-image:url('../icons/new_ic/BMP/BF10_.png') !important;
}

.BF2_ {
    background-image:url('../icons/new_ic/BMP/BF2_.png') !important;
}

.BF3_ {
    background-image:url('../icons/new_ic/BMP/BF3_.png') !important;
}

.BF4_ {
    background-image:url('../icons/new_ic/BMP/BF4_.png') !important;
}

.BF5_ {
    background-image:url('../icons/new_ic/BMP/BF5_.png') !important;
}

.BF6_ {
    background-image:url('../icons/new_ic/BMP/BF6_.png') !important;
}

.BF7_ {
    background-image:url('../icons/new_ic/BMP/BF7_.png') !important;
}

.BF8_ {
    background-image:url('../icons/new_ic/BMP/BF8_.png') !important;
}

.BF9_ {
    background-image:url('../icons/new_ic/BMP/BF9_.png') !important;
}

.BOOK {
    background-image:url('../icons/new_ic/BMP/BOOK.png') !important;
}

.BOOKS {
    background-image:url('../icons/new_ic/BMP/BOOKS.png') !important;
}

.BROWSE {
    background-image:url('../icons/new_ic/BMP/BROWSE.png') !important;
}

.CHEKIN {
    background-image:url('../icons/new_ic/BMP/CHEKIN.png') !important;
}

.CHKMAIL {
    background-image:url('../icons/new_ic/BMP/CHKMAIL.png') !important;
}

.CLOCK {
    background-image:url('../icons/new_ic/BMP/CLOCK.png') !important;
}

.COPY {
    background-image:url('../icons/new_ic/BMP/COPY.png') !important;
}

.CREATE {
    background-image:url('../icons/new_ic/BMP/CREATE.png') !important;
}

.CUSTBANK {
    background-image:url('../icons/new_ic/BMP/CUSTBANK.png') !important;
}

.CUSTCLSD {
    background-image: url('../icons/new_ic/BMP/CUSTCLSD.png') !important;
}

.CUSTPERS {
    background-image:url('../icons/new_ic/BMP/CUSTPERS.png') !important;
}

.DELETE {
    background-image:url('../icons/new_ic/BMP/DELETE.png') !important;
}

.DELREC {
    background-image:url('../icons/new_ic/BMP/DELREC.png') !important;
}

.DESCEND {
    background-image:url('../icons/new_ic/BMP/DESCEND_.png') !important;
}

.DESCEND_ {
    background-image:url('../icons/new_ic/BMP/DESCEND.png') !important;
}

.DESCEND_ {
    background-image:url('../icons/new_ic/BMP/DESCEND.png') !important;
}

.DETAILS {
    background-image:url('../icons/new_ic/BMP/DETAILS.png') !important;
}

.EXCEL {
    background-image:url('../icons/new_ic/BMP/EXCEL.png') !important;
}

.FILTER {
    background-image:url('../icons/new_ic/BMP/FILTER.png') !important;
}

.FOOTER {
    background-image:url('../icons/new_ic/BMP/FOOTER.png') !important;
}

.FORMULA {
    background-image:url('../icons/new_ic/BMP/FORMULA.png') !important;
}

.FROMDISK {
    background-image:url('../icons/new_ic/BMP/FROMDISK.png') !important;
}

.FUNCTION {
    background-image:url('../icons/new_ic/BMP/FUNCTION.png') !important;
}

.HEADER {
    background-image:url('../icons/new_ic/BMP/HEADER.png') !important;
}

.LINKED {
    background-image:url('../icons/new_ic/BMP/LINKED.png') !important;
}

.LIST {
    background-image:url('../icons/new_ic/BMP/LIST.png') !important;
}

.LOGIN {
    background-image:url('../icons/new_ic/BMP/LOGIN.png') !important;
}

.LOOK {
    background-image:url('../icons/new_ic/BMP/LOOK.png') !important;
}

.NEWREC {
    background-image:url('../icons/new_ic/BMP/NEWREC.png') !important;
}

.OPEN {
    background-image:url('../icons/new_ic/BMP/OPEN.png') !important;
}

.PACH {
    background-image:url('../icons/new_ic/BMP/PACH.png') !important;
}

.RECYCLE {
    background-image:url('../icons/new_ic/BMP/RECYCLE.png') !important;
}

.REFRESH {
    background-image:url('../icons/new_ic/BMP/REFRESH.png') !important;
}

.ROLE {
    background-image:url('../icons/new_ic/BMP/ROLE.png') !important;
}

.SAVE {
    background-image:url('../icons/new_ic/BMP/SAVE.png') !important;
}

.SEARCH {
    background-image:url('../icons/new_ic/BMP/SEARCH.png') !important;
}

.SELECT {
    background-image:url('../icons/new_ic/BMP/SELECT.png') !important;
}

.SQL {
    background-image:url('../icons/new_ic/BMP/SQL.png') !important;
}

.STOP {
    background-image:url('../icons/new_ic/BMP/STOP.png') !important;
}

.SUMM {
    background-image:url('../icons/new_ic/BMP/SUMM.png') !important;
}

.TOMAIL {
    background-image:url('../icons/new_ic/BMP/TOMAIL.png') !important;
}

.VIEW {
    background-image:url('../icons/new_ic/BMP/VIEW.png') !important;
}

.WORD {
    background-image:url('../icons/new_ic/BMP/WORD.png') !important;
}

.A_PROC {
    background-image:url('../icons/new_ic/BMP/A_PROC.png') !important;
}

.UNION {
    background-image:url('../icons/new_ic/BMP/UNION.png') !important;
}

.Arr2tor {
    background-image:url('../icons/new_ic/BMP/Arr2tor.png') !important;
}

.A_CLSD {
    background-image:url('../icons/new_ic/BMP/A_CLSD.png') !important;
}

.CHILDS {
    background-image:url('../icons/new_ic/BMP/CHILDS.png') !important;
}

.SWITCH {
    background-image:url('../icons/new_ic/BMP/SWITCH.png') !important;
}

.BROWSE {
    background-image:url('../icons/new_ic/BMP/BROWSE.png') !important;
}

.A_FINS {
    background-image:url('../icons/new_ic/BMP/A_FINS.png') !important;
}

.A_FINS {
    background-image:url('../icons/new_ic/BMP/A_FINS.png') !important;
}

.UPDOWN {
    background-image:url('../icons/new_ic/BMP/UPDOWN.png') !important;
}

.TUDASUDA {
    background-image:url('../icons/new_ic/BMP/TUDASUDA.png') !important;
}

.CHARTL {
    background-image:url('../icons/new_ic/BMP/CHARTL.png') !important;
}

.ACCOUNTS {
    background-image:url('../icons/new_ic/BMP/ACCOUNTS.png') !important;
}

.INSERT {
    background-image:url('../icons/new_ic/BMP/INSERT.png') !important;
}

.RELATION {
    background-image:url('../icons/new_ic/BMP/RELATION.png') !important;
}

.A_LINK {
    background-image:url('../icons/new_ic/BMP/A_LINK.png') !important;
}

.PRINT {
    background-image:url('../icons/new_ic/BMP/PRINT.png') !important;
}

.ADDRESS {
    background-image:url('../icons/new_ic/BMP/ADDRESS.png') !important;
}

.CALENDAR {
    background-image:url('../icons/new_ic/BMP/CALENDAR.png') !important;
}

.CALS {
    background-image:url('../icons/new_ic/BMP/CALS.png') !important;
}

.COLUMN {
    background-image:url('../icons/new_ic/BMP/COLUMN.png') !important;
}

.CURRCONV {
    background-image:url('../icons/new_ic/BMP/ATTACH.png') !important;
}

.DBMS {
    background-image:url('../icons/new_ic/BMP/DBMS.png') !important;
}

.DEREVO2 {
    background-image:url('../icons/new_ic/BMP/DEREVO2.png') !important;
}

.DOC_TURN {
    background-image:url('../icons/new_ic/BMP/DOC_TURN.png') !important;
}

.FLAGS {
    background-image:url('../icons/new_ic/BMP/FLAGS.png') !important;
}

.FLAGS_EX {
    background-image:url('../icons/new_ic/BMP/FLAGS_EX.png') !important;
}

.FORWARD {
    background-image:url('../icons/new_ic/BMP/FORWARD.png') !important;
}

.FRCENTER {
    background-image:url('../icons/new_ic/BMP/FRCENTER.png') !important;
}

.LARGE {
    background-image:url('../icons/new_ic/BMP/LARGE.png') !important;
}

.LOGFILE {
    background-image:url('../icons/new_ic/BMP/LOGFILE.png') !important;
}

.MAGNIFY {
    background-image:url('../icons/new_ic/BMP/MAGNIFY.png') !important;
}

.MINUS {
    background-image:url('../icons/new_ic/BMP/MINUS.png') !important;
}

.QUERY {
    background-image:url('../icons/new_ic/BMP/QUERY.png') !important;
}

.REP_JOIN {
    background-image:url('../icons/new_ic/BMP/REP_JOIN.png') !important;
}

.REP_SOLO {
    background-image:url('../icons/new_ic/BMP/REP_SOLO.png') !important;
}

.REPLY {
    background-image:url('../icons/new_ic/BMP/REPLY.png') !important;
}

.RETRIEVE {
    background-image:url('../icons/new_ic/BMP/RETRIEVE.png') !important;
}

.SMALL {
    background-image:url('../icons/new_ic/BMP/SMALL.png') !important;
}

.STOP2 {
    background-image:url('../icons/new_ic/BMP/STOP2.png') !important;
}

.DOC_DOWN {
    background-image:url('../icons/new_ic/BMP/DOC_DOWN.png') !important;
}

.DOC {
    background-image:url('../icons/new_ic/BMP/DOC.png') !important;
}

.DOC_IN {
    background-image:url('../icons/new_ic/BMP/DOC_IN.png') !important;
}

.DOC_M1 {
    background-image:url('../icons/new_ic/BMP/DOC_M1.png') !important;
}

.DOC_OUT {
    background-image:url('../icons/new_ic/BMP/DOC_OUT.png') !important;
}

.LINK {
    background-image:url('../icons/new_ic/BMP/LINK.png') !important;
}

.LINKR {
    background-image:url('../icons/new_ic/BMP/LINKR.png') !important;
}

.EDIT_X {
    background-image:url('../icons/new_ic/BMP/EDIT_X.png') !important;
}

.EDIT_G {
    background-image:url('../icons/new_ic/BMP/EDIT_G.png') !important;
}

.CHKMAIL {
    background-image:url('../icons/new_ic/BMP/CHKMAIL.png') !important;
}

.EDITG {
    background-image:url('../icons/new_ic/BMP/EDITG.png') !important;
}

.DOCVIEW {
    background-image:url('../icons/new_ic/BMP/DOCVIEW.png') !important;
}

.PRINT {
    background-image:url('../icons/new_ic/BMP/PRINT.png') !important;
}

.TOMAIL {
    background-image:url('../icons/new_ic/BMP/TOMAIL.png') !important;
}

.PRINT_X {
    background-image:url('../icons/new_ic/BMP/PRINT_X.png') !important;
}

.APP1 {
    background-image:url('../icons/new_ic/BMP/APP1.png') !important;
}

.USER {
    background-image:url('../icons/new_ic/BMP/USER.png') !important;
}

.EXECUTE {
    background-image:url('../icons/new_ic/BMP/EXECUTE.png') !important;
}

.CURRCONV {
    background-image:url('../icons/new_ic/BMP/CURRCONV.png') !important;
}

.A_LIMS {
    background-image:url('../icons/new_ic/BMP/A_LIMS.png') !important;
}

.CHART {
    background-image:url('../icons/new_ic/BMP/CHART.png') !important;
}

.SORT {
    background-image:url('../icons/new_ic/BMP/SORT.png') !important;
}

.CARD {
    background-image: url('../icons/new_ic/card.png') !important;
}
/*ќтключим крестик очистки полей ввода дл€ новых IE*/
input::-ms-clear {
   display: none;
}

/*кнопку раскрыти€ панели внешнего расширенного фильтра подвинем к левому краю панели */
.extfilter-panel .x-tool {
    left: 0 !important;
}
.extfilter-panel .x-panel-header-text-container {
    padding-left: 18px;
}

.body {
    color: #7FFF00 !important;
}
/*стили условной раскраски строк(€чеек грида)*/
/*цвета шрифтов*/
.font_color_black {
    color: #000000 !important;
}

.font_color_blue {
    color: #0000FF !important;
}

.font_color_burgundy {
    color: #900020 !important;
}

.font_color_charcoal {
    color: #36454F !important;
}

.font_color_chartreuse {
    color: #7FFF00 !important;
}

.font_color_cyan {
    color: #00FFFF !important;
}

.font_color_darkaqua {
    color: #1799B5 !important;
}

.font_color_darkblue {
    color: #00008B !important;
}

.font_color_darkgray {
    color: #A9A9A9 !important;
}

.font_color_darkgreen {
    color: #013220 !important;
}

.font_color_darkred {
    color: #8B0000 !important;
}

.font_color_gray {
    color: #808080 !important;
}

.font_color_green {
    color: #008000 !important;
}

.font_color_jade {
    color: #00A86B !important;
}

.font_color_lightaqua {
    color: #B3FFFF !important;
}

.font_color_lightgray {
    color: #D3D3D3 !important;
}

.font_color_lightgreen {
    color: #90EE90 !important;
}

.font_color_lightperiwinkle {
    color: #D0D9E1 !important;
}

.font_color_magenta {
    color: #FF00FF !important;
}

.font_color_maize {
    color: #FBEC5D !important;
}

.font_color_marigold {
    color: #B57D29 !important;
}

.font_color_midnightblue {
    color: #191970 !important;
}

.font_color_orchid {
    color: #DA70D6 !important;
}

.font_color_periwinkle {
    color: #CCCCFF !important;
}

.font_color_purple {
    color: #BF00FF !important;
}

.font_color_red {
    color: #FF0000 !important;
}

.font_color_royalblue {
    color: #4169E1 !important;
}

.font_color_salmon {
    color: #FA8072 !important;
}

.font_color_sky {
    color: #87CEEB !important;
}

.font_color_teal {
    color: #008080 !important;
}

.font_color_white {
    color: #FFFFFF !important;
}

/*цвета фона*/
.bg_color_black {
    background-color: #000000 !important;
}

.bg_color_blue {
    background-color: #0000FF !important;
}

.bg_color_burgundy {
    background-color: #900020 !important;
}

.bg_color_charcoal {
    background-color: #36454F !important;
}

.bg_color_chartreuse {
    background-color: #7FFF00 !important;
}

.bg_color_cyan {
    background-color: #00FFFF !important;
}

.bg_color_darkaqua {
    background-color: #1799B5 !important;
}

.bg_color_darkblue {
    background-color: #00008B !important;
}

.bg_color_darkgray {
    background-color: #A9A9A9 !important;
}

.bg_color_darkgreen {
    background-color: #013220 !important;
}

.bg_color_darkred {
    background-color: #8B0000 !important;
}

.bg_color_gray {
    background-color: #808080 !important;
}

.bg_color_green {
    background-color: #008000 !important;
}

.bg_color_jade {
    background-color: #00A86B !important;
}

.bg_color_lightaqua {
    background-color: #B3FFFF !important;
}

.bg_color_lightgray {
    background-color: #D3D3D3 !important;
}

.bg_color_lightgreen {
    background-color: #90EE90 !important;
}

.bg_color_lightperiwinkle {
    background-color: #D0D9E1 !important;
}

.bg_color_magenta {
    background-color: #FF00FF !important;
}

.bg_color_maize {
    background-color: #FBEC5D !important;
}

.bg_color_marigold {
    background-color: #B57D29 !important;
}

.bg_color_midnightblue {
    background-color: #191970 !important;
}

.bg_color_orchid {
    background-color: #DA70D6 !important;
}

.bg_color_periwinkle {
    background-color: #CCCCFF !important;
}

.bg_color_purple {
    background-color: #BF00FF !important;
}

.bg_color_red {
    background-color: #FF0000 !important;
}

.bg_color_royalblue {
    background-color: #4169E1 !important;
}

.bg_color_salmon {
    background-color: #FA8072 !important;
}

.bg_color_sky {
    background-color: #87CEEB !important;
}

.bg_color_yellow{
     background-color:  #FFFF00 !important;
}

.bg_color_teal {
    background-color: #008080 !important;
}

.bg_color_white {
    background-color: #FFFFFF !important;
}

.x-grid-cell, .x-tree-node-text {
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
}

a.x-tree-node-text  {
    text-decoration: none;
}

/*поднимем панельку плагина редактора над остальными элементами*/
.x-grid-row-editor {
    z-index: 2;
}
/*.x-grid-row-editor-buttons {
    left: 250px !important;
}*/

/*.x-frame-ml .x-btn-ml {
    background-color: #81ffb8;
    color: black;
    background-image: none;
}*/
.func_btn{
    background-image: none;
}
.x-row-editor-update-button {
    background-color: #81ffb8;
    color: black;
    background-image: none;
}
.x-row-editor-cancel-button {
    background-color: #ff8181;
    color: black;
    background-image: none;
}

/*x-btn x-row-editor-cancel-button*/
/*x-frame-ml x-btn-ml x-btn-default-small-ml x-btn-default-small-noicon-ml
x-frame-mc x-btn-mc x-btn-default-small-mc x-btn-default-small-noicon-mc*/
/*.x-frame-mc .x-btn-mc .x-btn-button*/ 
.x-row-editor-cancel-button .x-frame-mc{
    background-color: #ff8181;
    color: black;
    background-image: none;
}

.x-row-editor-update-button .x-frame-mc{
    background-color: #81ffb8;
    color: black;
    background-image: none;
}

.x-btn-default-small-tl{
    background-image: none;
}

.x-btn-default-small-tc{
    background-image: none;
}
.x-btn-default-small-tr{
    background-image: none;
}
.x-btn-default-small-ml{
    background-image: none;
}
.x-btn-default-small-mc{
    background-image: none;
}
.x-btn-default-small-mr{
    background-image: none;
}

.x-btn-default-small-bl{
    background-image: none;
}
.x-btn-default-small-bc{
    background-image: none;
}
.x-btn-default-small-br{
    background-image: none;
}


    /*overflow: hidden;
    padding: 3px 6px;
    white-space: nowrap;*/


.x-grid-row-summary .x-grid-cell-inner{
    padding-bottom: 18px;
}
