@{
    //Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Моніторинг портфелю ЕПП в ЦА";
}

<script src="~/Areas/Pfu/Scripts/Pfu/pfuEppPortfolio.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<h1>@ViewBag.Title</h1>


<div>
    <div class="col-md-12">
       
            <label> Дата:</label>
            <input type="text" class="form-control" id="datepicker" />
   
            <label> Код філії:</label>
            <input type="text" class="form-control" id="KFselect" placeholder="Вкажіть статус" />

    </div>

    <div class="col-md-12">
        <br /><br />
        <p><b>Оброблено загалом:</b><label id='total'></label></p> <text></text>
        <div class="col-md-2">
            <input type='checkbox' id='fun_new'   />&nbspНові:&nbsp&nbsp<label id='new'></label><br />
            <input type='checkbox' id='fun_passval'   /> &nbspПройшли валідацію:&nbsp&nbsp<label id='passval'></label><br />
            <input type='checkbox' id='fun_sendru'   /> &nbspВідправленні в РУ:&nbsp&nbsp<label id='sendru'></label><br />
            <input type='checkbox' id='fun_accopen'   /> &nbspРахунки відкрито:&nbsp&nbsp<label id='accopen'></label><br />
            <input type='checkbox' id='fun_cardsact'  /> &nbspКарти активовано:&nbsp&nbsp<label id='cardsact'></label><br />
            <input type='checkbox' id='fun_passact'  /> &nbspАктивацію пройшли:&nbsp&nbsp<label id='passact'></label><br />
            <input type='checkbox' id='fun_kv2send'  /> &nbspКвитанцію 2 відправлено:&nbsp&nbsp<label id='kv2send'></label><br />
        </div>

        <div class="col-md-2">
            <input type='checkbox' id='fun_failedval'  /> &nbspНе пройшли валідацію:&nbsp&nbsp<label id='failedval'></label><br />
            <input type='checkbox' id='fun_erropenaclient'  /> &nbspПомилки відкриття клієнта:&nbsp&nbsp<label id='erropenaclient'></label><br />
            <input type='checkbox' id='fun_erropenacc'  /> &nbspПомилки відкриття картки:&nbsp&nbsp<label id='erropenacc'></label><br />
            <input type='checkbox' id='fun_errpercard'  /> &nbspПомилки перевипуску картки:&nbsp&nbsp<label id='errpercard'></label><br />
            <input type='checkbox' id='fun_perprocc'  /> &nbspПовторна обробка:&nbsp&nbsp<label id='perprocc'></label><br />
            <input type='checkbox' id='fun_inprocc'  /> &nbspВ процесі повторної обробки:&nbsp&nbsp<label id='inprocc'></label><br />

        </div>
        <div class="col-md-2">
            <input type='checkbox' id='fun_blockepp'  /> &nbspЗаблокованих ЕПП:&nbsp&nbsp<label id='blockepp'></label><br />
            <input type='checkbox' id='fun_kminwork'  /> &nbspКМ_в роботі:&nbsp&nbsp<label id='kminwork'></label><br />
            <input type='checkbox' id='fun_prockm'  /> &nbspКМ_оброблено:&nbsp&nbsp<label id='prockm'></label><br />
            <input type='checkbox' id='fun_errkm'  /> &nbspКМ_помилки:&nbsp&nbsp<label id='errkm'></label>
        </div>
        <div style="min-height: 1%">
            <div class="col-md-4">
                <button id="RepOrSet" type="button" class="btn btn-primary" margin-bottom:2px;></button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br />
        <div id="gridPortfolio"></div>
    </div>

    <div id="modalWinRNK">
        <div id="gridRNK"></div>
    </div>

    <div id="modalWinEppNum">
        <div id="gridEppNum"></div>
    </div>

    <div id="modalWinAccNum">
        <div id="gridAccNum"></div>
    </div>

    <div id="modalWinFunc">
        <div id="popupNotification"></div>
        <div id="FunctionGrid"></div>
        <br />
        <button id="SetRNK" type="button" class="btn btn-primary" style="margin-left: 88%;">Присвоїти РНК</button>

    </div>
</div>

