@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Інформаційні рядки з помилками";
}

<script src="~/Areas/Pfu/Scripts/Pfu/pfuErrorRows.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/HeaderGrid.css">
@*<h1>@ViewBag.Title</h1>*@


<div>
    <div class="row">
        <h1 style="margin-left:1%">Інформаційні рядки з помилками</h1>
        <div class="col-sm-offset- col-md-2">
            <div class="form-group">
                <label><b>МФО:</b></label>
                <input type="text" id="mfo" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="dateEnd"><b>ID реєстру:</b></label>
                <input type="text" id="regid" />
            </div>
        </div>
        <div class="col-sm-offset- col-md-2">
            <div class="form-group">
                <label><b>Статус інформаційного рядка:</b></label>
                <input type="text" id="state" />
            </div>
        </div>
        <div class="col-md-4">
            <button id="markTopay" type="button" class="btn btn-primary" style="margin-left: 45px; margin-top: 3%">
                Позначити до оплати
            </button>
        </div>
    </div>
    <br/>
    @*<div class="col-md-12">
        <div class="col-md-2">
            <label> МФО:</label>
            <input type="text" id="mfo" />
            <br />
        </div>
        <br/>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            <label>ID реєстру:</label>
            <input type="text"  id="regid" />
            <br />
        </div>
    </div>*@
    <div id="gridErrorRows"></div>
</div>
