@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Взаємодія з ПФУ. Консоль адміністратора";
}

<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMain.css">

<script src="/barsroot/scripts/respond.min.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuBase.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuCtrl.js"></script>

<style>
    .query-box {
        background-color: rgba(20,53,80,0.038);
        border: 1px solid rgba(20,53,80,0.05);
        border-radius: 2px;
        padding: 10px;
        max-width: 800px;
    }
    .k-grid-filter.k-state-active {
        background-color: #969696
    }
</style>

<h1>@ViewBag.Title</h1>
<div class="container-fluid query-box">
    <div class="row">
        <h1 style="margin-left: 20px">Запит до ПФУ:</h1>
        <div class="col-md-offset-2 col-md-4">
            <div class="form-group">
                <label for="dateStart"><b>Початку періоду:</b></label>
                <input class="form-control" id="dateStart" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="dateEnd"><b>Завершення періоду:</b></label>
                <input class="form-control" id="dateEnd" />
            </div>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <div class="form-group">
                <label for="pfu_type"><b>Тип запиту:</b></label>
                <input class="form-control" id="pfu_type" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-xs-2">
            <button id="start" class='btn btn-primary'>
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                Запит
            </button>
        </div>
    </div>
</div>

<h1>Інформаційні таблиці</h1>
<div id="tabstrip">
    <ul>
        <li>Перегляд відправлених запитів</li>
        <li>Отримані файли ПФУ</li>
    </ul>
    <div id="tab1">
        <div id="grid_request"></div>
    </div>
    <div id="tab2">
        <div id="grid_files"></div>
    </div>
</div>


<div id="gridConsoleBox"></div>

<script type="text/x-kendo-template" id="consoleTitle-template">
    <div class="toolbar">
        <h2 style="margin: 5px">Журнал консолі</h2>
    </div>
</script>

<script type="text/x-kendo-template" id="envelopeTitle-template">
    <div class="toolbar">
        <h2 style="margin: 5px">Отримані конверти від ПФУ</h2>
        <button id="goToFiles" class='btn btn-info'>
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            Перегляд реєстрів
        </button>
        @*<button id="loadEnvelope" class='btn btn-success'>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            Завантажити конверт
        </button>*@
    </div>
</script>

<script type="text/x-kendo-template" id="loadFile-template">
    <div class="toolbar">
        <h2 style="margin: 5px">Файли у конверті </h2>
        <button id="backToEnvelope" class='btn btn-info'>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Повернутися
        </button>
        @*<button id="loadFile" class='btn btn-success'>
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
            Завантажити файл
        </button>*@
    </div>
</script>