@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "RequestsProcessing";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuGridWindow.js"></script>
<script src="~/Areas/Pfu/Scripts/Pfu/pfuRecBlocked.js"></script>
<script src="~/lib/jsZip/jszip.min.js"></script>

<link rel="stylesheet" href="~/Areas/Pfu/Css/Pfu/pfuMain.css" />

<div class="page-header">
    <h1 id="title"></h1>
</div>

<div id="gridMain"></div>
<div class="search-main"></div>