@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Підтвердження пріоритетних заявок.";
}
@Scripts.Render("~/bundles/Zay/confirmZay")

<script src="~/Areas/Zay/Scripts/ConfirmPrimaryZay/ngConfirmPrimaryZay.js"></script>
<script>
    bars.helper.loadTemplate('@Url.Content("~/Areas/Zay/Scripts/ConfirmPrimaryZay/tpl/CencelReasonPattern.tpl.html")');
</script>
<link href="~/Areas/Zay/Css/styles.css" rel="stylesheet">

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>

@*<div id="tabstrip">
    <ul>
        <li class="k-state-active">Buy</li>
        <li>Sale</li>
    </ul>
    <div>
        <div class="data-box">
            <div id="toolbar-buy"></div>
            <div id="grid-buy"></div>
        </div>
    </div>
    <div>
        <div class="data-box">
            <div id="toolbar-sale"></div>
            <div id="grid-sale"></div>
        </div>
    </div>
</div>*@

<div ng-controller="Zay.ConfirmPrimaryCtrl">
    <div id="ng-tabstrip" kendo-tab-strip k-options="_tabstripOptions">
        <!-- tab list -->
        <ul>
            <li class="k-state-active">Заявки на покупку</li>
            <li>Заявки на продаж</li>
        </ul>
        <div style="padding: 1em">
            <div kendo-toolbar k-options="buyToolbarOptions" style="margin-bottom: 10px;"></div>
            <div kendo-grid="buyGrid" k-options="buyGridOptions" k-on-change="handleChange(data, dataItem, columns, kendoEvent)"></div>
        </div>
        <div style="padding: 1em">
            <div kendo-toolbar k-options="saleToolbarOptions" style="margin-bottom: 10px;"></div>
            <div kendo-grid="saleGrid" k-options="saleGridOptions" k-on-change="handleChange(data, dataItem, columns, kendoEvent)"></div>
        </div>
    </div>
</div>




<div kendo-window="window" k-visible="false" k-modal="true">
    <div ng-controller="Zay.ReasonCtrl">
        <form class="form-inline" id="container-reason" name="reasonForm" ng-submit="reasonForm.$valid && backRequest(transport.backReasonModel)" novalidate>
            <div>
                <label for="viza">Режим повернення:</label>
                <input id="viza" type="text" class="form-control" ng-model="transport.backReasonModel.viza" readonly>
            </div>
            <div>
                <label for="id">Ід. заявки:</label>
                <input id="id" type="text" class="form-control" ng-model="transport.backReasonModel.id" readonly>
            </div>
            <div style="margin-bottom: 5px;">
                <label for="reason">Причина:</label>
                <select kendo-drop-down-list style="width: 385px"
                        ng-model="transport.backReasonModel.reasonType"
                        k-options="reasonsOptions"
                        k-option-label="'-- Оберіть причину --'" required></select>
            </div>
            <div>
                <label for="comment">Коментар:</label>
                <textarea class="form-control vresize" ng-model="transport.backReasonModel.comment" id="comment" rows="5" maxlength="500" required></textarea>
            </div>

            <div class="btns-group">
                @*<div>Не всі поля заповнені {{reasonForm.$valid}}</div>*@
                <button type="submit" class="k-button btnSave" id="save-reason-btn" ng-disabled="reasonForm.$invalid">Зберегти</button>
                @*<button type="button" class="k-button btnCancel" id="cencel-reason-btn">Відмінити</button>*@
            </div>
        </form>
    </div>
</div>


<style>
    .k-grid-header th.k-with-icon .k-link {
        margin-right: 0px;
        font-size: 11px;
    }

    .k-header .k-link {
        text-align: center;
        font-size: 11px;
    }

    .k-grid-header th.k-header, .k-filter-row th {
        text-align: center;
        font-size: 11px;
    }
    .k-list-optionlabel{
        font-size: 13px;
    }

  #currencyUse.k-state-active{
        background-color: #32408f !important;
        color: white !important;
    }
</style>