<connectionStrings>
    <clear />
    <add name="IBankCoreConnectionString"
         connectionString="User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserver;Data Source=SBERWEB;Pooling=yes;"
         providerName="BarsWeb.DbProvider.Oracle" />
    <add name="AppConnectionString"
       connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.7.95.205)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=BARSAPP.CN.UA)));User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserver;Pooling=yes;" 
       providerName="BarsWeb.DbProvider.OracleManaged" />
  </connectionStrings>
