
<div kendo-window="specParamsWindow" k-visible="false" k-modal="true"
     k-width="830" k-title="'Спец.параметри для внесистемних рахунків'" style="background-color: #F2F2F2;">
    <input id="specParamsWindowMode" type="hidden" ng-model="mode"/>
    <div ng-controller="specParamsController">
        <div ng-hide="mode==2">
            <div style="width: 400px; display: inline-block; padding: 5px 0;">
                Ініціатор операції з ЦП
            </div>
            <div style="width: 400px; display: inline-block; padding: 5px 0;">
                Ринок придбання/продажу ЦП
            </div>
            <div style="width: 400px; display: inline-block;">
                <div kendo-grid="grid1" k-options="grid1Options"></div>
            </div>
            <div style="width: 400px; display: inline-block;">
                <div kendo-grid="grid2" k-options="grid2Options"></div>
            </div>
        </div>
        <div ng-hide="mode==1">
            <div style="width: 400px; display: inline-block; padding: 5px 0;">
                Вид договору
            </div>
            <div style="width: 400px; display: inline-block; padding: 5px 0;">
                Вид операції
            </div>

            <div style="width: 400px; display: inline-block;">
                <div kendo-grid="grid4" k-options="grid4Options"></div>
            </div>
            <div style="width: 400px; display: inline-block;">
                <div kendo-grid="grid5" k-options="grid5Options"></div>
            </div>
        </div>
        <div style="width: 400px; display: inline-block; padding: 5px 0;">
            Форма проведення розрахунку
        </div>
        <div style="width: 400px; display: inline-block;">

        </div>
        <div style="width: 400px; display: inline-block;">
            <div kendo-grid="grid3" k-options="grid3Options"></div>
        </div>
        <div style="width: 400px; display: inline-block;">

        </div>
        <div>
            <div style="width: 400px; display: inline-block;">
                <button style="float:right;" ng-disabled="lock.length!=3&&(mode==2&&lock.length!=3)" ng-click="setSpecparams()">Зберегти</button>
            </div>
            <div style="width: 400px; display: inline-block;">
                <button style="float:left;" ng-click="changeBillWindow.close()">Відмінити</button>
            </div>
        </div>
    </div>

</div>

