@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Завантаження схеми XSD у АБС по файлам стат.звітності";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/DownloadXsdScheme/Scripts/KendoCommon.js"></script>
<script src="~/Areas/DownloadXsdScheme/Scripts/DownloadXsdScheme/Main.js"></script>
<link rel="stylesheet" href="~/Areas/DownloadXsdScheme/Css/DownloadXsdScheme/Main.css" />

<meta charset="utf-8" />

<div class="page-header">
    <h1 id="title"></h1>
</div>

<div id="DownloadXsdSchemeGrid"></div>
<div class="search-main"></div>

@*<input type="file" style="display:none;position:center;" id="XsdSchemeFileBrowserDialog" />*@
@*<input name="testFile" id="XsdSchemeFileBrowserDialog" type="file" />*@
@*<input type="file" style="position:center;" id="XsdSchemeFileBrowserDialog" accept=".xsd" />*@
@*<a style="display:none;">download</a>

<br />
<div class="row">
    <label for="test12rows" style="margin-left:25px;width:120px;">12 rows </label>
    <input type="text" id="test12rows" data-count="12" required style="margin-left:25px;" onfocus="openTestKendoWindow(this)" readonly tabindex="-1" />
</div>
<br />
<div class="row">
    <label for="test9rows" style="margin-left:25px;width:120px;">9 rows </label>
    <input type="text" id="test9rows" data-count="9" required style="margin-left:25px;" onfocus="openTestKendoWindow(this)" readonly tabindex="-1" />
</div>
<br />
<div class="row">
    <label for="test6rows" style="margin-left:25px;width:120px;">6 rows </label>
    <input type="text" id="test6rows" data-count="6" required style="margin-left:25px;" onfocus="openTestKendoWindow(this)" readonly tabindex="-1" />
</div>
<br />
<div class="row">
    <label for="test3rows" style="margin-left:25px;width:120px;">3 rows </label>
    <input type="text" id="test3rows" data-count="3" required style="margin-left:25px;" onfocus="openTestKendoWindow(this)" readonly tabindex="-1" />
</div>

<br />
<div class="row">
    <label for="test2rows" style="margin-left:25px;width:120px;">2 rows </label>
    <input type="text" id="test2rows" data-count="2" required style="margin-left:25px;" readonly tabindex="-1" />
</div>*@
