.page-header {
    margin: 5px 5px 5px 5px;
}

.k-filter-menu [type="submit"] {
    width: 54% !important;
    margin-right: 1% !important;
}

.k-filter-menu [type="reset"] {
    width: 44% !important;
    margin-left: 1% !important;
}

.modal-buttons {
    float: right;
    margin: 5px;
}


#documentsGrid th,
#documentsGrid td {
    text-align: center;
}

.display-filters {
    word-wrap: break-word;
    float: right;
}

.red {
    color: red;
}

.buttons-separator {
    width: 1px;
    border-left: 1px solid gray;
    height: 100%;
    margin: 0px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: none;
    pointer-events: none;
}


[disabled].k-button {
    pointer-events: none;
    background-color: lightgray;
}

    [disabled].k-button:hover {
        background-color: #717070;
        cursor: not-allowed;
    }


/*  Explaine and confirm  */
textarea.k-textbox {
    overflow: auto;
    white-space: pre-wrap;
    padding: 10px;
    width: 100%;
    height: 150px;
    resize: none;
}

    textarea.k-textbox:hover {
        border: 1px solid #336896;
        background-color: white;
        box-shadow: 5px 5px 10px #888888;
    }

.div-with-refferences {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*  Explaine and confirm  */
.doc-info-table, .doc-info-table-editable, .doc-info-table-editable2 {
    border-collapse: separate;
    border-spacing: 5px;
}

.doc-info-table {
    font-weight: 600;
}

.container {
    margin-right: 15px !important;
    margin-left: 15px !important;
    width: 95% !important;
}

.panel.panel-default {
    width: auto !important;
}

.doc-info-table-editable tr td:first-child {
    width: 200px !important;
}

    .doc-info-table-editable tr td:first-child + td {
        width: 200px !important;
    }

        .doc-info-table-editable tr td:first-child + td + td {
            width: 400px !important;
        }

.doc-info-table-editable2 tr td:first-child {
    width: 110px !important;
}
/*.doc-info-table-editable2 tr td:first-child {
    width: 150px !important;
}

    .doc-info-table-editable2 tr td:first-child + td {
        width: 75px !important;
    }

        .doc-info-table-editable2 tr td:first-child + td + td {
            width: 100% !important;
        }*/

.doc-info-table-editable input {
    width: 100%;
}

.panel-body {
    padding: 2px;
}

.doc-info-table-editable input[type="checkbox"], .doc-info-table-editable input[type="radio"] {
    width: auto;
    margin-right: 5px;
}


input[readonly="readonly"], input[readonly], input[disabled="disabled"], .k-button[readonly="readonly"], .k-button[readonly], .k-button[disabled="disabled"] {
    color: black !important;
    background-color: rgb(245, 245, 245) !important;
}

    input[disabled="disabled"]:active {
        color: black !important;
        background-color: rgb(245, 245, 245) !important;
    }

.panel-body[disabled="disabled"] {
    color: black !important;
    background-color: rgb(245, 245, 245) !important;
    pointer-events: none;
}

    .panel-body[disabled="disabled"] .k-button, .panel-body[disabled="disabled"] input {
        color: black !important;
        background-color: rgb(245, 245, 245) !important;
        /*pointer-events: none;*/
    }

#rndWindow.k-window-content.k-content {
    max-width: 950px !important;
}

.text-brown {
    color: brown;
}

.text-green {
    color: darkgreen;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-dark-blue {
    color: darkblue;
}

#dictsWindow {
    max-height: 75% !important;
}

/*#dictsWindow .k-grid-content {
        max-height: 75% !important;
    }*/

.k-tooltip {
    width: 400px !important;
    background-color: #d3f1fb !important;
    color: black !important;
    text-align: center !important;
}

.modal-hr {
    margin: 3px;
}

table.doc-info-table {
    width: 100%;
}

.doc-info-table td {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.td-border {
    border-right: 1px solid #eee;
}

.k-window-content.k-content {
    overflow-x: hidden;
}

#customerSearchModalGrid .k-loading-mask {
    display: none;
}


.k-grid-filter.k-state-active {
    background-color: lightgray;
}
