@using Kendo.Mvc.UI
@{
    //Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    const string title = "Перегляд карток страхування";
}
<style>
    .k-grid .k-state-selected  {
        background-color: cornflowerblue !important;
        color: aliceblue;
    }
 
    .k-grid .k-alt.k-state-selected {
        background-color: cornflowerblue !important;
        color: aliceblue;
    }
</style>
<script src="~/Areas/InsUi/Scripts/CardInsurance/Controllers/Index.js"></script>
<div class="conteiner" ng-controller="CardInsurCtrl">
    <h1>@title</h1>
    <div kendo-tool-bar="mainTool">
        <table>
            <tr>
                <td><label for="account">Рахунок</label></td>
                <td><input type="text" maxlength="15" id="account" ng-model="account" class="k-textbox" title="Пошук по принципу Починається з..." /></td>
                <td><label for="fio">П.І.Б. клієнта</label></td>
                <td><input type="text" id="fio" ng-model="fio" class="k-textbox" title="Пошук по принципу Починається з..." /></td>
            </tr>
            <tr>
                <!--td><label for="dateFrom">Початок дії договору страхування</label></!--td>
                <td><input kendo-masked-date-picker id="dateFrom" k-options="dpFormatOptions" ng-model="dateFrom" /></td-->
                <td><label for="dateFrom">ІПН</label></td>
                <td><input type="text" id="inn" ng-model="inn" class="k-textbox" title="Пошук по принципу Починається з..." maxlength="10" /></td>
                <td><button class="k-button" ng-click="search()"><span class='pf-icon pf-16 pf-search' ng-disabled="isSave"></span> Пошук</button></td>
                <td><button class="k-button" ng-click="clear()"><span class='pf-icon pf-16 pf-reload_rotate' ng-disabled="isSave"></span> Очистити</button></td>
                <td><button class="k-button" ng-click="archive()"><span class='pf-icon pf-16 pf-folder' ng-disabled="isSave"></span> Архів договору</button></td>
            </tr>
        </table>
    </div>
    <div id="gridCardInsur" kendo-grid="gridCardInsur"
         k-options="gridOptionsCardInsur">
    </div>
    @*<div id="arcWin" kendo-window="arcWin" k-title="'Архів документу'" k-visible="false"
         k-modal="true" k-scrollable="true" style="{{win_style}}">

    </div>*@

</div>
<style>
    table td {
        padding: 5px;
    }
</style>