<link rel="stylesheet" href="~/Areas/GL/CSS/style.css?29_12_2017__17_13_25" />
<script src="~/Areas/GL/Scripts/Services/SchemeBuilderService.js?29_12_2017__17_13_26"></script>
<script src="~/Areas/GL/Scripts/Controllers/SchemeBuilderCtrl.js?29_12_2017__17_13_26"></script>

<div ng-controller="SchemeBuilder as sbCtrl">
    <h1 class="">Конструювання схем перекриття/розчеплення</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-heading">
                <label class="category-label" for="grp">Група перекриття:</label>
                <select kendo-drop-down-list
                        k-data-text-field="'Name'"
                        k-data-value-field="'GroupId'"
                        k-data-source="schemeGroupDataSource"
                        k-options="schemeGroupOptions"
                        style="width: 500px"></select>
            </div>
            <div data-kendo-toolbar="sbCtrl.schemeBuilderGridToolbar" k-options="sbCtrl.schemeBuilderGridToolbarOptions">
            </div>
            <div data-kendo-grid="sbCtrl.schemeBuilderGrid" data-options="sbCtrl.schemeBuilderGridOptions">
            </div>
            <br />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Інформація по схемі {{sbCtrl.schemeId}}</h3>
                </div>
                <div class="panel-body" style="padding: 0px;">
                    <div data-kendo-toolbar="sbCtrl.schemeBuilderDetailGridToolbar" k-options="sbCtrl.schemeBuilderDetailGridToolbarOptions"></div>
                    <div id="detailsGrid" data-kendo-grid="sbCtrl.schemeBuilderDetailGrid" data-options="sbCtrl.schemeBuilderDetailGridOptions"></div>
                    <label>Поле "Формула" заповнюється формулою розрахунку суми, або сумою у <strong>копійках</strong>.</label>
                </div>
            </div>
        </div>
    </div>

    <div kendo-window="editSchemeAccWindow" k-visible="false" k-modal="true" k-width="400">
        <form kendo-validator="validator">
            <ul id="fieldlist">
                <li>
                    <label for="saAccNum">Рахунок:</label>
                    <input kendo-masked-text-box ng-model="sbCtrl.sa.AccNum" id="saAccNum" name="saAccNum" k-mask="'00000000000000'" placeholder="Вкажіть рахунок" required validationMessage="Вкажіть рахунок" style="width: 180px;" />
                </li>
                <li>
                    <label for="saCurrId">Валюта:</label>
                    <input kendo-masked-text-box ng-model="sbCtrl.sa.CurrId" id="saCurrId" name="saCurrId" k-mask="'000'" placeholder="Валюта" required validationMessage="Вкажіть валюту" style="width: 50px" />
                    <select kendo-drop-down-list ng-model="sbCtrl.sa.CurrId" k-data-text-field="'Name'" k-data-value-field="'CurrId'" k-data-source="currDataSource"
                            k-options="currOptions" style="width: 200px"></select>
                </li>
                <li>
                    <label for="saName">Назва рахунку:</label>
                    <input ng-model="sbCtrl.sa.Name" id="saName" name="saName" ng-disabled="true" style="width: 100%">
                </li>
                <li>
                    <label for="saSchemaId">Номер схеми:</label>
                    <input kendo-masked-text-box ng-model="sbCtrl.sa.SchemaId" id="saSchemaId" name="saSchemaId" k-mask="'00000000000000'" required validationMessage="Вкажіть номер схеми" style="width: 180px">
                </li>

                <li>
                    <label for="saCalcMethod">Cпосіб обрахування суми:</label>
                    <input kendo-masked-text-box ng-model="sbCtrl.sa.CalcMethod" id="saCalcMethod" name="saCalcMethod" k-mask="'0000'" required validationMessage="Вкажіть cпосіб обрахування суми" style="width: 90px">
                </li>
                <li class="btns">
                    <button class="k-primary" ng-click="sbCtrl.checkSchemeAccount()"><span class="k-icon k-i-tick"></span> Зберегти</button>
                    <button ng-click="editSchemeAccWindow.close()"><span class="k-icon k-i-cancel"></span> Відмінити</button>
                </li>
            </ul>
        </form>
    </div>

    <div kendo-window="editSchemeSideBWindow" k-visible="false" k-modal="true" k-width="550">
        <form kendo-validator="validatorSB">
            <ul id="fieldlist">
                <li>
                    <label for="ssbOpType" class="">Вид документу:</label>
                    <input kendo-auto-complete k-data-source="opTypesDataSource" k-filter="'startswith'" k-template="'#= Id # #= Name #'" k-data-text-field="'Id'" ng-model="sbCtrl.ssb.OpType" id="ssbOpType" name="ssbOpType" required validationMessage="Вкажіть тип документу" style="width: 400px;" />
                </li>
                <li>
                    <label for="ssbOpCode">Код операції:</label>
                    <input kendo-auto-complete k-data-source="operationsDataSource" k-filter="'startswith'" k-template="'#= Id # #= Name #'" k-data-text-field="'Id'" ng-model="sbCtrl.ssb.OpCode" id="ssbOpCode" name="ssbOpCode" required validationMessage="Вкажіть код операції" style="width: 400px;" />
                </li>
                <li>
                    <label for="ssbRecipientBankId">МФО банку отримувача:</label>
                    <input kendo-auto-complete k-data-source="banksDataSource" k-filter="'startswith'" k-min-length="3" k-template="'#= BankId # #= Name #'" k-data-text-field="'BankId'" ng-model="sbCtrl.ssb.RecipientBankId" id="ssbRecipientBankId" name="ssbRecipientBankId" required validationMessage="Вкажіть МФО банку" style="width: 400px;" />
                </li>
                <li>
                    <label for="ssbRecipientAccNum">Рахунок:</label>
                    <input kendo-masked-text-box ng-model="sbCtrl.ssb.RecipientAccNum" id="ssbRecipientAccNum" name="ssbRecipientAccNum" k-mask="'00000000000000'" required validationMessage="Вкажіть рахунок отримувача" style="width: 180px;" />
                </li>
                <li>
                    <label for="ssbCurrId">Валюта:</label>
                    <input kendo-masked-text-box ng-model="sbCtrl.ssb.CurrId" id="ssbCurrId" name="ssbCurrId" k-mask="'000'" placeholder="Валюта" required validationMessage="Вкажіть валюту" style="width: 50px" />
                    <select kendo-drop-down-list ng-model="sbCtrl.ssb.CurrId" k-data-text-field="'Name'" k-data-value-field="'CurrId'" k-data-source="currDataSource"
                            k-options="currOptionsB" style="width: 200px" ng-disabled="sbCtrl.ssb.editMode"></select>
                </li>
                <li>
                    <label for="ssbCoefficient">Коефіцієнт:</label>
                    <input kendo-numeric-text-box k-min="0" k-max="1" k-options="sbCtrl.coefficientFormat" k-ng-model="sbCtrl.ssb.Coefficient" id="ssbCoefficient" name="ssbCoefficient" style="width: 200px;" />
                </li>
                <li>
                    <label for="ssbRecipientName">Отримувач:</label>
                    <input ng-model="sbCtrl.ssb.RecipientName" id="ssbRecipientName" required validationMessage="Вкажіть найменування отримувача" class="k-textbox" name="ssbRecipientName" maxlength="38" style="width: 400px;" />
                </li>
                <li>
                    <label for="ssbNarrative">Призначення платежу:</label>
                    <input ng-model="sbCtrl.ssb.Narrative" id="ssbNarrative" required validationMessage="Вкажіть призначення платежу" class="k-textbox" name="ssbNarrative" style="width: 500px;" maxlength="160" />
                </li>
                <li>
                    <label for="ssbRecipienCustCode">ОКПО отримувача:</label>
                    <input kendo-masked-text-box ng-model="sbCtrl.ssb.RecipienCustCode" id="ssbRecipienCustCode" required validationMessage="Вкажіть ОКПО" name="ssbRecipienCustCode" k-mask="'0000000000'" style="width: 120px;" maxlength="10" />
                </li>

                <li>
                    <table style="width:100%;">
                        <tr>
                            <td style="width:50%;">
                                <label for="ssbFormula">Формула:</label>
                                <input kendo-masked-text-box ng-model="sbCtrl.ssb.Formula" id="ssbFormula" name="ssbFormula" style="width: 90%;" ng-change="sbCtrl.editFormulaChange(sbCtrl.ssb.Formula)" title="Заповнюється формулою розрахунку суми, або сумою у копійках." />
                            </td>
                            <td style="width:50%;">
                                <label for="ssbKod">Пріоритет розрахунку:</label>
                                <input kendo-numeric-text-box k-min="1" k-max="9" k-step="1" k-ng-model="sbCtrl.ssb.Kod" id="ssbKod" name="ssbKod" style="width: 120px;" k-options="sbCtrl.kodOptions" title="Пріоритет розрахунку повинен бути унікальним у розрізі однієї схеми." />
                            </td>
                        </tr>
                    </table>
                </li>

                <li>
                    <label for="ssbScale">Рівень:</label>
                    <input kendo-masked-text-box ng-model="sbCtrl.ssb.Scale" id="ssbScale" name="ssbScale" k-mask="'000'" style="width: 90px;" />
                </li>

                <li class="btns">
                    <button class="k-primary" ng-click="sbCtrl.saveSchemeSideB()"><span class="k-icon k-i-tick"></span> Зберегти</button>
                    <button ng-click="editSchemeSideBWindow.close()"><span class="k-icon k-i-cancel"></span> Відмінити</button>
                </li>
            </ul>
        </form>
    </div>
</div>
