@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    var bid_id = Request.Params["bid_id"];
    string title = "Вибір служб для розгляду заявки №" + bid_id + "(ЦА)";
}

<h1>@title</h1>
<select id="multiselect" multiple="multiple" style="width: 400px"></select>
<br />
<div>
    <a id='btnSave' class='k-button k-button-icontext'><span class='pf-icon pf-16 pf-save'></span> Зберегти</a>
</div>
<script>
    $(document).ready(function () {
        $("#multiselect").kendoMultiSelect({
            autoClose: false,
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: {
                transport: {
                    read: {
                        type: "GET",
                        url: bars.config.urlContent('/api/Wcs/ServiceList')
                    }
                }
            }
        });

        var arrayVal = $.ajax({
            async: false,
            cache: false,
            type: "GET",
            url: bars.config.urlContent('/Wcs/creditservice/GetValue/?bid_id=@bid_id&question_id=REQUIRED_SRVS')
        }).responseText.split(',');

        var multiselect = $("#multiselect").data("kendoMultiSelect");
        multiselect.value(arrayVal);

        $("#btnSave").on("click", function () {
            var data = "bid_id=@bid_id&services=";
            var list = $("#multiselect").val();
            if (list != null)
            {
                for (var i = 0; i < list.length; i++) {
                    var separator = ",";
                    if (i == list.length - 1) {
                        separator = "";
                    }
                    data += list[i] + separator;
                }
            }
            bars.ui.confirm({ text: 'Зберегти служби' }, function () {
                $.ajax({
                    async: false,
                    type: "POST",
                    url: bars.config.urlContent('/api/Wcs/ServiceList/Post/?' + data),
                    success: window.location = bars.config.urlContent('/credit/crdsrv/bid_card.aspx?srvhr=CA&bid_id=@bid_id')
                }).done(function () {
                    window.location.reload(true);
                });
            });
        });
    });
</script>
