.k-state-disabled {
    background-color: #dbd6d6 !important;
}
.k-pager-nav{
    background-color: #fff !important;
}
.k-grid-filter.k-state-active {
    background-color: #a2c8f1;
    border-color: #a2c8f1;
    padding: 7px 3px;
    color: white !important;
}
#btnClearAddress{
    float: right;
    width: 100px;
    height: 32px;
}