<script src="~/Areas/Acct/Controllers/ReservedAccountsCtrl.js"></script>
<div ng-controller="Acct.ReservedAccountsCtrl as resAcctCtrl">
    <h1 class="app-title">Зарезервовані рахунки</h1>
    <div data-kendo-toolbar="" k-options="resAcctCtrl.toolbarOptions"></div>
	<div id="resAcctGrid" data-kendo-grid="resAcctCtrl.resAcctGrid" data-options="resAcctCtrl.resAcctGridOptions"></div>
	<div id="winConfirm" kendo-window="winConfirm" k-title="'Підтверження!'" k-visible="false" k-modal="true" style="height: 140px; width: 490px; ">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td valign="top">
                            <div style="margin:0 5px 0 0;display:inline-block;background-repeat:no-repeat;width:24px;height:24px;background-image:url(/barsroot/Content/images/PureFlat/24/Hot/help.png)">
                            </div>
                        </td>
                        <td><p id="conf">.</p></td>
                    </tr>
                    <tr> <td colspan="2">@*<button id="openCard" onclick="OpenAccCard();" class="delete-confirm k-button k-primary" style="font-size : 11px;">Підтвердити та перейти до картки рахунку</button>*@</td></tr>
                </tbody>
            </table>
            <br />
        </div>
        <div class="k-content k-window-footer">
            <button id="btnUpdateCancel" ng-click="OnCloseCoonfWin();" class="delete-confirm k-button">Відмінити</button>
            <button id="openCard" ng-click="OpenAccCard(1);" class="delete-confirm k-button k-primary" style="font-size : 12px; height:27px;">Редагувати картку клієнта</button>
        </div>
    </div>

    <div id="winConfirmOpen" kendo-window="winConfirmOpen" k-title="'Підтверження!'" k-visible="false" k-modal="true" style="height: 140px; width: 490px; ">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td valign="top">
                            <div style="margin:0 5px 0 0;display:inline-block;background-repeat:no-repeat;width:24px;height:24px;background-image:url(/barsroot/Content/images/PureFlat/24/Hot/help.png)">
                            </div>
                        </td>
                        <td><p id="conf1">Оберіть спосіб.</p></td>
                    </tr>
                    <tr> <td colspan="2">@*<button id="openCard" onclick="OpenAccCard();" class="delete-confirm k-button k-primary" style="font-size : 11px;">Підтвердити та перейти до картки рахунку</button>*@</td></tr>
                </tbody>
            </table>
            <br />
        </div>
        <div class="k-content k-window-footer">
            <button id="btnCancel" ng-click="winConfirmOpen.close();" class="delete-confirm k-button">Відмінити</button>
            <button id="btnOk" ng-click="openReservedAcc(0)" class="delete-confirm k-button k-primary">Відкрити з редагуванням</button>
            <button id="open" ng-click="openReservedAcc(1);" class="delete-confirm k-button k-primary" style="font-size : 12px; height:27px;">Відкрити</button>
        </div>
    </div>
	<div id="multyAcceptWindow"></div>

	<div id="winPrintDoc" kendo-window="winPrintDocOpen" 
		 k-title="'Друк договору'" 
		 k-visible="false" k-modal="true" 
		 style="height: 300px; width: 590px;">
		<div id="docOptions" data-kendo-grid="resAcctCtrl.printDocGrid" data-options="resAcctCtrl.printDocOptions"></div>
	</div>

</div>

