@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    //ViewBag.Title = "";
}
<script src="~/Areas/CreditUi/Scripts/analysisBalanceCtrl.js?v1.0"></script>
<div ng-controller="CreditUi.analysisBalanceCtrl" name="main">
    <h1>{{Title}}</h1>
    <div class="form-group">
        <div>
            <div kendo-tool-bar="tools" k-options="toolsOptions">
            </div>
        </div>
        <div>
            <!--div kendo-grid="accKredit"
                 k-options="grigKreditOptions"
                 k-columns="gridKreditColumns"></div-->
            <div kendo-grid="gridKredit" options="gridKreditOptions"></div>
        </div>
        <div>
            <div kendo-tool-bar="separateTool">
            </div>
        </div>
        <div>
            <div kendo-grid="gridDebit" options="gridDebitOptions"></div>
        </div>
    </div>
    <div kendo-window="window" k-visible="false" k-modal="true" k-iframe="true">  
    </div>
</div>
<style>
    table td {
        padding: 2px;
    }

    .k-state-selected {
        color: #fff !important;
        background-color: #428bca !important;
        border-color: #428bca !important;
    }
</style>