@{
    ViewBag.Title = "Пакетне перебранчування";
}
<script src="~/Areas/BpkW4/Scripts/BatchBranching.js">
</script>

<div id="content" ng-controller="BatchBranchingCtrl">
    <h2>@ViewBag.Title</h2>
    <div class="demo-section k-content" style="padding-bottom: 2em; padding-top: 1em;">
        <label for="file">Виберіть файл у форматі .xml</label>
        <input name="file" id="files" type="file" accept="text/xml" />
    </div>
    <div id="filesGrid" kendo-grid="filesGrid" k-options="filesGridOptions" k-rebind="filesGridOptions" k-on-save-changes="saveChanges(kendoEvent)">
        <div k-detail-template>
            <div id="fileContentChildGrid" kendo-grid="fileContentChildGrid" k-options="fileContentChildGridOptions(dataItem)"></div>
        </div>
    </div>
</div>
