@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Підтвердження активації зарезервованих рахунків.";
}

<script src="~/Scripts/respond.min.js"></script>
<script src="~/Areas/BpkW4/Scripts/KendoCommon.js"></script>
<script src="~/Areas/BpkW4/Scripts/ActivationReservedAccounts.js"></script>

<link rel="stylesheet" href="~/Areas/BpkW4/Content/Main.css" />

<h1>@ViewBag.Title</h1>

<div class="well" id="">
    <div class="row">
        <br>
        <div class="form-inline">
            <button id="ApplyActivationBtn" type="button" class="btn btn-primary" style="margin-left: 25px">
                <i class="fa fa-check"></i> Підтвердити активацію рахунку
            </button>
            <button id="CanselActivationBtn" type="button" class="btn btn-primary" style="margin-left: 125px">
                <i class="fa fa-close"></i> Відхилити активацію рахунку
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div id="gridMain"></div>

<div id="winConfirm" kendo-window="winConfirm" k-title="'Підтверження!'" k-visible="false" k-modal="true" style="height: 120px; width: 490px; ">
    <div>
        <table>
            <tbody>
                <tr>
                    <td valign="top">
                        <div style="margin:0 5px 0 0;display:inline-block;background-repeat:no-repeat;width:24px;height:24px;background-image:url(/barsroot/Content/images/PureFlat/24/Hot/help.png)">
                        </div>
                    </td>
                    <td><p id="conf">.</p></td>
                </tr>
                <tr> <td colspan="2">@*<button id="openCard" onclick="OpenAccCard();" class="delete-confirm k-button k-primary" style="font-size : 11px;">Підтвердити та перейти до картки рахунку</button>*@</td></tr>
            </tbody>
        </table>
        <br />
    </div>
    <div class="k-content k-window-footer">
        <button id="btnUpdateCancel" onclick="OnCloseCoonfWin();" class="delete-confirm k-button">Відмінити</button>
        <button id="btnUpdateOk" onclick="OpenAccCard(0)" class="delete-confirm k-button k-primary">Підтвердити</button>
        <button id="openCard" onclick="OpenAccCard(1);" class="delete-confirm k-button k-primary" style="font-size : 12px; height:27px">Підтвердити та перейти до картки рахунку</button>
    </div>
</div>