@{
    ViewBag.Title = "Реєстр рахунків @F";
}
<script src="~/Areas/Dpa/Scripts/RegisterCountsDpa.js?v1.1"></script>
<link rel="stylesheet" href="~/Areas/Dpa/Content/Site.css" />

<div id="content" ng-app="BarsWeb.Controllers" ng-controller="RegisterCountsDpa">
    <h2>@ViewBag.Title</h2>

    <div class="form-inline k-content">
        <div class="form-group" style="width: 19%;">
            <fieldset>
                <legend>Дата звіту</legend>
                <form>
                    <input id="DateGrid" class="k-input" ng-model="dateFromDate" name="reportdate" kendo-date-picker data-k-format="'dd/MM/yyyy'" required />
                </form>
            </fieldset>
        </div>

        <div class="form-group" style="width: 19%;">
            <fieldset>
                <legend style="width: 41%;">Файл звіту</legend>
                <input style="margin-top: 3px;" id="dropdownlist" kendo-drop-down-list
                       k-data-source="allTypes" k-data-text-field="'text'" k-data-value-field="'value'" k-on-change="onChange()" />
            </fieldset>
        </div>

        <button class="k-button" ng-click="GetDataForGrid()" style="margin-top: 19px; width: 32px; height: 27px;" title="Наповнити таблицю даними" ng-disabled="!formed_files">
            <img src="~/Areas/Dpa/Content/Images/RuningIcon.png" width="16" height="16" />
        </button>

        <div class="form-group">
            <fieldset style="width: 335px;">
                <legend style="width: 50%;">Сформований файл</legend>
                <div class="form-group">
                    <input id="arc_checkbox" style="margin-top: 6px;" type="checkbox" ng-click="FormedFilesEnabled()" />
                </div>
                <div class="form-group">
                    <input style="margin-top: 4px; width: 225px;" id="formed_file" class="k-textbox" disabled />
                </div>
                <div class="form-group" style="">
                    <button class="k-button" ng-click="OpenWindow('Formed F0 Files')" title="Обрати файл з вже сформованих" style="margin-top: 3px; width: 32px; height: 27px;" ng-disabled="formed_files">
                        <img src="~/Content/images/PureFlat/16/folder_open.png" width="16" height="16" />
                    </button>
                    <button class="k-button" ng-click="PrintF0()" title="Друкувати файл" style="margin-top: 3px; width: 32px; height: 27px;" ng-disabled="formed_files">
                        <img src="~/Areas/Dpa/Content/Images/DOC.png" width="16" height="16" />
                    </button>
                </div>
            </fieldset>
        </div>

        <button class="k-button" ng-click="AddRow()" title="Добавити запис" style="margin-top: 19px; width: 32px; height: 27px; margin-left: 7px;">
            <img src="~/Content/images/PureFlat/16/table_row-add2.png" width="16" height="16" />
        </button>

        <button class="k-button" ng-click="RemoveRowFromGrid()" title="Помітити запис на видалення" style="margin-top: 19px; width: 32px; height: 27px;">
            <img src="~/Content/images/PureFlat/16/table_row-delete2.png" width="16" height="16" />
        </button>

        <button class="k-button" ng-click="OpenWindow('Delete accept')" title="Видалити запис з бази даних" style="margin-top: 19px; width: 32px; height: 27px;" ng-disabled="!formed_files || !k_file_disable">
            <img src="~/Areas/Dpa/Content/Images/Delete.png" width="16" height="16" />
        </button>

        <button class="k-button" ng-click="OpenWindow('Accept')" title="Сформувати файл" style="margin-top: 19px; width: 38px; height: 27px; margin-left: 7px;">
            <img src="~/Areas/Dpa/Content/Images/Letter.png" width="22" height="16" />
        </button>

        <button class="k-button" ng-click="OpenWindow('FormReceipt')" title="Сформувати файл квитанції" style="margin-top: 19px; width: 34px; height: 27px;">
            <img src="~/Areas/Dpa/Content/Images/CheckedLetter.png" width="19" height="19" />
        </button>
        <button class="k-button" ng-click="OpenWindow('Form R Files Receipt')" title="Сформувати файл квитанції R" style="margin-top: 19px; width: 32px; height: 27px;" ng-disabled="!k_file_disable">
            <img src="~/Areas/Dpa/Content/Images/Arrows.png" width="16" height="16" />
        </button>
        <button class="k-button" ng-click="Print('formFilesReportsGrid')" title="Друкувати" style="margin-top: 19px; width: 32px; height: 27px;">
            <img src="~/Content/images/PureFlat/16/print.png" width="16" height="16" />
        </button>
        <button class="k-button" ng-click="OpenWindow('Save grid', 'formFilesReportsGrid')" title="Зберегти таблицю" style="margin-top: 19px; width: 32px; height: 27px;">
            <img src="~/Content/images/PureFlat/16/save.png" width="16" height="16" />
        </button>
    </div>

    <div id="window" kendo-window="AcceptWindow" k-title="'Увага!'" k-visible="false"
         k-modal="true">
        <p>Сформувати файл &#64{{fileType}}?</p>
        <button class="k-button windowbutton buttonyes" ng-click="UploadGrid()">Так</button>
        <button class="k-button windowbutton buttonno" ng-click="CloseWindow('Accept')">Ні</button>
    </div>

    <div id="window" kendo-window="DeleteAcceptWindow" k-title="'Увага!'" k-visible="false"
         k-modal="true">
        <p>Відмічені записи будуть видалені з БД. Продовжити?</p>
        <button class="k-button windowbutton buttonyes" ng-click="DeleteRow()">Так</button>
        <button class="k-button windowbutton buttonno" ng-click="CloseWindow('Delete accept')">Ні</button>
    </div>

    <div id="window" kendo-window="DeleteFileAcceptWindow" k-title="'Увага!'" k-visible="false"
         k-modal="true">
        <p>Виділений файл буде видалений із папки. Продовжити?</p>
        <button class="k-button windowbutton buttonyes" ng-click="DeleteFile('F')">Так</button>
        <button class="k-button windowbutton buttonno" ng-click="CloseWindow('Delete file accept')">Ні</button>
    </div>

    <div id="window" kendo-window="DeleteRFileAcceptWindow" k-title="'Увага!'" k-visible="false"
         k-modal="true">
        <p>Виділений файл буде видалений із папки. Продовжити?</p>
        <button class="k-button windowbutton buttonyes" ng-click="DeleteFile('R')">Так</button>
        <button class="k-button windowbutton buttonno" ng-click="CloseWindow('Delete file accept')">Ні</button>
    </div>

    <div kendo-window="FormReceiptWindow" k-title="'Обробка квитанції для файлів'" k-visible="false"
         k-modal="true">
        <br /><div class="form-inline" role="form">

            <button class="k-button" title="Архів" ng-click="GetF2Archive()">
                <img src="~/Content/images/PureFlat/16/folder_open.png" />
            </button>

            <button class="k-button" ng-click="ReloadList('F')" title="Оновити">
                <img src="~/Content/images/PureFlat/16/reload_rotate.png" />
            </button>

            <button class="k-button" ng-click="OpenWindow('Save grid', 'processingReceiptGrid')" title="Зберегти таблицю" style="width: 32px; height: 27px;" ng-disabled="process_files">
                <img src="~/Content/images/PureFlat/16/save.png" width="16" height="16" />
            </button>

            <button class="k-button" ng-click="OpenWindow('Delete file accept')" title="Видалити рядок" style="margin-left: 30px;" ng-disabled="!process_files">
                <img src="~/Areas/Dpa/Content/Images/Delete.png" width="16" height="16" />
            </button>

            <button class="k-button" ng-click="ProcessFilesDPA()" title="Обробити файл" ng-disabled="!process_files">
                <img src="~/Areas/Dpa/Content/Images/RuningIcon.png" width="16" height="16" />
            </button>

            <button class="k-button" ng-click="Print('processingReceiptGrid')" title="Друкувати">
                <img src="~/Content/images/PureFlat/16/print.png" />
            </button>
        </div><br />

        <div class="form-inline" role="form">
            <div class="form-group" style="width: 30%; height: 90%;">
                <div id="listViewGrid" kendo-grid="listViewGrid" k-on-change="FilesGridChange('F2')" k-options="listViewGridOptions" k-rebind="listViewGridOptions" k-on-save-changes="saveChanges(kendoEvent)"></div>
            </div>

            <div class="form-group" style="width: 69%; height: 100%;">
                <div id="processingReceiptGrid" kendo-grid="processingReceiptGrid" k-options="processingReceiptGridOptions" k-rebind="processingReceiptGridOptions" k-on-save-changes="saveChanges(kendoEvent)"></div>
            </div>
        </div>
    </div>

    <div kendo-window="FormRReceiptWindow" k-title="'Обробка квитанції для файлів'" k-visible="false"
         k-modal="true">
        <br /><div class="form-inline" role="form">

            <button class="k-button" title="Архів" ng-click="GetR0Archive()">
                <img src="~/Content/images/PureFlat/16/folder_open.png" />
            </button>

            <button class="k-button" ng-click="ReloadList('R')" title="Оновити">
                <img src="~/Content/images/PureFlat/16/reload_rotate.png" />
            </button>

            <button class="k-button" ng-click="OpenWindow('Save grid', 'processingRReceiptGrid')" title="Зберегти таблицю" style="width: 32px; height: 27px;" ng-disabled="process_files">
                <img src="~/Content/images/PureFlat/16/save.png" width="16" height="16" />
            </button>

            <button class="k-button" ng-click="OpenWindow('Delete R file accept')" title="Видалити рядок" style="margin-left: 30px;" ng-disabled="!process_files">
                <img src="~/Areas/Dpa/Content/Images/Delete.png" width="16" height="16" />
            </button>

            <button class="k-button" ng-click="processRFilesDPA()" title="Обробити файл" ng-disabled="!process_files">
                <img src="~/Areas/Dpa/Content/Images/RuningIcon.png" width="16" height="16" />
            </button>

            <button class="k-button" ng-click="Print('processingRReceiptGrid')" title="Друкувати">
                <img src="~/Content/images/PureFlat/16/print.png" />
            </button>
        </div><br />

        <div class="form-inline" role="form">
            <div class="form-group" style="width: 30%; height: 90%;">
                <div id="listRViewGrid" kendo-grid="listRViewGrid" k-on-change="FilesGridChange('R0')" k-options="listRViewGridOptions" k-rebind="listRViewGridOptions" k-on-save-changes="saveChanges(kendoEvent)"></div>
            </div>

            <div class="form-group" style="width: 69%; height: 100%;">
                <div id="processingRReceiptGrid" kendo-grid="processingRReceiptGrid" k-options="processingRReceiptGridOptions" k-rebind="processingRReceiptGridOptions" k-on-save-changes="saveChanges(kendoEvent)"></div>
            </div>
        </div>
    </div>

    <div kendo-window="FormedF0FilesWindow" k-title="'Вибор файлу...'" k-visible="false"
         k-modal="true" width="700" height="400">
        <div class="form-group" style="width: 99%; height: 95%;">
            <div id="formedF0FilesGrid" kendo-grid="formedF0FilesGrid" k-options="formedF0FilesGridOptions" k-rebind="formedF0FilesGridOptions" k-on-save-changes="saveChanges(kendoEvent)" style="height: 90%;"></div>
            <br /><button ng-click="FillF0FilesGrid()" class="k-button buttonchoose">Вибрати</button>
            <button ng-click="CloseWindow('Formed F0 Files')" class="k-button buttoncancel">Відмінити</button>
        </div>
    </div>

    <div kendo-window="SaveGridWindow" k-title="'Збереження таблиці'" k-visible="false"
         k-modal="true">
        <form id="export">
            <table>
                <tr>
                    <td style="width: 50px"></td>
                    <td style="width: 160px">
                        <label>
                            <input type="radio" name="export_type" value="excel" checked />
                            Excel 2007
                        </label>
                    </td>
                    <td style="width: 130px">
                        <label>
                            <input type="radio" name="export_type" value="word" />
                            Word 2007
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50px"></td>
                    <td style="width: 160px">
                        <label>
                            <input type="radio" name="export_type" value="rtf" />
                            RTF
                        </label>
                    </td>
                    <td style="width: 130px">
                        <label>
                            <input type="radio" name="export_type" value="html" />
                            HTML
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50px"></td>
                    <td style="width: 160px">
                        <label>
                            <input type="radio" name="export_type" value="xmlexcel" />
                            MS XML
                        </label>
                    </td>
                    <td style="width: 130px">
                        <label>
                            <input type="radio" name="export_type" value="text" />
                            Text
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50px"></td>
                    <td style="width: 160px">
                        <label>
                            <input type="radio" name="export_type" value="pdf" />
                            PDF
                        </label>
                    </td> 
                </tr>
                <tr>
                    <td colspan="3" align="center">
                        <button class="k-button" ng-click="SaveFileAs()" style="background-color: #99CCFF">Зберегти</button>
                    </td>
                </tr>
            </table>

        </form><br />
    </div>

    <br>
    <div id="formFilesReportsGrid" kendo-grid="formFilesReportsGrid" k-options="formFilesReportsGridOptions" k-rebind="formFilesReportsGridOptions" k-on-save-changes="saveChanges(kendoEvent)"></div>

    <div id="mydiv">
        <img src="~/Areas/Dpa/Content/Images/loader.gif" width="100" height="100" class="ajax-loader" />
    </div>
</div>

