<!--Пользовательские данные-->
<appSettings>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="ConfigInDB" value="On"/>
  <add key="CustomAuthentication" value="On"/>
  <add key="cbirep.AppTimeOut" value="160"/>
  <add key="cbirep.TraceOn" value="false"/>
  <add key="cbirep.TraceFileName" value=""/>
  <add key="CrystalImageCleaner-AutoStart" value="true"/>
  <add key="CrystalImageCleaner-Sleep" value="60000"/>
  <add key="CrystalImageCleaner-Age" value="120000"/>
  <add key="pvbki.ReportServiceUrl" value="https://test.pvbki.com/service/report/Cigreports.asmx"/>
  <add key="pvbki.ReportServiceHttpUrl" value="https://test.pvbki.com/FrontOffice/Login.aspx"/>
  <add key="pvbki.ReportServiceUserName" value=""/>
  <add key="pvbki.ReportServicePassword" value=""/>
  <add key="pvbki.ClientCertificateFileName" value="~/ExternalBin/certnew.cer"/>
  <add key="ubki.ServiceUrl" value="https://www.ubki2.com.ua/api/xmlrequest.php?login={0}&amp;passw={1}&amp;typerequest={2}&amp;inn={3}&amp;coding={4}&amp;pser={5}&amp;pnom={6}"/>
  <add key="ubki.UserName" value="593464"/>
  <add key="ubki.Password" value="qwerty"/>
  <add key="proxy.Active" value="False"/>
  <add key="proxy.Address" value=""/>
  <add key="proxy.Port" value=""/>
  <add key="proxy.Auth" value="False"/>
  <add key="proxy.User" value=""/>
  <add key="proxy.Password" value=""/>
  <add key="proxy.Domain" value=""/>

  <!--Настройки для интеграции с EBK-->
  <!--<add key="ebk.ApiUri" value="http://10.7.49.135:7015/ebk/api/"/>
  <add key="ebk.ApiUriLegal" value="http://10.7.49.135:7015/ebk/api/"/>
  <add key="ebk.ApiUriPrivateEn" value="http://10.7.49.135:7015/ebk/api/"/>-->
  <add key="ebk.ApiUri" value="https://ebkwebuat-00-01.oschadbank.ua:7015/ebk/api/"/>
  <add key="ebk.ApiUriLegal" value="https://ebkwebuat-00-01.oschadbank.ua:7015/ebk/api/"/>
  <add key="ebk.ApiUriPrivateEn" value="https://ebkwebuat-00-01.oschadbank.ua:7015/ebk/api/"/>
  <add key="ebk.RequestTimeout" value="5000"/>
  <add key="ebk.UserName" value="WBARSEBK"/>
  <add key="ebk.SearchByInnSuffix" value="okpo"/>
  <add key="ebk.SearchByDocNumSuffix" value="numdoc"/>
  <add key="ebk.SearchByDocSerSuffix" value="ser"/>
  <add key="ebk.SearchByBirthSuffix" value="bDay"/>
  <add key="ebk.SearchByGcifSuffix" value="gcif"/>
  <add key="ebk.SearchByFirstNameSuffix" value="snFn"/>
  <add key="ebk.SearchByLastNameSuffix" value="snLn"/>
  <add key="ebk.SearchByFullNameSuffix" value="fullName"/>
  <add key="ebk.SearchByFullNameInternationalSuffix" value="fullNameInternational"/>
  <add key="ebk.SearchByEddrIdSuffix" value="eddrId"/>
  <add key="ebk.SearchByDateOnSuffix" value="dateOn"/>
  <add key="ebk.SearchByRnkSuffix" value="rnk"/>
  <add key="ebk.CloseMethod" value="archive/ip/close/"/>
  <add key="ebk.CloseMethod.v2" value="v2/archive/ip/close"/>
  <add key="ebk.SyncCardMethod.v2" value="v2/sync/ip"/>
  <add key="ebk.RcifMethod" value="dl/rcif"/>
  <add key="ebk.PackSize" value="50"/>
  <add key="ebk.LoadCardsMethod" value="dl/ips"/>
  <add key="ebk.LoadCardsMethod.v2" value="v2/dl/ips"/>
  <add key="ebk.LoadCardMethod" value="dl/individualPerson"/>
  <add key="ebk.LoadCardMethod.v2" value="v2/dl/ip"/>
  <add key="ebk.SearchMethod" value="search/individualPerson"/>
  <add key="ebk.SearchMethod.v2" value="v2/search/ip"/>
  <add key="ebk.LoadCardsMethodLegal" value="dl/lps"/>
  <add key="ebk.LoadCardsMethodLegal.v2" value="v2/dl/lps"/>
  <add key="ebk.LoadCardMethodLegal" value="dl/legalPerson"/>
  <add key="ebk.LoadCardMethodLegal.v2" value="v2/dl/lp"/>
  <add key="ebk.SearchMethodLegal" value="search/legalPerson"/>
  <add key="ebk.SearchMethodLegal.v2" value="v2/search/lp"/>
  <add key="ebk.CloseMethodLegal" value="archive/lp/close"/>
  <add key="ebk.CloseMethodLegal.v2" value="v2/archive/lp/close"/>
  <add key="ebk.SyncCardMethodLegal.v2" value="v2/sync/lp"/>
  <add key="ebk.LoadCardsMethodPrivateEn" value="dl/pes"/>
  <add key="ebk.LoadCardsMethodPrivateEn.v2" value="v2/dl/pes"/>
  <add key="ebk.LoadCardMethodPrivateEn" value="dl/privateEntrepreneur"/>
  <add key="ebk.LoadCardMethodPrivateEn.v2" value="v2/dl/pe"/>
  <add key="ebk.SearchMethodPrivateEn" value="search/privateEntrepreneur"/>
  <add key="ebk.SearchMethodPrivateEn.v2" value="v2/search/pe"/>
  <add key="ebk.CloseMethodPrivateEn" value="archive/pe/close"/>
  <add key="ebk.CloseMethodPrivateEn.v2" value="v2/archive/pe/close"/>
  <add key="ebk.SyncCardMethodPrivateEn.v2" value="v2/sync/pe"/>



  <add key ="mycard.url" value="https://10.10.11.213:40105/Banking.Web/#/auth/logon"/>
</appSettings>

