  <!--строка подключения для ibatnk-->
<connectionStrings>
  <clear />
  <add name="IBankCoreConnectionString"
       connectionString="Data Source=cobusup_abs_sup;User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserver;Pooling=yes;" 
       providerName="BarsWeb.DbProvider.Oracle" />
  <add name="AppConnectionString"
       connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.10.11.102)(PORT = 1521))) (CONNECT_DATA = (SID = KIEVTBD6) (SERVER = DEDICATED)));User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserver;Pooling=yes;" 
       providerName="BarsWeb.DbProvider.OracleManaged" />
</connectionStrings>