  <!--строка подключения для ibatnk-->
<connectionStrings>
  <clear />
  <add name="IBankCoreConnectionString"
       connectionString="Data Source=COBUSUPABS_MASTER_RU_DB;User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserver;Pooling=yes;" 
       providerName="BarsWeb.DbProvider.Oracle" />
  <add name="AppConnectionString"
       connectionString="Data Source=  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = 10.10.17.47)(PORT = 1521))
    )
    (CONNECT_DATA =
      (SERVICE_NAME = RU4TEST)
    )
)
  );User ID=bars_access_user;Proxy User ID=appserver;Proxy Password=appserver;Pooling=yes;" 
       providerName="BarsWeb.DbProvider.OracleManaged" />
</connectionStrings>