@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Підтвердження виконання операцій";
}

<script src="~/Areas/Admin/Scripts/confirm/confirmCtrl.js"></script>
<script src="~/Areas/Admin/Scripts/utils/tabs.js"></script>

<link href="~/Areas/Admin/Css/Confirm.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>

<div id="ConfirmTabstrip"></div>

<div id="ConfirmWindow">
    <div id="box"></div>
</div>

<script>
    bars.tabs.loadTemplate('@Url.Content("~/Areas/Admin/Scripts/confirm/tpl/confirmResources.tpl.htm")');
    bars.tabs.loadTemplate('@Url.Content("~/Areas/Admin/Scripts/confirm/tpl/gridToolbar.tpl.htm")');
    bars.tabs.loadTemplate('@Url.Content("~/Areas/Admin/Scripts/confirm/tpl/comment.tpl.htm")');
</script>