<!-- rates pairs window -->
<div kendo-window="currencyPairsWindow"
     k-visible="false"
     k-modal="true"
     k-title="'Базові валюти для довідника пар валют при конверсії'"
     k-width="500">
    <div kendo-toolbar class="toolbarLayout" k-options="toolbarCurrencyPairsOptions"></div>
    <div kendo-grid="gridCurrencyPairs" k-options="gridCurrencyPairsOptions" k-on-change="handleGridPairsChange(data, dataItem, columns, kendoEvent)"></div>
</div>
<!-- end -->