<!-- currency rate archive window -->
<div kendo-window="currencyRateArchiveWindow" k-visible="false" k-modal="true" k-title="'Перегляд курсів валют, що встановлені дилером'" k-width="1000">
    <div ng-controller="Zay.RateCtrl">
        <div kendo-toolbar class="toolbarLayout" k-options="rateToolbarOptions"></div>
        <div kendo-grid="rateGrid" k-options="rateGridOptions" ng-show="value == 1"></div>
        <div kendo-grid="conversionGrid" k-options="conversionGridOptions" ng-show="value == 2"></div>
    </div>
</div>