<div kendo-window="separationWindow" k-visible="false" k-modal="true">
    <div>
        <form class="form-inline" id="container-reason" name="sepForm" ng-submit="sepForm.$valid && approveSeparation(transport.separationModel)" novalidate>
            <div>
                <label for="id">ID заявки:</label>
                <input id="id" type="text" class="form-control" ng-model="transport.separationModel.id" readonly>
            </div>
            <div>
                <label for="totalSum">Сума заявки:</label>
                <input id="totalSum" type="text" class="form-control" value="{{transport.separationModel.totalSum | number:2}}" readonly>
            </div>
            <!-- edit -->
            <div>
                <label for="sum1">Сума заявки 1:</label>
                <input id="sum1" type="number" class="form-control" ng-model="transport.separationModel.sum1" min="0" required>
            </div>
            <div>
                <label for="sum2">Сума заявки 2:</label>
                <input id="sum2" type="number" class="form-control" ng-model="transport.separationModel.sum2" min="0" required>
            </div>

            <div class="btns-group">
                <button type="submit" class="k-button btnSave" id="save-sep-btn" ng-disabled="sepForm.$invalid">Зберегти</button>
            </div>
        </form>
    </div>
</div>