@{    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Договора забезпечення";
}
<script src="@Url.Content("~/lib/jsZip/jszip.js")"></script>
<script src="@Url.Content("~/Areas/CreditUi/Scripts/provide.js")"></script>
<script src="@Url.Content("~/Areas/CreditUi/Scripts/creditUI.js")"></script>
<h1 style="padding-bottom: 0px;">@ViewBag.title</h1>
<br />
<style>
    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }
    
    .k-grid tbody tr {
        height: 33px;
    }

    .k-grid {
        margin-right: 15px;
    }

        .k-grid td {
            white-space: nowrap;
        }

    .red {
        color: red;
    }

    .blue {
        color: blue;
    }

    .k-tooltip {
        background: gray !important;
        width: 500px;
    }

    .form-group .k-widget, .form-group .k-textbox {
        width: auto;
    }

    .k-grid-norecords {
        background-color: #dee5e7;
    }

    .grayRow {
        background: #C3C3C3;
    }

    div.k-grid .k-selectable tr.k-state-selected {
        background-color: #428bca;
    }
    .k-grid-header th.k-with-icon .k-link {
        margin-right: 7px;
    }

    div.k-grid .k-selectable a {
        TEXT-DECORATION: underline;
        COLOR: rgb(51,153,255);
    }

    div.k-grid .k-selectable tr.k-state-selected a {
        TEXT-DECORATION: underline;
        COLOR: white;
    }
</style>

<script id="popup-editor" type="text/x-kendo-template">

    <div align="center" style="margin-bottom:10px">
        <h2>Дані забезпечення:</h2>
    </div>
    <div class="k-edit-label">
        <label for="RNK">РНК застанодавця</label>
    </div>
    <div class="k-edit-field">
        <input id="RNK" name="RNK" data-bind="value:RNK" class="created" required />
        <!--   <button onclick="showReferCust('CUSTOMER','RNK,NMK','')"
                           class="pf-icon pf-16 pf-book"></button>-->
        <a class='k-button' id="buttonRNK" onclick="showReferCust('CUSTOMER','RNK,NMK','')"><i class='pf-icon pf-16 pf-book'></i></a>
    </div>
    <div class="k-edit-label">
        <label for="RNK_name">Назва контрагента</label>
    </div>
    <div class="k-edit-field">
        <input id="RNK_name" data-bind="value:NMK" disabled />
    </div>
    <div class="k-edit-label">
        <label for="PAWN">Вид забезпечення</label>
    </div>
    <div class="k-edit-field">
        <input id="pawn_list" style="width:200px" />
    </div>
    <div class="k-edit-label">
        <label for="KV">Валюта </label>
    </div>
    <div class="k-edit-field">
        <input id="kv_list" style="width:200px" />
    </div>
    <div class="k-edit-label">
        <label for="DEL" id="lbl_del">+ Дод / - Зменш </label>
    </div>
    <div class="k-edit-field">
        <input name="DEL" id="del" data-bind="value:DEL" />
    </div>
    <div class="k-edit-label">
        <label for="OB22" name="OB22">ОБ22</label>
    </div>
    <div class="k-edit-field">
        <input name="OB22" data-bind="value:OB22" id="ob22" />
        <a class='k-button' onclick="showOB22('sb_ob22','OB22,TXT','')"><i class='pf-icon pf-16 pf-book'></i></a>
    </div>
    <div class="k-edit-label" name="SV">
        <label for="SV" name="SV">Справ. вартість</label>
    </div>
    <div class="k-edit-field">
        <input name="SV" id="sv" data-bind="value:SV" />
    </div>
    <div class="k-edit-label">
        <label for="CC_IDZ">№ дог. заб</label>
    </div>
    <div class="k-edit-field">
        <input name="CC_IDZ" data-bind="value:CC_IDZ" />
    </div>
    <div class="k-edit-label">
        <label for="SDATZ">Дата дог. забез.</label>
    </div>
    <div class="k-edit-field">
        <input id="SDATZ" />
    </div>
    <div class="k-edit-label">
        <label for="MDATE">План. дата заверш.</label>
    </div>
    <div class="k-edit-field">
        <input id="MDATE" />
    </div>
    <div class="k-edit-label">
        <label for="NREE" name="NREE">№ в реєстрі </label>
    </div>
    <div class="k-edit-field">
        <input name="NREE" data-bind="value:NREE" class="created" />
    </div>
    <div class="k-edit-label">
        <label for="DEPID">№ деп. дог</label>
    </div>
    <div class="k-edit-field">
        <input name="DEPID" id="depid" data-bind="value:DEPID" class="created" />
    </div>
    <div class="k-edit-label">
        <label for="MPAWN">Місцезнаходження застави</label>
    </div>
    <div class="k-edit-field">
        <input id="mpawn_list" />
    </div>
    <div class="k-edit-label">
        <label for="NAZN" name="NREE" value="1">Призначення</label>
    </div>
    <div class="k-edit-field">
        <textarea id="NAZN" name="NAZN" data-bind="value:NAZN" rows="7" cols="25"></textarea>
    </div>
    <div class="k-edit-label">
        <label for="PR_12">Призн. 1/2</label>
    </div>
    <div class="k-edit-field">
        <input name="PR_12" data-bind="value:PR_12" id="pr_12" />
    </div>
    <div class="k-edit-label">
        <label for="R013" name="R013">R013</label>
    </div>
    <div class="k-edit-field">
        <input name="R013" data-bind="value:R013" id="r013" />
        <a class='k-button' onclick="showR013('KL_R013', 'R013,TXT', '')"><i class='pf-icon pf-16 pf-book'></i></a>
    </div>
</script>

<table id="dataKD" class="">
    <tr>
        <td>
            <label for="ref" class="control-label" style="margin:5px">Референс угоди: </label>
        </td>
        <td>
            <input type="text" id="ref" style="width:100px" disabled />
        </td>
        <td>
            <label for="credit_name" class="control-label" style="margin:5px">Номер угоди: </label>
        </td>
        <td>
            <input type="text" id="credit_name" style="width:100px" disabled />
        </td>
        <td>
            <label for="rnk" class="control-label" style="margin:5px">Рнк контрагента: </label>
        </td>
        <td>
            <input type="text" id="rnk" style="width:100px" disabled />
        </td>
        <td>
            <label for="rnk_name" class="control-label" style="margin:5px">Назва контрагента: </label>
        </td>
        <td>
            <input type="text" id="rnk_name" style="width:300px" disabled />
        </td>
    </tr>
</table>
<div style="margin-top:10px" id="contentProvide">

    <h2>Поточні договори забезпечення</h2>

    <div id="gridExistProvide" class="fixed_headers"></div>
    <br />
    <h2>Існуючі договора забезпечення без прив'язки</h2>
    <div id="gridListProvide" class="fixed_headers">
    </div>
</div>
<div id="dialogSetDEL">
    <div class="form-group">
        <label id="DEL_mess"></label>
    </div>
    <div class="form-group">
        <label for="message" class="control-label">+ Доб - Зменш:</label>
        <input type="number" id="DEL_change" style="width:200px" required />
    </div>
    <button id='btnOk' class='k-button'>
        <span class='pf-icon pf-16 pf-ok'></span> Застосувати
    </button>
</div>

<div id="dialogDiffDel">
    <div class="form-group">
        <div id="gridDiffProvide" class="fixed_headers"></div>
    </div>
    <button id='btn_diff_Ok' class='k-button' style="margin-left: 50%;">
        <span class='pf-icon pf-16 pf-ok'></span> Провести
    </button>
</div>
