<div kendo-window="window" k-visible="false" k-modal="true">
    <div class="form-inline" id="container-reason">
        <div>
            <label for="viza">Режим повернення:</label>
            <input id="viza" type="text" class="form-control" ng-model="selectedRowViza" readonly>
        </div>
        <div>
            <label for="id">Ід. заявки:</label>
            <input id="id" type="text" class="form-control" ng-model="selectedRowId" readonly>
        </div>
        <div ng-controller="Zay.ReasonCtrl" style="margin-bottom: 5px;">
            <label for="reason">Причина:</label>
            <select kendo-drop-down-list style="width: 385px"
                    ng-model="defValue"
                    k-options="reasonsOptions"></select>
        </div>
        <div>
            <label for="comment">Коментар:</label>
            <textarea class="form-control vresize" id="comment" rows="5" maxlength="500"></textarea>
        </div>

        <div class="btns-group">
            <button type="submit" class="k-button btnSave" id="save-reason-btn">Зберегти</button>
            <button type="button" class="k-button btnCancel" id="cencel-reason-btn">Відмінити</button>
        </div>
    </div>
</div>