@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<h2>Апдейти модулів</h2>
<div id="krnVrs"></div>
<br />
<h2>Версії модулів</h2>
<div id="krnVersions"></div>

<script>
    var krnModuleGrid = null;
    var krnModuleVersionsGrid = null;

    function getkrnModuleGrid() {
        if (krnModuleGrid == null) {
            krnModuleGrid = $('#krnVrs').data("kendoGrid");
        }
        return krnModuleGrid;
    }
    function getkrnModuleVersionsGrid() {
        if (krnModuleVersionsGrid == null) {
            krnModuleVersionsGrid = $('#krnVersions').data("kendoGrid");
        }
        return krnModuleVersionsGrid;
    }

    $('#krnVrs').kendoGrid({
        autobind: true,
        selectable: "row",
        sortable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 12
        },
        columns: [
            {
                field: "HOST",
                title: "Домен",
                width: "200px"
            },
            {
                field: "ID",
                title: "ID",
                width: "200px"
            },
            {
                field: "INST_DT",
                title: "Дата інсталяції",
                width: "200px",
                template: "<div style='text-align:center;'>#=kendo.toString(INST_DT,'dd/MM/yyyy')#</div>"
            },
            {
                field: "IS_SYNC",
                title: "Статус синхронізації",
                width: "200px"
            },
            {
                field: "LOG",
                title: "Лог інсталяції",
                width: "200px"
            },
            {
                field: "MODULE",
                title: "Модуль",
                width: "200px"
            },
            {
                field: "OS_USER",
                title: "Користувач",
                width: "200px"
            },
            {
                field: "UPD_HASH",
                title: "Хеш DDL-ю",
                width: "200px"
            },
            {
                field: "UPD_NAME",
                title: "Ім'я апдейту",
                width: "200px"
            }
        ],
        dataSource:
        {
            type: "aspnetmvc-ajax",
            pageSize: 10,
            transport: {
                read: {
                    dataType: 'json',
                    url: bars.config.urlContent('/kernel/KrnModule/GetKrnModuleList')
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    fields: {
                        INST_DT: { type: "date" }
                    }
                }
            }
        }
    });

    $('#krnVersions').kendoGrid({
        autobind: true,
        selectable: "row",
        sortable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 12
        },
        columns: [
            {
                field: "HOST",
                title: "Домен",
                width: "200px"
            },
            {
                field: "INSTALLATION_DATE",
                title: "Дата інсталяції",
                width: "200px",
                template: "<div style='text-align:center;'>#=kendo.toString(INSTALLATION_DATE,'dd/MM/yyyy')#</div>"
            },   
            {
                field: "LOG",
                title: "Лог",
                width: "200px"
            },
            {
                field: "MODULE",
                title: "Модуль",
                width: "200px"
            },
            {
                field: "OS_USER",
                title: "Користувач",
                width: "200px"
            },
            {
                field: "VERIFICATION_VALUE",
                title: "Хеш DDL-ю",
                width: "200px"
            },
            {
                field: "VERSION",
                title: "Версія",
                width: "200px"
            }
        ],
        dataSource:
        {
            type: "aspnetmvc-ajax",
            pageSize: 10,
            transport: {
                read: {
                    dataType: 'json',
                    url: bars.config.urlContent('/kernel/KrnModule/GetKrnModuleVersionList')
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    fields: {
                        INSTALLATION_DATE: { type: "date" }
                    }
                }
            }
        }
    });
</script>