.cc-main input::-ms-clear {
   display: none;
}
#converterErrorMessage {
  width: 225px; height:40px;color: red;font-size: 10px;margin-top:250px;position: absolute;
}
.cc-main {
  width: 230px;
  height: 295px;
  font-family: Arial,Helvetica,Sans-Serif;
  color: #777;
  background: url("images/cc-background.png") no-repeat;
  visibility: visible !important;
}

.cc-logo {
  background: url("images/cc-sprites.png") no-repeat scroll -357px -106px;
  height: 18px;
  margin: 18px 0 0 10px;
  position: absolute;
  width: 28px;
}

.cc-header {
  color: #444;
  font-size: 14px;
  height: 20px;
  margin: 15px 0 0 42px;
  position: absolute;
  text-shadow: 0 0 #444,0 1px #dfdfdf;
  vertical-align: top;
}

  .cc-header b {
    display: inline-block;
    font-weight: normal;
    padding: 4px 4px 0 0;
  }

  .cc-header span {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    padding: 0;
    text-shadow: none;
    vertical-align: top;
  }

.cc-input {
  background: url("images/cc-sprites.png") no-repeat scroll;
}

.cc-input-source {
  background-position: -325px 0;
  cursor: pointer;
  height: 23px;
  margin: 10px 0 0 8px;
  position: absolute;
  width: 66px;
}

.cc-input-source-hover {
  background-position: -325px -43px;
}

.cc-input-source b {
  color: #333;
  display: block;
  padding: 4px 0 4px 5px;
  width: 61px;
  font-size: 12px;
}

.cc-input-source span, .cc-input-source-dd .b-source span {
  color: #333;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 41px;
}

.cc-input-source small {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  padding-left: 2px;
}

.cc-input-source-dd {
  background: url("images/cc-dd-0-2.png") no-repeat scroll left bottom;
  margin: 10px 0 0 3px;
  padding-bottom: 12px;
  position: absolute;
  width: 136px;
  z-index: 10;
}

  .cc-input-source-dd .b-source {
    background: url("images/cc-dd-0-1.png") no-repeat scroll left top;
    display: block;
    height: 105px;
    width: 136px;
  }

    .cc-input-source-dd .b-source b {
      cursor: pointer;
      display: block;
      font-size: 14px;
      margin: 0 65px 0 5px;
      padding: 4px 0 0 5px;
    }

    .cc-input-source-dd .b-source small {
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      padding-left: 2px;
    }

  .cc-input-source-dd ul {
    font-size: 11px;
    list-style: none outside none;
    margin: 0;
    padding: 10px 10px 0;
  }

    .cc-input-source-dd ul li {
      background: url("images/cc-f-xx.png") no-repeat scroll 0 1px;
      cursor: pointer;
      font-size: 11px;
      margin: 0;
      padding: 0 0 1px 22px;
    }

      .cc-input-source-dd ul li:hover, .cc-input-source-dd ul li.selected {
        background-color: #efefef;
      }

      .cc-input-source-dd ul li u {
        display: inline-block;
        text-decoration: none;
        width: 33px;
      }

      .cc-input-source-dd ul li i {
        color: #888;
        font-style: normal;
      }

.cc-date {
  color: #333;
  font-size: 14px;
  position: absolute;
  margin: 13px 0 0 146px;
}

  .cc-date span {
    color: #333;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 80px;
  }

  .cc-date a {
    background: url("images/cc-sprites.png") no-repeat scroll;
    display: inline-block;
    font-size: 11px;
    height: 15px;
    margin: 0 0 0 1px;
    padding: 2px 0 0 4px;
    text-decoration: none;
    vertical-align: bottom;
    width: 13px;
    line-height: 12px;
  }

    .cc-date a:link, .cc-date a:visited {
      background-position: -325px -26px;
      color: #888;
    }

    .cc-date a:hover, .cc-date a:active {
      background-position: -325px -69px;
      color: #444;
    }

.cc-from-label, .cc-to-label {
  color: #333;
  font-size: 11px;
  margin: 0 0 0 8px;
  position: absolute;
  text-shadow: 0 1px #fff;
  text-transform: uppercase;
}

.cc-from-label {
  margin-top: 56px;
}

.cc-to-label {
  margin-top:185px;
}

.ccto span {
  color: #666;
  text-transform: none;
}

.cc-input-amount {
  background-position: -52px 0;
  height: 43px;
  margin: 0 0 0 8px;
  padding: 0;
  position: absolute;
  width: 161px;
}

.cc-input-amount-hover {
  background-position: -52px -43px;
}

.cc-input-amount-error {
  background-position: -52px -86px;
}

.cc-input-amount-from {
  margin-top: 74px;
}

.cc-input-amount-to {
  margin-top: 204px;
}

.f-amount-s1 {
  background: 0;
  border: 0;
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 27px;
  height: 34px;
  letter-spacing: -1px;
  padding: 5px 3px 4px 2px;
  position: absolute;
  text-align: right;
  width: 155px;
}

.f-amount-s2 {
  background: 0;
  border: 0;
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 22px;
  height: 28px;
  letter-spacing: -1px;
  padding: 8px 3px 7px 2px;
  position: absolute;
  text-align: right;
  width: 155px;
}

.f-amount-s3 {
  background: 0;
  border: 0;
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 17px;
  height: 22px;
  letter-spacing: 0;
  padding: 11px 3px 10px 2px;
  position: absolute;
  text-align: right;
  width: 155px;
}

.cc-input-commission {
  background-position: -213px 0;
  cursor: pointer;
  height: 29px;
  margin: 126px 0 0 41px;
  position: absolute;
  width: 49px;
}

.cc-input-commission-hover {
  background-position: -213px -43px;
}

.cc-input-commission-error {
  background-position: -213px -86px;
}

.cc-commission-label span {
  font-size: 18px;
}

.cc-commission-sign {
  color: #000;
  font-size: 18px;
  line-height: 14px;
  margin: 125px 0 0 7px;
  position: absolute;
}

  .cc-commission-sign input {
    border: 0;
    margin: 1px;
    padding: 0;
  }

  .cc-commission-sign span {
    display: inline-block;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 18px;
  }

.cc-commission-label {
  margin: 129px 0 0 94px;
  font-size: 12px;
  position: absolute;
}

.f-commission-s1 {
  background: 0;
  border: 0;
  font-family: Arial,Helvetica,Sans-Serif;
  letter-spacing: -1px;
  position: absolute;
  text-align: right;
  font-size: 18px;
  height: 22px;
  padding: 4px 4px 3px 1px;
  width: 44px;
}

.cc-button-equality {
  background-position: 0 0;
  cursor: pointer;
  margin: 138px 0 0 117px;
  position: absolute;
  height: 43px;
  width: 52px;
}

.cc-button-equality-hover {
  background-position: 0 -43px;
}

.cc-button-equality-click {
  background-position: 0 -86px;
}

.cc-button-reverse {
  background-position: 0 -129px;
  cursor: pointer;
  margin: 138px 0 0 173px;
  position: absolute;
  height: 43px;
  width: 52px;
}

.cc-button-reverse-hover {
  background-position: -52px -129px;
}

.cc-button-reverse-click {
  background-position: -104px -129px;
}

.cc-input-currency-hover {
  background-position: -273px -43px;
}

.cc-input-currency-from {
  margin-top: 74px;
}

.cc-input-currency {
  background-position: -273px 0;
  cursor: pointer;
  height: 43px;
  margin: 0 0 0 173px;
  position: absolute;
  width: 52px;
}

.cc-input-currency-hover {
  background-position: -273px -43px;
}

.cc-input-currency-from {
  margin-top: 74px;
}

.cc-input-currency-to {
  margin-top: 203px;
}

.cc-input-currency b {
  display: block;
  font-weight: normal;
  font-size: 12px;
  padding: 15px 0 0 9px;
}

.cc-input-currency span {
  color: #777;
  padding: 0;
  margin: 0;
}

.cc-input-currency small {
  color: #d0d0d0;
  display: inline-block;
  padding-left: 1px;
}

.cc-input-currency-dd-from {
  background: url("images/cc-dd-1-2.png") no-repeat scroll right bottom;
  margin:74px 0 0 2px;
  padding-bottom: 11px;
  position: absolute;
  width: 227px;
}

  .cc-input-currency-dd-from .b-ccdd-01 {
    background: url("images/cc-dd-1-1.png") right top no-repeat;
    display: block;
    height: 190px;
    width: 227px;
  }

    .cc-input-currency-dd-from .b-ccdd-01 b {
      cursor: pointer;
      display: block;
      font-size: 12px;
      font-weight: normal;
      height: 14px;
      margin: 0 0 6px 171px;
      padding: 15px 0 0 9px;
      width: 43px;
    }

      .cc-input-currency-dd-from .b-ccdd-01 b span {
        color: #777;
      }

      .cc-input-currency-dd-from .b-ccdd-01 b small {
        display: inline-block;
        padding-left: 1px;
        color: #d0d0d0;
      }

.cc-input-currency-dd {
  z-index: 10;
}

  .cc-input-currency-dd ul {
    font-size: 11px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

    .cc-input-currency-dd ul li {
      background: url("images/cc-f-xx.png") no-repeat scroll 0 1px;
      cursor: pointer;
      font-size: 11px;
      margin: 0;
      padding: 0 0 1px 22px;
    }

      .cc-input-currency-dd ul li:hover, .cc-input-currency-dd ul li.selected {
        background-color: #efefef;
      }

      .cc-input-currency-dd ul li u {
        display: inline-block;
        text-decoration: none;
        width: 30px;
      }

      .cc-input-currency-dd ul li i {
        color: #888;
        font-style: normal;
      }

.cc-input-currency-dd-to {
  background: url("images/cc-dd-2-2.png") no-repeat scroll right top;
  margin: 53px 0 0 2px;
  padding-top: 6px;
  position: absolute;
  width: 227px;
}

  .cc-input-currency-dd-to .b-ccdd-02 {
    background: url("images/cc-dd-2-1.png") no-repeat scroll right bottom;
    display: block;
    height: 185px;
    padding-top: 2px;
    width: 227px;
  }

    .cc-input-currency-dd-to .b-ccdd-02 b {
      cursor: pointer;
      display: block;
      font-size: 12px;
      font-weight: normal;
      height: 28px;
      margin: 6px 0 0 171px;
      padding: 1px 0 0 9px;
      width: 43px;
    }

      .cc-input-currency-dd-to .b-ccdd-02 b span {
        color: #777;
      }

      .cc-input-currency-dd-to .b-ccdd-02 b small {
        color: #d0d0d0;
        display: inline-block;
        padding-left: 1px;
      }

.cc-input-source-dd li[data-value="1"], .cc-input-currency-dd li[data-value="UAH"] {
  background-image: url("images/cc-f-ua.gif") !important;
}

.cc-input-currency-dd li[data-value="USD"] {
  background-image: url("images/cc-f-us.gif") !important;
}

.cc-input-currency-dd li[data-value="EUR"] {
  background-image: url("images/cc-f-eu.gif") !important;
}

.cc-input-source-dd li[data-value="3"], .cc-input-currency-dd li[data-value="RUB"] {
  background-image: url("images/cc-f-ru.gif") !important;
}

.cc-input-source-dd li[data-value="4"], .cc-input-currency-dd li[data-value="BYR"] {
  background-image: url("images/cc-f-by.gif") !important;
}

.cc-input-source-dd li[data-value="98"] {
  background-image: url("images/cc-f-ua.gif") !important;
}

.scroll {
  position: relative;
  width: 215px;
  height: 150px;
  overflow: auto;
  font-size: 11px;
  padding-left: 6px;
}

.scrollcontent {
  width: 196px;
}

.cc-extra-link {
  position: absolute;
  margin: 261px 0 0 6px;
  width: 210px;
  text-align: right;
  color: #2777bb;
}

  .cc-extra-link b {
    font-size: 14px;
    font-weight: normal;
    padding: 0 5px 0 0;
  }

  .cc-extra-link a {
    font-size: 11px;
  }

    .cc-extra-link a:link, .cc-extra-link a:visited {
      color: #2777bb;
    }

    .cc-extra-link a:hover, .cc-extra-link a:active {
      color: #042eb9;
    }

.cc-unsupported {
  background: url("images/cc-unsuported.jpg") no-repeat;
  height: 365px;
  padding: 10px 0 0 0;
  width: 240px;
}

  .cc-unsupported div {
    float: right;
    background: #ffd544;
    padding: 15px;
    font-size: 12px;
    width: 180px;
  }

    .cc-unsupported div h4 {
      font-size: 15px;
      padding: 0 0 10px 0;
      margin: 0;
      line-height: 16px;
    }

    .cc-unsupported div b {
      font-size: 13px;
      text-transform: uppercase;
    }

    .cc-unsupported div span {
      display: block;
      background: #ffeeb4;
      padding: 10px;
      font-size: 12px;
      text-align: center;
      margin-top: 15px;
    }
